<template>
  <transition name="slide-in">
    <div
      class="modal-drawer wide"
      :class="{active : isComponentModalActive}"
    >
      <div class="modal-drawer__header">
        <span v-if="component === 'axainsurance'">{{ translate("Redeem Free Coverage") }}</span>
        <button
          class="button btn-close-mobile rounded-white icon-only"
          @click="close()"
        >
          <i class="sprite close white" />
        </button>
      </div>

      <div class="modal-form__body">
        <keep-alive>
          <component :is="component" />
        </keep-alive>
      </div>
    </div>
  </transition>
</template>
<script>

import applyForm from '../BF/applyForm';
import axainsurance from '../BF/axaFreeInsurance';

// import basicForm from './BasicForm.vue';

export default {
  components: {
    applyForm,
    axainsurance
  },
  data: function () {
    return {
      // progressBar: -50,
      component: 'applyForm',
      currentSlide: 0,
      progressBarStep: 0,
      progressBarWidth: -50, // percentage
      totalSlide: 3, // total slides - 1
      defaultSlide: ['axainsurance'],
      bankName: 'Loan.title',
      bankLogo: 'Loan.bankLogo',
      jappData: {
        identification_type: '',
        identification_no: '',
        state: '',
        Branch: '',
        branch_state: '',
        employment_type: '',
        is_government_servant: '',
        employment_status: '',
        joining_date: '',
        existing_credit_facilities: '',
        name: '',
        email_address: '',
        phone_number: '',
        monthly_salary: '',
        loan_amount: '',
        loan_tenure: '',
        checkbox: null
      }
    };
  },
  computed: {
    computedWidth: function () {
      return this.progressbarWidth;
    },
    slide () {
    //   if (Loan.nid == '54' || Loan.nid == '75') return this.rhbSlide;
      return this.defaultSlide;
    }
  },

  created: function () {
  },
  methods: {
    close () {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "closeForm",
        submit_type: this.$store.state.applyBtnFrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        form_step: this.currentSlide,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
     
      this.$parent.close();
    },
    prev: function () {
      this.progressBarWidth -= 50;
      this.currentSlide -= 1;
      this.update();
    },
    next: function () {
      this.progressBarWidth += 50;
      this.currentSlide += 1;
      this.update();
    },
    update: function () {
      this.component = this.defaultSlide[this.currentSlide - 1];
    }
  },
  validations: {}
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
@import "./src/scss/modal-drawer.scss";
</style>
