<template>
  <div>
    <section id="thankyou">
      <div class="thankyou__header">
        <div class="circle-container">
          <div class="envelope-container animate">
            <div class="envelope-wrap animate">
              <div class="letter-container">
                <div class="letter animate"></div>
              </div>
              <div class="envelope-open animate"></div>
              <div class="envelope-close animate"></div>
              <div class="envelope-front"></div>
              <div class="envelope"></div>
            </div>
            <div class="tick-icon animate"></div>
          </div>
        </div>
        <h1>Thanks for applying a personal loan with us!</h1>
        <p class="thankyou__desc container">
          You have successfully submitted your application. If you have the documents
          below ready, you can
          <span>start uploading them to speed up the process.</span>
        </p>
      </div>

      <div class="bui-thankyou container">
        <h4 class="is-hidden-mobile whats-next">
          <i></i>What's next?
        </h4>
        <div class="bui-thankyou__steps columns is-1 is-variable">
          <div class="column is-4">
            <div class="bui-box">
              <h3 class="has-text-centered-tablet is-hidden-mobile">Step 1</h3>
              <div class="illustration bui-download is-hidden-mobile"></div>

              <div class="step-header is-marginless columns is-mobile is-hidden-tablet">
                <div class="column is-8-mobile">
                  <h3 class="has-text-centered-tablet">Step 1</h3>
                  <h4 class="is-hidden-tablet">Download your application form</h4>
                  <p class="is-hidden-tablet">
                    We will need you to
                    <strong>sign and upload</strong> the complete
                    application form later together with your documents via our document
                    upload portal.
                  </p>
                </div>
                <div class="column is-4-mobile">
                  <div class="illustration bui-download"></div>
                </div>
              </div>

              <h4 class="is-hidden-mobile">Download your application form</h4>
              <p class="is-hidden-mobile">
                We will need you to
                <strong>sign and upload</strong> the complete
                application form later together with your documents via our document
                upload portal.
              </p>
              <a target="_blank" class="btn-cta btn-download" @click="downloadLink">
                Download form
                <i class="sprite angle blue angle-right"></i>
              </a>
            </div>
          </div>

          <div class="column is-4">
            <div class="bui-box">
              <h3 class="has-text-centered-tablet is-hidden-mobile">Step 2</h3>
              <div class="illustration bui-upload is-hidden-mobile"></div>

              <div class="step-header is-marginless columns is-mobile is-hidden-tablet">
                <div class="column is-8-mobile">
                  <h3 class="has-text-centered-tablet">Step 2</h3>
                  <h4 class="is-hidden-tablet">Upload your documents</h4>
                  <p class="is-hidden-tablet">
                    You will need to upload these documents in order to proceed with your
                    application:
                  </p>
                </div>
                <div class="column is-4-mobile">
                  <div class="illustration bui-upload"></div>
                </div>
              </div>

              <h4 class="is-hidden-mobile">Upload your documents</h4>
              <p class="is-hidden-mobile">
                You will need to upload these documents in order to proceed with your
                application:
              </p>
              <ul v-if="documents" class="upload-document is-marginless columns is-multiline">
                <div class="column is-7-widescreen is-12-tablet is-paddingless">
                  <li
                    v-for="(document, index) in documents.slice(0, documents.length/2)"
                    :key="index
                 "
                  >
                    <b-icon :icon="document.icon" class="sprite-bui-custom"></b-icon>
                    {{ document.label }}
                  </li>
                </div>
                <div class="column is-5-widescreen is-12-tablet is-paddingless">
                  <li
                    v-for="(document, index) in documents.slice(documents.length/2,documents.length)"
                    :key="index
                 "
                  >
                    <b-icon :icon="document.icon" class="sprite-bui-custom"></b-icon>
                    {{ document.label }}
                  </li>
                </div>
              </ul>
              <a target="_blank" class="btn-cta btn-upload" @click="uploadDocument">
                Upload documents
                <i class="sprite angle blue angle-right"></i>
              </a>
            </div>
          </div>

          <div class="column is-4">
            <div class="bui-box no-documents has-text-centered-tablet">
              <h3>
                What if I
                <span>don't have</span> my documents with me now?
              </h3>
              <div class="illustration bui-email is-hidden-mobile"></div>
              <p>
                Don't worry,
                <strong>we've sent you a link via email</strong> for you to
                upload when you're ready!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <b-modal :active.sync="isRedirectActive">
      <div class="redirect-modal">
        <p>
          You’re being redirected to a
          <strong>secured document upload portal</strong> which is hosted by the
          bank.
        </p>
        <div class="redirect-modal__countdown">
          <i class="sprite-bui countdown"></i>
          {{ countDown }}s
        </div>
        <div class="redirect-modal__browser">
          <div class="loading-dots">
            <div class="dot one">.</div>
            <div class="dot two">.</div>
            <div class="dot three">.</div>
            <div class="dot four">.</div>
          </div>
        </div>
      </div>
    </b-modal>

    <link
      rel="stylesheet"
      href="//cdn.materialdesignicons.com/4.5.95/css/materialdesignicons.min.css"
    />
  </div>
</template>

<script>
import axios from "axios";
export default {
  components: {},
  props: ["context"],
  data: function() {
    return {
      isRedirectActive: false,
      countDown: 0,
      documents: [],
      uploadlink: "",
      downloadlink: "",
      submissions: ""
    };
  },
  computed: {},
  watch: {},

  mounted: function() {},
  updated: function() {},
  methods: {
    test(foo) {
      return foo;
    },
    downloadLink(e) {
      e.preventDefault();
      window.open(this.downloadlink, "_blank");
    },
    uploadDocument() {
      const link = this.uploadlink;
      this.sendOTP();
      this.isRedirectActive = true;
      setTimeout(function() {
        window.location.href = link;
      }, 5000);
      this.countDown = 5;
      this.countDownTimer();
    },
    countDownTimer() {
      if (this.countDown > 0) {
        setTimeout(() => {
          this.countDown -= 1;
          this.countDownTimer();
        }, 1000);
      }
    },
    sendOTP() {
      this.$toast.open({
        message: "OTP has been sent to your mobile.",
        type: "is-success"
      });
    },
    getParams(url) {
      var params = {};
      var parser = document.createElement("a");
      parser.href = url;
      var query = parser.search.substring(1);
      var vars = query.split("&");
      for (var i = 0; i < vars.length; i++) {
        var pair = vars[i].split("=");
        params[pair[0]] = decodeURIComponent(pair[1]);
      }
      return params;
    },
    fetchItems() {
      var getUrl = window.location.href;
      var newUrl = getUrl
        .replace("ld", "submissions")
        .replace("cp", "campaigns");
      let param = this.getParams(newUrl);
      let submissions = param.submissions;
      let campaigns = param.campaigns;
      let apiHost = this.context.config.dataUrls.apiHost;
      var url = `${apiHost}/submissions/${submissions}/campaigns/${campaigns}/status`;
     axios
        .get(url, { crossDomain: true, headers: {'x-api-key' : this.context.config["apiKeys"].bankUi} })
        .then(response => {
          this.documents = response.data.data.documents;
          this.uploadlink = response.data.data.upload_link;
          this.downloadlink = response.data.data.application_pdf;
        })
        .catch(e => {
          console.log("response =>", e);
        });
    }
  },
  created: function() {
    this.fetchItems();
    this.countDownTimer();
  },
  validations: {}
};
</script>

<style lang="scss">
@import "../../scss/page-thank-you-bui";
</style>
