<template>
  <div
    id="product-page"
    class="sticky-top-bar-area"
  >
    <!-- Section: Overview -->
    <section
      id="overview"
      class="overview container nav-scroll"
    >
      <div class="columns">
        <div class="column overview--left is-9">
          <span class="overview--left__category">
            <span>{{ translate(returnGovernmentOrIslamic) }}</span>
          </span>
          <h1 class="overview--left__product-name">
            {{ loan.title }}
          </h1>

          <div class="overview--mobile-cta is-hidden-tablet">
            <img :src="'/' + loan.personalLoanBank.logo">
            <button
              data-subject="User"
              data-action="Click"
              data-region="Product Content Main"
              data-vertical="Personal Loan"
              data-description="Apply Button"
              :data-value="loan.title"
              class="button orange has-sprite-right is-fullwidth"
              @click="apply(loan)"
            >
              {{ translate("Apply Now") }}
              <i class="sprite angle white angle-right" />
            </button>
          </div>

          <div class="columns is-mobile overview--left__key-info marginless">
            <div
              class="column is-4-desktop is-6-tablet key-info--point overview--left__key-info--point"
            >
              <i class="sprite-product sprite-product--interest" />
              <h4
                class="key-info--title overview--left__key-info--title"
              >
                {{ returnLowestToHighestInterestRate }}
              </h4>
              <span
                v-if="loan.is_islamic"
                class="key-info--description overview--left__key-info--description"
              >{{ translate("Profit Rate") }}</span>

              <span
                v-else
                class="key-info--description overview--left__key-info--description"
              >{{ translate("Interest Rate") }}</span>
            </div>
            <div
              class="column is-4-desktop is-6-tablet key-info--point overview--left__key-info--point"
            >
              <i class="sprite-product sprite-product--max-amount" />
              <h4
                class="key-info--title overview--left__key-info--title"
              >
                RM {{ addCommas(loan.max_amount) }}
              </h4>
              <span
                class="key-info--description overview--left__key-info--description"
              >{{ translate(`Max. ${returnLoanOrFinancing} Amount`) }}</span>
            </div>
          </div>
        </div>
        <div class="column is-3 overview--right is-hidden-mobile">
          <img :src="'/' + loan.personalLoanBank.logo">
          <button
            data-subject="User"
            data-action="Click"
            data-region="Product Content Main"
            data-vertical="Personal Loan"
            data-description="Apply Button"
            :data-value="loan.title"
            class="button orange has-sprite-right is-fullwidth"
            @click="apply(loan)"
          >
            {{ translate("Apply Now") }}
            <i class="sprite angle white angle-right push-right" />
          </button>
        </div>
      </div>
    </section>

    <!-- Section: Calculator -->
    <section
      id="calculator"
      class="calculator container"
    >
      <div class="calculator--input">
        <h4>{{ translate(`Calculate your ${returnLoanOrFinancing} repayment instantly!`) }}</h4>
        <div class="columns">
          <div class="column is-3">
            <label>{{ translate(`${returnLoanOrFinancing} Amount`) }}</label>
            <b-tooltip
              :label="checkMaxOrMinAmount.checked ? `${translate(checkMaxOrMinAmount.message)} ${checkMaxOrMinAmount.amount}` : ''"
              position="is-bottom"
              animated
              :always="checkMaxOrMinAmount.checked"
              :active="checkMaxOrMinAmount.checked"
            >
              <div class="field has-addons is-expanded">
                <p class="control">
                  <span class="button is-static">RM</span>
                </p>
                <p
                  class="control"
                  style="width: 100%;"
                >
                  <input v-if="loanAmountVisibility === false"
                    id='personal_loan_amount'
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Filter"
                    data-vertical="Personal Loan"
                    data-description="Loan Amount"
                    :data-value="amount"
                    :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
                    type="text"
                    placeholder="5000"
                    :value="amount"
                    v-on:keypress="validateMoneyFormat(event, 'amount')"
                    @input="updateValue"
                    @blur="onBlurLoanAmount"
                  >
                  <input v-if="loanAmountVisibility === true"
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Filter"
                    data-vertical="Personal Loan"
                    data-description="Loan Amount"
                    :data-value="reformed_amount"
                    :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
                    type="text"
                    placeholder="5000"
                    :value="reformed_amount"
                    @input="updateValue"
                    @focus="onFocusLoanAmount"
                  >
                </p>
                <!-- bind "is-danger" class for input validation error -->
              </div>
            </b-tooltip>
          </div>
          <div class="column is-3">
            <label>{{ translate(`${returnLoanOrFinancing} Tenure`) }}</label>
            <b-field>
              <b-select
                v-model="tenure"
                data-subject="User"
                data-action="Input"
                data-region="Product Filter"
                data-vertical="Personal Loan"
                data-description="Loan Tenure"
                :data-value="tenure"
                placeholder="Tenure"
                expanded
              >
                <option
                  v-for="index in listTenure"
                  :key="index"
                >
                  {{ index }}
                </option>
              </b-select>
              <p class="control">
                <span class="button is-static">{{ translate("years") }}</span>
              </p>
            </b-field>
          </div>
          <div class="column is-3">
            <label>{{ translate("Monthly Income") }}</label>
            <b-tooltip
              :label="checkMinIncome.checked ? `${translate(checkMinIncome.message)} ${checkMinIncome.income}` : ''"
              position="is-bottom"
              animated
              :always="checkMinIncome.checked"
              :active="checkMinIncome.checked"
            >
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">RM</a>
                </p>
                <p class="control">
                  <input v-if="monthlySalaryVisibility === false"
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Filter"
                    data-vertical="Personal Loan"
                    data-description="Monthly Income"
                    :data-value="income"
                    :class="checkMinIncome.checked ? `input is-danger` : `input`"
                    type="text"
                    placeholder="5000"
                    :value="income"
                    v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
                    @input="updateIncome"
                    @blur="onBlurMonthlySalary"
                  >

                  <input v-if="monthlySalaryVisibility === true"
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Filter"
                    data-vertical="Personal Loan"
                    data-description="Monthly Income"
                    :data-value="reformed_monthly_salary"
                    :class="checkMinIncome.checked ? `input is-danger` : `input`"
                    type="text"
                    placeholder="5000"
                    :value="reformed_monthly_salary"
                    @input="updateIncome"
                    @focus="onFocusMonthlySalary"
                  >
                  <!-- bind "is-danger" class for input validation error -->
                </p>
              </div>
            </b-tooltip>
          </div>
          <div class="column is-3">
            <label>&nbsp;</label>
            <a
              href="#calculator--output"
              class="button blue is-fullwidth"
            >{{ translate("Calculate") }}</a>
          </div>
        </div>
      </div>
      <span id="calculator--output" />
      <div class="calculator--output">
        <div class="columns is-gapless is-mobile">
          <div class="column is-half has-text-centered-tablet">
            <span v-if="loan.is_islamic">{{ translate("Profit Rate") }}:</span>
            <span v-else>{{ translate("Interest Rate") }}:</span>
            <strong class="calculator--output__value">
              {{ productInterestRate }}%
              <span>{{ translate("p.a") }}</span>
            </strong>
            <br>
            <span v-if="loan.is_islamic">{{ translate("Total Profit payable") }}:</span>
            <span v-else>{{ translate("Total Interest payable") }}:</span>
            <strong>RM {{ addCommas(totalInterestPayable) }}</strong>
          </div>
          <div class="column is-half has-text-centered-tablet">
            {{ translate("Monthly Repayment") }}:
            <strong
              class="calculator--output__value"
            >RM {{ addCommas(monthlyRepayment ) }}</strong>
            <br>{{ translate("Total amount payable") }}:
            <strong>RM {{ addCommas(totalAmountPayable ) }}</strong>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Promo -->
    <section
      v-if="loan.promo"
      id="promo"
      class="promo container"
    >
      <div class="promo--section promo--section_img">
        <img
          :src="loan.promo_image ? '/' + loan.promo_image : 'https://via.placeholder.com/726x380.png'"
        >
      </div>
      <div class="promo--section promo--section_content">
        <span class="promo--section_content--label is-hidden-mobile">{{ translate("PROMOTION") }}</span>
        <h5
          v-if="loan.promo_text"
          class="promo--section_content--title"
        >
          {{ loan.promo_text }}
        </h5>
        <span
          v-if="loan.promo_text"
          class="promo--section_content--message"
        >{{ loan.promo_description }}</span>
        <a
          v-if="loan.promo_url"
          :href="loan.promo_url"
          class="button orange has-sprite-right"
          target="_blank"
        >
          <span
            v-if="loan.promo_button_text"
            data-subject="User"
            data-action="Input"
            data-region="Product Content Main"
            data-vertical="Personal Loan"
            data-description="Monthly Income"
            :data-value="income"
          >{{ loan.promo_button_text }}</span>
          <span
            v-else
            data-subject="User"
            data-action="Input"
            data-region="Product Content Main"
            data-vertical="Personal Loan"
            data-description="Promo Button"
            :data-value="loan.title"
          >{{ translate("Find out More") }}</span>
          <i class="sprite angle white angle-right" />
        </a>
      </div>
    </section>

    <!-- Section: Features -->
    <section
      v-if="loan.featured_highlight.length > 0"
      id="features"
      class="features-wrap nav-scroll"
      :class="{ 'has-key-features' : isKeyFeature, 'is-promo' : loan.promo }"
    >
      <div class="mask-rounded" />
      <div class="features container">
        <div class="columns marginless">
          <div class="column is-9 features--content">
            <div
              class="key-features"
            >
              <h2>{{ translate("Key Features") }}</h2>
              <ul class="key-features--list">
                <li
                  v-for="keyFeature in loan.featured_highlight"
                  :key="keyFeature"
                >
                  <span class="key-features-title">{{ keyFeature.text }}</span>
                  <!-- <span class="key-features-description">Airmiles Local</span> -->
                </li>
              </ul>
            </div>

            <!-- <h3 class="line"><span>More Highlights</span></h3>
            <div class="columns other-info">
              <div class="column is-6">
                <ul class="list-bullet">
                  <li>FREE ₱5,000 worth of SM Gift Pass! Promo is until June 30, 2019 only.</li>
                  <li>6% rebate on Groceries</li>
                </ul>
              </div>
              <div class="column is-6">
                <ul class="list-bullet">
                  <li>2% rebate on Meralco</li>
                  <li>0.2 rebate on everything else</li>
                </ul>
              </div>
            </div>-->
          </div>
          <div class="column is-3 features--img is-hidden-mobile">
            <img src="./img/img-features.png">
          </div>
        </div>
      </div>
    </section>

    <!-- Section: Product Features -->
    <section
      id="product-features"
      class="product-features container"
    >
      <h2>{{ translate("Product Features") }}</h2>
      <div class="columns marginless">
        <div class="column is-4 key-info--point">
          <i class="sprite-product sprite-product--duration" />
          <h4 class="key-info--title product-features__key-info--title">
            {{ loan.approval_duration }}
          </h4>
          <span
            class="key-info--description product-features__key-info--description"
          >{{ translate("Approval Duration") }}</span>
        </div>
        <div class="column is-4 key-info--point">
          <i class="sprite-product sprite-product--min-amount" />
          <h4
            class="key-info--title product-features__key-info--title"
          >
            RM {{ addCommas(loan.min_amount) }}
          </h4>
          <span
            class="key-info--description product-features__key-info--description"
          >{{ translate(`Min. ${returnLoanOrFinancing} Amount`) }}</span>
        </div>
        <div class="column is-4 key-info--point">
          <i class="sprite-product sprite-product--max-amount" />
          <h4
            class="key-info--title product-features__key-info--title"
          >
            RM {{ addCommas(loan.max_amount) }}
          </h4>
          <span
            class="key-info--description product-features__key-info--description"
          >{{ translate(`Max. ${returnLoanOrFinancing} Amount`) }}</span>
        </div>
      </div>
      <h3 class="line">
        <span>{{ translate('Other Product Features') }}</span>
      </h3>
      <div class="columns other-info">
        <div class="column is-6">
          <ul class="list-bullet">
            <li>
              <h6
                v-if="loan.is_islamic"
                class="list-other-info--title"
              >
                {{ translate('Profit Rate') }}
              </h6>
              <h6
                v-else
                class="list-other-info--title"
              >
                {{ translate('Interest Rate') }}
              </h6>
              <span class="list-other-info--description">{{ loan.interest_rate_text }}</span>
            </li>
            <li v-if="loan.debt_consolidation">
              <h6 class="list-other-info--title">
                {{ translate('Debt Consolidation') }}
              </h6>
              <span class="list-other-info--description">{{ loan.debt_consolidation }}</span>
            </li>
          </ul>
        </div>
        <div class="column is-6">
          <ul class="list-bullet">
            <li>
              <h6 class="list-other-info--title">
                {{translate(`Min.${returnLoanOrFinancing} Tenure`)}}
              </h6>
              <span class="list-other-info--description">{{ loan.min_tenure }} {{ translate("years") }}</span>
            </li>
            <li>
              <h6 class="list-other-info--title">
                 {{translate(`Max.${returnLoanOrFinancing} Tenure`)}}
              </h6>
              <span class="list-other-info--description">{{ loan.max_tenure }} {{ translate("years") }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div
        v-if="loan.additional_product_features"
        class="columns other-info"
      >
        <div class="column is-12">
          <ul class="list-bullet">
            <li
              v-for="doc in loan.additional_product_features"
              :key="doc"
            >
              <h6 class="list-other-info--title">
                {{ doc.title }}
              </h6>
              <span class="list-other-info--description">{{ doc.description }}</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Section: Fees & Charges -->
    <section
      id="fees-charges"
      class="fees-charges container nav-scroll"
    >
      <h2>{{ translate("Fees and Charges") }}</h2>
      <div class="columns marginless">
        <div
          v-if="loan.processing_fee"
          class="column is-6 key-info--point"
        >
          <i class="sprite-product sprite-product--process-fee" />
          <h4 class="key-info--title fees-charges__key-info--title">
            {{ loan.processing_fee }}
          </h4>
          <span class="key-info--description fees-charges__key-info--description">{{ translate("Processing Fee") }}</span>
        </div>
        <div
          v-if="loan.stamp_duty"
          class="column is-6 key-info--point"
        >
          <i class="sprite-product sprite-product--stamp-duty" />
          <h4 class="key-info--title fees-charges__key-info--title">
            {{ loan.stamp_duty }}
          </h4>
          <span class="key-info--description fees-charges__key-info--description">{{ translate("Stamp Duty") }}</span>
        </div>
      </div>
      <h3 class="line">
        <span>{{ translate("Other Fees and Charges") }}</span>
      </h3>
      <div class="columns other-info">
        <div class="column is-6">
          <ul class="list-bullet list-other-info">
            <li v-if="loan.disbursement">
              <h6 class="list-other-info--title">
                {{ translate("Disbursement &amp; misc. fee") }}
              </h6>
              <span class="list-other-info--description">{{ loan.disbursement }}</span>
            </li>
            <li v-if="loan.annual_fee">
              <h6 class="list-other-info--title">
                {{ translate("Annual Fee") }}
              </h6>
              <span class="list-other-info--description">{{ loan.annual_fee }}</span>
            </li>
            <li v-if="loan.other_fee">
              <h6 class="list-other-info--title">
                {{ translate("Other Fees") }}
              </h6>
              <span class="list-other-info--description">{{ loan.other_fee }}</span>
            </li>
          </ul>
        </div>
        <div class="column is-6">
          <ul class="list-bullet list-other-info">
            <li v-if="loan.early_settlement">
              <h6 class="list-other-info--title">
                {{ translate("Early Settlement") }}
              </h6>
              <span class="list-other-info--description">{{ loan.early_settlement }}</span>
            </li>
            <li v-if="loan.late_payment_charges">
              <h6 class="list-other-info--title">
                {{ translate("Late Payment Charges") }}
              </h6>
              <span class="list-other-info--description">{{ loan.late_payment_charges }}</span>
            </li>
            <li v-if="loan.other_penalty">
              <h6 class="list-other-info--title">
                {{ translate("Other Penalties") }}
              </h6>
              <span class="list-other-info--description">{{ loan.other_penalty }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div
        v-if="loan.additional_fees_charges"
        class="columns other-info"
      >
        <div class="column is-12">
          <ul class="list-bullet">
            <li
              v-for="doc in loan.additional_fees_charges"
              :key="doc"
            >
              <h6 class="list-other-info--title">
                {{ doc.title }}
              </h6>
              <span class="list-other-info--description">{{ doc.description }}</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Section: Eligibility -->
    <section
      id="eligibility"
      class="eligibility container nav-scroll"
    >
      <h2>{{ translate("Eligibility") }}</h2>
      <div class="columns marginless">
        <div class="column is-6 key-info--point">
          <i class="sprite-product sprite-product--eligibility" />
          <h4
            class="key-info--title eligibility__key-info--title"
          >
            RM {{ addCommas(loan.min_income) }} {{ translate("gross per month") }}
          </h4>
          <span class="key-info--description eligibility__key-info--description">{{ translate("Min. Monthly Income") }}</span>
        </div>
        <div class="column is-6 key-info--point">
          <i class="sprite-product sprite-product--eligibility" />
          <h4 class="key-info--title eligibility__key-info--title">
            {{ age_requirement }}
          </h4>
          <span class="key-info--description eligibility__key-info--description">{{ translate("Age Requirement") }}</span>
        </div>
      </div>
      <h3 class="line" v-if="loan.employment_eligibility">
        <span>{{ translate("Other Eligibility Requirements") }}</span>
      </h3>
      <div class="columns other-info">
        <div class="column is-6">
          <ul class="list-bullet list-other-info">
            <li v-if="loan.employment_eligibility">
              <h6 class="list-other-info--title">
                {{ translate("Employment Eligibility") }}
              </h6>
              <span class="list-other-info--description">{{ loan.employment_eligibility }}</span>
            </li>
            <li v-if="loan.guarantor_collateral_requirement">
              <h6 class="list-other-info--title">
                {{ translate("Guarantor / Collateral Requirement") }}
              </h6>
              <span class="list-other-info--description">{{ loan.guarantor_collateral_requirement }}</span>
            </li>
          </ul>
        </div>
        <div class="column is-6">
          <ul class="list-bullet list-other-info">
            <li v-if="loan.linked_bank_account">
              <h6 class="list-other-info--title">
                {{ translate("Need to open linked bank account") }}?
              </h6>
              <span class="list-other-info--description">{{ loan.linked_bank_account }}</span>
            </li>
            <li v-if="loan.buy_takaful_product">
              <h6 class="list-other-info--title">
                {{ translate("Need to buy Takaful product?") }}
              </h6>
              <span class="list-other-info--description">{{ loan.buy_takaful_product }}</span>
            </li>
          </ul>
        </div>
      </div>
      <h3 class="line" v-if="loan.additional_document.length > 0">
        <span>{{ translate("Documents") }}</span>
      </h3>
      <div
        class="columns other-info"
      >
        <div class="column is-12">
          <ul class="list-bullet">
            <li
              v-for="doc in loan.additional_document"
              :key="doc"
            >
              <h6 class="list-other-info--title">
                {{ doc.title }}
              </h6>
              <span class="list-other-info--description">{{ doc.description }}</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- Section: Product Review -->
    <section
      id="product-review"
      class="product-review nav-scroll container"
    >
      <div class="columns marginless">
        <div class="column is-2-widescreen is-3-desktop is-3-tablet is-hidden-mobile">
          <div class="product-review--product-blurb">
            <img :src="'/' + loan.personalLoanBank.logo">
            <span class="product-review--product-blurb__product-name">{{ loan.title }}</span>
            <div
              data-subject="User"
              data-action="Input"
              data-region="Product Content Bottom"
              data-vertical="Personal Loan"
              data-description="Apply Button"
              :data-value="loan.title"
              class="button orange has-sprite-right is-fullwidth push-right"
              @click="apply(loan)"
            >
              {{ translate("Apply Now") }}
              <i class="sprite angle white angle-right" />
            </div>
          </div>
        </div>

        <div class="column is-10-widescreen is-9-desktop is-9-tablet product-review--content">
          <h2>{{ translate("Product Review by") }}</h2>
          <div class="top__logo" />
          <div v-html="loan.body" />
        </div>
      </div>

      <div class="columns marginless other-cards">
        <div
          class="column is-offset-2-widescreen is-offset-3-desktop is-offset-3-tablet is-10-widescreen is-9-desktop is-9-tablet"
        >
          <div class="other-cards-section other-cards-section--category">
            <h3 class="line">
              <span>{{ translate("Other similar personal loans") }}</span>
            </h3>
            <div class="columns">
              <div
                v-for="featured in featuredProducts"
                :key="featured"
                class="column is-4 other-cards-section--product"
              >
                <img :src="'/' + featured.personalLoanBank.logo">
                <a
                  data-subject="User"
                  data-action="Input"
                  data-region="Product Content Bottom"
                  data-vertical="Personal Loan"
                  data-description="Other Cards Interested"
                  :data-value="loan.title"
                  class="other-cards-section--product__name"
                  :href="'/' + featured.path_alias"
                >{{ featured.title }}</a>
              </div>
            </div>
          </div>

          <!-- <div class="other-cards-section other-cards-section--category">
            <h3 class="line"><span>Other cards you may be interested in</span></h3>
            <div class="columns">
              <div class="column is-4 other-cards-section--product">
                <img src="https://www.imoney.ph/sites/v2.imoney.ph/files/citi-cashback-visa-platinum.jpg">
                <a class="other-cards-section--product__name">Citi Rewards Card</a>
              </div>
              <div class="column is-4 other-cards-section--product">
                <img src="https://www.imoney.ph/sites/v2.imoney.ph/files/citi-cashback-visa-platinum.jpg">
                <a class="other-cards-section--product__name">Citi Rewards Card</a>
              </div>
              <div class="column is-4 other-cards-section--product">
                <img src="https://www.imoney.ph/sites/v2.imoney.ph/files/citi-cashback-visa-platinum.jpg">
                <a class="other-cards-section--product__name">Citi Rewards Card</a>
              </div>
            </div>
          </div>-->

          <div class="plug-learning-centre columns marginless">
            <div class="column is-3 plug-learning-centre--img">
              <img src="./img/img-books-pl.png">
            </div>
            <div class="column is-9">
              <div class="plug-learning-centre--content">
                <h5>{{ translate("Interested to learn more about Personal Loans?") }}</h5>
                <span>{{ translate("We have many articles on our Learning Centre on how to choose and use personal loan to manage your finance intelligently") }}.</span>
                <a
                  data-subject="User"
                  data-action="Input"
                  data-region="Product Content Bottom"
                  data-vertical="Personal Loan"
                  data-description="Learning Centre Button"
                  :data-value="loan.title"
                  class="button blue has-sprite-right"
                  href="https://www.imoney.my/articles/category/personal-loan"
                >
                  {{ translate("Read more at Learning Centre") }}
                  <i class="sprite angle white angle-right" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <sticky-section-bar
      :loan="loan"
    />
    <apply-form :url="context.config.url"/>
  </div>
</template>

<script>
import stickySectionBar from '../../components/my/stickySectionBar';

import {
  addCommas,
  checkMaxOrMinAmountProduct,
  checkMinIncomeProduct,
  iRates
} from 'numberFormat';

import Calculator from 'calculation';
import applyForm from 'applyForm.vue';
import bus from 'bus.js';
import { creatArrayRange, checkIfProductIsIslamic } from 'helper.js';

export default {
  components: {
    stickySectionBar,
    applyForm
  },
  props: ['context'],

  data: function () {
    console.log("contest data", this.context.url);
    console.log("loan data *** ", this.context.loan);
    return {
      amount: this.context.loan.min_amount,
      tenure: this.context.loan.min_tenure,
    income: this.context.loan.min_income,
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      reformed_amount: this.context.loan.min_amount,
      reformed_monthly_salary: this.context.loan.min_income,
      url: this.context.config.urls.listing,
      applyParmValue: this.context.applyParmValue,
      loan: this.context.loan,
      isComponentModalActive: false,
      currency: this.context.config.currency,
      inputTenure: 3,
      inputTotal: null,
      region: this.context.config.region,
      isKeyFeature: true,
      active: false,
      window: {
        width: 0,
        height: 0
      },
      calculator: null,
      addCommas,
      productInterestRate: '-',
      monthlyRepayment: '-',
      totalAmountPayable: '-',
      totalInterestPayabable: '-',
      featuredProducts: this.context.featuredProducts.slice(0, 3),
      applybtnfrom: "en_pl_product"
    };
  },
  computed: {
    // If Islamic = show ‘Islamic personal loan’

    // If Goverment Servant = show 'Government Servant personal loan'

    // If Conventional = show ‘Conventional personal loan’

    // If Fast Approval = show ‘Fast Approval personal loan’

    // Combine if more than 1 tag, example: show ‘Islamic Government Servant personal loan’

    returnGovernmentOrIslamic () {
      let islamic = this.loan.is_islamic;
      let governmentServant = this.loan.government_only;
      let fastApproval = this.loan.fast_approval;
      let payDay = this.loan.is_payday;
      if (islamic && governmentServant) {
        return 'Islamic Government Servant personal loan';
      } else if (islamic) {
        return 'Islamic personal loan';
      } else if (governmentServant) {
        return 'Government Servant personal loan';
      } else if (fastApproval) {
        return 'Fast Approval personal loan';
      } else if(payDay){
       return 'Low Income personal loan';
       } else {
        return 'Conventional personal loan';
      }
    },

    returnLowestToHighestInterestRate () {
      return iRates(this.loan.personal_loan_rates);
    },
    checkMaxOrMinAmount () {
      return checkMaxOrMinAmountProduct(this.loan, this.amount);
    },
    checkMinIncome () {
      return checkMinIncomeProduct(this.loan, this.income);
    },
    returnLoanOrFinancing (first, islamic, value) {
      return checkIfProductIsIslamic(islamic);
    },
    listTenure: function () {
      return creatArrayRange(
        parseInt(this.loan.min_tenure),
        parseInt(this.loan.max_tenure)
      );
    },
    age_requirement () {
      return `${this.loan.min_age} - ${this.loan.max_age}`;
    }
  },
  watch: {
    amount () {
      this.update();
      this.$store.commit('setAmount', this.amount);
      this.$store.commit('setIsAmountChanged', true);
    },
    tenure () {
      this.update();
      this.$store.commit('setTenure', this.tenure);
      this.$store.commit('setIsTenureChanged', true);
    },
    income () {
      this.update();
      this.$store.commit('setIncome', this.income);
    }
  },

  created: function () {
    if(this.context.config.lang==="ms"){
      this.applybtnfrom="ms_pl_product";
    }
    
    let prourl = this.translate(this.url);
    console.log('this.url',prourl);
    this.$store.commit("setURL", prourl);
    this.calculator = new Calculator(
      false,
      null,
      this.amount,
      this.tenure,
      this.income
    );
    // if(this.currency == "RM")
      this.reformed_amount = this.addCommas(this.amount); // this.addCommas(parseFloat(this.amount).toFixed(2))
      this.reformed_monthly_salary = this.addCommas(this.income); // this.addCommas(parseFloat(this.income).toFixed(2))
    this.updatePersonalLoan(this.calculator);
  },
  mounted: function() {
    if (this.applyParmValue) {
      this.apply(this.loan);
    }
    dataLayer.push({
        event: 'viewProduct',
        event_lang: this.context.config.lang,
        content_type: "product",
        product_id: this.loan.nid,
        product_name: this.loan.title,
        product_brand: this.loan.personalLoanBank.bank.name,
        product_category: 'Personal Loan',
        product_sub_category: this.loan.is_islamic ? 'Islamic' : 'Conventional',
        product_pl_rate: this.loan.productInterestRate,
        // user_device :WURFL.form_factor,
        // referrer_source : null,
        // referrer_medium : null
      });
  },
  methods: {
   onBlurLoanAmount(){
    this.loanAmountVisibility = true;
    this.reformed_amount = this.addCommas(this.amount); // this.addCommas(this.amount != "" ? parseFloat( this.amount).toFixed(2) : '' )
    // this.reformed_amount = this.addCommas(parseFloat(this.amount != "" ? this.amount : 0 ).toFixed(2));
   },

   onFocusLoanAmount(){
    this.loanAmountVisibility = false;
   },

   onBlurMonthlySalary(){
     this.monthlySalaryVisibility = true;
     this.reformed_monthly_salary = this.addCommas(this.income); // this.addCommas(this.income != "" ? parseFloat( this.income).toFixed(2) : '' ) 
     // this.reformed_monthly_salary = this.addCommas(parseFloat(this.income != "" ? this.income : 0 ).toFixed(2));
   },

   onFocusMonthlySalary(){
    this.monthlySalaryVisibility = false;
   },
 
   validateMoneyFormat(evt, key){
      evt = (evt) ? evt : window.event;
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      
      let strAmount = this.getRelatedAmount(key);
      // if(this.currency === "RM"){
       // only allow number
       if(charCode < 48 || charCode > 57){
          evt.preventDefault();
          return false
       }
      //   if(this.numberAndOneDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }
      //   if(this.restrictTo2DecimalsWithDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }

     // }
      return true;
    },

    getRelatedAmount(key){
      if(key === 'amount')
        return this.amount !== null  ? this.amount.toString() : '0'; 
      if(key === 'monthly_salary'){
        return this.reformed_monthly_salary !== null ? this.income.toString() : '0'; 
       }
    },

    log(message) {
      console.log(message);
    },

    // only allow number and one dot
    numberAndOneDot(charCode, strAmount){
      return ((charCode < 48 || charCode > 57) && (charCode !== 46 || strAmount.indexOf('.') != -1));
    },
    // restrict to 2 decimal places
    restrictTo2DecimalsWithDot(charCode, strAmount){
      return (strAmount!=null && strAmount.indexOf(".")>-1 && (strAmount.split('.')[1].length > 1 ));
    },

    apply (loan) {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setApplyBtnFrom", this.applybtnfrom);
      console.log(this.applybtnfrom,' *** Tacking Data Apply from product page *** ',this.$store.state.applyBtnFrom);
        var data = {
          event : 'applyNow',
          product_id : loan.nid,
          product_name: loan.title,
          product_brand : loan.personalLoanBank.bank.name,
          product_category : "Personal Loan",
          product_sub_category:  loan.is_islamic ? 'Islamic' : 'Conventional',
          product_pl_rate : loan.productInterestRate,
          // track_id : userManager.data.trackId,
          event_lang : this.region,
          // user_device :WURFL.form_factor,
          // referrer_source : userManager.utms.utmcsr,
          // referrer_medium : userManager.utms.utmcmd
      };
      dataLayer.push(data);
      bus.$emit('apply', loan);
    },
    updatePersonalLoan (calculator) {
      let updatedLoan = calculator.filterRatesProduct(this.loan);
      if (typeof updatedLoan === 'undefined') {
        this.productInterestRate = '-';
        this.monthlyRepayment = '-';
        this.totalAmountPayable = '-';
        this.totalInterestPayable = '-';
      } else {
        this.productInterestRate = updatedLoan.productInterestRate;
        this.monthlyRepayment = updatedLoan.monthlyRepayment;
        this.totalAmountPayable = updatedLoan.totalAmountPayable;
        this.totalInterestPayable = updatedLoan.totalInterestPayable;
      }
    },
    update () {
      this.calculator.amount = parseInt(this.amount);
      this.calculator.tenure = parseInt(this.tenure);
      this.calculator.income = parseInt(this.income);

      this.updatePersonalLoan(this.calculator);
    },
    updateValue (event) {
      const value = event.target.value;
      if (String(value).length <= 11) {
        this.amount = value;
      }
      this.$forceUpdate();
    },
    updateIncome (event) {
      const value = event.target.value;
      if (String(value).length <= 9) {
        this.income = value;
      }
      this.$forceUpdate();
    }
  }
};

function getObj (object) {
  return JSON.parse(JSON.stringify(object) || '{}');
}
</script>

<style lang="scss" scoped>
@import "../../../scss/my/page-product.scss";
@import "../../../scss/form-steps.scss";
</style>
