<template>
  <div>
    <b-modal
      :active.sync="isRHBComponentModalActive"
      animation="fade"
      width="100%"
      scroll="clip"
      :can-cancel="false"
    >
      <rhb-pre-qualify :class="{active : isRHBComponentModalActive}" />
    </b-modal>
    <b-modal
      :active.sync="isPreQualifyComponentModalActive"
      animation="fade"
      width="100%"
      scroll="clip"
      :can-cancel="false"
    >
      <pre-qualify :class="{active : isPreQualifyComponentModalActive}" />
    </b-modal>
    <b-modal
      :active.sync="isBasicComponentActive"
      animation="fade"
      width="100%"
      scroll="clip"
      :can-cancel="false"
    >
      <!-- <apply-form :class="{active : isBasicComponentActive }" /> -->
      <basic-form :class="{active : isBasicComponentActive }" />
    </b-modal>

    <b-modal
      :active.sync="isALLIANCEComponentModalActive"
      animation="fade"
      width="100%"
      scroll="clip"
      :can-cancel="false"
    >
      <alliance-pre-qualify :class="{active : isALLIANCEComponentModalActive}" />
    </b-modal>

  </div>
</template>

<script>
import bus from 'bus.js';
import RhbPreQualify from './RHB/RHBpreQualify';
import applyForm from './BF/applyForm';
import preQualify from './PQ/preQualify';
import AlliancePreQualify from './ALLIANCE/preQualify';
import basicForm from './BF/basicForm';

export default {
  props: ['context'],
  components: {
    applyForm,
    basicForm,
    RhbPreQualify,
    preQualify,
    AlliancePreQualify,
  },
  data: function () {
    return {
      isBasicComponentActive: false,
      isPreQualifyComponentModalActive: false,
      isRHBComponentModalActive: false,
      isALLIANCEComponentModalActive: false,
    };
  },
  ready: function () {},
  created () {
    //  console.log('created foo',this.$data)
    bus.$on("apply", Loan => {
      this.$store.commit("selectedProductForApply", Loan);
          // Changed to the bank type
      console.log(typeof Loan.apply_form_category)
      console.log("This is a loan", Loan);
      console.log("This is apply form category", Loan.apply_form_category)
      
      // Flow number 3 is send to bank
      if (Loan.apply_form_flow === "3") {
        window.location.href = Loan.apply_link
      } else {
        // If flow is not send to bank directly then show the form
        // based on the category
        if (Loan.apply_form_category === "3") {
           this.isRHBComponentModalActive = true;
        } else if (Loan.nid === "127" || Loan.nid === "165") {
          console.log("comes to Alliance nid");
          this.isALLIANCEComponentModalActive = true;
          
        } 
        else if (Loan.apply_form_category === "2") {
          console.log("comes to pre qualify");
        this.isPreQualifyComponentModalActive = true;
          
        } else {
           console.log("comes to here also");
         this.isBasicComponentActive = true;
        
        }
      }
    });
  },
  methods: {},
  validations: {}
};
</script>
