@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

//Product Image & Name
.apply-product {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: -10px;
  img {
    max-height: 30px;
    max-width: 85px;
    margin-right: 15px;
  }
  h1 {
    font-family: $font;
    display: inline-block;
    color: $color;
    @include font-size(1.5);
    font-family: $font-semibold;
    line-height: 1.8rem;
  }
}

//Product Application Details
.apply-details {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: rgba(12,138,227,.1);
  .form-group {
    margin-bottom: 10px;
    margin-top: 10px;
    label {
      font-family: $font;
      @include font-size(1.2);
      opacity: 0.7;
    }
    span {
      font-family: $font-semibold;
      @include font-size(1.8);
      &.help.is-danger {
        color: $color-red;
        @include font-size(1.2);
        font-family: $font;
      }
    }
  }
  .static label {
    margin-bottom: 0px;
  }
  &--top-row {
    border-bottom: 1px solid rgba(12,138,227,.1);;
  }
}

// User Apply Form
.apply-form {
  background-color: #FFF;
  width: 100%;
  top: 0;
  padding: 20px;
  h5 {
    margin-bottom: 15px;
    text-align: center;
    @include font-size(1.6);
    line-height: 2rem;
    font-family: $font;
    font-weight: initial;
    color: rgba(67,76,85,0.5);
  }
  h4 {
    text-align: center;
  }
  .privacy-policy {
    display: flex;
    @include font-size(1.2);
    font-family: $font;
    color: rgba(67,76,85,0.7);
    cursor: pointer;
    max-width: 100%;
    margin-bottom: 5px;
    input[type="checkbox"] {
      margin-right: 5px;
      margin-top: 2px;
      width: 28px;
      height: 12px;
    }
  }
  input.parsley-error,
  textarea.parsley-error,
  select.parsley-error {
    border-color: $color-red !important;
  }

  .help.is-danger {
    color: $color-red;
    font-size: 1.3rem;
    display: block;
    line-height: 15px;
    margin-top: 5px;
  }
}


//Input Styling
.form-group {
  margin-bottom: 15px;
  .form-control {
    display: block;
    width: 100%;
    height: 40px; //34px
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    background-color: white;
    background-image: none;
    border: 1px solid $color-grey-25;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    @include transition(border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s);
    &:focus {
      border-color: $color-blue-cobolt;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
    }
  }
  & , .input-group-addon {
    border-color: $color-grey-25;
  }
  .input-group { //With addons
    position: relative;
    display: table;
    border-collapse: separate;
    .input-group-addon {
      width: 1%;
      padding: 6px 12px;
      display: table-cell;
      vertical-align: middle;
      color: $color-grey-dark;
      @include font-size(1.4);
      // font-weight: normal;
      line-height: 1;
      text-align: center;
       white-space: nowrap;
      background-color: $color-grey-10;
      border: 1px solid $color-grey-25;
      border-radius: 3px;
      &+.form-control {
        border-radius: 0 3px 3px 0 !important;
      }
      &:first-child {
        border-radius: 3px 0 0 3px;
        border-right: none;
      }
      &:last-child {
        border-left: 0;
        border-radius: 0 3px 3px 0;
      }   
    }
    .form-control:first-child {
      border-radius: 3px 0 0 3px !important;
      -webkit-appearance: none;
      -webkit-border-radius: 3px 0 0 3px !important;
    }
  }
}

.btns-radio {
  list-style-position: inside;
  overflow: hidden;
  li {
    position: relative;
  }
  $input-btn-default: white; //white
  $input-btn-selected: $color-blue-cobolt; //cobolt blue
  input[type="checkbox"],
  input[type="radio"] {
    display: block;
    position: absolute;
    opacity: 0.011;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  //Checked + hover
  input[type="checkbox"]:checked + label,
  input[type="radio"]:checked + label,
  input[type="checkbox"]:checked + label:hover,
  input[type="radio"]:checked + label:hover {
    background-color: $input-btn-selected;
    border: solid 1px $input-btn-selected;
    color: white;
    .tick {
      border: solid 1px white;
    }
    .tick:before {
      content: "";
      display: block;
      position: absolute;
      width: 16px;
      height: 11px;
      margin-top: 4px;
      top: 0;
      left: 0;
      background: url('img/sprite_icon-base-redesign.png') 82px -34px;
      background-size: 80px 81px;
    }
  }
  input[type="checkbox"][disabled] + label:hover {
    background-color: $input-btn-default;
  }
  input[type="checkbox"] + label,
  input[type="radio"] + label {
    display: block;
    cursor: pointer;
    z-index: 90;
    background-color: $input-btn-default;
    border: solid 1px $color-grey-25;
    border-radius: 3px;
    padding: 8px 12px;
    font-family: $font;
    @include font-size(1.4);
    color: $color-grey-dark;
    @include transition(all 200ms linear);
    &:hover { //Hover
      background-color: $color-blue-cobolt-10;
      border: solid 1px $input-btn-selected;
      .tick {
        border: solid 1px $input-btn-selected;
      }
    }
    .tick {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      background-color: #FFF;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border: solid 1px $color-grey-25;
    }
  }
  &-switch li {
    width: 50%;
    display: inline-block;
    &:first-child label { border-radius: 3px 0 0 3px; margin-right: 1px; }
    &:last-child label { border-radius: 0 3px 3px 0; }
    float: left;
  }
}

.btns-radio-switch2 {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  li {
    flex-grow: 1;
    align-items: stretch;
    display: flex;
  }
  label {
    flex-grow: 1;
  }
}

.btns-radio-switch2 li {
  input[type="radio"]+label {
    display: grid;
    line-height: 18px;
    border-radius: 3px;
    margin-right: 5px; //1px
    text-align: center;
    align-items: center
  }
  li:first-child input[type="radio"]+label {
    border-radius: 3px 0 0 3px
  }
  li:last-child input[type="radio"]+label {
    border-radius: 0 3px 3px 0
  }

  @media (max-width: 480px) {
    .fouroptions li {
      &:first-child input[type="radio"]+label {
          border-radius: 3px 0 0 0
      }
      &:nth-child(2) input[type="radio"]+label {
        border-radius: 0 3px 0 0
      }
      &:nth-child(3) input[type="radio"]+label {
        border-radius: 0 0 0 3px
      }
      &:last-child input[type="radio"]+label {
        border-radius: 0 0 3px 0
      }
    }
    .fiveoptions li {
      &:first-child input[type="radio"]+label {
        border-radius: 3px 0 0 0
      }
      &:nth-child(2) input[type="radio"]+label {
        border-radius: 0 3px 0 0
      }
      &:last-child input[type="radio"]+label {
        border-radius: 0 0 3px 3px
      }
    }
  }
  @media (max-width: 343px) {
    .edu-level li {
      &:first-child input[type="radio"]+label {
        border-radius:3px 3px 0 0
      }
      &:nth-child(2) input[type="radio"]+label {
        border-radius: 0
      }
      &:nth-child(3) input[type="radio"]+label {
        border-radius: 0
      }
      &:last-child input[type="radio"]+label {
        border-radius: 0 0 3px 3px
      }
    }
  }
}

.form-dash {
  position: relative;
  &:before {
    content: "-";
    position: absolute;
    left: -2%;
    top: 10px; //6px
  }
}

.input-group {
  select {
    padding: 30px;
  }
  select:before {
    border: 3px solid transparent;
    border-radius: 2px;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: .625em;
    margin-top: -.4375em;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: rotate(-45deg);
    transform-origin: center;
    width: .625em;
    z-index: 4;
  }
}




// Slide-In
.slide-in-enter-active,
.slide-in-leave-active {
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.slide-in-enter {
    @include transform(translate3d(100%, 0, 0));
    position: absolute;
    width: 100%;
}
.slide-in-leave-to {
  @include transform(translate3d(-100%, 0, 0));
    position: absolute;
    width: 100%;
}

.axaimg {
    height: 42px;
    background: url('img/axaaffin-logo.png') no-repeat;
    background-size: 86px;
    display:block;
    margin-left: 42%;
  }
  
  .axacarimg {
    height: 100%;
    background: url('img/axa-car.png') no-repeat;
    background-size: 164px;;
    height:125px;
    display:block;
    margin-left:30%;
  }
  
  ul.axa-points {
    font-size: 14px;
    margin-left:12%;
  }
  
  ul.axa-points li{
    font-size: 13px;
    list-style: none;
    padding:5px;
  }
  ul.axa-points li:before {
    content: '\2714\0020';
    color: #458dc9;
  }
//Overrides for PL
.modal-basicform { z-index: 99; } //Make sure basic form is always on top when sliding out to reveal next form
.bottom-none {margin-bottom: 0 !important;}
.paddingleft{padding-left:0 !important;}