@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

// List item
.product-listing {

  .product-card {
    background-color: #FFF;
    margin-bottom: 15px;
    border: 1px solid $color-grey-25;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(67,76,85,.1);

    & > .columns {
      margin: 0;
    }

    &__title {
      padding: 15px;
      font-family: $font-semibold;
      @include font-size(1.8);
      line-height: 2rem;
      @include mobile {
        @include font-size(1.6);
        line-height: 1.9rem;
      }
    }

    &__image {
      text-align: center;
      img {
        max-width: 100px;
        max-height: 50px;
      }
      @include mobile {
        padding-left: 0;
        text-align: right;
        img {
          max-width: 100%;
        }
      }
    }

    &__keypoint {
      padding-top: 0px;
      @include font-size(1.4);
      color: $color-grey-50;
      line-height: 20px;
      span {
        display: block;
        font-family: $font-semibold;
        @include font-size(1.6);
        color: $color-grey-dark;
      }
      &:last-child span {
        @include font-size(2.4);
        color: $color-blue-cobolt;
      }
      @include tablet-only {
        &:last-child span {
          @include font-size(2.0);
        }
      }
      @media (min-width: 481px) and (max-width: 768px) {
        width: 33%;
      }
      @media (max-width: 480px) {
        order: 2;
        &:last-child {
          order: 1;
          line-height: 22px;
        }
      }
    }

    &__promomsg { // Promo message
      display: flex;
      background-color: rgba(11,123,203,.05);
      padding: 15px;
      font-family: $font-semibold;
      @include font-size(1.6);
      color: $color-blue-dark;
      line-height: 2rem;
      @include mobile {
        @include font-size(1.4);
      }
    }

    &__moreinfo a {
      display: block;
      padding: 10px 0;
      max-width: 110px;
    }

    &__applybtn {
      @media (min-width: 480px) and (max-width: 768px) {
        width: 50%;
        margin-left: 16%;
      }
    }

    // Featured product card
    &.featured {
      background: rgba(11,123,203,.05);
      border: 1px solid rgba(11,123,203,.4);
      border-top: none;
      box-shadow: 0 1px 0 0 $color-grey-10;
      .product-card {
        &__ftmsg { // Featured message
          display: block;
          width: calc(100% + 2px);
          margin-left: -1px;
          padding: 10px 15px;
          background-image: $gradient-blue;
          border-radius: 3px 3px 0 0;
          color: #FFF;
          &--inline {
            display: block;
          }
        }
        @media (min-width: 1280px) {
          &__promomsg {
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }
}