@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

.top__logo {
  margin-left: 20px;
}

.inner-wrap {
  background-color: #FFF;
}

.control-bar:not(:last-child) {
  margin-bottom: .75rem;
}

// Header
header.header {
  .header__cta .button {
    padding: calc(.65em - 1px) 1em calc(.65em + 1px);
  }
  .header__image div {
      margin-left: -40px;
  }
  @media (max-width: 320px) {
    .header__image div {
      height: 130px;
      margin-left: -30px;
    }
  }
}

// Listing
section#content {
  margin-bottom: 50px;
  padding: 0 20px;
  &:focus {
    outline: 0;
  }
  @include desktop {
    padding: 0;
  }
}

// Sidebar
.sidebar--collapsed {
  display: none;
  right: -135px;
  position: relative;
}
.column-helper {
  display: block;
  border: 1px solid $color-grey-10;
  border-radius: 3px;
  margin: 15px 0;
  padding: 20px;
  color: $color-lighter;
  @include transition(all 0.1s linear);
  &:hover {
    border-color: darken($color-grey-10, 10%);
  }
  h5 {
    line-height: 1.9rem;
  }
  span {
    display: block;
    color: $color-blue-cobolt;
  }
}

// Expand/collapse sidebar and column sizes
.col-listing {
  padding-left: 20px;
  width: 80%;
  @include widescreen-only {
    width: 80%;
  }
  @include desktop-only {
    width: 75%
  }
  @include tablet-only {
    width: 70%;
  }
  @include mobile {
    width: 100%;
    padding-left: 0;
  }
  &.show {
    width: 100%;
    padding-left: 0;
  }
}

.col-sidebar {
  width: 20%;
  @include widescreen-only {
    width: 20%;
  }
  @include desktop-only {
    width: 25%;
  }
  @include tablet-only {
    width: 30%;
  }
  @include mobile {
    display: none;
  }
  &.hide {
    display: none;
  }
}

.helper {
  margin: 15px 0;
  h4 {
    margin-bottom: 10px;
    @include font-size(1.6);
  }
}

.no-result {
  display: block;
  margin-top: 15px;
  border: 1px solid #eff1f4;
  padding: 30px 20px;
  border-radius: 3px;
  p.header {
    font-family: $font-semibold;
    margin-bottom: 0px;
  }
  .button {
    padding: 10px 30px;
  }
}

//Bank UI PDF Viewer fix modal size to fullscreen
.pdf-preview .animation-content.modal-content {
  max-height: 100%;
  overflow-y: hidden;
  height: 100vh;
  @include tablet { margin-top: 65px; }
}

//ADs
.dfp-ads{
  &.skyscaper{
    iframe{
      height: 600px;
    }  
  }
}