@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

// Sticky top bar
section#sticky-top-bar {
	background: $color-blue-dark;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 15px;
	opacity: 0;
	z-index: 10;
	color: #FFF;
	@include transform(translate3d(0,-85px,0));

	.col-listing {
		padding: .65rem .75rem .65rem 20px;
	}

	span {
		display: block;
		font-family: $font-semibold;
		@include font-size(1.2);
	}

	.btn-filter {
		background-color: #FFF;
		position: fixed;
		padding: 12px;
		width: 50px;
		height: 50px;
		top: 45px;
		right: 10px;
		border: 1px solid $color-blue-cobolt;
		border-radius: 50%;
		box-shadow: 0 5px 0 0 rgba(67,76,85,.1);
		z-index: 10;
		@include transition(background-color 0.3s);
		
		&:hover {
			background-color: lighten($color-blue-cobolt, 47%);
			cursor: pointer;
		}

		&:active, &:focus {
			background-color: lighten($color-blue-cobolt, 43%);
		}
	}

	.btn-compare {
		padding: 6px 14px;
	}

	&.slidein {
		opacity: 1;
		@include transform(translate3D(0,0,0));
		@include transition(.4s ease);
	}

	@include mobile {
		background: $gradient-blue;
		border-radius: 0 0 50% 50%/0 0 15% 15%;
		@include font-size(1.3);
		.col-listing {
			padding: .4rem .75rem 1.3rem;
		}
		span {
			font-family: $font-bold;
			@include font-size(1.1);
		}
	}
}
