<template>
  <div>
    <!-- <b-modal
      :active.sync="previewPDFActive"
      animation="fade"
      width="100%"
      scroll="clip"
      >
      <preview-pdf :class="{active : previewPDFActive }" />
    </b-modal>-->
    <pageMenu  :context="config"></pageMenu>
    <!-- <hero-section /> -->
    <hero-section :config="config" />
    <calculator
      :bank-personal-loan="bankPersonalLoan"
      :amount="amount"
      :tenure="tenure"
      :income="income"
      :is-fast-approval="isFastApproval"
      :is-features-longer-repayment="isFeaturesLongerRepayment"
      :is-features-high-loan="isFeaturesHighLoan"
      :is-features-loans="isFeaturesLoans"
      :BTC="BTC"
      :BTB="BTB"
    />
    <sticky-top-bar />

    <section id="content" class="container sticky-top-bar-area">
      <!-- Ads: Top leaderboard -->
      <div class="dfp-ads">
        <div id="div-gpt-ad-1447813095536-1" style="height:90px;" class="is-hidden-mobile" />
        <div id="div-gpt-ad-1447813095536-3" style="height:50px;" class="is-hidden-tablet" />
      </div>
      <div class="is-flex level control-bar">
        <div class="col-sidebar is-hidden-mobile">
          <div @click="showSideBar = !showSideBar">
            <a v-if="!showSideBar">+ {{ translate("Show sidebar") }}</a>
            <a v-else>- {{ translate("Hide sidebar") }}</a>
          </div>
        </div>
        <div class="col-listing level">
          <span class="level-left">
            <div>
              {{ translate('Showing') }}
              <strong>{{ personalLoan.length }}</strong>
              {{ translate("of") }}
              <strong>{{ context.pageType === 'business-loan' ? translate("all Business Loans") : context.pageType === 'online-loan' ? translate("all online loans"):  
                translate("all personal loans") }}</strong>
            </div>
          </span>
        </div>
      </div>

      <div class="is-flex">
        <!-- Sidebar -->
        <div class="col-sidebar" :class="{ 'hide' : !showSideBar}">
          <!-- Sidebar content -->
          <transition name="fade">
            <div v-if="showSideBar">
              <side-filter
                :amount="amount"
                :tenure="tenure"
                :income="income"
                :is-fast-approval="isFastApproval"
                :is-features-longer-repayment="isFeaturesLongerRepayment"
                :is-features-high-loan="isFeaturesHighLoan"
                :is-features-loans="isFeaturesLoans"
                :BTC="BTC"
                :BTB="BTB"
                :is-payday="isPayday"
                :is-islamic="isIslamic"
                :is-government-servant="isGovernmentServant"
                :is-lowest-interest="isLowestInterest"
                :filter-banks="filterBanks"
                :bank-personal-loan="bankPersonalLoan"
                :islamicPage="islamicPage"
                :context="context"
                class="is-hidden-mobile"
              />

              <a
                data-subject="User"
                data-action="Click"
                data-region="Listing Content Main"
                data-vertical="Personal Loan"
                data-description="FAQ"
                data-value="Read our FAQ"
                href="#faq"
                onclick="return false;"
                class="column-helper is-hidden-mobile"
              >
                <h5 v-if="context.config.url==='/business-loan'">{{ translate("Don't know much about Business Loan?") }}</h5>
                <h5 v-else>{{ translate("Don't know much about Personal Loan?") }}</h5>
                <span>
                  {{ translate('Read our FAQ') }}
                  <i class="sprite angle blue angle-right" />
                </span>
              </a>

              <!-- Ads: Skyscraper -->
              <div class="dfp-ads skyscaper">
                <!-- /422122608/V4_240_600_Wide_Skyscraper -->
                <div id="div-gpt-ad-1476931098104-5" style="height: 600px;" />
              </div>
            </div>
          </transition>
        </div>

        <!-- Listing -->
        <div class="col-listing" :class="{'show' : !showSideBar}">
          <!-- List Item -->

          <list-item :data-list="personalLoan" :context="config" />
          <!--
          Empty State:
          Show this part below when there's no result
          -->
          <div v-if="personalLoan.length === 0" class="has-text-centered no-result">
            <i class="sprite categories categories__sprite--noproduct" />
            <p class="header">{{ translate('Sorry, the filter combination has no results') }}</p>
            <p class="subheader">{{ translate('Please try a different criteria') }}</p>
          </div>
        </div>
      </div>
    </section>

    <compare-panel :class="[ showComparePanel ? 'slidein' : 'slideout']" />
    <how-it-works :context="context" />
    <keep-alive>
      <component :is="isFaq" />
    </keep-alive>
    <!-- <faq /> -->

    <!-- <sample/> -->
    <back-to-top />

    <!-- Eligibility Modal -->
    <b-modal :active.sync="isEligibilityActive" animation="fade" width="100%">
      <eligibility :class="{active : isEligibilityActive}"></eligibility>
    </b-modal>

    <!-- Eligibility B Modal -->
    <b-modal :active.sync="isEligibilityBActive" animation="fade" width="100%">
      <eligibilityb :class="{active : isEligibilityBActive}"></eligibilityb>
    </b-modal>

    <!-- Filter Modal (Mobile) -->
    <div class="is-hidden-tablet">
      <b-modal :active.sync="isFilterModalActive" animation="fade" width="100%" scroll="clip">
        <filter-mobile
          :amount="amount"
          :tenure="tenure"
          :income="income"
          :is-fast-approval="isFastApproval"
          :is-features-longer-repayment="isFeaturesLongerRepayment"
          :is-features-high-loan="isFeaturesHighLoan"
          :is-features-loans="isFeaturesLoans"
          :BTC="BTC"
          :BTB="BTB"
          :is-payday="isPayday"
          :is-islamic="isIslamic"
          :is-government-servant="isGovernmentServant"
          :is-lowest-interest="isLowestInterest"
          :filter-banks="filterBanks"
          :bank-personal-loan="bankPersonalLoan"
          :islamicPage="islamicPage"
          :class="{active : isFilterModalActive}"
          :context="context"
        />
      </b-modal>
    </div>

    <!-- Compare Modal -->
    <b-modal :active.sync="isCompareModalActive" animation="fade" width="100%" scroll="clip">
      <compare :class="{active : isCompareModalActive}" />
    </b-modal>

    <!-- Bank UI PDF Preview Modal -->
    <div class="pdf-preview">
      <b-modal :active.sync="showPreview" animation="fade" width="100%" scroll="clip">
        <preview-pdf :pdf="pdf" :class="{active : showPreview }" />
      </b-modal>
    </div>
  </div>
</template>

<script>
// large component
import pageMenu from "pageMenu.vue";

import heroSection from "../../components/ph/heroSection";

import calculator from "calculator";
import stickyTopBar from "../../components/ph/stickyTopBar";
import sideFilter from "sideFilter";
import listItem from "../../components/ph/listItem";
import howItWorks from "../../components/ph/howItWorks";
import faq from "faq.vue";
import faqOnlineLoan from "faq-online-loan.vue";
import faqbusinessLoan from "faq-business-loan.vue";

// modals
import compare from "../../components/modals/compare";
import filterMobile from "filterMobile.vue";
import eligibility from "../../components/modals/eligibility";
import eligibilityb from "../../components/modals/elegibilityb";
// controls
import backToTop from "../../components/controls/backToTop";
import { mapGetters, mapActions } from "vuex";
// sample
import Calculator from "calculation";
import FilterPersonalLoan from "filter";
import previewPdf from "../../components/modals/previewPDF";
import axios from "axios";
import { Dialog } from "buefy/dist/components/dialog";

export default {
  components: {
    heroSection,
    calculator,
    stickyTopBar,
    sideFilter,
    listItem,
    howItWorks,
    faq,
    faqOnlineLoan,
    pageMenu,
    backToTop,
    compare,
    filterMobile,
    eligibility,
    eligibilityb,
    previewPdf
  },
  props: ["context"],
  data: function() {
    return {
      url: this.context.url,
      region: this.context.config.region,
      config: this.context.config,
      inputCreditType: null,
      isFilterModalActive: false,
      isCompareModalActive: false,
      isEligibilityActive: false,
      isEligibilityBActive: false,
      // previewPDFActive: true,
      showSideBar: true,
      showComparePanel: false,
      personalLoan: this.context.PersonalLoan,
      bankPersonalLoan: this.context.PersonalLoan,
      calculator: null,
      filterPL: null,
      islamicPage: this.context.islamicPage,
      pdf: null,
      defaultValues: null,
      isFaq: this.context.pageType === 'business-loan' ? faqbusinessLoan :
       this.context.pageType === 'personal-loan' ? faq : faqOnlineLoan,
    };
  },
  computed: {
    previewPDFActive() {
      return this.$store.state.previewPDFActive;
    },
    showPreview() {
      return this.$store.state.showPreview;
    },
    amount() {
      return this.$store.state.amount;
    },
    tenure() {
      return this.$store.state.tenure;
    },
    income() {
      return this.$store.state.income;
    },
    isFastApproval() {
      return this.$store.state.isFastApproval;
    },
    BTB() {
      return this.$store.state.BTB;
    },
    BTC() {
      return this.$store.state.BTC;
    },
    isFeaturesLoans() {
      return this.$store.state.isFeaturesLoans;
    },
    isFeaturesLongerRepayment() {
      return this.$store.state.isFeaturesLongerRepayment;
    },
    isFeaturesHighLoan() {
      return this.$store.state.isFeaturesHighLoan;
    },
    isPayday() {
      return this.$store.state.isPayday;
    },
    isIslamic() {
      return this.$store.state.isIslamic;
    },
    isGovernmentServant() {
      return this.$store.state.isGovernmentServant;
    },
    isLowestInterest() {
      return this.$store.state.isLowestInterest;
    },
    filterBanks() {
      return this.$store.state.filterBanks;
    },
    defaultMode() {
      return this.$store.state.defaultMode;
    }
  },
  watch: {
    pdf() {
      this.$store.commit("setShowPreview", true);
    },
    previewPDFActive() {
      this.getPreviewPdf();
    },
    amount() {
      this.update();
      this.filterPersonalLoan();
    },
    tenure() {
      this.update();
      this.filterPersonalLoan();
    },
    income() {
      this.update();
      this.filterPersonalLoan();
    },
    BTB() {
      console.log(this.BTB);
      this.update();
      this.filterPersonalLoan();
    },
    BTC() {
      this.update();
      this.filterPersonalLoan();
    },
    isFastApproval() {
      this.update();
      this.filterPersonalLoan();
    },
    isFeaturesLoans() {
      this.update();
      this.filterPersonalLoan();
    },
    isFeaturesLongerRepayment() {
      this.update();
      this.filterPersonalLoan();
    },
    isFeaturesHighLoan() {
      this.update();
      this.filterPersonalLoan();
    },
    isIslamic() {
      this.update();
      this.filterPersonalLoan();
    },
    isGovernmentServant() {
      this.update();
      this.filterPersonalLoan();
    },
    filterBanks() {
      this.update();
      this.filterPersonalLoan();
    },
    isLowestInterest() {
    }
  },
  created: function() {
    this.$store.commit("setAmount", this.context.config.defaultValues.amount);
    this.$store.commit("setTenure", this.context.config.defaultValues.tenure);
    this.$store.commit(
      "setIncome",
      this.context.config.defaultValues.monthlySalary
    );

    this.defaultValues = this.config.defaultValues;
    this.filterPL = new FilterPersonalLoan();
    this.calculator = new Calculator();

    this.calculator.defaultMode = this.defaultMode;
    this.calculator.personalLoans = this.context.PersonalLoan;
    this.calculator.amount = this.amount;
    this.calculator.tenure = this.tenure;
    this.calculator.income = this.income;
    this.calculator.monthly = this.config.monthly;

    this.$store.commit("init", this.calculator.main());

    this.personalLoan = this.$store.state.loans;
  },
  mounted: function() {
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-1");
    });
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-3");
    });
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1476931098104-5");
    });
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-0");
    });
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-4");
    });
    var pldatas = this.personalLoan,
      product_id = [],
      product_name = [],
      product_brand = [],
      product_category = [],
      product_sub_category = [],
      product_pl_rate = [],
      product_bb_speed = [];

    pldatas.forEach(function(element) {
      product_id.push(element.nid);
      product_name.push(element.title);
      product_brand.push(element.personalLoanBank.bank.name);
      product_category.push("Personal Loan");
      product_sub_category.push(
        element.is_islamic ? "Islamic" : "Conventional"
      );
      product_pl_rate.push(element.productInterestRate);
    });
    dataLayer.push({
      event: "viewProductList",
      event_lang: this.config.lang,
      content_type: "product_group",
      // track_id: userManager.data.trackId,
      list_type: "listing",
      list_name: "personal-loan",
      list_size: this.personalLoan.length,
      product_id: product_id,
      product_name: product_name,
      product_brand: product_brand,
      product_category: product_category,
      product_sub_category: product_sub_category,
      product_pl_rate: product_pl_rate
    });
  },
  updated: function() {
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-0");
    });
    googletag.cmd.push(function() {
      googletag.display("div-gpt-ad-1447813095536-4");
    });
  },
  methods: {
    update() {
      this.$store.commit("init", this.context.PersonalLoan);
      this.calculator.result.length = 0;
      this.calculator.defaultMode = this.defaultMode;
      this.calculator.personalLoans = this.context.PersonalLoan;
      this.calculator.amount = this.amount;
      this.calculator.tenure = this.tenure;
      this.calculator.income = this.income;
      this.$store.commit("filterLoans", this.calculator.main());

      this.personalLoan = this.$store.state.loans;
    },
    filterPersonalLoan() {
      this.filterPL.arr.length = 0;
      this.filterPL.personalLoans = this.$store.state.loans;
      this.filterPL.isFastApproval = this.isFastApproval;
      // PH
      this.filterPL.isFeaturesLongerRepayment = this.isFeaturesLongerRepayment;
      this.filterPL.isFeaturesHighLoan = this.isFeaturesHighLoan;
      this.filterPL.isFeaturesLoans = this.isFeaturesLoans;
      this.filterPL.BTB = this.BTB;
      this.filterPL.BTC = this.BTC;

      this.filterPL.fastApproval = this.isFastApproval;
      this.filterPL.isPayday = this.isPayday;
      this.filterPL.isIslamic = this.isIslamic;
      this.filterPL.governmentServant = this.isGovernmentServant;
      this.filterPL.filterBanks = this.filterBanks;
      this.$store.commit("filterLoans", this.filterPL.main());
      this.personalLoan = this.$store.state.loans;
    },
    showEligibility() {
      this.isEligibilityActive = true;
    },
    showEligibilityb() {
      this.isEligibilityBActive = true;
    }
  },
  validations: {}
};
</script>

<style lang="scss">
@import "../../../scss/ph/page-listing";
@import "../../../scss/form-steps.scss";
</style>
