<template>
  <!-- FAQ -->
  <section id="faq">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 faq__content">
					<h2>How Do Online Cash Loans In The Philippines Work?</h2>
					<p class="faq__content--lead">Online cash loan is a loan that you can apply online directly without visiting the lender's office physically. Communication and exchange of information between the borrower and lender will be done online throughout the loan application process.The application is quick and hassle-free. Most online loans are unsecured and will only require minimal documentary requirements. The release of funds is also very convenient as it's directly transferred to your bank account or debit card. However, compared to the conventional personal loans offered by banks or private lenders, the loan amount, especially for first-time borrowers may not be as big.</p>

					<h3>Are Online Loans Legit?</h3>
					<p>Lending companies that legally operate online and cater to Filipinos are required to be registered under DTI. They usually have a physical office set up within the Philippines and can be easily tracked if untoward circumstances arise.</p>
					
					<h3>How Do You Ensure The Online Cash Loan Lender Is Legit?</h3>
					<p>To apply for online cash loans from a legit lender, borrowers will only need to provide supporting documents such as proof of identification, address, and income. They should not be asked to pay an upfront fee of any sort. Applying for a loan from an online loan company is safe, as long as you only deal with the legitimate companies. However, if you are still wary about these new type of loans, you can always apply through conventional <a target="_blank" href="https://www.imoney.ph/personal-loan">personal loans in the Philippines</a> for your peace of mind!</p>

					<h3>How Can I Get A Personal Loan Instantly?</h3>
					<p>Most personal loans online offer quick approval, some offer same-day approval while most is 24 business hours approval. The most common factor that causes a delay in loan approval is incomplete documents. If you want your loan to be approved within the given time frame or as fast as possible, gather all the complete documents first before submitting it to the loan provider.</p>

					<h3>Where Can I Go To Borrow Money Fast?</h3>
					<p>Online loan providers typically provide same-day or 24 hours approval. Simply apply for a loan with these online loan providers through iMoney and get your funds disbursed fast! Among the online loan providers who offer the fastest approval are the following:</p>
					<ul>
						<li>
							<a href="/personal-loan/cashwagon/cash-loan">Cashwagon Cash Loan</a>
						</li>
						<li>
							<a href="/personal-loan/tala/cash-loan">Tala Philippines</a>
						</li>
						<li>
							<a href="/personal-loan/asteria-lending/salary-loan">Asteria Personal Loan</a>
						</li>
					</ul>

					<h3>Can I Apply For A Loan Online?</h3>
					<p>Yes, you can now apply for a loan online. There are various online loans providers in the Philippines and most of them are paperless and hassle free. You just need to apply in their website, fill-in your information, upload your documents, and then wait for a few hours to a day for confirmation.</p>

					<h3>Am I Eligible To Apply For An Online Loan?</h3>
					<p>Online cash loan lenders are not as strict in eligibility compared to conventional banks. For starters, you must at least meet the following criteria:</p>
					<ul>
						<li>Currently residing in the Philippines</li>
						<li>Must be residing in the same address for a year</li>
						<li>Applicants can be employed, self-employed or professional</li>
						<li>The applicant must at least be employed for 1 year in the same company</li>
						<li>Minimum net monthly income as low as ₱6,000, some even have none!</li>
						<li>Must have a bank account and email address</li>
					</ul>

					<h3>How Do I Apply For An Online Loan?</h3>
					<p>Applying for a personal loan online is fast and hassle-free. You can do it in a few simple steps depending on the loan provider.</p>
					<ol>
						<li>On the product list above, click on the "Apply" button on the right-side of the name of the loan product of your choice.</li>
						<li>Fill in the application form.</li>
						<li>You will land on the page signifying a successful application process and you will also receive an automated email with details regarding your application. Alternatively, you can also be redirected to the lender's application page.</li>
						<li>Upload the necessary documents.</li>
						<li>Wait for a call from the lender within 24 hours (1 working day) from the time of application.</li>
						<li>Wait for the money to be released in as fast as 24 business hours up to 5 business days from the approval, depending on the lender.</li>
					</ol>
					
					<h3>What Are The General Documentary Requirements?</h3>
					<ul>
						<li>3 months' pay slips (employed) or bank statements (self-employed)</li>
						<li>Certificate of employment (for employed) or ITR (for self-employed)</li>
						<li>2 Valid IDs</li>
						<li>Utility bill as proof of address</li>
						<li>Bank account under the borrower's name</li>
					</ul>
					
					<h3>No Collateral Or Credit Card Needed</h3>
					<p>Most online cash loans don't require any collateral or a credit card!</p>
					
					<h3>What Are The Loan Terms Offered By Online Cash Loan Lenders?</h3>
					<p>Online cash loans can be considered as short-term loans as their loan tenure is usually up to 12 months, and the turnaround time of the application is usually shorter (around 1 to 3 business days) provided that you fulfilled all the requirements.</p>
					<table>
						<tr>
							<td>
								<strong>Term</strong>
							</td>
							<td>3, 6, 12 months</td>
						</tr>
						<tr>
							<td>
								<strong>Turnaround</strong>
							</td>
							<td>1- 5 business days</td>
						</tr>
						<tr>
							<td>
								<strong>Interest rates</strong>
							</td>
							<td>0.8% - 3% per day</td>
						</tr>
					</table>

					<h3>What Is The Best Online Loan For Me?</h3>
					<p>The answer relies greatly on your needs and eligibility. There are different types of online cash loans for different individuals. For example, there are online loans marketed towards OFWs, entrepreneurs, and the regular salaried employee.</p>
					<p>To choose which type of loan best suits you, check out our list of the <a target="_blank" href="https://www.imoney.ph/articles/online-loans/">top online loans in the Philippines.</a></p>
					
					<h3>What Are The Best Online Loans In The Philippines?</h3>
					<p>Depending on how much you need, when you need it, and your qualification, finding the 'best' online loan will take more consideration than just the loan amount. Here are the recommended online loans to apply for based on different circumstances:</p>
					<table>
						<tr>
							<td>
								<strong>Quick approval with less documents:</strong>
							</td>
							<td>Cashwagon Cash Loan, Tala Philippines</td>
						</tr>
						<tr>
							<td>
								<strong>Low salary requirement:</strong>
							</td>
							<td>Tala Philippines, Cashwagon Cash Loan</td>
						</tr>
						<tr>
							<td>
								<strong>Bigger loan amount:</strong>
							</td>
							<td>Global Dominion Salary Loan</td>
						</tr>
						<tr>
							<td>
								<strong>Longer payment term:</strong>
							</td>
							<td>RFC Personal Loan, Global Dominion Salary Loan</td>
						</tr>
					</table>

					<h3>What Is The Best Online Loan App In The Philippines?</h3>
					<p>Initially, only a few online cash loan providers develop their own app to make the loan application experience easier for their customers. Nowadays, there are various online loan apps that you can just download from Google Play Store to directly apply for a personal loan conveniently. If you want to skip the long queue in banks and just have your online loan application done through your phone, here are a few mobile apps that we recommend:</p>
					<ul>
							<li>
								<a target="_blank" href="https://app.adjust.com/mao0xb8?campaign={campaign_name}&amp;adgroup={sub_publisher}&amp;creative={sub_site}">
								Tala Philippines Mobile App
								</a>
							</li>
							<li>
								<a target="_blank" href="https://control.kochava.com/v1/cpi/click?campaign_id=koph-cashwagon-android-gyep4dhn549925ec2a62d&amp;network_id=8713&amp;ko_exchange=true&amp;site_id=1&amp;device_id=device_id">
								Cashwagon Cash Loan Mobile App
								</a>
							</li>
							<li>
								<a target="_blank" href="https://clk.omgt3.com/?PID=35545&amp;AID=535943">
								Atome Credit Cash Loan
								</a>
							</li>
					</ul>

					<h3>What Are The Usual Payment Options?</h3>
					<p>Online loans have very convenient payment channels. You don't need to visit their office to make a payment over the counter, although you can. Here are other payment channels you can use to make payments for your online loan:</p>
					<ul>
						<li>Bank Transfer</li>
						<li>Remittance Center (M Lhullier, Cebuanna Lhuillier)</li>
						<li>Payment centers</li>
						<li>7-11 (via Dragon Pay)</li>
					</ul>

					<h3>How Do I Use An Online Loan Calculator?</h3>
					<p>Just enter the amount of loan and your preferred payment term. The online calculator will then present loan packages available on the market which matches with the information you entered. The calculator will sort the loan packages from the lowest interest rate and will provide a computation of the monthly repayment.You can click on the "Apply" button beside each loan provider presented to proceed with the application.</p>

					<h3>What Happens When I Default On My Loan?</h3>
					<p>Most online cash loan companies hire a collection agency for defaulted payments. If you default a payment, that will count against your credit history with the lender. The Philippines is yet to have a centralized system to track a person's credit record. However, these lending companies may have access to credit records tracked by private financial entities such as banks and other private lending companies. Chances are high that if you default a loan, it might count against you on your next loan application with another provider.</p>
					<p>Another important matter to take note is that, while jail time isn't a common sanction for defaulted loans, a certain extent of legal action to coerce settlement of unpaid debts will be taken by the creditors.</p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {};
  },
  created: function() {},
  methods: {},
  validations: {}
};
</script>

<style lang="scss" scoped></style>
