<template>
  <!-- FAQ -->
  <section id="faq">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 faq__content">
          <h2>Pinjaman Peribadi Malaysia - Soalan Lazim</h2>
          <p class="faq__content--lead">Sama ada anda ingin membeli perabot baru, membiayai perkahwinan atau bulan madu anda mahupun untuk menyelesaikan hutang, pinjaman peribadi mungkin menjadi jawapan kepada keperluan tunai jangka pendek anda.</p>
          <p class="faq__content--lead">Pinjaman peribadi amat berguna bagi mereka yang memerlukan sejumlah wang tunai dengan segera, sama ada untuk pembelian tiket besar atau sebagai bantuan untuk mengharungi kekangan kewangan jangka masa pendek.</p>

          <h3>Apakah Pinjaman Peribadi?</h3>
          <p>Pinjaman peribadi merupakan pinjaman jangka pendek yang mempunyai tempoh pembayaran balik lebih pendek berbanding gadai janji. Di mana gadai janji memerlukan tempoh pembayaran sepanjang 20, 30 atau 40 tahun, tempoh pembayaran balik pinjaman peribadi biasanya hanya satu hingga lima tahun.</p>
          <p>Tidak seperti <a href="http://www.imoney.my/ms/pinjaman-perumahan/">pinjaman perumahan</a>, pinjaman ini pada kebiasaannya tidak bercagar, ini bermakna anda boleh meminjam wang tanpa memberi sebarang bentuk sekuriti atau aset kepada pemberi pinjaman (bank) seperti rumah atau kereta anda. Walaupun anda tidak memberi apa-apa cagaran, anda masih bertanggungjawab untuk membuat pembayaran balik anda tepat pada masanya. Penalti dan yuran akan dikenakan sekiranya anda gagal membuat pembayaran, malah akan memberi kesan negatif terhadap skor kredit anda.</p>

          <h3>Bagaimanakah Pinjaman Peribadi Di Malaysia Berfungsi?</h3>
          <p>Pinjaman peribadi secara amnya boleh didapati serendah RM1,000 sehingga RM150,000 ke atas. Jumlah pinjaman anda bergantung kepada kelayakan anda (contohnya keupayaan anda untuk membayar balik pinjaman tersebut), serta syarat-syarat yang ditawarkan oleh pemberi pinjaman. Jika anda ingin meminjam lebih daripada julat ini, mungkin pinjaman bercagar adalah pilihan yang lebih baik untuk anda.</p>
          <p>Apabila anda mengambil pinjaman dengan bank, anda akan menandatangani perjanjian pinjaman yang menggariskan jumlah yang dipinjam, kadar faedah dan jumlah bayaran balik bulanan anda. Perjanjian ini juga akan menyenaraikan pembayaran balik pinjaman anda - bayaran bulanan anda berserta tempoh pinjaman dalam tahun dan bulan secara terperinci. Sebagai panduan, semakin lama tempoh pembayaran balik anda, semakin tinggi jumlah pembayaran anda.</p>
          <p>Terdapat dua jenis pinjaman, pinjaman bercagar dan tidak bercagar. Di Malaysia, pinjaman peribadi yang sering dimohon oleh orang ramai adalah pinjaman peribadi tidak bercagar.</p>

          <h3>Cara Penggunaan Kalkulator Pinjaman</h3>
          <p>iMoney menyediakan kalkulator pinjaman peribadi untuk memudahkan pengiraan bayaran dan kadar faedah bulanan anda. Untuk menggunakan kalkulator ini, hanya kembali ke bahagian atas halaman ini, masukkan jumlah yang ingin dipinjam berserta tempoh pinjaman. Sejurus itu, kalkulator akan melakukan semua pengiraan yang perlu untuk memberi penyelesaian yang terbaik dan murah untuk anda.</p>

          <h3>Pinjaman Bercagar Berbanding Pinjaman Tidak Bercagar</h3>
          <h4>Pinjaman Bercagar: </h4>
          <p>Pinjaman bercagar merupakan pinjaman di mana peminjam menawarkan aset mereka, seperti kereta atau rumah sebagai sekuriti atau cagaran bagi pinjaman mereka. Oleh itu, kos pinjaman biasanya adalah lebih rendah daripada pinjaman tidak bercagar. Walau bagaimanapun, peminjam perlu bersikap cermat terhadap keupayaan kewangan mereka untuk membayar balik pinjaman tersebut. Kegagalan membayar balik pinjaman akan menyebabkan aset keselamatan mereka ditarik balik.</p>
          <h4>Pinjaman Tidak Bercagar: </h4>
          <p>Pinjaman tidak bercagar pula adalah lebih sukar untuk didapati kerana peminjam tidak diwajibkan untuk menawarkan sebarang bentuk aset sebagai cagaran. Oleh itu, mereka perlu meyakinkan pemberi pinjaman akan keupayaan kewangan atau kestabilan kredit mereka. Ini adalah untuk memastikan supaya peminjam berkemampuan untuk membayar balik pinjaman tersebut.</p>
          <p>Dengan pinjaman peribadi tidak bercagar, kos pinjaman juga adalah lebih tinggi kerana pemberi pinjaman mengambil risiko yang lebih tinggi semasa menyediakan pinjaman. Walaupun peminjam tidak memberikan apa-apa bentuk cagaran kepada pemberi pinjaman mereka, ini tidak bermakna bahawa mereka boleh melarikan diri daripada membayar balik pinjaman tersebut dengan sepenuhnya. Pemberi pinjaman berhak membawa peminjam ke mahkamah dengan tujuan mengambil alih dan menjual aset peminjam untuk menggantikan sebarang kerugian yang dialami.</p>

          <h3>Kadar Faedah</h3>
          <p>Kadar faedah yang dikenakan seringkali menjadi penentu utama satu perjanjian pinjaman yang baik. Semakin rendah kadar faedah, semakin kecil jumlah pembayaran di atas jumlah asal yang dipinjam. Di Malaysia, kadar faedah yang biasanya dikenakan adalah berdasarkan kadar faedah sama rata. Kadar faedah sama rata adalah sejenis kadar faedah di mana faedah yang dikenakan ke atas jumlah pinjaman asal, tanpa mengambil kira jumlah yang telah dibayar.</p>

          <h3>Yuran &amp; Penalti</h3>
          <h4>Penalti Penyelesaian Awal: </h4>
          <p>Sesetengah bank akan mengenakan penalti sekiranya anda membayar balik kesemua pinjaman anda awal daripada tempoh yang dipersetujui (ini adalah kerana mereka tidak akan memperolehi faedah yang dijangka). Bayaran ini adalah berbeza-beza antara pemberi pinjaman dan boleh mencecah nilai faedah sebanyak 3 bulan.</p>
          <h4>Yuran-yuran Lain: </h4>
          <p>Semak terma dan syarat perjanjian pinjaman anda untuk mengetahui yuran-yuran lain yang terlibat seperti yuran pemprosesan, duti setem dan lain-lain caj (contohnya yuran broker)</p>
          <h4>Kriteria Kelayakan: </h4>
          <p>Ramai pemberi pinjaman mempunyai syarat kelayakan yang ketat seperti umur dan status pendapatan. Kadang kala anda juga mungkin perlu mengemukakan bukti pemilikan aset dan butir-butir tanggungan hutang lain anda.</p>

          <h3>Adakah Pinjaman Peribadi Bagus Untuk Anda?</h3>
          <p>Pinjaman peribadi adalah penting bagi orang-orang yang memerlukan wang tunai segera, sama ada ia adalah pembelian tiket besar atau untuk menangani masalah kewangan jangka pendek. Sebelum anda memohon pinjaman peribadi, fikir sama ada terdapat pilihan pembiayaan lain yang mungkin lebih sesuai dengan keperluan anda. Fikir dengan teliti tentang keupayaan anda membayar balik hutang, serta pertimbangkan apa yang akan berlaku jika anda berhenti menjana pendapatan.</p>

          <h3>Penjelasan Istilah Kewangan</h3>
          <h4>Cagaran: </h4>
          <p>Aset (contohnya rumah) yang dimiliki oleh peminjam, yang diberikan kepada pemberi pinjaman sebagai jaminan bahawa pinjaman yang diberikan akan dibayar balik. Peminjam akan kehilangan aset yang dicagar jika gagal menyelesaikan bayaran balik dengan sepenuhnya.</p>
          <h4>Yuran Penyelesaian Awal: </h4>
          <p>Sejenis penalti yang dikenakan oleh pihak bank sekiranya pinjaman anda dibayar awal daripada tempoh pinjaman dengan sepenuhnya. Yuran ini biasanya dikenakan sebagai sejumlah peratusan daripada jumlah pinjaman anda.</p>
          <h4>Penjamin: </h4>
          <p>Penjamin adalah individu yang telah bersetuju untuk mengambil alih tanggungjawab untuk membayar balik pinjaman anda jika anda gagal atau tidak mampu untuk membayarnya.</p>
          <h4>Caj Bayaran Lewat: </h4>
          <p>Bayaran yang dikenakan oleh pihak bank apabila anda tidak membayar ansuran pinjaman tepat pada masanya.</p>
          <h4>Tempoh Pinjaman: </h4>
          <p>Ini bermakna "tempoh" atau "jumlah tahun". Jika pinjaman rumah anda mempunyai "tempoh" sepanjang 30 tahun, maka proses pembayaran balik pinjaman anda akan mengambil masa 30 tahun.</p>

          <h3>Pinjaman Peribadi Islamik Berbanding Pinjaman Peribadi Konvensional</h3>
          <p>Jadual perbandingan kami menyenaraikan kedua-dua Pinjaman Peribadi Islamik yang berdasarkan rukun Syariah serta pinjaman konvensional. Perbezaan utama antara kedua-dua pinjaman ini adalah cirri-ciri kewangan Islamik yang bergantung kepada perkongsian pemilikan aset serta risiko dan keuntungan / kerugian yang terlibat. Layari laman khusus <a href="http://www.imoney.my/ms/pinjaman-peribadi-islamik/">Pinjaman Peribadi Islamik</a> kami untuk maklumat selanjutnya.</p>
          <p>Untuk tip dan panduan lanjut tentang pinjaman peribadi di Malaysia, lihat panduan lengkap iMoney mengenai <a href="http://www.imoney.my/articles/category/pinjaman-peribadi/">pinjaman peribadi.</a></p>

        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {};
  },
  created: function() {},
  methods: {},
  validations: {}
};
</script>

<style lang="scss" scoped></style>
