<template>
  <!-- FAQ -->
  <section id="faq">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 faq__content">
			<h2>Business Loans In Philippines - FAQ</h2>
			<p class="faq__content--lead">It all starts with an innovative idea. If a lack of business capital is what hinders you from starting your own enterprise then your best option is to take a start-up business loan that will push your venture forward.</p>
			<p>Let us help you compare and find the right financing for your business. Select from our wide range of partner banks and providers so you can avail of additional funding, as fast and as effortless as possible.</p>

			<h3>What Is A Business Loan And How Does It Work?</h3>
			<p>A business loan is a debt created to be specifically used in business operations. Its main purpose is either for the capital needed to cover the initial expenses upon start-up or for additional funding when expanding the business.</p>

			<h3>Do Banks Give Loans To Start A Business?</h3>
			<p>The majority of business loans in the market today are offered by banks and private lending companies to registered businesses or business owners with business licenses. If you’re aspiring to establish a business but don’t have the necessary documents and funds to do so, you can <a href="https://www.imoney.ph/personal-loan">apply for personal loans</a> instead.</p>
			<p>Most of the business loans offered by banks are limited to established businesses. If you’re looking for one to give you a start up capital for your business, either apply for a personal loan or a government loan such as DBP’s business loan which also comes with a certain set of criteria that not everyone can easily meet.</p>
			<p>In case you’re not sure on where to begin, read through our informative guide on <a href="https://www.imoney.ph/articles/guide-how-to-start-small-business">how to start a business</a>, to help you get things going.</p>

			<h3>What Are The Benefits Of Applying For A Business Loan?</h3>
			<p>The biggest advantage of most business loans is the loan amount you can apply for and the flexible payment terms that come with it.  Business loans can grant you as much as PHP2,000,000 with payment terms of 36 months on the average.</p>

			<h3>How Do You Get A Business Loan?</h3>
			<p>You can get a business loan from banks and other private lending institutions that offer such a product. Unlike personal loans, a business loan comes with a certain set of documents that are not easily available to non-business owners, and income requirements can be a bit higher.</p>

			<h3>Am I Eligible For A Business Loan?</h3>
			<p>Are you a business owner? Is your business registered with DTI and BIR? Do you have a bank account under your business? These are just a few of the requirements that you must fulfill in order to qualify for a business loan.</p>
			<p>For the most part, if you said ‘yes’ to the questions above, there’s a high chance that you’re eligible for a business loan. Provided that you have all the legalities covered to operate your business, qualifying for a business loan will be a breeze.</p>

			<h3>What Are The Requirements For Getting A Business Loan?</h3>
			<p>As proof that you have a valid  business, most banks or private lending institutions offering business loans will require you to produce most if not all of the following documents:</p>

			<h4>a. Personal information requirements</h4>
			<p>1 Valid Government ID of the Business Owner or a Board Member. Only the following IDs will be considered:</p>
			<ul>
				<li>Passport, Driver’s License</li>
				<li>TIN ID</li>
				<li>PRC ID</li>
				<li>Postal ID</li>
				<li>Unified Multi-Purpose ID</li>
			</ul>
			<p>Must be the ID of the Business Owner or a Board Member with signature. Scanned ID is also accepted.</p>

			<h4>b. Business information requirements</h4>
			<ol>
				<li>Proof of Billing Address
					<ul>
						<li>Mayor’s Permit, Lease Contract</li>
						<li>Utility Bills (such as Meralco, Water Bills, etc.)</li>
						<li>Only utility bills dated within the last two (2) months can be accepted. Your declared address and other information should match with other Business Documents.</li>
					</ul>
				</li>
				<li>DTI or SEC Certificate
					<ul>
						<li>DTI Certificate for Sole Proprietors
							<ul>
								<li>Watermark should be clearly visible.</li>
								<li>Certification should be in the last 5 years.</li>
							</ul>
						</li>
						<li>SEC Certificate for Corporations</li>
						<li>Dry seal should be clearly visible</li>
						<li>For Partnerships, please submit your updated Article of Partnership together with your SEC Certificate</li>
						<li>Your declared address and other information should match with other Business Documents</li>
					</ul>
				</li>
				<li>BIR Certificate of Registration
					<ul>
						<li>Form 2303</li>
						<li>Your declared address and other information should match with other Business Documents</li>
					</ul>
				</li>

				<li>General Information Sheet
					<ul>
						<li>For corporations only</li>
						<li>Submit copies of all pages of your most recently filed General Information Sheet for verification purposes</li>
						<li>Please ensure that the document has a stamp from the SEC</li>
					</ul>
				</li>
			</ol>

			<h3>What Is The Interest Rate For A Business Loan?</h3>
			<p>There isn’t really a standard interest rate for business loans because it will depend on where you are getting it. Banks offer loans with an interest rate of around 1.20% to 2% per month, while non-banks might have steeper interest rates which are as high as 3.5% a month. The trade-off here, however, is that non-banks usually have more lenient requirements and approval process.</p>

			<h3>What Are The Types Of Business Loans?</h3>
			<ol type="a">
				<li>
					<p>Online business loan<br>
					These loans are offered online and you can apply for it anytime you want and anywhere as long as you have access to the internet. While these loans may offer you better accessibility and convenience, they usually come with more stringent terms of the agreement, lower loan amount, steeper interest rates, and shorter terms.</p>
				</li>

				<li>
					<p>Operating/working capital<br>
					A type of business loan that’s granted to aspiring business owners or entrepreneurs to start their own business. This type of business loan is common in the market today and is mostly offered through government initiatives to support certain demographics and promote economic activity in certain areas.</p>
				</li>

				<li>
					<p>Line of credit<br>
					Commonly offered by banks. It releases a series of funds to a business addressing its recurring need to finance inventory or receivables or a working capital based on your business cycle. Your approved credit line (loan) will be available for you to utilize in phases within a year.</p>
				</li>

				<li>
					<p>Revolving credit<br>
					This type of loan is similar to how a <a href="https://www.imoney.ph/credit-card">credit card</a> works. You are given a certain amount as a loan (a credit limit), and you can use the funds, repay it, and use it again as you desire.</p>
				</li>

				<li>
					<p>Merchant cash advance<br>
					A lump sum of money granted to a business in exchange for a portion of your business’s future income or revenue as repayment.</p>
				</li>

				<li>
					<p>Equipment loan<br>
					A type of business loan that helps business owners purchase or acquire equipments that are normal too expensive to buy in cash. Most of the time, the revenue or earning from the equipment is used to pay for the loan, and at the same time it will serve as the collateral for the loan.</p>
				</li>

				<li>
					<p>Inventory loan<br>
					A type of business loan that functions like a line of credit for a business to purchase stocks (inventory) to sell. The inventory or stocks will then serve as collateral in case it doesn’t get sold or the business is unable to pay.</p>
				</li>
			</ol>

			<h3>How Much Can I Loan For My Business?</h3>
			<p>Business loans usually grant as much as PHP10,000,000 and as low as PHP30,000. The amount of loan granted to your business will be subject to the bank or loan provider’s approval. If you want to apply for bigger loans, banks are the best providers for such, offering a high amount and long term business loans with flexible terms and lower interest rates.</p>

			<h3>How Long Can I Re-pay A Business Loan?</h3>
			<p>Business loans usually come with flexible payment terms, the shortest would be 1 year while the longest is 5 years.</p>

			<h3>How do you get approved for a Business Loan?</h3>
			<p>The evaluation process will vary from every business loan provider. Banks will have a more stringent process and may require more documents than non-bank loan providers. To increase your chances of getting approved for a business loan, make sure you provide all the necessary documents, especially the business registration and proof of income (your bank account must have a consistent transaction reflecting your business earning for at least three months).</p>
			<p>Government loans, on the other hand, is a different story. They may impose less strict screening processes than banks, especially for government loan programs like Small Business Puhunan Loan (SBLP) by the Development Bank of the Philippines (DBP). The downside to this is that the process will be longer than banks.</p>

			<h3>Is There A Government Business Loan? How Can I Apply For One?</h3>
			<p>The most prominent one is the SBPLP offered by DBP. This business loan is offered to micro and small-sized enterprises with existing current accounts either with DBP or other banks. The aim is to expand access for micro and small borrowers to bank financing.</p>
			<p>You can read more about it on <a href="https://www.dbp.ph/developmental-banking/micro-small-and-medium-enterprises/small-business-puhunan-loan-program-sbplp/#:~:text=The%20DBP%20Small%20Business%20Puhunan,they%20can%20avail%20bigger%20loans." target="_blank">DBP’s SBPLP page.</a></p>
			<p>Meanwhile, there’s also a government-led financing program for OFWs called the OFW Reintegration Program to provide business opportunities to OFWs with the aim to resettle in the country after working overseas.</p>
			<p>You can head to Land Bank’s <a href="https://www.landbank.com/loans/business-loan/for-ofws/ofw-reintegration-program" targets="_blank">OFW Reintegration Program</a> page to learn more about it.</p>

			<h3>List Of A Few Online Business Loan Providers In The Market</h3>
			<ol type="a">
				<li>
					<p><a href="https://www.imoney.ph/personal-loan/first-circle/business-loan">First Circle</a><br>
					First circle is not your typical online lending company. They’re the first to have branded themselves as a fintech company that provides financing opportunities to business entities. The main market of their services is Small and Medium Enterprises, helping them grow with convenient access to financial services.</p>
				</li>

				<li>
					<p><a href="https://www.imoney.ph/personal-loan/esquire-financing/sme-business-loan">Esquire Financing</a><br>
					This lending company targets entrepreneurs and small to medium business owners. The Philippines has over a million registered businesses today, 99.6% of which are considered as SMEs and not all of them have access to financial institutions that will grant them enough funding for their businesses.</p>
					<p>Esquire targets this market and they proudly advocate entrepreneurism among small and medium enterprise (SME) owners. This financial company makes funding easier to access for SME owners.</p>
				</li>

				<li>
					<p><a href="Global Dominion Doctor’s Loan">Global Dominion Doctor’s Loan</a><br>
					This financial services provider is among the well-established private lending companies in the country. They have more comprehensive loan products that cater to a wider demographic and more varied financial needs of Filipinos. They have many branches across the country and one can also choose to do a walk-in application in their branches.</p>
					<p>Global Dominion offers a much wider variety of loan products tailored to the general public and individuals from different professions, just like the Doctor’s Loan which is tailored to Dentists, Physicians, and other Medical Specialists with Active PRC ID.</p>
				</li>

				<li>
					<p><a href="https://www.imoney.ph/personal-loan/rfc/business-loan">RFC Business Loan</a><br>
					RFC is one of the longest-running private finance/lending companies in the Philippines. The company was established in 1964 and they pioneered offering non-bank car and appliance loans to Filipinos. Their business loan is applicable to SMEs and even big corporations.</p>
				</li>
			</ol>
			<p>For a more in-depth comparison, read about our discussion on the <a href="https://www.imoney.ph/articles/small-sme-business-loans/">best business loans for SME</a>s and review their pros and cons as well as their application requirements.</p>

			<h3>Business Loan Terms</h3>
			<table class="table-terms">
				<tbody>
					<tr>
						<td>
							<strong>Term loans</strong>
						</td>
						<td>
							A regular monetary loan that is settled by the borrower over a set period of time. The length of the period is agreed upon the borrower and the lender.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Microloans</strong>
						</td>
						<td>
							Smaller amount of loans given to lower income groups.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Business lines of credit</strong>
						</td>
						<td>
							An amount of loan where borrowers can only pay the interest or a portion of that loan, as long as borrowers won&rsquo;t exceed their given credit limit. Think of how credit cards work.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Equipment financing</strong>
						</td>
						<td>
							Borrowers can rent or lease machinery or equipment. Borrowers won&rsquo;t need a big amount of money or capital for the equipment upfront, but can continue operating.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Tenor or repayment period</strong>
						</td>
						<td>
							The length of time a borrower has to pay the loan.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Annual Percentage Rate (APR)</strong>
						</td>
						<td>
							The total percentage of the fees that you pay annually for the loan, this includes the interest and additional fees.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Default</strong>
						</td>
						<td>
							This generally means violation of the loan agreement and commonly incurred by missed payments.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Fixed asset</strong>
						</td>
						<td>
							A tangible asset such as a property which can be used as a collateral.
						</td>
					</tr>
					<tr>
						<td>
							<strong>Principal</strong>
						</td>
						<td>
							The original amount of the loan before the interest rates and other fees are computed.
						</td>
					</tr>
				</tbody>
			</table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {};
  },
  created: function() {},
  methods: {},
  validations: {}
};
</script>

<style lang="scss" scoped>
table.table-terms{
	tr{
		td{
			&:first-child{
				min-width: 110px;
			}
		}
	}
}
</style>
