<template>
  <!-- FAQ -->
  <section id="faq">
    <div class="container">
      <div class="columns">
        <div class="column is-8 is-offset-2 faq__content">
          <h2>Personal Loans In Philippines - FAQ</h2>
          <p class="faq__content--lead">If you have short-term money needs, a personal loan can be the answer. With no collateral needed, you can easily apply for a personal loan at any bank in the Philippines. To learn more about the basics of personal loans, we've compiled this FAQ for your convenience.</p>

          <h3>What Is A Personal Loan?</h3>
          <p>True to its name, a personal loan is a loan for any personal expense. Unlike a housing loan or a car loan, you can use a personal cash loan for anything you want, be it tuition fees, travel, or anything else.</p>
          <p>There are two types of personal loans available: secured and unsecured. A secured personal loan requires collateral, such as a house or car, to back the loan. For unsecured personal loans, you don't need to put up any kind of collateral. Unsecured personal loans are much more common in the Philippines, though secured loans are also available.</p>

          <h3>How Do Personal Loans In The Philippines Work?</h3>
          <p>When you take out a personal loan in the Philippines, you enter into an agreement with the lender (usually a bank) and promise to repay your loan over an agreed length of time (also known as the loan tenure or loan tenor). If you're taking out a secured loan, you will also need to put up a collateral.</p>
          <p>To repay your personal loan, you make monthly payments for the loan tenure until you've fully repaid both the principal of the loan and the interest. During the early years of the loan, the majority of your monthly payments will be used to repay interest, however, as time passes, a larger proportion of your payments will go into paying down the principal.</p>
          <p>Rates vary from bank to bank. For example, a Security Bank personal loan has an effective interest rate of 29.48%, while another personal loan has an effective interest rate of 26.62%. For the latest rates, use our personal loan calculator.</p>

          <h3>Which Bank Offers The Lowest Interest On Personal Loans?</h3>
          <p>Most personal loans from banks in the Philippines offer attractive interest rates for their personal loans. While standard monthly interest rates are around 1.5% to 2%, you can get lower deals for more specific types of personal loans like OFW loans or personal loan for business expansion. Depending on the specifications of your needs, you avail the lowest rates on personal loans from these banks.</p>
          <table align="center">
            <thead>
              <tr>
                <th>Bank</th>
                <th>Monthly Interest Rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Citi Personal Loan</td>
                <td>As low as 1.3%</td>
              </tr>
              <tr>
                <td>EastWest Bank Personal Loan</td>
                <td>As low as 1.89%</td>
              </tr>
              <tr>
                <td>HSBC Personal Loan</td>
                <td>As low as 1.22%</td>
              </tr>
              <tr>
                <td>BPI Personal Loan</td>
                <td>As low as 1.5%</td>
              </tr>
            </tbody>
          </table>

          <h3>Which Bank Is Best For Personal Loans In Philippines?</h3>
          <p>The best bank for your personal loan needs will vary according to your qualification and/or your preference. There are banks who offer low interest rates but their payment terms may not be as attractive. Meanwhile, you may get a loan with better tenure but a less appealing interest rate. Quick loans from non-traditional lending companies will grant loans with less paperwork but their interest rate may be a lot more than what banks offer. Depending on what you value most, you'll get the best deals for every category from different loan providers.</p>
          <table align="center">
            <tbody>
              <tr>
                <td>
                  <strong>Low Interest Rate</strong>
                </td>
                <td>HSBC (1.3% per month)</td>
              </tr>
              <tr>
                <td>
                  <strong>Bigger Amount</strong>
                </td>
                <td>Citibank (Up to ₱2,000,000)</td>
              </tr>
              <tr>
                <td>
                  <strong>Longer Tenure</strong>
                </td>
                <td>Citibank (Up to 5 years)</td>
              </tr>
              <tr>
                <td>
                  <strong>Quick Approval</strong>
                </td>
                <td>Cashwagon Cash Loan, Asteria Personal Loan, Tala Philippines</td>
              </tr>
              <tr>
                <td>
                  <strong>Minimal Documents</strong>
                </td>
                <td>Tala Philippines</td>
              </tr>
            </tbody>
          </table>

          <h3>How Much Can You Borrow?</h3>
          <p>You can borrow loan amounts as much as ₱2,000,000 when you apply for a personal loan from a bank, though it will still be subject for evaluation and may or may not be approved based on your capacity to pay. Meanwhile, private lenders on the average mostly offer from ₱10,000 to ₱200,000. Private lenders, unlike banks, don't usually have a standard maximum loan amount. However, many of them do base their approved loan amount on the borrower's income.</p>
          <p>For your reference, below are the different personal loan providers and the maximum amount of loans they offer.</p>
          <table align="center">
            <thead>
              <tr>
                <th>Provider</th>
                <th>Max Loan Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Citi Personal Loan</td>
                <td>₱2,000,000</td>
              </tr>
              <tr>
                <td>EastWest Bank Personal Loan</td>
                <td>₱2,000,000</td>
              </tr>
              <tr>
                <td>Security Bank Personal Loan</td>
                <td>₱2,000,000</td>
              </tr>
              <tr>
                <td>Cashwagon Personal Loan</td>
                <td>₱20,000</td>
              </tr>
              <tr>
                <td>RFC Personal Loan</td>
                <td>₱50,000</td>
              </tr>
              <tr>
                <td>Global Dominion Salary Loan</td>
                <td>₱100,000</td>
              </tr>
              <tr>
                <td>South Asialink OFW Loan</td>
                <td>₱250,000</td>
              </tr>
            </tbody>
          </table>

          <h3>What Is The Best Place To Get A Personal Loan?</h3>
          <p>There is a type of personal loan for every financial need. To get the most out of what banks and private lending companies have to offer, applying for a specific personal loan that's appropriate for your needs (starting a business, home renovation, etc) and/or branded for your profession (OFW loan, Doctors loan). This will give you more flexibility to pay back the amount you've borrowed.</p>

          <h3>What Are The Best Personal Loans?</h3>
          <p>Depending on what you do, here are our personal loan recommendations.</p>
          <table align="center">
            <tbody>
              <tr>
                <td>
                  <strong>Online Cash Loans</strong>
                </td>
                <td>
                  <ul>
                    <li>Asteria Personal Loan</li>
                    <li>Cashwagon Cash Loan</li>
                    <li>Tala Philippines</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>OFW Loan</strong>
                </td>
                <td>
                  <ul>
                    <li>BPI OFW Loan</li>
                    <li>Global Dominion OFW Loan</li>
                    <li>South Asialink OFW Loan</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Doctors Loan</strong>
                </td>
                <td>
                  <ul>
                    <li>Global Dominion Doctors Loan</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Business Loan</strong>
                </td>
                <td>
                  <ul>
                    <li>Esquire Business Loan</li>
                    <li>First Circle Business Loan</li>
                    <li>Zenith Business Loan</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Salary Loan</strong>
                </td>
                <td>
                  <ul>
                    <li>Global Dominion Salary Loan</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  <strong>Regular Bank Loan</strong>
                </td>
                <td>
                  <ul>
                    <li>Citibank Personal Loan</li>
                    <li>EastWest Bank Personal Loan</li>
                    <li>Security Bank Personal Loan</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h3>How Can I Get A Personal Loan Fast?</h3>
          <p>As a general rule of thumb, you must submit the complete documents required by the bank or loan provider. Even a single missing requirement such as a valid ID or an incomplete form will take out a day or two from the loan application verification, thus delaying the disbursement of your loan further.</p>
          <p>On the other hand, quick loans offered by non-traditional loan providers (private lenders) like Cashwagon, Asteria, and Global Dominion offer fast disbursement of the funds. However, their interest rates and loan tenure may not be very favorable for the borrower. They're basically good for short term loans for people with urgent financial needs.</p>
          <p>Banks such as Citibank also offer quick loans with more competitive rates and tenure. The only challenge posed by banks who offer such product is their stringent evaluation process which not everyone may be able to comply with.</p>
          
          <h3>What Are The Best Online Loans?</h3>
          <p>Online loans are rising in the Philippines, and there is now a handful of providers for this type of financial product. There are various types for different needs, which means finding an online cash loan that perfectly fits your needs will depend on how much you need and when you need it. To help you sort out the different 
            <a href="https://www.imoney.ph/online-loan" target="_blank">
              <strong>online loans in the Philippines</strong>
            </a> and which one may suit you best, we listed them down for you!
          </p>
          <table align="center" class="table-responsive">
            <thead>
              <tr>
                <th>Online Loan Provider</th>
                <th>Pros</th>
                <th>Cons</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-title="Online Loan Provider">Cashwagon Cash Loan</td>
                <td data-title="Pros">
                  <ul>
                    <li class="list-bullet">Same day approval</li>
                    <li class="list-bullet">Only valid ID required</li>
                    <li class="list-bullet">Instant disbursement to your bank account</li>
                  </ul>
                </td>
                <td data-title="Cons">
                  <ul>
                    <li class="list-bullet">Loan amount of up to ₱20,000 only</li>
                    <li class="list-bullet">Loan tenure of 1 month only</li>
                    <li class="list-bullet">Interest rate - 40% of approved amount</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td data-title="Online Loan Provider">Asteria Personal Loan</td>
                <td data-title="Pros">
                  <ul>
                    <li class="list-bullet">1-day approval</li>
                    <li class="list-bullet">Instant disbursement to your bank account</li>
                  </ul>
                </td>
                <td data-title="Cons">
                  <ul>
                    <li class="list-bullet">Loan amount up to ₱20,000 only</li>
                    <li class="list-bullet">Max loan tenure of 3 months</li>
                    <li class="list-bullet">With processing fee of 10% of loan amount</li>
                    <li class="list-bullet">Interest - 24% per month</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td data-title="Online Loan Provider">Global Dominion Salary Loan</td>
                <td data-title="Pros">
                  <ul>
                    <li class="list-bullet">No collateral required</li>
                    <li class="list-bullet">Higher loan amount up to ₱100,000</li>
                  </ul>
                </td>
                <td data-title="Cons">
                  <ul>
                    <li class="list-bullet">Loan approval in 1-3 days</li>
                    <li class="list-bullet">Interest rate - 1.5% per month</li>
                    <li class="list-bullet">Loan term up to 12 months only</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td data-title="Online Loan Provider">TALA Philippines</td>
                <td data-title="Pros">
                  <ul>
                    <li class="list-bullet">Only needs valid ID and smartphone</li>
                    <li class="list-bullet">Loan approval within the day</li>
                    <li class="list-bullet">Wide range of cash disbursement options</li>
                  </ul>
                </td>
                <td data-title="Cons">
                  <ul>
                    <li class="list-bullet">Loan amount up to ₱10,000 only</li>
                    <li class="list-bullet">Max of 1-month loan tenure only</li>
                    <li class="list-bullet">Interest rate - 15% per month</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>

          <h3>How Do I Use A Personal Loan Calculator?</h3>
          <p>All you have to do is to specify the amount and period you want to clear the payment for it in the available fields. The online calculator will then make it easy for you by providing suitable loan packages that are available on the market, and the monthly amortizations for each one. It is worth noting that the best rates will be featured at the top.</p>
          <p>If you wish to sign up for a personal loan, just click on the Apply button, fill out the required fields and our iMoney representatives will get in touch with you. You will also receive email notifications regarding your application so make sure that you use your updated contact information.</p>

          <h3>What Are OFW Loans?</h3>
          <p>OFW loans are personal loan specific to the qualifications of Overseas Filipino Workers (OFWs). Unlike regular loans, it usually provides a bigger loan amount and the requirements are more suited for OFWs.</p>
          <p>There are various types of personal loans for OFWs. The products are branded according to the OFW's profession and current location. These OFW loans are as follows:</p>
          <ul>
            <li class="list-bullet">OFW Personal Loan</li>
            <li class="list-bullet">Pinoy Abroad Loan</li>
            <li class="list-bullet">Seaman Loan</li>
          </ul>

          <h3>How Can I Get A Loan For OFW?</h3>
          <p>OFWs who are overseas and are in the Philippines can both apply for a personal loan. However, there are specific types of loans for both conditions.</p>
          <p>For those who are currently overseas, they can apply for Pinoy Abroad Loans. This is a personal loan that can be applied for by the OFW through an authorized representative such as their immediate family, automatically making that person a guarantor.</p>
          <p>Meanwhile, there are also loans provided to OFWs who are in the Philippines and this can either be a pre-deployment OFW loan or a plain OFW personal loan. Nonetheless, both will require the OFW's Overseas Employment Certificate (OEC) and other documents showing proof of their legitimacy as OFWs.</p>

          <h3>What Are The Requirements For OFW Loan?</h3>
          <p>With OFWs being recognized as non-traditional employed workers in the Philippines, their requirements are also different from those who are employed in the Philippines. For one, there is no need for an Income Tax Receipt (ITR) from BIR, instead, they will only need the following:</p>
          <ol>
            <li>Loan application form</li>
            <li>Payslips</li>
            <li>POEA contract</li>
            <li>OEC</li>
            <li>Passport</li>
            <li>Visa</li>
          </ol>

          <h3>How Can I Avail An OFW Loan In SSS?</h3>
          <p>OFW loan from SSS will only be granted to OFWs who managed to continue paying for their 
            <a href="https://www.imoney.ph/articles/social-security-system-basics/" target="_blank">monthly contribution with SSS</a>. Monthly premiums can be settled in the Philippine Embassies found in their respective country of deployment.
          </p>
          <p>Once the premium is settled, the OFW can start their application process via 
            <a href="https://www.imoney.ph/articles/sss-online/" target="_blank">SSS online</a> portal. They just need to register and download the 
            <a href="https://www.sss.gov.ph/sss/DownloadContent?fileName=mlp_01287.pdf" rel="nofollow" target="_blank">SSS member loan application form</a> and submit it to the nearest SSS representative branch (mostly in Philippine Embassies).
          </p>

          <h3>How Can I Get An OFW Loan In OWWA</h3>
          <p>Overseas Workers Welfare Association also known as OWWA is a government agency that's solely focused on overseeing and managing the welfare of OFWs. One of the many programs that they offer to OFWs is the OFW loan.</p>
          <p>OWWA loan for OFWs is not for everyone. Here's why:</p>
          <ul>
            <li>It's only granted to OFWs who are planning to set up a business in the Philippines.</li>
            <li>Documents showing proof of your business plans are required.</li>
            <li>It will require collateral that possess high value such as a property or a vehicle.</li>
          </ul>
          <p>OWWA loan is strictly granted as a business loan to OFWs. If your intention aligns with this type of loan, here is what you need to do.</p>
          <ol>
            <li>Visit an OWWA Office near you to inquire about the OWWA loan.</li>
            <li>Complete their training.</li>
            <li>Secure the Enterprise Development Training (EDT) certification.</li>
            <li>Submit the other requirements to Landbank for evaluation.</li>
            <li>Processing will take about 45 days upon the submission of the complete documents.</li>
          </ol>
          <p>If you need more information, you can read our 
            <a href="https://www.imoney.ph/articles/complete-owwa-guide/" target="_blank">detailed OWWA guide</a> for in-depth discussion on the benefits, programs, and services that OWWA offers. 
          </p>

          <h3>Loan Terms</h3>
          <p>
            <strong>Collateral:</strong>
            <br>This refers to the asset the borrower pledges to a given lender in order to secure a loan and this will be impounded by the lender in case of default in payment of the loan.
          </p>
          <p>
            <strong>Early settlement penalties:</strong>
            <br>The fees that the borrower will have to pay in the event that he/she settles the loan at an earlier date from the one specified on the loan agreement. This is usually estimated as a percentage of the initial loan amount.
          </p>
          <p>
            <strong>Guarantor:</strong>
            <br>This is a person who agrees to be liable for the payment of a loan in the event that the borrower will be unable to pay for it on time.
          </p>
          <p>
            <strong>Late Payment Charges:</strong>
            <br>This is the fee which the bank will charge you in the event of non-payment of your loan on the agreed time schedule. For example, for BPI personal loans, late payments are charged 5% a month.
          </p>
          <p>
            <strong>Loan/Financing Tenure:</strong>
            <br>This refers to the time period for a certain loan. At the end of the loan tenure, the borrower is supposed to have cleared the loan taken.
          </p>







          
          <!-- <h2>Personal Loans in Malaysia - FAQ</h2>
          <p class="faq__content--lead">Your short-term money needs can be met by applying for a personal loan. Get relieved off the stress occasioned by urgent needs in times when you are hard up. This could help in scenarios when you want to acquire new furniture or when you have run short of funds for your honeymoon or wedding. This is highly convenient and it is a quick option for those who are in dire need of funds to rescue themselves from sudden money deficits or even the acquisition of a property that has been desired for long at the cost of an arm and a leg.</p>

          <h3>The Definition Of A Personal Loan</h3>
          <p>A personal loan is simply a short-term loan that has a relative short repayment period in comparison to mortgages. While one can fully offset a mortgage for as long as 30, 20 or 50 years you have to fully settle the personal loan for a period which should not exceed 10 years, this being variable depending on the amount loaned.</p>
          <p>The personal loan is quite distinct from the home loan as the personal loan is unsecure. This implies that for the personal loan the client can borrow a given amount of money without the lender asking for any form of security or asset for the loan being offered. It is good to note that while no form of security is required the client is supposed to ensure that he/she makes timely payment to avoid some penalties which might impact negatively on their credit rating.</p>

          <h3>What Is The Difference Between <a href="https://www.imoney.my/personal-loan-islamic">Islamic loans</a> And Other Conventional Loans?</h3>
          <p>Despite the end goals and results for taking these loans being similar they employ or obey different principles at the time of their acquisition as well as the penalties that defaulters may attract. The Shariah laws normally apply in Islamic loans.</p>
          <p>But the conditions for both these forms of loans are basically the same as one is given a fixed amount of money which they are expected to pay at regular intervals these being inclusive of the specified interest rates till completion of the payment.</p>

          <h3>What Is The Situation Like In Malaysia?</h3>
          <p>In Malaysia one can be able to get access to personal loans, which can be as low as RM 1000 with some even exceeding the RM 150,000 mark. The loan amount that one can be able to access is determined by the individual needs as well as their ability to repay the loan. The terms offered by the given lender will also influence the decision to be made by the client. In a situation where one needs a loan amount that exceeds what is being offered by the lender one has the alternative of taking a secured loan.</p>
          <p>If you choose the lender to be a bank, you have to follow the necessary procedure which could involve a loan agreement which will specify details such as the amount borrowed, the interest rate being charged and the amount that is to be paid on a monthly basis. The repayment terms will also be included in the loan agreement that is the monthly payment and how long the loan payment period will be. It is a given fact that the longer repayment periods will attract higher cumulative amounts for the payment of the loan.</p>
          <p>The types of loan offered could either be secured or unsecured loans. The personal loans that most opt for in Malaysia are the unsecured type.</p>

          <h3>Unsecured Vs. Secured Loans</h3>
          <p><strong>A secured loan:</strong><br>
          This is basically a loan in which the borrowers offer some of their assets for instance a car to act as a form of security or as a <a href="http://en.wikipedia.org/wiki/Collateral_(finance)" rel="nofollow" target="â€_blankâ€">collateral</a> for the loan. This makes the borrowing of such a loan attract relatively lower rates than for the unsecure loans. One should be cautious with this option as failure to meet the payment requirements might lead to one losing the asset he/she pledged as a collateral or security.</p>
          <p><strong>An unsecured loan:</strong><br>
          Its acquisition might turn out to be tedious as it does not require any security or collateral. The financial and credit worthiness of an individual will be great determinants of whether the loan will be awarded to them or not. These are measures that are meant to ensure or guarantee payment of a specified loan.</p>
          <p>In case a borrower defaults or is unable to complete the payment he/she could be taken to court after which the sale of ones property could be the only way to get the required amount but this is indirect and different from the case of secured loans.</p>

          <h3>Interest Rates</h3>
          <p>As alluded to earlier the good packages are the ones that attract relatively lower interest rates. This will make the cumulative amount to be paid to be much less. The market situation in Malaysia is one in which the interest rates are charged on a flat rate basis. The flat interest rate refers to a type of interest in which case the interest is charged on the original amount, this having nothing to do with what was paid initially.</p>

          <h3>The Possible Fees And Penalties</h3>
          <ol>
            <li>
              <h4>The Early Settlement Penalty;</h4>
              <p>Some banks will charge one a penalty fee for paying an amount earlier than agreed as they feel that they would not have earned enough interest on the amount loaned. The figure for this is highly variable but at times it could be as high as the interest that could be accrued in three months.</p>
            </li>
            <li>
              <h4>Other Fees;</h4>
              <p>It is recommended that you go through the loan agreement to familiarize yourself with the other fees that may be required for a certain loan. These could include the stamp duties, processing fees as well as other one-time charges.</p>
            </li>
          </ol>

          <h3>Eligibility Criteria:</h3>
          <p>Most of the lender have tight rules as far as eligibility is concerned. The eligibility terms could range from the income or even age requirements. At times the client may be asked to give the lender proof for the ownership of certain property or any other assets. Your debt liabilities would not be spared either.</p>

          <h3>Some Of The Common Personal Loan Terms</h3>
          <h4>Collateral:</h4>
          <p>This refers to the asset the borrower pledges to a given lender in order to secure a loan and this will be impounded by the lender in case of default in payment of the loan. The case in Malaysia particularly for the islamic personal loans don require the need for a collateral.</p>
          <h4>Early settlement penalties:</h4>
          <p>The fees that the borrower will have to pay in the event that he/she had settled the loan at an earlier date from the one specified on the loan agreement. This is usually estimated as a percentage of the initial loan amount.</p>
          <h4>Guarantor:</h4>
          <p>This a person who agrees to be liable for the payment of a loan in the event that the borrower will not be in a position to pay it in time.</p>
          <h4>Late Payment Charges:</h4>
          <p>This is the fee that the bank will charge you in the event you are not able to pay your loan in the agreed time schedule. The borrower has to pay for this additional fee and it is mostly at the rate of 1 % per annum.</p>
          <h4>Loan/Financing tenure:</h4>
          <p>This refers to the period for a certain loan. At the end of the loan tenure the borrower is supposed to have cleared the loan taken.</p>

          <h3>Making Use Of A Loan Calculator To Determine The Best Personal Loan</h3>
          <p>Personal loans, just like other loans, come in different forms. All the lenders have different packages with various terms. To make a prudent decision especially in the times that you are short of money, you ought to compare the different rates available in the market. You could best achieve this by making use of the iMoney's online calculator.</p>
          <p>Getting started is pretty easy, all you have to do is to indicate the loan you prefer and specify the amount and period you want to clear the payment of it in the various available fields. The online calculator will then make it easy for you by providing suitable loan packages that are available on the market, and it is worth noting that the best rates will feature at the top. If you wish to sign for a personal loan you will then click on the <a href="https://www.imoney.my/personal-loan/">Apply</a> button.</p>

          <h3>Which Bank Has The Lowest Interest For A Personal Loan?</h3>
          <p>For the general public, Alliance Bank currently offers the lowest interest rates, starting at 5.33% per annum. Government employees can get even lower rates at Co-op Bank Pertama, which offers profit rates starting at 4.15% per annum.</p>
          <table style="max-width:330px;">
            <thead>
              <tr>
                <td><a href="/personal-loan/alliance-bank/cashfirst-personal-loan"><strong>Alliance Bank CashFirst Personal Loan</strong></a></td>
              </tr>
            </thead>
            <tr>
              <td>
                  <span class="extra-info">Interest Rate (p.a.)</span><br>
                  <strong>5.33% - 15.28%</strong>
              </td>
            </tr>
          </table>
          <br>
          <table style="max-width:330px;">
            <thead>
              <tr>
                <td><strong>CBP Personal Financing-i Lestari</strong></td>
              </tr>
            </thead>
            <tr>
              <td>
                  <span class="extra-info">Interest Rate (p.a.)</span><br>
                  <strong>4.15% - 4.75%</strong>
              </td>
            </tr>
          </table>

          <h3>Which Bank Is The Easiest To Get A Personal Loan From?</h3>
          <p>Alliance Bank is one of the top banks to get a personal loan from. The process of getting a personal loan - from application to disbursement - is easy and convenient. Alliance Bank has always focused on delivering a great customer experience during this process.</p>

          <h3>Which Personal Loan Is The Best In Malaysia?</h3>
          <p>The best Personal Loan really depends on your needs and financial situation. To determine the best personal loan for you, consider which plans you are able to qualify for, what interest or profit rates they offer and how much additional fees are being charged.</p>
          <p>If you are a government employee earning at least RM2,000 a month, Co-op Bank Pertama offers the lowest profit rates, starting at 4.15% per annum.</p>
          <p>If you are a private sector employee earning at least RM3,000 a month, Alliance Bank offers the lowest profit rates, starting at 5.33% a month.</p>

          <h3>What Is The Best Place To Get A Personal Loan?</h3>
          <p>You can use iMoney’s loan calculator to compare dozens of personal loan plans at a glance. When you apply for a personal loan through iMoney, our expert advisors will take you through the entire application process.</p> -->

          <!--
          <div>
            <h3>What do Customers Say about iMoney?</h3>
            <div itemtype="http://schema.org/Product" itemscope="">
              <meta content="personal loan Malaysia" itemprop="name">
              <p itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">
                iMoney.my is rated<span itemprop="ratingValue">4.8</span>/5 based on<span itemprop="reviewCount"> 610</span> reviews from the last 12 months. <a href="https://www.imoney.my/testimonials" rel="nofollow">Read more reviews</a>.
              </p>
              <blockquote itemtype="http://schema.org/Review" itemscope="" itemprop="review">
                <meta content="personal loan calculator" itemprop="itemReviewed">
                  <p>
                    <strong><span itemprop="author">Belinda Wong</span></strong> rated iMoney 
                    <span itemtype="http://schema.org/Rating" itemscope="" itemprop="reviewRating" title="5.0 / 5">
                      <span itemprop="ratingValue">5.0</span> out of 5 on 
                      <span content="2017-15-01" itemprop="datePublished"> January 15, 2017</span>
                    </span>
                  </p>
                  <p itemprop="reviewBody">iMoney has provided me with valuable information on the lowest monthly repayments for Personal Loans. Helped me make the best decision easily while saving me a lot of money! Thanks iMoney!</p>
              </blockquote>
            </div>
          </div>
          -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {};
  },
  created: function() {},
  methods: {},
  validations: {}
};
</script>

<style lang="scss" scoped></style>
