<template>
  <section id="calculator" class="container is-hidden-tablet">
     <div class="filter-cc__section filter-cc__section--features">
          <div class="filter-label">{{ translate('Type of Commercial Transaction') }}</div>
          <div class="field">
            <div class="filter-group">
              <input
                id="BTB"
                v-model="BTB"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="B2C"
                type="checkbox"
                :value="BTB"
              />
              <label for="BTB" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">Business to Business</span>
              </label>
            </div>   
            <div class="filter-group">
              <input
                id="BTC"
                v-model="BTC"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="B2C"
                type="checkbox"
                :value="BTC"
              />
              <label for="BTC" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">Direct to Consumer</span>
              </label>
            </div>            
             
          </div>
        </div> 
    <div class="field-group">
      <h4>{{ translate("I want to borrow") }}</h4>
      <b-tooltip
        :label="checkMaxOrMinAmount.checked ? `${translate(checkMaxOrMinAmount.message)} ${checkMaxOrMinAmount.amount}` : ''"
        position="is-bottom"
        animated
        :always="checkMaxOrMinAmount.checked"
        :active="checkMaxOrMinAmount.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">₱</a>
          </p>
          <p class="control is-expanded">
            <input v-if="loanAmountVisibility === false"
              type="text"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              :value="amount"
              pattern="[0-9]*"
              @input="updateValue"
              v-on:keypress="validateMoneyFormat(event, 'amount')"
              @blur="onBlurLoanAmount"
            >
            <input v-if="loanAmountVisibility === true"
              type="text"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              :value="addCommas(amount)"
              @input="updateValue"
              @focus="onFocusLoanAmount"
            >
          </p>
          <!-- bind "is-danger" class for input validation error -->
        </div>
      </b-tooltip>
    </div>
    <div class="field-group">
      <h4>{{ translate("for") }}</h4>
      <b-field>
        <b-select placeholder="Tenure" expanded v-model="tenure">
          <option v-for="(index) in tenureFromProducts" :value="index" :key="index"> {{index}}</option>
        </b-select>
        <p class="control">
          <span class="button is-static">{{  monthly ? translate("months") : translate("years")  }}</span>
        </p>
      </b-field>
    </div>
    <div class="field-group">
      <label>{{ translate("My monthly salary is") }}</label>
      <b-tooltip
        :label="checkMinIncome.checked ? `${translate(checkMinIncome.message)} ${checkMinIncome.income}` : ''"
        position="is-bottom"
        animated
        :always="checkMinIncome.checked"
        :active="checkMinIncome.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">₱</a>
          </p>
          <p class="control is-expanded">
            <input v-if="monthlySalaryVisibility === false"
              :class="checkMinIncome.checked ? `input is-danger` : `input`"
              type="text"
              :placeholder="placeholderIncome"
              :value="income"
              pattern="[0-9]*"
              @input="updateIncome"
              v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
              @blur="onBlurMonthlySalary"
            >
            <input v-if="monthlySalaryVisibility === true"
              :class="checkMinIncome.checked ? `input is-danger` : `input`"
              type="text"
              :placeholder="placeholderIncome"
              :value="addCommas(income)"
              pattern="[0-9]*"
              @input="updateIncome"
              @focus="onFocusMonthlySalary"
            >
            <!-- bind "is-danger" class for input validation error -->
          </p>
        </div>

        <div class="filter-cc__section filter-cc__section--features">
          <div class="filter-label">{{ translate('Features') }}</div>
          <div class="field">
            <div class="filter-group">
              <input
                id="isFeaturesLoans_mobile"
                v-model="isFeaturesLoans"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="Featured Loans"
                type="checkbox"
                :value="isFeaturesLoans"
              />
              <label for="isFeaturesLoans_mobile" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ translate('Featured Loans') }}</span>
              </label>
            </div>

            <div class="filter-group">
              <input
                id="isFastApproval_mobile"
                v-model="isFastApproval"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="Fast Approval"
                type="checkbox"
                :value="isFastApproval"
              />
              <label for="isFastApproval_mobile" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ translate('Fast Approval') }}</span>
              </label>
            </div>

            <div class="filter-group">
              <input
                id="isFeaturesHighLoan_mobile"
                v-model="isFeaturesHighLoan"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="High Loan Amount"
                type="checkbox"
                :value="isFeaturesHighLoan"
              />
              <label for="isFeaturesHighLoan_mobile" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ translate('High Loan Amount') }}</span>
              </label>
            </div>

            <div class="filter-group">
              <input
                id="isFeaturesLongerRepayment_mobile"
                v-model="isFeaturesLongerRepayment"
                data-subject="User"
                data-action="Input"
                data-region="Listing Filter"
                data-vertical="Personal Loan"
                data-description="Feature Type"
                data-value="Longer Repayment"
                type="checkbox"
                :value="isFeaturesLongerRepayment"
              />
              <label for="isFeaturesLongerRepayment_mobile" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ translate('Longer Repayment') }}</span>
              </label>
            </div>
          </div>
        </div> 
              
      </b-tooltip>
    
    </div>
    <a class="button blue is-medium" @click="filterLoans">{{ translate("View Loans") }}</a>
  </section>
</template>

<script>
import {
  addCommas,
  checkMaxOrMinAmountAllProducts,
  checkMinIncomeAllProducts
} from "numberFormat";

export default {
  props: [
    "bankPersonalLoan", 
    "amount", 
    "tenure", 
    "income", 
    "isFastApproval", 
    "isPayday", 
    "isIslamic",
    "isGovernmentServant",
    "islamicPage",
    "isFeaturesLongerRepayment",
    "isFeaturesHighLoan",
    "isFeaturesLoans",
    "BTC",
    "BTB"
  ],
  data: function() {
    this.$store.commit('setIsAmountChanged', true);
    this.$store.commit('setIsTenureChanged', true);
    return {
      hasError: true,
      placeholderAmount: this.amount,
      placeholderIncome: this.income,
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      addCommas,
      monthly: null,
    };
  },
  computed: {
    checkMaxOrMinAmount() {
      return checkMaxOrMinAmountAllProducts(this.bankPersonalLoan, this.amount);
    },
    checkMinIncome() {
      return checkMinIncomeAllProducts(this.bankPersonalLoan, this.income);
    },
    tenureFromProducts() {
      return this.config.tenureList;
    }
  },
  watch: {
    amount(newValue) { 
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setAmount", this.amount);
    },
    tenure() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setTenure", this.tenure);
    },
    income(newValue) {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setIncome", this.income);
    },
    BTC() {
      // this.$store.commit("setDefaultMode", false);
      this.$store.commit("setBTC", this.BTC);
    },
    BTB() {
      // this.$store.commit("setDefaultMode", false);
      this.$store.commit("setBTB", this.BTB);
    },
    isFastApproval() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFastApproval", this.isFastApproval);
    },
    isFeaturesHighLoan() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFeaturesHighLoan", this.isFeaturesHighLoan);
    },
    isFeaturesLoans() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFeaturesLoans", this.isFeaturesLoans);
    },
    isFeaturesLongerRepayment() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit(
        "setFeaturesLongerRepayment",
        this.isFeaturesLongerRepayment
      );
    }
  },
  created() {
    this.monthly = this.config.monthly;
  },
  methods: {
    onBlurLoanAmount(){
    this.loanAmountVisibility = true;
   },
   onFocusLoanAmount(){
    this.loanAmountVisibility = false;
   },

   onBlurMonthlySalary(){
     this.monthlySalaryVisibility = true;
   },

   onFocusMonthlySalary(){
    this.monthlySalaryVisibility = false;
   },
 
   validateMoneyFormat(evt, key){
      evt = (evt) ? evt : window.event;
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      
      let strAmount = this.getRelatedAmount(key);
      // if(this.currency === "RM"){
       // only allow number
       if(charCode < 48 || charCode > 57){
          evt.preventDefault();
          return false
       }
      //   if(this.numberAndOneDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }
      //   if(this.restrictTo2DecimalsWithDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }

     // }
      return true;
    },

    getRelatedAmount(key){
      if(key === 'amount')
        return this.amount !== null  ? this.amount.toString() : '0'; 
      if(key === 'monthly_salary'){
        return this.reformed_monthly_salary !== null ? this.income.toString() : '0'; 
       }
    },
    bankList() {
      this.bankPersonalLoan.forEach(bank => {
        let bankPL = bank.personalLoanBank.bank;
        let checkIndex = (this.preferredBanks.indexOf(bankPL.name) === -1) && (this.nonPrefferedBanks.indexOf(bankPL.name) === -1)
        let checkExistence = bankPL && checkIndex
        if (bank.promo && checkExistence) {
          this.preferredBanks.push(bankPL.name);
        } else if (!bank.promo && checkExistence) {
          this.nonPrefferedBanks.push(bankPL.name);
        }
      })
      this.preferredBanks.sort();
      this.nonPrefferedBanks.sort();
    },
    updateValue(event) {
      const value = event.target.value;
      if (String(value).length <= 11) {
        this.amount = value;
      }
      this.$forceUpdate();
    },
    updateIncome(event) {
      const value = event.target.value;
      if (String(value).length <= 9) {
        this.income = value;
      }
      this.$forceUpdate();
    },
    filterLoans: function() {
      $("html,body")
        .stop()
        .animate(
          {
            // scrollTop: 500
            scrollTop: $("#content").offset().top
          },
          "slow",
          "swing"
        );
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../scss/calculator";
</style>

