<template>
  <header role="banner" class="header is-flex">
    <div class="container">
      <div class="header-page--image-mobile is-hidden-tablet" />
      <div class="columns is-multiline is-vcentered is-flex header__wrap">
        <div class="column is-7-tablet header__copy">
          <h1>{{ translate("Reach your goals") }}</h1>
          <h2>{{ config.url==='/business-loan' ? translate("with the right Business loan") : config.url==='/online-loan-b' ? translate("with the right online loan") 
             : translate("with the right personal loan") }}</h2>
          <ul>
            <li>
              <span>
                <i class="sprite tick white" />
              </span>
              {{ translate("Products recommended based on your needs") }}
            </li>
            <li>
              <span>
                <i class="sprite tick white" />
              </span>
              {{ translate("Free to use") }}
            </li>
            <li>
              <span>
                <i class="sprite tick white" />
              </span>
              {{ translate("Simple and Easy. Let us help in finding the RIGHT product") }}
            </li>
          </ul>
          <div class="header__cta">
            <button
              v-if="config.features.chatBot"
              data-subject="User"
              data-action="Click"
              data-region="Listing Header"
              data-vertical="Personal Loan"
              data-description="Help Me Decide"
              data-value="Help Me Decide"            
              id="smartsearch-cta"
              class="button is-medium orange has-sprite-right button-smartsearch-cta"
              @click="$parent.isEligibilityBActive = true"
            >
              Help me decide<i class="sprite angle white angle-right" />
            </button>
            <button
              v-if="config.features.chatBot"
              data-subject="User"
              data-action="Click"
              data-region="Listing Header"
              data-vertical="Personal Loan"
              data-description="Help Me Decide"
              data-value="Help Me Decide"
              id="chatbot-cta"
              class="button is-medium orange has-sprite-right button-chatbot"
              @click="$parent.isEligibilityActive = true"
            >
              Help me decide <i class="sprite angle white angle-right" />
            </button>
            <a
              data-subject="User"
              data-action="Click"
              data-region="Listing Header"
              data-vertical="Personal Loan"
              data-description="Browse Personal Loans"
              data-value="Browse Personal Loans"
              href="#content"
              class="button is-medium white"
              onclick="return false;"
              v-bind:class="{ 'no-style': config.features.chatBot, orange: !config.features.chatBot}"
            ><span v-if="this.config.url==='/online-loan-b'">Browse online loans</span> <span v-else-if="this.config.url==='/car-loan'">Browse car loans</span>
            <span v-else-if="this.config.url==='/personal-loan-b'">Browse personal loans</span><span v-else>Browse Business loans</span></a>
          </div>
        </div>
        <div class="column is-5-tablet is-12-mobile header__image">
          <div></div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
export default {
  components: {},
  filters: {},
  props: ["config"],
  created() {},
  mounted: function() {
    
  },
  methods: {
    smartSearchModal: function(e) {
      e.target.getAttribute("type") === "A"
        ? (this.$parent.isEligibilityBActive = true)
        : (this.$parent.isEligibilityActive = true);
    }
  },
  validations: {}
};
</script>

<style lang="scss" scoped>
</style>
