<template>
  <nav class="page-nav">
    <div class="container">
      <ul class="page-menu">
        <li>
          <a
            href="/personal-loan"
            :class="(isOnlineLoan === false && isBusinessLoan === false ) || url == '/personal-loan-b' ? 'active' : ''"
            data-subject="User"
            data-action="Click"
            data-region="Global Sub-Navigation"
            data-vertical="Personal Loan"
            data-description="Personal Loans"
            data-value="Personal Loans"
          >Personal Loans</a>
        </li>
        <li>
          <a
            href="/business-loan"
            :class="isBusinessLoan === true || url == '/business-loan' ? 'active' : ''"
            data-subject="User"
            data-action="Click"
            data-region="Global Sub-Navigation"
            data-vertical="Personal Loan"
            data-description="Business Loans"
            data-value="Business Loans"
          >Business Loans</a>
        </li>
        <li>
          <a
            href="/online-loan"
            :class="isOnlineLoan === true || url == '/online-loan-b' ? 'active' : ''"
            data-subject="User"
            data-action="Click"
            data-region="Global Sub-Navigation"
            data-vertical="Personal Loan"
            data-description="Online Loans"
            data-value="Online Loans"
          >Online Loans</a>
        </li>
        <li>
          <a
            href="/car-loan"
            :class="url == '/car-loan' ? 'active' : ''"
            data-subject="User"
            data-action="Click"
            data-region="Global Sub-Navigation"
            data-vertical="Personal Loan"
            data-description="Car Loans"
            data-value="Car Loans"
          >Car Loans</a>
        </li>
        <li>
          <a
            href="/housing-loan"
            :class="url == '/housing-loan' ? 'active' : ''"
            data-subject="User"
            data-action="Click"
            data-region="Global Sub-Navigation"
            data-vertical="Personal Loan"
            data-description="Housing Loans"
            data-value="Housing Loans"
          >Housing Loans</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
<script>
export default {
  components: {},
  props: ["isOnlineLoan", "context", "isBusinessLoan"],
  ready: function() {},
  data: function() {
    return {
      url: this.context ? this.context.url : null
    };
  },
  computed: {},
  created() {},
  methods: {}
};
</script>

<style lang="scss" scoped>
@import "../../../scss/page-menu";
</style>
