<template>
  <section class="filter-cc">
    <div class="filter-cc__section filter-cc__section--features">
      <div class="filter-label">{{ translate('Features') }}</div>

      <div class="field">
        <div class="filter-group">
          <input
            id="isFeaturesLoans"
            v-model="isFeaturesLoans"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Featured Loans"
            type="checkbox"
            :value="isFeaturesLoans"
          />
          <label for="isFeaturesLoans" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Featured Loans') }}</span>
          </label>
        </div>

        <div class="filter-group">
          <input
            id="isFastApproval"
            v-model="isFastApproval"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Fast Approval"
            type="checkbox"
            :value="isFastApproval"
          />
          <label for="isFastApproval" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Fast Approval') }}</span>
          </label>
        </div>

        <div class="filter-group">
          <input
            id="isFeaturesHighLoan"
            v-model="isFeaturesHighLoan"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="High Loan Amount"
            type="checkbox"
            :value="isFeaturesHighLoan"
          />
          <label for="isFeaturesHighLoan" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('High Loan Amount') }}</span>
          </label>
        </div>

        <div class="filter-group">
          <input
            id="isFeaturesLongerRepayment"
            v-model="isFeaturesLongerRepayment"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Longer Repayment"
            type="checkbox"
            :value="isFeaturesLongerRepayment"
          />
          <label for="isFeaturesLongerRepayment" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Longer Repayment') }}</span>
          </label>
        </div>
      </div>
    </div>


     <div class="filter-cc__section filter-cc__section--features" v-if="context.pageType ==='business-loan'">
      <div class="filter-label">{{ translate('Type of Commercial Transaction') }}</div>

      <div class="field">
        <div class="filter-group">
          <input
            id="B2B"
            v-model="BTB"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Featured Loans"
            type="checkbox"
            :value="BTB"
          />
          <label for="BTB" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">Business to Business</span>
          </label>
        </div>
        <div class="filter-group">
          <input
            id="B2C"
            v-model="BTC"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Featured Loans"
            type="checkbox"
            :value="BTC"
          />
          <label for="BTC" tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">Direct to Consumer</span>
          </label>
        </div>
        
      </div>
    </div>

    <div class="filter-cc__section filter-cc__section--eligibility">
      <div class="filter-label">{{ translate('Loan Details') }}</div>
      <span>{{ translate('Loan Amount') }}</span>
      <b-tooltip
        :label="checkMaxOrMinAmount.checked ? `${translate(checkMaxOrMinAmount.message)} ${checkMaxOrMinAmount.amount}` : ''"
        position="is-bottom"
        animated
        :always="checkMaxOrMinAmount.checked"
        :active="checkMaxOrMinAmount.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">₱</a>
          </p>

          <p class="control is-expanded">
            <input
              v-if="loanAmountVisibility === false"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Loan"
              :data-value="amount"
              type="text"
              pattern="[0-9]*"
              :value="amount"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              v-on:keypress="validateMoneyFormat(event, 'amount')"
              @input="updateValue"
              @blur="onBlurLoanAmount"
            />

            <input
              v-if="loanAmountVisibility === true"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Loan"
              type="text"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              :value="addCommas(amount)"
              @input="updateValue"
              @focus="onFocusLoanAmount"
            />

            <!-- is-danger shows red border for validation -->
          </p>
        </div>
      </b-tooltip>

      <span>{{ translate('Loan Tenure') }}</span>
      <div class="field has-addons">
        <div class="control is-expanded">
          <div class="select is-fullwidth">
            <select
              v-model="tenure"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Tenure"
              :data-value="tenure"
            >
              <option
                v-for="index in tenureFromProducts"
                :value="index"
                :key="index"
              >{{ index }} {{ index <= 1 ? monthly ? 'month' : 'year' : monthly ? 'months' : 'years'}}</option>
            </select>
          </div>
        </div>
      </div>

      <span>{{ translate('Monthly Income') }}</span>
      <b-tooltip
        :label="checkMinIncome.checked ? `${translate(checkMinIncome.message)} ${checkMinIncome.income}` : ''"
        position="is-bottom"
        animated
        :always="checkMinIncome.checked"
        :active="checkMinIncome.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">₱</a>
          </p>
          <p class="control is-expanded">
            <input
              v-if="monthlySalaryVisibility === false"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Income"
              :data-value="income"
              :value="income"
              type="text"
              :class="checkMinIncome.checked ? `input is-danger` : `input`"
              :placeholder="placeholderIncome"
              v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
              @input="updateIncome"
              @blur="onBlurMonthlySalary"
            />

            <input
              v-if="monthlySalaryVisibility === true"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Income"
              :class="checkMinIncome.checked ? `input is-danger` : `input`"
              type="text"
              :placeholder="placeholderIncome"
              :value="addCommas(income)"
              @input="updateIncome"
              @focus="onFocusMonthlySalary"
            />
            <!-- is-danger shows red border for validation -->
          </p>
        </div>
      </b-tooltip>
    </div>

    <div class="filter-cc__section filter-cc__section--bank">
      <div
        class="filter-label"
        :class="{collapsed : filterMoreBank}"
        @click="filterMoreBank = !filterMoreBank"
      >{{ translate('Preferred Bank') }}</div>
      <div>
        <div class="field">
          <div v-for="bank in preferredBanks" :key="bank" class="filter-group">
            <input :id="bank" v-model="filterBanks" type="checkbox" :value="bank" />
            <label :for="bank" tabindex="0" class="b-checkbox checkbox">
              <span class="control-label">{{ bank }}</span>
            </label>
          </div>
        </div>
        <transition name="fade">
          <div v-if="filterMoreBank" class="field">
            <div v-for="bank in nonPrefferedBanks" :key="bank" class="filter-group">
              <input :id="bank" v-model="filterBanks" type="checkbox" :value="bank" />
              <label :for="bank" tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ bank }}</span>
              </label>
            </div>
          </div>
        </transition>
      </div>

      <div :class="{collapsed : filterMoreBank}" @click="filterMoreBank = !filterMoreBank">
        <a
          v-if="filterMoreBank === false"
          data-subject="User"
          data-action="Click"
          data-region="Listing Filter"
          data-vertical="Personal Loan"
          data-description="More Banks"
          data-value="More banks"
        >+ More banks</a>
        <a
          v-else
          data-subject="User"
          data-action="Click"
          data-region="Listing Filter"
          data-vertical="Personal Loan"
          data-description="Hide Banks"
          data-value="Hide Banks"
        >- Hide banks</a>
      </div>
    </div>

    <div class="is-hidden-tablet">
      <button 
        class="button orange is-fullwidth" 
        @click="toastApply" 
      >
        {{ translate("Apply filter") }}
      </button>
    </div>
    <button
      data-subject="User"
      data-action="Input"
      data-region="Listing Filter"
      data-vertical="Personal Loan"
      data-description="Reset to Default"
      data-value="Reset to Default"
      class="button no-style is-fullwidth"
      @click="toastClear"
    >
      {{ translate('Reset to Default') }}
    </button>
  </section>
</template>

<script>
import Calculator from "calculation";
import { mapGetters, mapActions } from "vuex";

import {
  addCommas,
  addCommasnewph,
  checkMaxOrMinAmountAllProducts,
  checkMinIncomeAllProducts
} from "numberFormat";

export default {
  props: [
    "amount",
    "tenure",
    "income",
    "isFastApproval",
    "isFeaturesLongerRepayment",
    "isFeaturesHighLoan",
    "isFeaturesLoans",
    "isIslamic",
    "isGovernmentServant",
    "isLowestInterest",
    "PH",
    "bankPersonalLoan",
    "filterBanks",
    "islamicPage",
    "context",
    "BTB",
    "BTC"
  ],
  data: function() {
    return {
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      filterMoreBank: false,
      placeholderAmount: this.amount,
      placeholderIncome: this.income,
      max: 11,
      addCommas,
      addCommasnewph,
      preferredBanks: [],
      nonPrefferedBanks: [],
      tenureFromProducts: [],
      monthly: null,
      visibleAmount: true,
      visibleIncome: true
    };
  },
  created() {
    console.log(this.context.pageType);
    this.tenureFromProducts = this.config.tenureList;
    this.monthly = this.config.monthly;
    this.bankList();
  },
  computed: {
    checkMaxOrMinAmount() {
      return checkMaxOrMinAmountAllProducts(this.bankPersonalLoan, this.amount);
    },
    checkMinIncome() {
      return checkMinIncomeAllProducts(this.bankPersonalLoan, this.income);
    },
    tenureFromProducts() {
      if (this.bankPersonalLoan.length > 0) {
        const max = this.bankPersonalLoan.reduce((acc, i) =>
          i.max_tenure > acc.max_tenure ? i : acc
        );
        return max.max_tenure;
      }
      return 0;
    }
  },
  watch: {
    amount() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setAmount", this.amount);
      //this.setAmount(this.amount);
    },
    tenure() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setTenure", this.tenure);
    },
    income() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setIncome", this.income);
      //this.setIncome(this.income);
    },
    BTC() {
      // this.$store.commit("setDefaultMode", false);
      this.$store.commit("setBTC", this.BTC);
    },
    BTB() {
      // this.$store.commit("setDefaultMode", false);
      this.$store.commit("setBTB", this.BTB);
    },
    isFastApproval() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFastApproval", this.isFastApproval);
    },
    isFeaturesHighLoan() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFeaturesHighLoan", this.isFeaturesHighLoan);
    },
    isFeaturesLoans() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFeaturesLoans", this.isFeaturesLoans);
    },
    isFeaturesLongerRepayment() {
      this.$store.commit(
        "setFeaturesLongerRepayment",
        this.isFeaturesLongerRepayment
      );
    },
    isLowestInterest() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setLowestInterest", this.isLowestInterest);
    },
    filterBanks() {
      this.$store.commit("setDefaultMode", false);
      this.$store.commit("setFilterBank", this.filterBanks);
    }
  },
  methods: {
    ...mapActions(["setAmount", "setIncome"]),

    onBlurLoanAmount() {
      this.loanAmountVisibility = true;
    },

    onFocusLoanAmount() {
      this.loanAmountVisibility = false;
    },

    onBlurMonthlySalary() {
      this.monthlySalaryVisibility = true;
    },

    onFocusMonthlySalary() {
      this.monthlySalaryVisibility = false;
    },

    validateMoneyFormat(evt, key) {
      evt = evt ? evt : window.event;
      let charCode = evt.which ? evt.which : evt.keyCode;

      let strAmount = this.getRelatedAmount(key);
      if (charCode < 48 || charCode > 57) {
        evt.preventDefault();
        return false;
      }
      return true;
    },

    getRelatedAmount(key) {
      if (key === "amount")
        return this.amount !== null ? this.amount.toString() : "0";
      if (key === "monthly_salary") {
        return this.reformed_monthly_salary !== null
          ? this.income.toString()
          : "0";
      }
    },
    bankList() {
      this.bankPersonalLoan.forEach(bank => {
        let bankPL = bank.personalLoanBank.bank;
        let checkIndex =
          this.preferredBanks.indexOf(bankPL.name) === -1 &&
          this.nonPrefferedBanks.indexOf(bankPL.name) === -1;
        let checkExistence = bankPL && checkIndex;
        if (bank.promo && checkExistence) {
          this.preferredBanks.push(bankPL.name);
        } else if (!bank.promo && checkExistence) {
          this.nonPrefferedBanks.push(bankPL.name);
        }
      });
      this.preferredBanks.sort();
      this.nonPrefferedBanks.sort();
    },
    updateValue(event) {
      const value = event.target.value;
      if (String(value).length <= 11) {
        this.amount = value;
      }
      this.$forceUpdate();
    },
    updateIncome(event) {
      const value = event.target.value;
      if (String(value).length <= 9) {
        this.income = value;
      }
      this.$forceUpdate();
    },
    toastApply() {
      this.$toast.open({
        message: this.translate("Filter applied"),
        type: "is-success"
      });

      this.$emit("closeParent");
    },
    toastClear() {
      this.$store.commit("setAmount", this.context.config.defaultValues.amount);
      this.$store.commit("setTenure", this.context.config.defaultValues.tenure);
      this.$store.commit(
        "setIncome",
        this.context.config.defaultValues.monthlySalary
      );
      this.$store.commit("setFastApproval", false);
      this.$store.commit("setFeaturesHighLoan", false);
      this.$store.commit("setFeaturesLoans", false);
      this.$store.commit("setFeaturesLongerRepayment", false);
      this.$store.commit("setLowestInterest", this.isLowestInterest);
      this.$store.commit("setFilterBank", []);
      this.$store.commit("setDefaultMode", true);
      this.$store.commit("setBTB", false);
      this.$store.commit("setBTC", false);

      this.$toast.open({
        message: this.translate("Reset to Default"),
        type: "is-success"
      });

      this.$emit("closeParent");
    }
  }
};
</script>

<style lang="scss">
@import "filter";
</style>
