<template>
  <div class="section-bar">
    <div class="section-bar--mobile sticky is-hidden-tablet">
      <div class="columns marginless is-mobile">
        <div class="column is-7">
          <div class="field">
            <div class="control">
              <div class="select">
                <select
                  id="dropDown"
                  name="dropDown"
                  class="is-shadowless"
                >
                  <option
                    data-subject="User"
                    data-action="Click"
                    data-region="Product Sticky"
                    data-vertical="Personal Loan"
                    data-description="Overview"
                    data-value="Overview"
                    value="#product-page"
                  >
                    {{ translate("Overview") }}
                  </option>
                  <option
                    data-subject="User"
                    data-action="Click"
                    data-region="Product Sticky"
                    data-vertical="Personal Loan"
                    data-description="Features"
                    data-value="Features"
                    value="#features"
                  >
                    {{ translate("Features") }}
                  </option>
                  <option
                    data-subject="User"
                    data-action="Click"
                    data-region="Product Sticky"
                    data-vertical="Personal Loan"
                    data-description="Fees & Charges"
                    data-value="Fees & Charges"
                    value="#fees-charges"
                  >
                    {{ translate("Fees &amp; Charges") }}
                  </option>
                  <option
                    data-subject="User"
                    data-action="Click"
                    data-region="Product Sticky"
                    data-vertical="Personal Loan"
                    data-description="Eligibility"
                    data-value="Eligibility"
                    value="#eligibility"
                  >
                    {{ translate("Eligibility") }}
                  </option>
                  <option
                    data-subject="User"
                    data-action="Click"
                    data-region="Product Sticky"
                    data-vertical="Personal Loan"
                    data-description="Product Review"
                    data-value="Product Review"
                    value="#product-review"
                  >
                    {{ translate("Product Review") }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-5">
          <button
            data-subject="User"
            data-action="Click"
            data-region="Product Sticky"
            data-vertical="Personal Loan"
            data-description="Apply Button"
            :data-value="loan.title"
            class="button orange has-sprite-right is-fullwidth"
            @click="showModal()"
          >
            {{ translate("Apply Now") }}
            <!-- <i class="sprite angle white angle-right"></i> -->
          </button>
        </div>
      </div>
    </div>

    <div
      id="section-bar--desktop"
      class="section-bar--desktop is-hidden-mobile"
    >
      <div class="columns marginless">
        <div
          class="column is-3-widescreen is-3-desktop section-bar--desktop__card-info is-hidden-touch"
        >
          <span class="section-bar--desktop__img-holder">
            <img :src="'https://www.imoney.my/' + loan.personalLoanBank.logo">
          </span>
          {{ loan.title }}
        </div>
        <div
          class="column is-7-widescreen is-7-desktop is-10-tablet section-bar--desktop__navigation"
        >
          <div class="menu-center">
            <ul>
              <a
                data-subject="User"
                data-action="Click"
                data-region="Product Sticky"
                data-vertical="Personal Loan"
                data-description="Overview"
                data-value="Overview"
                class="active"
                href="#overview"
              >
                <li>{{ translate("Overview") }}</li>
              </a>
              <a
                data-subject="User"
                data-action="Click"
                data-region="Product Sticky"
                data-vertical="Personal Loan"
                data-description="Features"
                data-value="Features"
                href="#features"
              >
                <li>{{ translate("Features") }}</li>
              </a>
              <a
                data-subject="User"
                data-action="Click"
                data-region="Product Sticky"
                data-vertical="Personal Loan"
                data-description="Fees & Charges"
                data-value="Fees & Charges"
                href="#fees-charges"
              >
                <li>{{ translate("Fees &amp; Charges") }}</li>
              </a>
              <a
                data-subject="User"
                data-action="Click"
                data-region="Product Sticky"
                data-vertical="Personal Loan"
                data-description="Eligibility"
                data-value="Eligibility"
                href="#eligibility"
              >
                <li>{{ translate("Eligibility") }}</li>
              </a>
              <a
                data-subject="User"
                data-action="Click"
                data-region="Product Sticky"
                data-vertical="Personal Loan"
                data-description="Product Review"
                data-value="Product Review"
                href="#product-review"
              >
                <li>{{ translate("Product Review") }}</li>
              </a>
            </ul>
          </div>
        </div>
        <div class="column is-2-widescreen is-2-desktop is-2-tablet section-bar--desktop__cta">
          <button
            data-subject="User"
            data-action="Click"
            data-region="Product Sticky"
            data-vertical="Personal Loan"
            data-description="Apply Button"
            :data-value="loan.title"
            class="button orange has-sprite-right is-fullwidth"
            @click="showModal()"
          >
            {{ translate("Apply Now") }}
            <!-- <i class="sprite angle white angle-right"></i> -->
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bus from 'bus.js';

export default {
  props: ['loan'],
  data: function () {
    return {};
  },
  methods: {
    showModal () {
      bus.$emit('apply', this.loan);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../scss/ph/sticky-section-bar";
</style>
