<template>
	<div id="backtotop">
	  <button class="goTop button rounded-blue has-sprite-left" v-if="isVisible" @click="backToTop">
	        <i class="sprite angle angle-top blue"></i>{{ translate("Back to top") }}
	    </button>
	</div>
</template>

<script>
export default {
	template: '#backtotop',
	data: function() {
    return {
    	isVisible: false,
    };
  },
  	methods: {
    initToTopButton: function() {
      $(document).bind('scroll', function() {
        var backToTopButton = $('.goTop');
        if ($(document).scrollTop() > 800) {
          backToTopButton.addClass('isVisible');
          this.isVisible = true;
        } else {
          backToTopButton.removeClass('isVisible');
          this.isVisible = false;
        }
      }.bind(this));
    },
    backToTop: function() {
      $('html,body').stop().animate({
        // scrollTop: 500
        scrollTop: $("#content").offset().top - 15
      }, 'slow', 'swing');
    }
  },
  mounted: function() {
    this.$nextTick(function() {
      this.initToTopButton();
    });
  }
};
</script>

<style lang="scss" scoped>
@import "../../../scss/backtotop";
</style>