<template>
  <b-field>
    <b-select expanded :placeholder="hasNewPlaceholder" v-model="autoselect" @input="updateValue()">
      <option
          v-for="option in options"
          :value="option.value"
          :native-value="option.value"
          :key="option.value">
            {{ option.text }}
      </option>
    </b-select>
  </b-field>
</template>

<script>
export default {
  data: function() {
    return {
      hasNewPlaceholder: this.placeholder ? this.placeholder : "Choose one.."
    };
  },
  props: ["options", "placeholder", "autoselect"],
  ready: function() {},
  created() {},
  methods: {
    updateValue: function() {
      // console.log(this.autoselect);
    }
  },
  validations: {}
};
</script>
