<template>
  <b-field>
    <b-radio-button
      type="is-success"
      :native-value="option.value"
      v-model="radioButton"
      v-for="option in options"
      :key="option.text">
      <span>{{ option.text }}</span>
    </b-radio-button>
  </b-field>
</template>

<script>
  export default {
  data: function() {
    return {
      radioButton: ''
    }
  },
  props: ['options'],
  ready: function() {
  },
  methods: {
  },
  validations: {}
};
</script>
