<template>
  <div class="field radio-button-bar">
    <b-radio
      :native-value="option.value"
      v-model="radioButtonBar"
      v-for="option in options"
      :key="option.text">
      {{ option.text }}
    </b-radio>
  </div>
</template>

<script>
  export default {
    data: function() {
      return {
        radioButtonBar: ''
      }
    },
    props: ['options'],
    ready: function() {
    },
    methods: {
    },
    validations: {}
  }
</script>
