<template>
	<div class="slidecontainer">
		<input type="range" min="100" max="3000" step="100" value="1500" class="slider" id="myRange">
	</div>
</template>

<script>
export default {
  components: {},
  data: function() {
    return {
      rangevalue: 50,
    };
  },
  props: ['one','two'],
  created: function() {},
  methods: {},
  validations: {}
};

</script>
