<template>
  <transition name="slide-in">
    <div
      class="modal-drawer wide"
      :class="{active : isComponentModalActive}"
    >
      <div class="modal-drawer__header">
        <span v-if="component === 'axainsurance'">{{ translate("Redeem Free Coverage") }}</span>
        <span v-else>{{ translate("Quick Application") }}</span>
        <button
          class="button btn-close-mobile rounded-white icon-only"
          @click="close()"
        >
          <i class="sprite close white" />
        </button>
      </div>
        <!-- Steps Indicator -->
        <div class="steps-indicator" v-if="component != 'axainsurance'">
          <div class="b-tabs-track">
            <div
              class="b-tabs-track--active"
              :style="{ width: progressBarWidth + '%'}"
            />
          </div>
          <b-tabs
            v-model="progressBarStep"
          >
            <b-tab-item :icon="breadcrumbClass(1)" />
            <b-tab-item :icon="breadcrumbClass(2)" />
            <b-tab-item :icon="breadcrumbClass(3)" />
            <b-tab-item :icon="breadcrumbClass(4)" />
          </b-tabs>
        </div>
        <div class="modal-form__body">
        <keep-alive>
          <component :is="component" />
        </keep-alive>
      </div>
    </div>
  </transition>
</template>
<script>

import applyForm from '../BF/applyForm';
import stepOne from './stepOne';
import stepTwo from './stepTwo';
import stepThree from './stepThree';
import stepFour from './stepFour';
import axainsurance from '../BF/axaFreeInsurance';

// import basicForm from './BasicForm.vue';

export default {
  components: {
    applyForm,
    stepOne,
    stepTwo,
    stepThree,
    stepFour,
    axainsurance
  },
  data: function () {
    return {
      progressBar: -50,
      component: 'applyForm',
      currentSlide: 0,
      progressBarStep: 0,
      progressBarWidth: -50, // percentage
      totalSlide: 5, // total slides - 1
      defaultSlide: ['stepOne', 'stepTwo', 'stepThree', 'stepFour', 'axainsurance'],
      bankName: 'Loan.title',
      bankLogo: 'Loan.bankLogo',
      jappData: {
        loan_amount: '',
        loan_tenure:'',
        name: '',
        phone_number: '',
        email_address: '',
        monthly_salary:'',
        // step 1 form fields
        identification_type:'',
        identification_no: '',
        date_of_birth:'',
        nationality:'',
        residency_status:'',
        permanent_address:'',
        permanent_address_2:'',
        permanent_address_3:'',
        permanent_postcode:'',
        permanent_city:'',
        permanent_state:'',
        permanent_country:'',
        residential_status_1:'',
        duration_in_current_residence:'',
        stay_at_current_residence_months:'',
        mailing_address_choice:'',
        residential_status:'',
        //step 2 form fields
        employment_type:'',
        occupation:'',
        company_name:'',
        office_address:'',
        office_address_2:'',
        office_postcode:'',
        office_city:'',
        office_state:'',
        office_country:'',
        office_phone_number:'',
        joining_date:'',

        // step 3 form fields
        gender:'',
        birth_country:'',
        education_level:'',
        mother_maiden_name:'',
        race:'',
        emergency_contact_name:'',
        emergency_relationship:'',
        emergency_contact_phone_number:'',

        // step 4 form fields
        preferred_language:'',
        existing_credit_facilities_credit_card:'',
       // checkbox: null
       axa_insurance_promo:''
   
        
       
      }
    };
  },
  computed: {
    
    slide () {
      return this.defaultSlide;
    },
    slideMultiplier () {
      return 100 / (this.slide.length - 1);
    },
    progressBarSize () {
     return 50;
    }
  },

  created: function () {
  },
  methods: {
    close () {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "closeForm",
        submit_type: this.$store.state.applyBtnFrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        form_step: this.currentSlide,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.close();
    },
    breadcrumbClass: function (breadcrumbNumber) {
      let returnClass = 'progress-step';
      if (breadcrumbNumber < this.currentSlide) {
        returnClass = 'progress-step is-tick-alliance';
      }
      return returnClass;
    },
    prev: function () {
      this.currentSlide -= 1;
      this.progressBarStep -= 1;
      this.update();
    },
    next: function () {
      this.progressBarWidth += 0;
      this.currentSlide += 1;
      this.update();
    },
    update: function () {
      if(this.defaultSlide[this.currentSlide - 1] == undefined){
       this.component = 'applyForm';
        } else {
       this.component = this.defaultSlide[this.currentSlide - 1];
     }
      
    }
  },
  validations: {}
};
</script>
 
<style lang="scss" scoped>
  @import "./src/scss/my/apply-form.scss";
  @import "./src/scss/modal-drawer.scss";
  @import "./src/scss/form-steps.scss";
</style>
