<template>
  <div class="apply-form">
    <form data-step="2" @submit.prevent="next">
     
        <h4>{{ translate('Step 2') }}</h4>
        <h5>{{ translate('2 More Steps to Complete') }}</h5>

<div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Permanent Full Address') }}</label>
            <input
              v-model.trim="permanent_address_1"
              type="text"
              name="permanent_address_1"
              data-description="Permanent Full Address"
              :placeholder="translate('Permanent Full Address line 1')"
              class="form-control"
              @input="$v.permanent_address_1.$touch()"
            />
            <div v-for="(rule, index) in $v.permanent_address_1.$params" :key="index">
              <span
                v-if="validate($v.permanent_address_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('permanent_address_1',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <input
              v-model.trim="permanent_address_2"
              type="text"
              name="permanent_address_2"
              data-description="Permanent Full Address"
              :placeholder="translate('Permanent Full Address line 2')"
              class="form-control"
              @input="$v.permanent_address_2.$touch()"
            />
            <div v-for="(rule, index) in $v.permanent_address_2.$params" :key="index">
              <span
                v-if="validate($v.permanent_address_2,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('permanent_address_2',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <input
              v-model.trim="permanent_address_3"
              type="text"
              name="permanent_address_3"
              data-description="Permanent Full Address"
              :placeholder="translate('Permanent Full Address line 3')"
              class="form-control"
              @input="$v.permanent_address_3.$touch()"
            />
            <div v-for="(rule, index) in $v.permanent_address_3.$params" :key="index">
              <span
                v-if="validate($v.permanent_address_3,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('permanent_address_3',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <input
              v-model.trim="postcode"
              type="number"
              name="postcode"
              data-description="postcode"
              :placeholder="translate('58200')"
              v-on:keypress="isNumber(event)"
              class="form-control"
              @input="$v.postcode.$touch()"
            />
            <div v-for="(rule, index) in $v.postcode.$params" :key="index">
              <span
                v-if="validate($v.postcode,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('postcode',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group column is-6">
            <select
              v-model.trim="country"
              data-description="country"
              name="country"
              tabindex="-1"
              class="form-control"
              @change="stateListChange()"
              v-model="selectedOption"
             >
              <option value disabled>{{ translate('Country') }}</option>
              <option
                v-for="(item, index) in countrylst"
                :key="index"
                :value="item.code"
              >{{ item.name }}</option>
            </select>
            <div v-for="(rule, index) in $v.country.$params" :key="index">
              <span
                v-if="validate($v.country,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('country',rule.type) }}</span>
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <select
              v-model.trim="state"
              data-description="State"
              name="state"
              tabindex="-1"
              class="form-control"
              v-model="defstatesel"
            >
              <option value="" disabled selected>{{ translate('Choose one') }}</option>
              <option
                v-for="(item, index) in stateslst"
                :key="index"
                :value="item.name"
              >{{ item.name }}</option>
            </select>
            <div v-for="(rule, index) in $v.state.$params" :key="index">
              <span
                v-if="validate($v.state,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('state',rule.type) }}</span>
            </div>
          </div>

      <div class="form-group column is-6">
           <input
              v-model.trim="city"
              type="text"
              name="city"
              data-description="city"
              :placeholder="translate('City')"
              class="form-control"
              @input="$v.city.$touch()"
            />

            <div v-for="(rule, index) in $v.city.$params" :key="index">
              <span
                v-if="validate($v.city,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('city',rule.type) }}</span>
            </div>
          </div>
        </div>

<div class="columns is-mobile bottom-none">
          <label
            class="column is-12"
            style="margin-bottom:0; padding-bottom:0;"
          >{{ translate('Length of stay at current residence') }}</label>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <div class="input-group">
              <select
                id="stay_at_current_residence_years"
                v-model="stay_at_current_residence_years"
                name="stay_at_current_residence_years"
                data-description="Employment Date Joined Year"
                tabindex="-1"
                :class="{'parsley-error': $v.stay_at_current_residence_years.$error}"
                class="form-control chosen-select"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option value="0">0</option>
                <option v-for="(n, index) in 30" :key="index" :value="n">{{ n }}</option>
              </select>
              <div id="parsley-id-0457" />
              <div class="input-group-addon">{{ translate('years') }}</div>
            </div>
            <div v-for="(rule, index) in $v.stay_at_current_residence_years.$params" :key="index">
              <span
                v-if="validate($v.stay_at_current_residence_years,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('stay_at_current_residence_years',rule.type) }}</span>
            </div>
          </div>

          <div class="form-group column is-6">
            <div class="input-group">
              <select
                id="stay_at_current_residence_months"
                v-model="stay_at_current_residence_months"
                v-model.trim="stay_at_current_residence_months"
                name="stay_at_current_residence_months"
                data-description="Employment Date Joined Month"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.stay_at_current_residence_months.$error}"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option value="0">0</option>
                <option v-for="(n, index) in 11" :key="index" :value="n">{{ n }}</option>
              </select>
              <div id="parsley-id-5814" />
              <div class="input-group-addon">{{ translate('month') }}</div>
            </div>
            <div v-for="(rule, index) in $v.stay_at_current_residence_months.$params" :key="index">
              <span
                v-if="validate($v.stay_at_current_residence_months,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('stay_at_current_residence_months',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Mailing Address') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in mailingAddress" :key="index">
                <input
                  :id="item.Description"
                  v-model="mailing_address_choice"
                  type="radio"
                  name="mailing_address_choice"
                  :value="item.Code"
                />
                <label :for="item.Description" :class="item.Class">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule, index) in $v.mailing_address_choice.$params" :key="index">
              <span
                v-if="validate($v.mailing_address_choice,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('mailing_address_choice',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Current Residency Status') }}</label>
            <select
              v-model.trim="residential_status"
              name="residential_status"
              data-description="Current Residency Status"
              tabindex="-1"
              class="form-control"
            >
              <option value disabled selected hidden>{{ translate('Choose one') }}</option>
              <option
                v-for="(item, index) in resires"
                :key="index"
                :value="item"
              >{{ translate(item) }}</option>
            </select>
            <div v-for="(rule, index) in $v.residential_status.$params" :key="index">
              <span
                v-if="validate($v.residential_status,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('residential_status',rule.type) }}</span>
            </div>
          </div>
        </div>

        <br />
        <button
          type="submit"
          class="btn-next button blue is-fullwidth has-text-center"
          data-subject="User"
          data-action="Submit"
          data-value="Alliance Bank CashFirst Personal Loan"
          data-title="Alliance Bank CashFirst Personal Loan"
          data-step="Next 2"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
        >{{ applyNow }}</button>

        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
     
    </form>
  </div>
</template>

<script>
import { creatArrayRange, submitToJapp, sortObjAscending } from "helper.js";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import easyAllianceJson from "./easyalliance.json";
import countlstJson from "./countrylist.json";
import stateslstJson from "./states.json";

export default {
  components: {
    
  },

  props: ["data", "context"],
  data: function() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    let seldate = new Date(Date.parse(new Date()));
      let Datesel =
        seldate.getFullYear() +
        "-" +
        ("0" + (seldate.getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + seldate.getDate()).slice(-2);
    const listOfStates = Object.assign(easyAllianceJson);
    const listOfCountries = Object.assign(countlstJson);
    const newlistOfStates = Object.assign(stateslstJson);
    return {
      progressBar: -50,
      currentSlide: 2,
      selectedOption: "MY",
      progressBarStep: 0,
      progressBarWidth: -50, // percentage
      totalSlide: 5, // total slides - 1
      inputclass: "input",
      stay_at_current_residence_years: "",
      applyNow: this.translate("Next"),
      easyalliance: listOfStates,
      selectedDT: Datesel,
      countrylst: sortObjAscending(listOfCountries),
      stateslst: [],
      defstatesel:'',
      comboBox: false,
      applyNow: this.translate("Next"),
      office_phone_number: "",
      phone_number: "",
      permanent_address_1: "",
      permanent_address_2: "",
      permanent_address_3: "",
      applybtnfrom:this.$store.state.applyBtnFrom,
      postcode: "",
      city: "",
      state: "",
      country: "",
      stay_at_current_residence_months: "",
      mailing_address_choice: "",
      residential_status: "",
      resires: [
        "Mortgaged",
        "Owned",
        "Rented",
        "Parents/Relative",
        "Employers"
      ],
      mailingAddress: [
        {
          Description: "Permanent",
          Code: "Permanent",
          Class:"permanentbox"
        },
        {
          Description: "Residential",
          Code: "Residential",
          Class: "residentialbox"
        },
        {
          Description: "Office",
          Code: "Office",
          Class: "officebox"
        }
      ]
    };
  },
  mounted() {
    let Stateselec = "MY";
      let countrytostate = stateslstJson.filter(function(value) {
        return (value.country_code).toUpperCase() === Stateselec;
      });
      this.stateslst = countrytostate;
      this.defstatesel = 'Kuala Lumpur';
      this.state = "Kuala Lumpur";
  },
  computed: {
    joining_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    }
  },
  created() {},
  methods: {
    charCount: function(){
    this.totalcharacter = this.country_code.length;
         if(this.totalcharacter>=3){
          this.$refs.phonenum.focus();
        }
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    stateListChange: function() {
      let Statesel = this.country;
      let countrytostate = stateslstJson.filter(function(value) {

        return (value.country_code).toUpperCase() === Statesel;
      });
      this.stateslst = countrytostate;
      if(Statesel==='MY'){
        this.defstatesel = 'Kuala Lumpur';
        this.state = "Kuala Lumpur";
      }else{
        this.defstatesel = '';
        this.state = "";
      }
      
    },
    next: function() {
      if (this.country == "") {
        this.country = "MY";
      }
      if (!this.$v.$invalid) {
        this.$parent.jappData.permanent_address = this.permanent_address_1;
        this.$parent.jappData.permanent_address_2 = this.permanent_address_2;
        this.$parent.jappData.permanent_address_3 = this.permanent_address_3;
        this.$parent.jappData.permanent_postcode = this.postcode;
        this.$parent.jappData.permanent_city = this.city;
        this.$parent.jappData.permanent_state = this.state;
        this.$parent.jappData.permanent_country = this.country;
        this.$parent.jappData.duration_in_current_residence = this.stay_at_current_residence_years;
        this.$parent.jappData.stay_at_current_residence_months = this.stay_at_current_residence_months;
        this.$parent.jappData.mailing_address_choice = this.mailing_address_choice;
        this.$parent.jappData.residential_status = this.residential_status;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 3);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "v5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          submit_type: this.applybtnfrom,
          form_step: "3",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          console.log(result);
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 2;
          this.$parent.progressBarWidth = 68;
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
     let Loan = this.$store.state.selectedProductForApply;
     var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "1",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 1;
      this.$parent.progressBarWidth -= 30;
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
         permanent_address_1: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        permanent_address_2: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        permanent_address_3: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short"
        },
        postcode: {
          maxLength: "Please enter a valid postcode",
          minLength: "Please enter a valid postcode",
          required: "Your postcode is required"
        },
        city: {
          maxLength: "You are exceeding more than 25 Digits",
          required: "Please enter your city"
        },
        state: {
          required: "Your state is required"
        },
        country: {
          required: "Please select Country"
        },
        stay_at_current_residence_years: {
          required: "Please select Year"
        },
        stay_at_current_residence_months: {
          required: "Please select Month"
        },
        mailing_address_choice: {
          required: "Please select your Mailing address"
        },
        residential_status: {
          required: "Please select your current residency status"
        }
      };
    return this.translate(erroMessagesObj[field][type]);
    }
  },
  validations: {
    permanent_address_1: {
      minLength: minLength(2),
      maxLength: maxLength(46),
      required
    },
    permanent_address_2: {
      minLength: minLength(3),
      maxLength: maxLength(46)
    },
    permanent_address_3: {
      minLength: minLength(3),
      maxLength: maxLength(46)
    },
    postcode: {
       minLength: minLength(4),
        maxLength: maxLength(5),
      required
    },
    city: {
      maxLength: maxLength(25),
      required
    },
    state: {
      required
    },
    country: {
      required
    },
    stay_at_current_residence_years: {
      required
    },
    stay_at_current_residence_months: {
      required
    },
    mailing_address_choice: {
      required
    },
    residential_status: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

.btns-radio-switch2 li {
  input[type="radio"]+label {
 margin-right: 0 !important;
 border-radius: 0;
  }
}
.form-group {
  margin-bottom: 0;
}
</style>