<template>
  <div class="apply-form">
    <form data-step="3" @submit.prevent="next">
      <div>
        <h4>{{ translate('Step 3') }}</h4>
        <h5>{{ translate('1 More Step to Complete') }}</h5>

       <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Do you have a Credit History?') }}</label>
            <p
              class="msg-txt-lgtcolor"
                   >{{ translate('Any existing credit products with any banks over the last 12 months? (eg credit card/personal loan/car loan/home loan)') }}</p>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in credits" :key="index">
                <input
                  :id="item.Description"
                  v-model="have_another_credit_card"
                  type="radio"
                  name="have_another_credit_card"
                  :value="item.Code"
                />
                <label :for="item.Description" :class="item.Class">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule, index) in $v.have_another_credit_card.$params" :key="index">
              <span
                v-if="validate($v.have_another_credit_card,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('have_another_credit_card',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Career Type') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in careerTypes" :key="index">
                <input
                  :id="item.Description"
                  v-model="employment_type"
                  type="radio"
                  name="employment_type"
                  :value="item.Code"
                />
                <label :for="item.Description" :class="item.Class">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule, index) in $v.employment_type.$params" :key="index">
              <span
                v-if="validate($v.employment_type,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('employment_type',rule.type) }}</span>
            </div>
          </div>
        </div>

<div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Occupation') }}</label>
            <select
              v-model.trim="occupation"
              name="occupation"
              data-description="Purpose"
              tabindex="-1"
              class="form-control"
              :class="{'parsley-error': $v.occupation.$error}"
            >
              <option value disabled selected>{{ translate('Choose one') }}</option>
              <option
                v-for="(item) in occupations"
                :key="item.code"
                :value="item.Description"
              >{{ translate(item.Description) }}</option>
            </select>

            <div v-for="(rule,index) in $v.occupation.$params" :key="index">
              <span
                v-if="validate($v.occupation,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('occupation',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate("Employer's Name") }}</label>
            <input
              v-model.trim="company_name"
              type="text"
              name="company_name"
              data-description="Employer's Name"
              :placeholder="translate('Employer\'s Name')"
              class="form-control"
              @input="$v.company_name.$touch()"
            />
            <div v-for="(rule, index) in $v.company_name.$params" :key="index">
              <span
                v-if="validate($v.company_name,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('company_name',rule.type) }}</span>
            </div>
          </div>
        </div>

<div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Date Joined') }}</label>

            <datepicker
              :input-class="inputclass"
              format="yyyy-MM-dd"
              :disabled-dates="disabledDates"
              :bootstrap-styling="bootstrapstyling"
              :placeholder="selectedDT"
              v-model.trim="joining_date"
              data-description="Date of Birth"
              @input="$v.joining_date.$touch()"
              name="joining_date"
              :initialView="'year'"
            ></datepicker>

            <div v-for="(rule, index) in $v.joining_date.$params" :key="index">
              <span
                v-if="validate($v.joining_date,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('joining_date',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Emergency Contact\'s Name') }}</label>
            <input
              v-model.trim="emergency_contact_name"
              type="text"
              name="emergency_contact_name"
              data-description="Emergency Contact\'s Name"
              :placeholder="translate('Emergency Contact\'s Name')"
              class="form-control"
              @input="$v.emergency_contact_name.$touch()"
            />
            <div v-for="(rule, index) in $v.emergency_contact_name.$params" :key="index">
              <span
                v-if="validate($v.emergency_contact_name,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('emergency_contact_name',rule.type) }}</span>
            </div>
          </div>
        </div>

        

        <div class="columns is-mobile bottom-none">
          <label
            class="column is-12"
            style="margin-bottom:0; padding-bottom:0;"
          >{{ translate('Emergency Contact\'s Phone Number') }}</label>
        </div>
        <div class="columns is-mobile">
          <div
            class="officeNumber form-group columns is-mobile is-multiline"
            style="margin-left:1px;"
          >
            <div class="column is-3">
              <input
                v-model="country_code"
                type="tel"
                :placeholder="translate('012')"
                maxlength="3"
                class="form-control"
                v-on:keypress="isNumber(event)"
                @keyup='charCount()'
                :class="{'parsley-error': $v.country_code.$error}"
                @input="$v.country_code.$touch()"
              />
              <form-field-error-message
                :validation-obj="$v.country_code"
                validation-label="This"
                regex-error-msg=" is not valid"
              />
              <div v-for="(rule, index) in $v.country_code.$params" :key="index">
                <span
                  v-if="validate($v.country_code,rule.type)"
                  class="help is-danger"
                >{{ getErrotmessage('country_code',rule.type) }}</span>
              </div>
            </div>
            <div class="column is-9 form-dash-allian">
              <input
                v-model.trim="emergency_contact_phone_number"
                type="tel"
                data-description="emergency_contact_phone_number"
                maxlength="8"
                placeholder="62345678"
                class="form-control"
                ref="phonenum"
                v-on:keypress="isNumber(event)"
                :class="{'parsley-error': $v.emergency_contact_phone_number.$error}"
                @input="$v.emergency_contact_phone_number.$touch()"
              />
              <form-field-error-message
                :validation-obj="$v.emergency_contact_phone_number"
                validation-label="This"
                regex-error-msg=" only allows number"
              />

              <div v-for="(rule, index) in $v.emergency_contact_phone_number.$params" :key="index">
                <span
                  v-if="validate($v.emergency_contact_phone_number,rule.type)"
                  class="help is-danger"
                >{{ getErrotmessage('emergency_contact_phone_number',rule.type) }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Relationship with Emergency Contact') }}</label>
            <input
              v-model.trim="emergency_relationship"
              type="text"
              name="emergency_relationship"
              data-description="Relationship with Emergency Contact"
              :placeholder="translate('Relationship with Emergency Contact')"
              class="form-control"
              @input="$v.emergency_relationship.$touch()"
            />
            <div v-for="(rule, index) in $v.emergency_relationship.$params" :key="index">
              <span
                v-if="validate($v.emergency_relationship,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('emergency_relationship',rule.type) }}</span>
            </div>
          </div>
        </div>

        <br />
        <button
          type="submit"
          class="btn-next button blue is-fullwidth has-text-center"
          data-subject="User"
          data-action="Submit"
          data-value="Alliance Bank CashFirst Personal Loan"
          data-title="Alliance Bank CashFirst Personal Loan"
          data-step="Next 3"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
        >{{ applyNow }}</button>

        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import { creatArrayRange, submitToJapp, sortObjAscending } from "helper.js";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import countlstJson from "./countrylist.json";
import Datepicker from "vuejs-datepicker";

export default {
  components: {
    Datepicker
  },

  props: ["data", "context"],
  data: function() {
    let seldate = new Date(Date.parse(new Date()));
      let Datesel =
        seldate.getFullYear() +
        "-" +
        ("0" + (seldate.getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + seldate.getDate()).slice(-2);
    const listOfCountries = Object.assign(countlstJson);

    return {
      countrylst: sortObjAscending(listOfCountries),
      comboBox: false,
      applyNow: this.translate("Next"),
      selectedOption: "MY",
      inputclass: "input",
      selectedDT: Datesel,
       disabledDates: {
        from: new Date(Date.now() - 8640000)
      },
      emergency_contact_name: "",
      emergency_relationship: "",
      emergency_contact_phone_number: "",
      contact_phone_number: "",
      have_another_credit_card: null,
      applybtnfrom:this.$store.state.applyBtnFrom,
      employment_type: "",
      company_name: "",
      joining_date: null,
      country_code: "",
      occupation: "",
      occupations: [
        { Description: "Accountant", code: "0001" },
        { Description: "Administrator", code: "0364" },
        { Description: "Architect", code: "0356" },
        { Description: "Auditor", code: "0009" },
        { Description: "Bank Officer", code: "0172" },
        { Description: "Cashier", code: "0016" },
        { Description: "Consultant", code: "0023" },
        { Description: "Contractor", code: "0024" },
        { Description: "Designer", code: "0210" },
        { Description: "Director", code: "0035" },
        { Description: "Doctor", code: "0036" },
        { Description: "Driver", code: "0340" },
        { Description: "Engineer", code: "0341" },
        { Description: "Executive", code: "0040" },
        { Description: "Government", code: "0126" },
        { Description: "Lawyer/Barrister/Solicitor", code: "0057" },
        { Description: "Manager", code: "0344" },
        { Description: "Mechanic", code: "0345" },
        { Description: "NGO Staff/Volunteer", code: "0151" },
        { Description: "Nurse/Midwife", code: "0346" },
        { Description: "Police Officer", code: "0349" },
        { Description: "Programmer", code: "0076" },
        { Description: "Quantity Surveyor", code: "0077" },
        { Description: "Salesman/Salesgirl", code: "0254" },
        { Description: "Secretary", code: "0082" },
        { Description: "Self-Employed", code: "0083" },
        { Description: "Supervisor", code: "0351" },
        { Description: "Teacher", code: "0214" },
        { Description: "Waiter / Waitress", code: "0098" },
        { Description: "Other", code: "0258" }
      ],
      credits: [
        {
          Description: "Yes",
          Code: "Yes",
          Class: "yesbox"
        },
        {
          Description: "No",
          Code: "No",
          Class: "nobox"
        }
      ],
      careerTypes: [
        {
          Description: "Salaried",
          Code: "Salaried",
          Class: "salariedbox"
        },
        {
          Description: "Self Employed",
          Code: "Self Employed",
          Class: "selfemployedbox"
        },
        {
          Description: "Commission Earner",
          Code: "Full Commission Earner",
          Class: "commissionbox"
        }
      ]
    };
  },
  computed: {
    joining_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    }
  },
  mounted() {
    var style = document.createElement("style");
    document.head.appendChild(style);
    style.sheet.insertRule(
     ".datepicker .datepicker-content {height:auto !important; }"
    );
  },
  created() {},
  methods: {
    charCount: function(){
    this.totalcharacter = this.country_code.length;
         if(this.totalcharacter>=3){
          this.$refs.phonenum.focus();
        }
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    next: function() {
      const datepicked = this.joining_date;
      let myDate = new Date(Date.parse(this.joining_date));
      let realDate =
        myDate.getFullYear() +
        "-" +
        ("0" + (myDate.getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + myDate.getDate()).slice(-2);

      this.contact_phone_number =
        this.country_code && this.emergency_contact_phone_number
          ? this.country_code + this.emergency_contact_phone_number
          : "";
      
      if (!this.$v.$invalid) {
        this.$parent.jappData.joining_date = realDate;
        this.$parent.jappData.emergency_contact_name = this.emergency_contact_name;
        this.$parent.jappData.emergency_relationship = this.emergency_relationship;
        this.$parent.jappData.emergency_contact_phone_number = this.contact_phone_number;
        this.$parent.jappData.existing_credit_facilities_credit_card = this.have_another_credit_card;
        this.$parent.jappData.employment_type = this.employment_type;
        this.$parent.jappData.occupation = this.occupation;
        this.$parent.jappData.company_name = this.company_name;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 4);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "v5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          submit_type: this.applybtnfrom,
          form_step: "4",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          console.log(result);
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 3;
          this.$parent.progressBarWidth = 99;
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "2",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.progressBarStep = 2;
      this.$parent.progressBarWidth -= 35;
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
        emergency_contact_name: {
          required: "Please enter your Emergency Contact\'s Name",
          maxLength: "You are exceeding more than 35 Digits",
          regex: "Please enter your name in alphabet only"
        },
        emergency_relationship: {
          maxLength: "You are exceeding more than 25 Digits",
          required: "Please enter your Relation with Emergency Contact"
        },
        have_another_credit_card: {
          required: "Please select Yes or No to confirm your Credit History"
        },
        employment_type: {
          required: "Please select your Career Type"
        },
        company_name: {
          required: "Please enter Employer\'s Name",
          regex: "Please enter your name in alphabet only"
        },
        country_code: {
          minLength: "Please key in atleast 2 digits",
          maxLength: "You are exceeding more than 4 Digits",
          required: "Please key in Country code",
          regex: "Please key in Country code"
        },
        occupation: {
          required: "Please select your occupation"
        },
        emergency_contact_phone_number: {
          minLength: "Please key in atleast 7 digits",
          maxLength: "You are exceeding more than 8 Digits",
          required: "Please key in Phone Number",
          regex: "Please key in Phone Number"
        },
        joining_date: {
          required: "Please select your Date of Joining"
        }
      };

      return this.translate(erroMessagesObj[field][type]);
    }
  },
  validations: {
    country_code: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(4)
     // regex: regex("regex", /^(6?0[1-9])+$/)
    },
    emergency_contact_phone_number: {
      required,
      minLength: minLength(7),
      maxLength: maxLength(9),
      regex: regex("regex", /^[0-9]+$/)
    },

    emergency_contact_name: {
      required,
      maxLength: maxLength(35),
      regex: regex("regex", /^[a-zA-Z\s]*$/)
    },
    emergency_relationship: {
      maxLength: maxLength(25),
      required
    },
    employment_type: {
      required
    },
    company_name: {
      required
   //   regex: regex("regex", /^[a-zA-Z\s]*$/)
    },
    occupation: {
      required
    },
    have_another_credit_card: {
      required
    },
    joining_date: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
.btns-radio-switch2 li {
  input[type="radio"]+label {
 margin-right: 0 !important;
 border-radius: 0;
  }
}
.form-group {
  margin-bottom: 0;
}
</style>
