<template>
  <div class="apply-form">
    <form data-step="4" @submit.prevent="submit">
      <div>
        <h4>{{ translate('Step 4') }}</h4>
        <h5>{{ translate('Final step to complete your application!') }}</h5>
        <br />

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Employers Full Address') }}</label>
            <input
              v-model.trim="office_address"
              type="text"
              name="office_address"
              data-description="Employers Full Address"
              :placeholder="translate('Employers Full Address line 1')"
              class="form-control"
             
            />
            <div v-for="(rule, index) in $v.office_address.$params" :key="index">
              <span
                v-if="validate($v.office_address,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('office_address',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <input
              v-model.trim="office_address_2"
              type="text"
              name="office_address_2"
              data-description="Employers Full Address"
              :placeholder="translate('Employers Full Address line 2')"
              class="form-control"
              
            />
            <div v-for="(rule, index) in $v.office_address_2.$params" :key="index">
              <span
                v-if="validate($v.office_address_2,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('office_address_2',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <input
              v-model.trim="postcode_1"
              type="number"
              name="postcode_1"
              data-description="postcode_1"
              :placeholder="translate('58000')"
              class="form-control"
              v-on:keypress="isNumber(event)"
              
            />
            <div v-for="(rule, index) in $v.postcode_1.$params" :key="index">
              <span
                v-if="validate($v.postcode_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('postcode_1',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group column is-6">
            <select
              v-model.trim="country_1"
              data-description="Employer Country"
              name="country_1"
              tabindex="-1"
              class="form-control"
              @change="stateListChange()"
              v-model="selectedOption"
            >
              <option value disabled selected>{{ translate('Country') }}</option>
              <option
                v-for="(item, index) in countrylst"
                :key="index"
                :value="item.code"
              >{{ item.name }}</option>
            </select>
            <div v-for="(rule, index) in $v.country_1.$params" :key="index">
              <span
                v-if="validate($v.country_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('country_1',rule.type) }}</span>
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <select
              v-model.trim="state_1"
              data-description="Employer State"
              name="state_1"
              tabindex="-1"
              class="form-control"
              v-model="defstatesel"
            >
              <option value="" disabled selected>{{ translate('Choose one') }}</option>
              <option v-for="(item, index) in stateslst" :key="index" :value="item.name">{{ item.name }}</option>
            </select>
            <div v-for="(rule, index) in $v.state_1.$params" :key="index">
              <span
                v-if="validate($v.state_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('state_1',rule.type) }}</span>
            </div>
          </div>

          <div class="form-group column is-6">
            <input
              v-model.trim="city_1"
              type="text"
              name="city_1"
              data-description="Employer City"
              :placeholder="translate('Employer City')"
              class="form-control"
              
            />
            <div v-for="(rule, index) in $v.city_1.$params" :key="index">
              <span
                v-if="validate($v.city_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('city_1',rule.type) }}</span>
            </div>
          </div>
        </div>

<div class="columns is-mobile bottom-none">
          <label
            class="column is-12"
            style="margin-bottom:0; padding-bottom:0;"
          >{{ translate('Employer`s Phone Number') }}</label>
        </div>
        <div class="columns is-mobile">
          <div
            class="officeNumber form-group columns is-mobile is-multiline"
            style="margin-left:1px;"
          >
            <div class="column is-3">
              <input
                v-model="country_code"
                type="tel"
                :placeholder="translate('603')"
                maxlength="3"
                class="form-control"
                v-on:keypress="isNumber(event)"
                @keyup='charCount()'
                :class="{'parsley-error': $v.country_code.$error}"
                
              />
              <form-field-error-message
                :validation-obj="$v.country_code"
                validation-label="This"
                regex-error-msg=" is not valid"
              />
              <div v-for="(rule, index) in $v.country_code.$params" :key="index">
                <span
                  v-if="validate($v.country_code,rule.type)"
                  class="help is-danger"
                >{{ getErrotmessage('country_code',rule.type) }}</span>
              </div>
            </div>
            <div class="column is-9 form-dash-allian">
              <input
                v-model.trim="office_phone_number"
                type="tel"
                data-description="office_phone_number"
                maxlength="8"
                placeholder="62345678"
                class="form-control"
                v-on:keypress="isNumber(event)"
                ref="phonenum"
                :class="{'parsley-error': $v.office_phone_number.$error}"
                
              />
              <form-field-error-message
                :validation-obj="$v.office_phone_number"
                validation-label="This"
                regex-error-msg=" only allows number"
              />
              <div v-for="(rule, index) in $v.office_phone_number.$params" :key="index">
                <span
                  v-if="validate($v.office_phone_number,rule.type)"
                  class="help is-danger"
                >{{ getErrotmessage('office_phone_number',rule.type) }}</span>
              </div>
            </div>
          </div>
        </div>
        
        <br />  
        <div class="form-group a-center">
          <button
            id="prequalify-btn"
            :disabled="Submit != translate('Submit')"
            type="submit"
            tabindex="-1"
            data-subject="User"
            data-action="Submit"
            data-value="Submit"
            data-title="Submit"
            data-step="Alliance Bank CashFirst Personal Loan"
            data-description="Pre-Qualify Apply Form"
            data-region="Product Apply Popup"
            data-vertical="Personal Loan"
            class="btn-apply button orange is-fullwidth has-text-center"
          >{{ Submit }}</button>
        </div>
        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
      </div>
    </form>
  </div>
</template>
<script>
import { required , minLength, maxLength} from "vuelidate/lib/validators";
import { creatArrayRange, submitToJapp, sortObjAscending } from "helper.js";
import { regex } from "vuelidate/lib/validators/common";
import easyAllianceJson from "./easyalliance.json";
import countlstJson from "./countrylist.json";
import stateslstJson from "./states.json";

export default {
  components: {},
  props: ["data", "context"],
  
  data: function() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
     const listOfStates = Object.assign(easyAllianceJson, extraState);
    const listOfCountries = Object.assign(countlstJson);
    const newlistOfStates = Object.assign(stateslstJson);
    return {
      url: this.$store.state.urlRedirect,
      productTitle: "",
      Submit: this.translate("Submit"),
      office_address: "",
      disabledDates: {
        from: new Date(Date.now() - 8640000)
      },
      office_address_2: "",
      country_code: "",
      office_phone_number: "",
      selectedOption: "MY",
      postcode_1: "",
      city_1: "",
      state_1: "",
      stateslst: [],
      defstatesel:'',
      easyalliance: listOfStates,
      country_1: "",
      countrylst: sortObjAscending(listOfCountries),
      applybtnfrom:this.$store.state.applyBtnFrom,
      preferences: [
        {
          Description: "Bahasa Malaysia",
          Code: "Bahasa Malaysia",
          Class: "bahasabox"
        },
        {
          Description: "English",
          Code: "English",
          Class: "englishbox"
        }
      ]
    };
  },
  mounted() {
    let Stateselec = "MY";
      let countrytostate = stateslstJson.filter(function(value) {
        return (value.country_code).toUpperCase() === Stateselec;
      });
      this.stateslst = countrytostate;
      this.defstatesel = 'Kuala Lumpur';
      this.state_1 = "Kuala Lumpur";
  },
  computed: {
    existing_credit_card() {
      let tenur = 6;
      let Loan = this.$store.state.selectedProductForApply;
      if (Loan.nid === "163" || Loan.nid === "164") {
        tenur = 6;
      } else tenur = Loan.nid === "1443" || Loan.nid === "1444" ? 24 : 12;

      return this.translate(
        `Do you have any existing credit products with any banks over the past ${tenur} months? (eg. credit card/personal loan/car loan/home loan)`
      );
    }
  },
  watch: {},
  created() {
    console.log(this.existing_credit_card);
  },
  methods: {
    showHideQustion: function() {
      let Loan = {};
      return Loan.nid === "54" || Loan.nid === "75";
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
        office_address: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        office_address_2: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        postcode_1: {
          maxLength: "Please enter a valid postcode",
          minLength: "Please enter a valid postcode",
          required: "Your postcode is required"
        },
        state_1: {
          required: "Your state is required"
        },
        country_1: {
          required: "Please select Country"
        },
        city_1: {
          maxLength: "You are exceeding more than 25 Digits",
          required: "Please enter your city"
        },
         office_phone_number: {
          minLength: "Please key in atleast 7 digits",
          maxLength: "You are exceeding more than 8 Digits",
          required: "Please enter your Phone Number",
          regex: "Please key in Phone Number"
        },
        country_code: {
          required: "Please enter Country Code",
          maxLength: "Your phone number should be less than 4 digits",
          minLength: "Your phone number should be more than 2 digits",
          regex: "Please key in Country code"
        }
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    charCount: function(){
    this.totalcharacter = this.country_code.length;
         if(this.totalcharacter>=3){
          this.$refs.phonenum.focus();
        }
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    stateListChange: function() {
      let Statesel = this.country_1;
      let countrytostate = stateslstJson.filter(function(value) {

        return (value.country_code).toUpperCase() === Statesel;
      });
      this.stateslst = countrytostate;
      if(Statesel==='MY'){
        this.defstatesel = 'Kuala Lumpur';
        this.state_1 = "Kuala Lumpur";
      }else{
        this.defstatesel = '';
        this.state_1 = "";
      }
    },
    submit: function() {
       this.phone_number =
        this.country_code && this.office_phone_number
          ? this.country_code + this.office_phone_number
          : "";

      if (this.country_1 == "") {
        this.country_1 = "MY";
      }
      if (!this.$v.$invalid) {
        this.$parent.progressBarStep = 4;
        IMDevPropBag.add("prequalify_current_step", 5);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "complete");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "submitDetails",
          submit_type: this.applybtnfrom,
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);

        this.Submit = this.translate("Please wait");
       // this.applyNow = this.translate("Please wait");
       // this.$parent.jappData.preferred_language = this.preferred_language;
        this.$parent.jappData.office_address = this.office_address;
        this.$parent.jappData.office_address_2 = this.office_address_2;
        this.$parent.jappData.office_postcode = this.postcode_1;
        this.$parent.jappData.office_city = this.city_1;
        this.$parent.jappData.office_state = this.state_1;
        this.$parent.jappData.office_country = this.country_1;
        this.$parent.jappData.office_phone_number = this.phone_number;
     
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 3;
          this.$parent.progressBarWidth = 99;
          this.$parent.next(); 

          this.Submit = this.translate("Submitted");
          // if (Loan.apply_form_flow === "2") {
          //   window.location.href = Loan.apply_link;
          // } else {
          //   window.location.href =
          //     this.url + this.translate("/thank-you") + "?prequalify";
          // }
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "3",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 3;
      this.$parent.progressBarWidth -= 30;
      this.$parent.prev();
    }
  },
  validations: {
    office_address: {
      minLength: minLength(2),
      maxLength: maxLength(46),
      required
    },
    office_address_2: {
      minLength: minLength(3),
      maxLength: maxLength(46)
    },
    state_1: {
      required
    },
    country_1: {
      required
    },
    city_1: {
      maxLength: maxLength(25),
      required
    },
    postcode_1: {
      minLength: minLength(4),
      maxLength: maxLength(5),
      required
    },
    country_code: {
      required,
      minLength: minLength(2),
      maxLength: maxLength(4),
      regex: regex("regex", /^(6?0[3-9])$/)
    },
    office_phone_number: {
      minLength: minLength(7),
      maxLength: maxLength(8),
      required,
      regex: regex("regex", /^[0-9]+$/)
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
.btns-radio-switch2 li {
  input[type="radio"]+label {
 margin-right: 0 !important;
 border-radius: 0;
  }
}
.form-group {
  margin-bottom: 0;
}
</style>