<template>
  <div class="apply-form">
    <form data-step="1" @submit.prevent="next">
      <div>
        <h4>{{ translate('Step 1') }}</h4>
        <h5>{{ translate('3 More Steps to Complete') }}</h5>

<div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Race') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in races" :key="index">
                <input
                  :id="item.Description"
                  v-model="race"
                  type="radio"
                  name="race"
                  :value="item.Code"
                />
                <label :for="item.Description" :class="item.Class">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule, index) in $v.race.$params" :key="index">
              <span
                v-if="validate($v.race,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('race',rule.type) }}</span>
            </div>
          </div>
        </div>

<div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Gender') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in genders" :key="index">
                <input
                  :id="item.Description"
                  v-model="gender"
                  type="radio"
                  name="gender"
                  :value="item.Code"
                />
                <label :for="item.Description" :class="item.Class">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule, index) in $v.gender.$params" :key="index">
              <span
                v-if="validate($v.gender,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('gender',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <label>{{ translate('ID Type') }}</label>
            <select
              id="apply-idtype"
              v-model.trim="identification_type"
              name="id_type"
              data-description="ID Type"
              class="form-control"
              data-parsley-id="0476"
            >
              <option
                value=""
                disabled
                selected
                hidden
              >
                {{ translate('Choose one') }}
              </option>
              <option value="IC">
                {{ translate('IC') }}
              </option>
              <option value="Passport">
                {{ translate('Passport') }}
              </option>
            </select>
            <div
              v-for="(rule, index) in $v.identification_type.$params"
              :key="index"
            >
              <span
                v-if="validate($v.identification_type,rule.type)"
                class="help is-danger"
              >
                {{ getErrotmessage('identification_type',rule.type) }}
              </span>
            </div>
          </div>

          <div class="form-group column is-6 is-12-mobile">
            <label>{{ translate('IC / Passport Number') }}</label>
            <input
              v-model.trim="identification_no"
              type="text"
              name="id_number"
              data-description="ID Number"
              :placeholder="translate('IC / Passport Number')"
              class="form-control"
              @input="$v.identification_no.$touch()"
            />
            <div v-for="(rule, index) in $v.identification_no.$params" :key="index">
              <span
                v-if="validate($v.identification_no,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('identification_no',rule.type) }}</span>
            </div>
          </div>

         </div>


    
        <div class="columns is-mobile">
          <div class="form-group column is-6">
            <label>{{ translate('Date of Birth') }}</label>

            <datepicker
              :input-class="inputclass"
              format="yyyy-MM-dd"
              :bootstrap-styling="true"
              :placeholder="translate('1999-01-01')"
              :maximumView="'year'"
              v-model.trim="date_of_birth"
              data-description="Date of Birth"
              @input="$v.date_of_birth.$touch()"
              :disabledDates="disabledDates"
              :open-date="opendate"
              :initialView="'year'"
              name="date_of_birth"
              
            ></datepicker>

            <div v-for="(rule, index) in $v.date_of_birth.$params" :key="index">
              <span
                v-if="validate($v.date_of_birth,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('date_of_birth',rule.type) }}</span>
            </div>
          </div>

          <div class="form-group column is-6">
            <label>{{ translate('Residency Status') }}</label>
            <select
              v-model.trim="residency_status"
              name="residency_status"
              data-description="Residency"
              tabindex="-1"
              class="form-control"
             
            >
              <option value disabled selected hidden>{{ translate('Choose one') }}</option>
              <option
                v-for="(item) in nationres"
                :key="item.code"
                :value="item.Code"
              >{{ translate(item.Description) }}</option>
            </select>
            <div v-for="(rule, index) in $v.residency_status.$params" :key="index">
              <span
                v-if="validate($v.residency_status,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('residency_status',rule.type) }}</span>
            </div>
          </div>
        </div>
 
  <div class="columns is-mobile">
           <div class="form-group column is-12">
            <label>{{ translate('Nationality') }}</label>
            <select
            v-model.trim="nationality"
            name="nationality"
            data-description="Nationality"
            tabindex="-1"
            class="form-control"
             v-model="selectedNation"
          >
            <option
              value=""
              disabled
            >
              {{ translate('Choose one') }}
            </option>
            <option
             v-for="(item, index) in countrylst"
              :key="index"
              :value="item.code"
            >
              {{ item.name }}
            </option>
          </select>
            <div v-for="(rule, index) in $v.nationality.$params" :key="index">
              <span
                v-if="validate($v.nationality,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('nationality',rule.type) }}</span>
            </div>
          </div>
         </div>


         <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Country of Birth') }}</label>
            <select
              v-model.trim="birth_country"
              data-description="Birth Country"
              name="birth_country"
              tabindex="-1"
              class="form-control"
              v-model="selectedOption"
           >

              <option value disabled selected>{{ translate('Country') }}</option>
              <option
                v-for="(item, index) in countrylst"
                :key="index"
                :value="item.code"
              >{{ item.name }}</option>
            </select>
            <div v-for="(rule, index) in $v.birth_country.$params" :key="index">

              <span
                v-if="validate($v.birth_country,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('birth_country',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Education Level') }}</label>
              <select
              v-model.trim="education_level"
              name="education_level"
              data-description="Education"
                tabindex="-1"
              class="form-control"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
              <option
                v-for="(item) in educations"
                :key="item.code"
                :value="item.Description"
              >{{ translate(item.Description) }}</option>
              </select>

            <div v-for="(rule,index) in $v.education_level.$params" :key="index">
              <span
                v-if="validate($v.education_level,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('education_level',rule.type) }}</span>

            </div>
          </div>
        </div>

        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <label>{{ translate('Mother`s Maiden Name') }}</label>
            <input
              v-model.trim="mother_maiden_name"
              type="text"
              name="mother_maiden_name"
              data-description="Mother`s Maiden Name"
              :placeholder="translate('Mother`s Maiden Name')"
              class="form-control"
              
            />
            <div v-for="(rule, index) in $v.mother_maiden_name.$params" :key="index">
              <span
                v-if="validate($v.mother_maiden_name,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('mother_maiden_name',rule.type) }}</span>
            </div>
          </div>
        </div>


        <br />

        <button
          type="submit"
          class="btn-next button blue is-fullwidth has-text-center"
          data-subject="User"
          data-action="Submit"
          data-value="Alliance Bank CashFirst Personal Loan"
          data-title="Alliance Bank CashFirst Personal Loan"
          data-step="Next 1"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
        >{{ applyNow }}</button>

        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
      </div>
    </form>
  </div>
</template>

<script>
import { creatArrayRange, submitToJapp, sortObjAscending } from "helper.js";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import easyAllianceJson from "./easyalliance.json";
import countlstJson from "./countrylist.json";
import Datepicker from "vuejs-datepicker";

export default {
  components: {
    Datepicker
  },

  props: ["data", "context"],
  data: function() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    const listOfStates = Object.assign(easyAllianceJson, extraState);
    const listOfCountries = Object.assign(countlstJson);
    const dt = new Date();
    const yr = dt.getFullYear();
    const yearshow = yr - 21;

    return {
      progressBar: -50,
      selectedOption: "MY",
      selectedNation: "MY",
      selectedresi: "Malaysian (Resident)",
      currentSlide: 1,
      progressBarStep: 0,
      progressBarWidth: -50, // percentage
      totalSlide: 5, // total slides - 1
      inputclass: "input",
      applyNow: this.translate("Next"),
      year: yearshow,
      opendate: yearshow + "-01-31",
      disabledDates: {
        from: new Date(yearshow, 11, 31)
      },
      monthlyRepayment: 2222,
      interestRate: 11,
      easyalliance: listOfStates,
      countrylst: sortObjAscending(listOfCountries),
      comboBox: false,
      applyNow: this.translate("Next"),
      identification_type: '',
      identification_no: null,
      date_of_birth: null,
      nationality: "",
      residency_status: "",
      education_level: "",
      residential_status_1: "",
      applybtnfrom:this.$store.state.applyBtnFrom,
      birth_country: "",
      gender: "",
      genders: [
        {
          Description: "Male",
          Code: "Male",
          Class: "malebox"
        },
        {
          Description: "Female",
          Code: "Female",
          Class: "femalebox"
        }
      ],
      
      countlist: [],
      resires: [
        "Mortgaged",
        "Owned",
        "Rented",
        "Parents/Relative",
        "Employers"
      ],
      nationall: ["Malaysian", "Chinese", "Indian", "Others"],
      nationres: [
        {
          Description: "Malaysian (Resident)",
          Code: "Malaysian (Resident)"
        },
        {
          Description: "Malaysian (Non-Resident)",
          Code: "Malaysian (Non-Resident)"
        },
        {
          Description: "Non-Malaysian (Non-Resident)",
          Code: "Non-Malaysian (Non-Resident)"
        },
        {
          Description: "Non-Malaysian (Resident-PR)",
          Code: "Non-Malaysian (Resident-PR)"
        }
      ],
      mailingAddress: [
        {
          Description: "Permanent",
          Code: "Permanent",
          Class:"permanentbox"
        },
        {
          Description: "Residential",
          Code: "Residential",
          Class: "residentialbox"
        },
        {
          Description: "Office",
          Code: "Office",
          Class: "officebox"
        }
      ],
      race: "",
      races: [
        {
          Description: "Malay",
          Code: "Malay",
          Class: "malaybox"
        },
        {
          Description: "Chinese",
          Code: "Chinese",
          Class: "chinesebox"
        },
        {
          Description: "Indian",
          Code: "Indian",
          Class: "indianbox"
        },
        {
          Description: "Other",
          Code: "Others",
          Class: "othersbox"
        }
      ],
      
      educations: [
        { Description: "Doctorate", code: "Doctorate" },
        { Description: "Master", code: "Master" },
        { Description: "Degree", code: "Degree" },
        { Description: "Diploma", code: "Diploma" },
        { Description: "Certificate", code: "Certificate" },
        { Description: "Pre-U/A-Level", code: "Pre-U/A-Level" },
        { Description: "Secondary", code: "Secondary" },
        { Description: "Primary", code: "Primary" }
      ],
      mother_maiden_name: ""
    };
  },
  mounted() {
    var style = document.createElement("style");
    document.head.appendChild(style);
    style.sheet.insertRule(
      ".datepicker .datepicker-content {height:auto !important; }"
    );
  },

  computed: {},
  created() {},
  methods: {
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    next: function() {
      const datepicked = this.date_of_birth;
      let myDate = new Date(Date.parse(this.date_of_birth));
      let realDate =
        myDate.getFullYear() +
        "-" +
        ("0" + (myDate.getMonth() + 1)).slice(-2) +
        "-" +
        ("0" + myDate.getDate()).slice(-2);

      
      if(this.nationality==''){
        this.nationality = 'MY';
      }
       if(this.residency_status==''){
       this.residency_status = 'Malaysian (Resident)';
      }
      if (this.birth_country == "") {
        this.birth_country = "MY";
      }

      if (!this.$v.$invalid) {
        this.$parent.progressBarStep = +1;
        this.$parent.jappData.identification_type = this.identification_type;
        this.$parent.jappData.identification_no = this.identification_no;
        
        this.$parent.jappData.date_of_birth = realDate;
        this.$parent.jappData.nationality = this.nationality;
        this.$parent.jappData.residency_status = this.residency_status;
        
        
        
        
        
        
     //   this.$parent.jappData.residential_status_1 = this.residential_status_1;
        
        
        this.$parent.jappData.race = this.race;
        this.$parent.jappData.gender = this.gender;
        this.$parent.jappData.birth_country = this.birth_country;
        this.$parent.jappData.education_level = this.education_level;
        this.$parent.jappData.mother_maiden_name = this.mother_maiden_name;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 2);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "v5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          submit_type: this.applybtnfrom,
          form_step: "2",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          console.log("Result data + ", result);
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 1;
          this.$parent.progressBarWidth = 30;
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "0",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 1;
      this.$parent.progressBarWidth -= 0;
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
        identification_no: {
          maxLength: "Your identification number should be 12 digits",
          minLength:
            "Your identification number should be minimum 4 characters long",
          required: "Your identification number is required"
       //   regex: "Please enter valid Passport Number"
        },
        identification_type: {
          required: 'Your identification type is required'
        },
        race: {
          required: "Please select your Race"
        },
        gender: {
          required: "Please select your gender"
        },
        education_level: {
          required: "Please select your Education Level"
        },
        
        date_of_birth: {
          required: "Please select Date of Birth"
        },
        
        nationality: {
          required: "Please select your Nationality"
        },
        residency_status: {
          required: "Please select your Residence"
        },
        
        
        
        
        
        
        birth_country: {
          required: "Please select your Birth Country"
        },
        mother_maiden_name: {
          required: "Please enter Mother`s Maiden name",
          regex: "Please enter your name in alphabet only"
        }
      };

      return this.translate(erroMessagesObj[field][type]);
    }
  },
  validations: {
    identification_no: {
      maxLength: maxLength(12),
      minLength: minLength(4),
    //  regex: regex("regex", /^[a,h,k,eA,H,K,E0-9_.-]*$/),
      required
    },
    identification_type:{
      required
    },
    race: {
      required
    },
    gender: {
      required
    },
    
    date_of_birth: {
      required
    },
    nationality: {
      required
    },
    residency_status: {
      required
    },
    education_level: {
      required
    },
    
    
    
    
    
    
    
    birth_country: {
      required
    },
    mother_maiden_name: {
      required,
      regex: regex("regex", /^[a-zA-Z\s]*$/)
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

.btns-radio-switch2 li {
  input[type="radio"]+label {
 margin-right: 0 !important;
 border-radius: 0;
  }
}
.form-group {
  margin-bottom: 0;
}
</style>