<template>
  <transition name="slide-in">
    <div
      class="modal-drawer"
      :class="{active : isComponentModalActive}"
    >
      <div class="modal-drawer__header">
        <span>{{ translate("Filter Personal Loan") }}</span>
        <button
          class="button btn-close-mobile rounded-white icon-only"
          @click="$parent.close()"
        >
          <i class="sprite close white" />
        </button>
      </div>
      <div class="modal-filter-mobile__body">
        <side-filter
          :amount="amount"
          :tenure="tenure"
          :income="income"
          :is-fast-approval="isFastApproval"
          :is-features-longer-repayment="isFeaturesLongerRepayment"
          :is-features-high-loan="isFeaturesHighLoan"
          :is-features-loans="isFeaturesLoans"
          :is-payday="isPayday"
          :is-islamic="isIslamic"
          :is-government-servant="isGovernmentServant"
          :is-lowest-interest="isLowestInterest"
          :filter-banks="filterBanks"
          :bank-personal-loan="bankPersonalLoan"
          :islamicPage="islamicPage"
          @closeParent="closeParent"
          :context="context"
          :BTC="BTC"
          :BTB="BTB"
        />
      </div>
    </div>
  </transition>
</template>

<script>
import sideFilter from 'sideFilter';

export default {
  components: {
    sideFilter
  },
  props: [
    'amount',
    'tenure',
    'income',
    'isFastApproval',
    'isFeaturesHighLoan',
    'isFeaturesLoans',
    'isFeaturesLongerRepayment',    
    'isPayday',
    'isIslamic',
    'isGovernmentServant',
    'isLowestInterest',
    'bankPersonalLoan',
    'filterBanks',
    'islamicPage',
    'context',
    'BTB',
    'BTC',
  ],
  data: function () {
    return {};
  },
  methods: {
    closeParent () {
      this.$parent.close();
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../../scss/modal-drawer";

// Hide default modal close button
button.modal-close.is-large {
  display: none;
}
</style>
