<template>
  <section id="category-filter">
    <!-- Desktop -->
    <div class="container is-hidden-mobile category-filter__desktop">
      <input
        id="categories-desktop__radio--all"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--all"
        for="categories-desktop__radio--all"
      >
        <i class="sprite categories categories__sprite--all" />
        All cards
      </label>

      <input
        id="categories-desktop__radio--cashback"
        type="radio"
        name="category-desktop"
        checked
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--cashback"
        for="categories-desktop__radio--cashback"
      >
        <i class="sprite categories categories__sprite--cashback" />
        Cashback
      </label>

      <input
        id="categories-desktop__radio--travel"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--travel"
        for="categories-desktop__radio--travel"
      >
        <i class="sprite categories categories__sprite--travel" />
        Travel
      </label>

      <input
        id="categories-desktop__radio--rewards"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--rewards"
        for="categories-desktop__radio--rewards"
      >
        <i class="sprite categories categories__sprite--rewards" />
        Rewards
      </label>

      <input
        id="categories-desktop__radio--shopping"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--shopping"
        for="categories-desktop__radio--shopping"
      >
        <i class="sprite categories categories__sprite--shopping" />
        Shopping
      </label>

      <input
        id="categories-desktop__radio--dining"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--dining"
        for="categories-desktop__radio--dining"
      >
        <i class="sprite categories categories__sprite--dining" />
        Dining
      </label>

      <input
        id="categories-desktop__radio--gas"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--gas"
        for="categories-desktop__radio--gas"
      >
        <i class="sprite categories categories__sprite--gas" />
        Gas
      </label>

      <input
        id="categories-desktop__item--entertainment"
        type="radio"
        name="category-desktop"
      >
      <label
        class="radio categories-desktop__item categories-desktop__item--entertainment"
        for="categories-desktop__item--entertainment"
      >
        <i class="sprite categories categories__sprite--entertainment" />
        Entertainment
      </label>
    </div>

    <!-- Mobile -->
    <div class="container is-hidden-tablet category-filter__mobile">
      <!-- <span>Browse</span> -->
      <div class="field">
        <div class="control">
          <div class="select">
            <span class="pretext">Showing</span>
            <select class="is-shadowless">
              <option>24 All Credit Cards</option>
              <option>32 Cashback Credit Cards</option>
              <option>12 Travel Credit Cards</option>
              <option>23 Groceries Credit Cards</option>
              <option>34 Shopping Credit Cards</option>
              <option>24 Dining Credit Cards</option>
              <option>25 Gas Credit Cards</option>
              <option>12 Entertainment Credit Cards</option>
            </select>
            <!-- <span>credit cards.</span> -->
          </div>
        </div>
      </div>
    </div>
    <div
      class="btn-filter is-pulled-right is-hidden-tablet"
      @click="$parent.isFilterModalActive = true"
    >
      <i />
    </div>
  </section>
</template>

<script>
export default {
  data: function () {
  },
  ready: function () {},
  created () {},
  methods: {
  },
  validations: {}
};
</script>

<style lang="scss" scoped>
@import "../../scss/category-filter";
</style>
