@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

.filter-cc {
	padding: 15px;
	background: #FFF;
	border: 1px solid $color-grey-25;
	border-radius: 3px;
	@include mobile {
		border: none;
		// padding: 0px;
	}
	&__section {
		margin-bottom: 20px;
		//Category headers
		.filter-label {
			font-family: $font-semibold;
			margin-bottom: 5px;
		}

		//Category field wrapper
		.field {
			margin-bottom: 0px;
    		@include mobile {
    			display: flex;
    			flex-wrap: wrap;
    		}
		}

		.filter-group {
		    // margin-right: 5px;
			label {
				font-family: $font;
				// width: 85%;
				&.disabled {
					opacity: .5;
					&:hover, &:active, &:focus {
						cursor: default !important;
					}
					@include mobile {
						&:hover, &:active, &:focus {
					      border: 1px solid $color-grey-25 !important;
					      background-color: #FFF !important;
					    }
					}
				}
			}

			// Tablet
			@include mobile {
				margin-right: 5px;
				display: flex;
    			align-items: stretch;
				width: calc(50% - 5px);

				input[type=checkbox]+label:before,
				input[type=radio]+label:before {
					display: none !important;
				}

				label {
					font-family: $font-semibold;
					display: flex;
				    justify-content: center;
				    flex-direction: column;
				    border: 1px solid $color-grey-25;
				    border-radius: 2px;
				    padding: 15px;
					width: 100%;
				    color: $color-grey-dark;
				    @include transition(all 0.1s ease);
				    .control-label {
						padding-left: 0px;
						width: 100%;
					}
				    &:hover {
				    	border: 1px solid #3F8DF2;
				    	background-color: rgba(#3F8DF2, 0.1);
				    }

				}
				input[type="checkbox"]:checked+label, input[type="radio"]:checked+label {
					border: 1px solid #3F8DF2;
					background-color: #3F8DF2;
					color: #FFF;
				}
			}
		}

		&--eligibility {
			margin-bottom: 30px;
			.field {
				margin-bottom: 10px;
			}
			span {
				margin-bottom: 5px;
				display: block;
			}
		}
		&--bank {
			.filter-label {
				cursor: pointer;
				@include transition(all 0.1s ease);
				&:hover {
					&::after {
						opacity: 0.7;
					}
				}
				&::after {
					content: "";
				    display: inline-block;
				    width: 14px;
				    height: 9px;
				    background: url('img/sprite_icon-base-redesign.png') 56px 1px;
				    background-size: 100px 101px;
				    margin-left: 8px;
				    position: relative;
    				top: -1px;
					@include transition(transform 0.1s ease);
				}
				&.collapsed::after {
					transform: rotate(-180deg);
				}
			}
		}
	}
}