@import "../../../node_modules/bulma/sass/utilities/_all";
@import "../../imoney-assets/scss/_inc/_icon-base";
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

#how-it-works {
	width: 100%;
	padding: 60px 30px;
	background-color: $color-blue-cobolt;
	background-image: linear-gradient(0deg,$color-brand1,#3f8df2);
	color: #FFF;
}

.how-it-works {
	&__header {
		color: #FFF;
		h2 {
			color: #FFF;
		}
		p {
			font-family: $font-light;
			@include font-size(2.0);
		}
	    @include tablet {
	    	margin-bottom: 30px;
	    }
	}
	&__point {
		text-align: center;
		max-width: 480px;
		margin: 0 auto;
		h4 {
			color: #FFF;
		}
		@include mobile {
			padding: 20px;
		}
	}
	&__image {
		display: block;
		width: 125px;
		height: 125px;
		margin: 0 auto 15px;
		background: url('img/sprite_personalloan.png') no-repeat 0px 0px;
		background-size: auto 125px;
		&.step1 {
			background-position: 0px 0px;
		}
		&.step2 {
			background-position: -125px 0px;
		}
		&.step3 {
			background-position: -250px 0px;
		}
	}
}