@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';

// List item
.product-listing {

  .product-card {
    background-color: #FFF;
    margin-bottom: 15px;
    border: 1px solid $color-grey-25;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(67,76,85,.1);

    & > .columns {
      margin: 0;
    }
    .col-text-header{
      padding-top: 0;
    }
    &__title {
      //padding: 15px;
      font-family: $font-semibold;
      @include font-size(1.8);
      line-height: 2rem;
      @include mobile {
        @include font-size(1.6);
        line-height: 1.9rem;
      }
    }
    .col-title{
      padding-top: 5px;
      padding-bottom: 5px;
      display: flex;
    }
    .col-keypoints{
      padding-top: 5px;
      padding-bottom: 5px;
    }
    &__image {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;      
      img {
        max-width: 100px;
        max-height: 30px;
        width: auto;
        height: auto;
      }
      @include mobile {
        padding-left: 0;
        text-align: right;
        img {
          max-width: 100%;
        }
      }
    }

    &__keypoint {
      padding-top: 0px;
      @include font-size(1.4);
      color: #626161;
      line-height: 20px;
      span {
        display: block;
        font-family: $font-semibold;
        @include font-size(1.6);
        color: $color-grey-dark;
      }
      &:last-child span {
        @include font-size(2.4);
        color: #2F4D84;
      }
      @include tablet-only {
        &:last-child span {
          @include font-size(2.0);
        }
      }
      @media (min-width: 481px) and (max-width: 768px) {
        width: 33%;
      }
      @media (max-width: 480px) {
        order: 2;
        &:last-child {
          order: 1;
          line-height: 22px;
        }
      }
    }

    &__promomsg { // Promo message
      display: flex;
      align-self: flex-end;
      background-color: rgba(#F7E134,0.2);
      padding: 13px;
      font-family: $font-semibold;
      @include font-size(1.6);
      color: #68530B;
      line-height: 2rem;
      @include mobile {
        @include font-size(1.4);
      }
    }

    &__moreinfo a {
      display: block;
      padding: 10px 0;
      max-width: 110px;
    }

    &__applybtn {
      @media (min-width: 480px) and (max-width: 768px) {
        width: 50%;
        margin-left: 16%;
      }
    }

    // Featured product card
    &.featured {
      background: rgba(#F7E134, 0.05);
      border: 1px solid rgba(11,123,203,.4);
      border-top: none;
      box-shadow: 0 1px 0 0 $color-grey-10;
      .col-title{
        padding-top: 0;
        padding-bottom: 0;
      }  
      .col-text-header{
        padding-bottom: 0;
        display: flex;
        .is-multiline{
          margin-bottom: 0;
          align-items: flex-end;
          width: calc(100% + (var(--columnGap)*2));
        }
      }
      .product-card {
        &__banner{
          line-height: 0;
        }  
        &__ftmsg { // Featured message
          display: block;
          width: calc(100% + 2px);
          margin-left: -1px;
          padding: 10px 15px;
          background: #F7B528;
          border-radius: 3px 3px 0 0;
          color: #68530B;
          font-family: $font-semibold;
          &--inline {
            display: block;
          }
        }
        @media (min-width: 1280px) {
          &__promomsg {
            //position: absolute;
            //bottom: 0;
          }
        }
      }
    }
  }
  .button{
    @include font-size(1.6);
  }
}