@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';
@import "../../scss/global-vertical";

#product-page {
  background-color: white;
  padding-top: 50px;

  h2 {
    font-family: $font;
    color: $color-brand1;
    margin-bottom: 20px;
    @include mobile {
      @include font-size(2.4);
    }
  }

  h3 {
    @include font-size(2.0);
    color: #2F4D84;
    font-family: $font;
    margin: 20px auto 15px;
    &.line {
      @include tablet {
        display: flex;
        span {
          white-space: nowrap;
        }
        &:after {
          content: "";
          align-self: center;
          display: inline-block;
          border-bottom: 1px solid #E9EDF4;
          width: 100%;
          margin-left: 15px;
        }
      }
    }
    @include mobile {
      @include font-size(1.8);
    }
  }

  ul.list-bullet {
    li {
      position: relative;
      padding-left: 15px;
      margin-bottom: 15px;
      @include mobile {
        margin-bottom: 10px;
      }
      &::before {
        position: absolute;
        margin-left: -15px;
        margin-top: 7px;
      }
    }
    &.list-other-info {
      &--title {
        @include font-size(1.5);
        margin-bottom: 5px;
      }
    }
  }
  .key-info--point {
    padding-left: 75px;
    position: relative;
  }
  .key-info--title {
    font-family: $font-semibold;
    @include font-size(2.0);
    line-height: 2.2rem;
    @include mobile {
      @include font-size(1.8);
    }
  }
  .key-info--description {
    opacity: 0.7;
    @include font-size(1.5);
    line-height: 1.8rem;
    @include mobile {
      @include font-size(1.5);
    }
  }

  .sprite-product {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.6;
  }

  .sprite-product {
    content: "";
    display: inline-block;
    width: 65px;
    height: 52px;
    background: url('img/sprite_productpage.png') no-repeat 0px 0px;
    background-size: auto 52px;
    &--interest {background-position: 0px 0px;}
    &--total-repayment {background-position: -65px 0px;}
    &--monthly-repayment {background-position: -130px 0px;}
    &--min-amount {background-position: -195px 0px;}
    &--max-amount {background-position: -260px 0px;}
    &--duration {background-position: -325px 0px;}
    &--process-fee {background-position: -390px 0px;}
    &--stamp-duty {background-position: -455px 0px;}
    &--eligibility {background-position: -520px 0px;}
  }

  .marginless {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  ////////////////////
  //Section: Overview
  ////////////////////

  .overview {
    padding-bottom: 20px;
    &--left {
      @include tablet {
        padding-top: 0px;
      }
      &__category {
        @include font-size(1.5);
        @include mobile {
          display: block;
          text-align: center;
        }
      }
      &__product-name {
        @include font-size(4.5);
        color: $color-brand1;
        font-family: $font-serif;
        line-height: 3.2rem;
        margin-bottom: 15px;
        @include mobile {
          text-align: center;
          @include font-size(3.0);
          margin-bottom: 10px;
        }  
      }
      &__key-info {
        &--point {
          @include mobile {
            padding-left: 0px;
          }
        }
        @include mobile {
          padding: 0px 10px;
          text-align: center;
          .sprite-product {
            position: relative;
          }
        }
      }
    }
    &--right, &--mobile-cta {
      text-align: center;
      img {
        max-height: 63px;
        margin-bottom: 15px;
      }
    }
    &--mobile-cta {
      margin-bottom: 20px;
      .button.orange {
        max-width: 200px;
        margin: 0 auto;
      }
    }
  }

  ////////////////////////
  //Section: Calculator
  ////////////////////////

  .calculator {
    background-color: white;
    border: solid 1px $color-grey-25;
    border-radius: $radius;
    &--input, &--output > .columns {
      max-width: 760px;
      margin: 0 auto;
      padding: 20px;
    }
    &--output {
      background: rgba($color-brand1, .05);
      strong {
        font-family: $font-semibold;
      }
      &__value {
        font-family: $font-bold;
        @include font-size(2.0);
        color: #2F4D84;
        span {
          @include font-size(1.4);
        }
      }
    }
    h4 {
      color: $color-blue-cobolt;
      text-align: center;
      margin: 5px auto 20px;
    }
    .b-tooltip {
      display: block;
    }
    @include mobile {
      width: calc(100% - 30px) !important;
      strong { display: block; }
    }
    @media (max-width: 343px) {
      &--output { @include font-size(1.2); }
    }
  }

  ////////////////////////
  //Section: Promo Banner
  ////////////////////////

  .promo {
    display: table;
    background-color: #2D4067;
    color: white;
    width: 100%;
    height: 250px;
    box-shadow: 0px 0px 8px 0px rgba(7,69,107,0.2);
    position: relative;
    z-index: 4;
    margin-bottom: -150px;
    margin-top: 15px;
    @include mobile {
      width: calc(100% - 30px) !important;
    }
    .promo--section {
      display: table-cell;
      vertical-align:middle;
      &_img {
        max-height: 250px;
        text-align: center;
        @include tablet {
          background-color: darken($color-brand1, 5%);
          width: 50%
        }
        @include desktop {
          width: 477px;
        }
      }
      &_content {
        padding: 15px 30px;
        &--label {
          display: block;
          @include font-size(1.2);
          margin-bottom: 15px;
          opacity: 0.8;
        }
        &--title {
          @include font-size(2.0);
          color: white;
        }
        &--message {
          display: block;
          margin-bottom: 15px;
        }
      }
      @include mobile {
        display: block;
        &_img {
          width: 100%;
          max-height: none;
          img { width: 100%; }
        }
        &_content {
          text-align: center;
          &--title {
            line-height: 2.2rem;
            margin-bottom: 7px;
          }
        }
        .button.orange {
          width: 100%;
        }
      }
    }
  }

  ////////////////////
  //Section: Features
  ////////////////////
  .features-wrap {
    background-color: rgba(11,123,203,0.05);
    position: relative;
    .mask-rounded {
      border-radius: 0 0 50% 50%; //0 0 50% 50%/0 0 6% 6%;
      background-color: white;
      display: block;
      content: "";
      width: 100%;
      height: 40px;
    }
    .features {
      @include mobile {
        padding: 0 20px;
      }
      & > .columns {
        @include tablet {
          min-height: 250px;
        }
      }
      &--content {
        padding: 30px 0px;
        align-self: center;
        ul.list-bullet li {
          @include font-size(1.6);
        }
        @include mobile {
          padding: 30px 0px 50px;
        }
      }
      &--img {
        padding: 30px 20px;
        align-self: center;
      }
      .other-info .column {
        @include mobile {
          padding: 0 10px;
        }
      }
      .key-features {
        @include font-size(2.0);
        color: white;
        margin-bottom: 30px;
        h2 { color: white; }
        &--list {
          li {
            margin-bottom: 15px;
            .key-features-title {
              font-family: $font-semibold;
            }
            .key-features-description {
              @include font-size(1.8);
              opacity: 0.7;
            }
            &:before {
              content: "";
              display: inline-block;
              width: 17px;
              height: 17px;
              margin-right: 10px;
              background: url('img/sprite_icon-base-redesign.png') 22px -37px;
              background-size: 100px 101px;
            }
          }
        }
        @include mobile {
          @include font-size(1.6);
          .key-features-description {
            @include font-size(1.6);
          }
        }
      }
    }
    &.has-key-features {
      background: linear-gradient(to right, #3F8DF2, $color-brand1);
      color: white;
      h3 {
        color: white;
        opacity: 0.8;
        &:after {
          border-bottom: 1px solid white;
          opacity: 0.3;
        }
      }
      ul.list-bullet {
        font-family: $font-semibold;
        @include font-size(1.4);
        li:before {
          background-position: -95px -12px;
        }
      }
    }
  }
  .is-promo {
    padding-top: 150px;
    .mask-rounded {
      position: absolute;
      top: 0;
    }
  }

  ///////////////////////////
  //Section: Product Features
  ///////////////////////////

  .product-features {
    padding-top: 50px;
    @include mobile {
      padding: 50px 20px 20px;
    }
  }

  ///////////////////////////
  //Section: Fees & Charges
  ///////////////////////////

  .fees-charges {
    padding-top: 50px;
    .other-info .column {
      @include mobile {
        padding: 0 10px;
      }
    }
    @include mobile {
      padding: 15px 20px 20px;
    }
  }

  ///////////////////////////
  //Section: Eligibility
  ///////////////////////////

  .eligibility {
    padding-top: 50px;
    .other-info .column {
      @include mobile {
        padding: 0 10px;
      }
    }
    @include mobile {
      padding: 15px 20px 20px;
    }
  }

  ///////////////////////////
  //Section: Product Review
  ///////////////////////////

  .product-review {
    padding: 50px 0;
    &--product-blurb {
      text-align: center;
      padding: 15px;
      border: 1px solid $color-grey-25;
      border-radius: 3px;
      .button {
        padding: 10px 20px;
      }
      @include mobile {
        padding: 30px 0 50px;
      }
      &__product-name {
        display: block;
        padding: 10px 0;
        @include font-size(1.6);
        color: $color-grey-dark;
        font-family: $font-semibold;
        line-height: rem;
      }
    }
    &--content {
      .top__logo {
        display: inline-block;
        margin-left: 5px;
        margin-top: 0px;
        @include mobile {
          margin-bottom: 15px;
          margin-left: 3px;
        }
      }
      h2 {
        display: inline-block;
        margin-bottom: 10px;
        @include mobile {
          margin-bottom: 0px;
          margin: 0 auto;
        }
      }
      h3 {
        margin-bottom: 0px;
        margin-top: 20px;
        color: #2F4D84;
      }
      h4 {
        @include font-size(1.5);
      }
      p {
        line-height: 2.2rem;
        margin-bottom: 1rem;
      }
      ul {
        margin: 0 0 10px 10px;
  
        li:before {
          content: "";
          display: inline-block;
          @include sprite($base_list-bullet);
          margin: 0 10px 0 3px;
        }
      }
      @include mobile {
        padding: 0px 20px;
      }
      @include tablet {
        padding-left: 15px;
      }
    }
    //------------------------
    //Subsection: Other Cards
    //------------------------
    .other-cards {
      & > .column {
        padding: 10px 15px;
      }
      .other-cards-section {
        margin-bottom: 30px;
        &--product {
          display: flex;
          align-items: center;
          img {
            max-width: 75px;
            margin-right: 15px;
          }
          &__name {
            // color: $color-blue-cobolt;
            font-family: $font-semibold;
            line-height: 1.6rem;
          }
        }
      }
    }
    .plug-learning-centre {
      &--img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          @include mobile {
            padding: 0px;
            max-width: 200px;
          }
        }
      }
      &--content {
        padding: 10px 20px;
        @include mobile {
          padding: 0px;
          text-align: center;
        }
        h5 {
          @include font-size(1.8);
          margin-bottom: 5px;
          line-height: 2.2rem;
        }
        span {
          display: block;
          margin-bottom: 15px;
        }
      }
    }
  }
  //Remove outline in sections for navigational scroll
  .nav-scroll {
    outline: none;
  }
  
  section#faq{
    padding: 0;
    .faq__content{
      padding: 0;
    }
  }
} //close #product-page

//Fix position for Product Review by iMoney logo for each region
.imoney-my {
  #product-page .product-review--content .top__logo {
    @include tablet {
      margin-top: -12px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
}

.imoney-ph {
  #product-page .product-review--content .top__logo {
    @include tablet {
      margin-top: -13px;
    }
    @include mobile {
      margin-bottom: 8px;
    }
  }
}

//Hidden anchor for calculator--output on 'Calculate' button click
#calculator--output {
  @include tablet {
    margin-top: -60px;
    position: absolute !important;
  }
  position: relative;
}