@import '../../../node_modules/bulma/sass/utilities/_all';
@import '../../imoney-assets/scss/_inc/_icon-base';
@import '../../imoney-assets/scss/_inc/_redesign-cheatsheet';
@import "../../scss/global-vertical";

.section-bar {
	&--mobile {
		color: #FFF;
		font-size: 18px;
		padding: 20px;
		width: 100%;
		height: 55px;
		padding: 0px;
		background: $color-brand1;
		margin-top: -1px;
		width: 100%;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 10;
		.select {
			display: flex;
			align-items: center;
			select {
				display: inline-block;
				color: #FFF;
				font-family: $font-semibold;
				text-align: left;
				border-color: transparent;
				background-color: transparent;
				@include font-size(1.6);
				border-radius: 0px;
				padding: 0;
				padding-right: 20px;
				margin-left: 10px;
				@media (max-width: 375px) {
					@include font-size(1.5);
				}
			}
			option {
				text-align: left;
			}
		}
		
		.select span {
			display: inline;
				vertical-align: top;
				line-height: 33px;
				@include font-size(1.6);
				margin-left: 3px;
				&.pretext {
					@media (max-width: 525px) {
					display: none;
				}
			}
		}
		.select:not(.is-multiple):not(.is-loading):after {
			position: initial;
				margin-left: -10px;
				right: 0px;
				border-color: #FFF;
				transform: rotate(135deg);
				margin-top: 5px;
		}
	}



	&--desktop {
		width: 100%;
		top: 0px;
		position: fixed;
		z-index: 20; // increased to cover active combobox
		background-color: $color-brand1;
		@include transition(all 0.3s ease);
		color: white;
	    transition-property: transform;
	    transform: translate3d(0,-90px,0);

		&__card-info {
			padding-top: 0px;
			display: flex;
			align-items: center;
			font-family: $font-semibold;
		}
		&__img-holder {
			background-color: white;
			border-radius: 3px;
			margin: auto 10px;
			padding: 3px;
			max-width: 120px;
			max-height: 45px;
			img {
				max-height: 42px;
			}
		}
		&__navigation {
			padding-top: 0px;
			padding-left: 0px;
			.menu-center {
				margin: 0 auto;
				ul {
					display: flex;
					justify-content: center;
					align-items: stretch;
					border-left: 1px solid rgba(11,123,203,0.5);
					li {
						list-style: none;
						display: inline-block;
					}
					a {
						display: flex;
						flex-grow: 1;
						padding: 23px 20px;
						align-items: center;
						justify-content: center;
						@include font-size(1.4);
						color: white;
						text-decoration: none;
						text-align: center;
						transition: background-color .3s ease-in;
						&:hover {
							cursor: pointer;
							background-color: lighten( $color-brand1, 5% );
						}
					}
					.active, a:active {
						@include font-size(1.4);
						color: white;
						text-decoration: none;
						background-color: #3F8DF2;
						&:hover {
							background-color: lighten( #3F8DF2, 5% );
						}
					}
				}
			}
		}
		&__cta {
			padding-top: 0;
    		padding-right: 20px;
    		display: flex;
    		align-items: center;
		}
		&.slidein {
			transition: .4s ease;
    		transform: translate3D(0,0,0);
		}
	}
}

.marginless {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}