<template>
  <section id="how-it-works">
    <div class="container">
      <div class="how-it-works__header has-text-centered">
        <h2>{{ translate("How Do You Apply for a Personal Loan through iMoney?") }}</h2>
        <p>{{ translate("Easy and hassle-free application process in 3 simple steps") }}</p>
      </div>
      <div class="columns">
        <div class="column is-4 how-it-works__point">
          <div class="how-it-works__image step1" />
          <h4>{{ translate("Step 1") }}</h4>
          {{ translate("Use our personal loan calculator to find the best personal loan based on your requirements and eligibility") }}
        </div>
        <div class="column is-4 how-it-works__point">
          <div class="how-it-works__image step2" />
          <h4>{{ translate("Step 2") }}</h4>
          {{ translate("Select the best product that fits your requirements from the list of recommended personal loan products listed Click on the Apply button") }}
        </div>
        <div class="column is-4 how-it-works__point">
          <div class="how-it-works__image step3" />
          <h4>{{ translate("Step 3") }}</h4>
          {{ translate("Fill in a form with your details to be submitted for application, and a representative from iMoney or the bank will call you to process the application")}}
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  components: {
  },
  data: function () {
    return {
    };
  },
  ready: function () {},
  created () {},
  methods: {
  },
  validations: {}
};
</script>

<style lang="scss">
@import "../../../scss/my/how-it-works";
</style>
