<template>

    <section class="product-listing">
        <div v-for="(item, index) in dataList" :key="index">
            <div v-if="index === 3" class="list-item dfp-ads mid-leaderboard">
                <!-- Desktop Ad -->
                <!-- /422122608/V4_728_90_Mid_Leaderboard_D-->
                <div id="div-gpt-ad-1447813095536-0" style="height:90px;" class="is-hidden-touch" />
                <!-- Mobile Ad -->
                <!-- /422122608/V4_320_50_Mid_Leaderboard_M -->
                <div id="div-gpt-ad-1447813095536-4" style="height:50px;" class="is-hidden-tablet" />
            </div>
            <!-- Ads: Mid leaderboard -->

            <div class="product-card" :class="{'featured' : item.promo}">
                <!-- Featured message -->
                <div v-if="item.promo" class="product-card__ftmsg">
                    <!-- <i class="sprite star white"></i> -->
                    <span v-if="item.promo_text">{{ item.promo_text }}</span>
                    <span v-else>Featured</span>
                </div>

                <!-- Product title -->
                <div class="columns is-variable is-5 is-mobile is-multiline" :style="[item.promo ? {'margin-bottom' : '15px'} : '']">
                    <div v-if="item.promo" class="column is-3-tablet is-12-mobile is-paddingless is-hidden-tablet-only is-hidden-desktop-only product-card__banner">
                        <img v-lazy="item.promo_image ? '/' + item.promo_image : ''">
                    </div>
                    <div class="column" :class="item.promo ? 'is-9-widescreen' : 'is-12-widescreen'" style="position:relative;">
                        <div class="columns is-variable is-5 is-mobile is-multiline is-vcentered">
                            <div class="column is-9-tablet is-9-mobile product-card__title">
                                <a data-subject="User" data-action="Click" data-region="Listing Content Main" data-vertical="Personal Loan" data-description="Product Title" :data-value="item.title" :href="'/'+ item.path_alias">{{ item.title }}</a>
                            </div>
                            <div class="column is-3-tablet is-3-mobile product-card__image">
                                <img v-if="item.personalLoanBank.bank" v-lazy="'/' + item.personalLoanBank.logo">
                                <img v-else src>
                            </div>
                            <!-- Show promo text if have -->
                            <!-- Promo text -->
                            <div v-if="item.promo" class="column is-12-tablet is-12-mobile product-card__promomsg">
                                <!-- <div class="column is-12-tablet is-12-mobile product-card__promomsg" v-if="item.promo"> -->
                                <i class="sprite star blue" />
                                <span v-if="item.promo_description">{{ item.promo_description }}</span>
                            </div>
                            <!-- end promo text -->
                        </div>
                    </div>
                </div>

                <!-- Product keypoints -->
                <div class="columns is-variable is-5 is-mobile is-multiline">
                    <div class="column is-3-desktop is-3-tablet is-6-mobile product-card__keypoint">
                        <span>{{ item.productInterestRate }}%</span> {{ translate(checkIslamicProduct(item.is_islamic)) }}
                    </div>
                    <div class="column is-3-desktop is-3-tablet is-hidden-mobile product-card__keypoint">
                        <span>RM {{ addCommas(item.max_amount) }}</span> {{ translate(returnLoanOrFinancing(item.is_islamic)) }}
                    </div>
                    <div class="column is-3-desktop is-3-tablet is-6-mobile product-card__keypoint">
                        <span>RM {{ addCommas(item.totalAmountPayable) }}</span> {{ translate('Total Repayment') }}
                    </div>
                    <div class="column is-3-desktop is-3-tablet is-12-mobile has-text-centered product-card__keypoint">
                        <span>RM {{ addCommas(item.monthlyRepayment) }}</span> {{ translate('Monthly Repayment') }}
                    </div>
                </div>

                <!-- CTAs -->
                <div class="columns is-variable is-5 is-mobile is-multiline">
                    <div class="column is-9-desktop is-6-tablet is-4-mobile product-card__moreinfo">
                        <a data-subject="User" data-action="Click" data-region="Listing Content Main" data-vertical="Personal Loan" data-description="More Info Button" :data-value="item.title" @click="sendMoreInfo(item)">
            {{ translate("More") }}
            <i class="sprite dots-3" />
          </a>
                    </div>
                    <div class="column is-3-desktop is-6-tablet is-8-mobile product-card__applybtn">
                        <div data-subject="User" data-action="Click" data-region="Listing Content Main" data-vertical="Personal Loan" data-description="Apply Button" :data-value="item.title" class="button orange is-fullwidth" @click="apply(item)">
                            {{ translate('Apply Now') }}
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <!-- More Info Modal -->
        <b-modal :active.sync="isMoreInfoActive" animation="fade" width="100%" scroll="clip">
            <more-info :class="{active : isMoreInfoActive}" />
        </b-modal>

        <apply-form :url="context.urls.listing" />
    </section>
</template>

<script>
    import moreInfo from '../modals/my/moreInfo';
    import applyForm from 'applyForm.vue';
    import {
        addCommas
    }
    from 'numberFormat';
    import bus from 'bus.js';
    import {
        checkIfProductIsIslamic
    }
    from 'helper.js';

    export default {
        components: {
            moreInfo,
            applyForm
        },
        filters: {},
        props: ['dataList', 'context'],
        data: function() {
            console.log("contest data", this.context.lang);
            return {
                isMoreInfoActive: false,
                addCommas,
                applybtnfrom: "en_pl_listing"
            };
        },
        created: function(){
             if(this.context.lang==="ms"){
                 this.applybtnfrom = "ms_pl_listing";
                }
        },
        mounted: function() {
            googletag.cmd.push(function() {
                googletag.display("div-gpt-ad-1447813095536-0");
            });
            googletag.cmd.push(function() {
                googletag.display("div-gpt-ad-1447813095536-4");
            });
        },
        methods: {
            returnLoanOrFinancing(islamic) {
                    return `Max.${checkIfProductIsIslamic(islamic)} Amount`
                },
                apply(Loan) {
                    this.$store.commit("setDefaultMode", false);
                    this.$store.commit("setApplyBtnFrom", this.applybtnfrom);
                    console.log(this.applybtnfrom,' *** Tacking Data Apply From listing page *** ',this.$store.state.applyBtnFrom);
                    let newLoan = {};
                    const returnedLoan = Object.assign(newLoan, Loan);
                    if (Loan.apply_form_flow === 3) {

                    } else {
                        bus.$emit('apply', returnedLoan);
                    }

                },
                sendMoreInfo(item) {
                    this.isMoreInfoActive = true;
                    this.$store.commit('setPersonalLoan', item);
                },
                checkIslamicProduct(isIslamic) {
                    if (isIslamic) {
                        return 'Profit rate';
                    }
                    return 'Interest rate';
                }
        },
        validations: {}
    };
</script>

<!--suppress SassScssUnresolvedMixin -->
<style lang="scss" scoped>
    @import "../../../scss/my/list-item";
</style>