<template>
  <section class="filter-cc">
    <div class="filter-cc__section filter-cc__section--eligibility">
      <div class="filter-label">
{{ translate('Loan Details') }}
</div>

      <span>{{ translate('Loan Amount') }}</span>
      <b-tooltip
        :label="checkMaxOrMinAmount.checked ? `${translate(checkMaxOrMinAmount.message)} ${checkMaxOrMinAmount.amount}` : ''"
        position="is-bottom"
        animated
        :always="checkMaxOrMinAmount.checked"
        :active="checkMaxOrMinAmount.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">RM</a>
          </p>

          <p class="control is-expanded">
            <input v-if="loanAmountVisibility === false"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Loan"
              :data-value="amount"
              type="text"
              pattern="[0-9]*"
              :value="amount"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              v-on:keypress="validateMoneyFormat(event, 'amount')"
              @input="updateValue"
              @blur="onBlurLoanAmount"
            >
            <input v-if="loanAmountVisibility === true"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Loan"
              type="text"
              :class="checkMaxOrMinAmount.checked ? `input is-danger` : `input`"
              :placeholder="placeholderAmount"
              :value="addCommas(amount)"
              @input="updateValue"
              @focus="onFocusLoanAmount"
            >
            <!-- is-danger shows red border for validation -->
          </p>
        </div>
      </b-tooltip>

      <span>{{ translate('Loan Tenure') }}</span>
      <div class="field">
        <div class="control is-expanded">
          <div class="select">
            <select
              v-model="tenure"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Tenure"
              :data-value="tenure"
            >
              <option v-for="index in tenureFromProducts"
:key="index">
{{ index }}
</option>
            </select>
          </div>
        </div>
      </div>

      <span>{{ translate('Monthly Income') }}</span>
      <b-tooltip
        :label="checkMinIncome.checked ? `${translate(checkMinIncome.message)} ${checkMinIncome.income}` : ''"
        position="is-bottom"
        animated
        :always="checkMinIncome.checked"
        :active="checkMinIncome.checked"
      >
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">RM</a>
          </p>
          <p class="control is-expanded">
            <input v-if="monthlySalaryVisibility === false"
              data-subject="User"
              data-action="Input"
              data-region="Listing Filter"
              data-vertical="Personal Loan"
              data-description="Income"
              :data-value="income"
              :value="income"
              type="text"
              :class="checkMinIncome.checked ? `input is-danger` : `input`"
              :placeholder="placeholderIncome"
              v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
              @input="updateIncome"
              @blur="onBlurMonthlySalary"
            >

           <input v-if="monthlySalaryVisibility === true"
             data-subject="User"
             data-action="Input"
             data-region="Listing Filter"
             data-vertical="Personal Loan"
             data-description="Income"
             :class="checkMinIncome.checked ? `input is-danger` : `input`"
             type="text"
             :placeholder="placeholderIncome"
             :value="addCommas(income)"
             @input="updateIncome"
             @focus="onFocusMonthlySalary"
           >
            <!-- is-danger shows red border for validation -->
          </p>
        </div>
      </b-tooltip>
    </div>

    <!-- <div class="filter-cc__section filter-cc__section--features">
      <div class="filter-group">
        <input
          id="features_lowinterest"
          v-model="isLowestInterest"
          type="checkbox"
          :value="isLowestInterest"
        >
        <label
          for="features_lowinterest"
          tabindex="0"
          class="b-checkbox checkbox"
        >
          <span class="control-label">Show all loans in lowest interest rate</span>
        </label>
      </div>
    </div>-->

    <div class="filter-cc__section filter-cc__section--features">
      <div class="filter-label">
{{ translate('Features') }}
</div>

      <div class="field">
        <div class="filter-group">
          <input
            id="features_fastapproval"
            v-model="isFastApproval"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Fast Approval"
            type="checkbox"
            :value="isFastApproval"
          >
          <label for="features_fastapproval"
tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Fast Approval') }}</span>
          </label>
        </div>

<div class="filter-group">
          <input
            id="features_payday"
            v-model="isPayday"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Payday"
            type="checkbox"
            :value="isPayday"
          >
          <label for="features_payday"
 tabindex="0" class="b-checkbox checkbox">
           <span class="control-label">{{ translate('Low Income') }}</span>
          </label>
        </div>

        <div class="filter-group" v-show="!islamicPage">
          <input
            id="features_islamic"
            v-model="isIslamic"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Islamic"
            type="checkbox"
            :value="isIslamic"
          >
          <label for="features_islamic"
tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Islamic Loans') }}</span>
          </label>
        </div>

        <div class="filter-group">
          <input
            id="features_government"
            v-model="isGovernmentServant"
            data-subject="User"
            data-action="Input"
            data-region="Listing Filter"
            data-vertical="Personal Loan"
            data-description="Feature Type"
            data-value="Government Servant"
            type="checkbox"
            :value="isGovernmentServant"
          >
          <label for="features_government"
tabindex="0" class="b-checkbox checkbox">
            <span class="control-label">{{ translate('Government Servant') }}</span>
          </label>
        </div>
      </div>
    </div>

    <div class="filter-cc__section filter-cc__section--bank">
      <div
        class="filter-label"
        :class="{collapsed : filterMoreBank}"
        @click="filterMoreBank = !filterMoreBank"
      >
{{ translate('Preferred Bank') }}
</div>
      <div>
        <div class="field">
          <div v-for="bank in preferredBanks"
:key="bank" class="filter-group">
            <input :id="bank"
v-model="filterBanks" type="checkbox" :value="bank">
            <label :for="bank"
tabindex="0" class="b-checkbox checkbox">
              <span class="control-label">{{ bank }}</span>
            </label>
          </div>
        </div>
        <transition name="fade">
          <div v-if="filterMoreBank"
class="field">
            <div v-for="bank in nonPrefferedBanks"
:key="bank" class="filter-group">
              <input :id="bank"
v-model="filterBanks" type="checkbox" :value="bank">
              <label :for="bank"
tabindex="0" class="b-checkbox checkbox">
                <span class="control-label">{{ bank }}</span>
              </label>
            </div>
          </div>
        </transition>
      </div>

      <div :class="{collapsed : filterMoreBank}"
@click="filterMoreBank = !filterMoreBank">
        <a
          v-if="filterMoreBank === false"
          data-subject="User"
          data-action="Click"
          data-region="Listing Filter"
          data-vertical="Personal Loan"
          data-description="More Banks"
          data-value="More banks"
        >+ {{ translate("More banks") }}</a>
        <a
          v-else
          data-subject="User"
          data-action="Click"
          data-region="Listing Filter"
          data-vertical="Personal Loan"
          data-description="Hide Banks"
          data-value="Hide Banks"
        >- {{ translate('Hide banks') }}</a>
      </div>
    </div>

    <div class="is-hidden-tablet">
      <div class="button orange is-fullwidth"
@click="toastApply">
{{ translate("Apply filter") }}
</div>
    </div>
    <div
      data-subject="User"
      data-action="Input"
      data-region="Listing Filter"
      data-vertical="Personal Loan"
      data-description="Reset to Default"
      data-value="Reset to Default"
      class="button no-style is-fullwidth"
      @click="toastClear"
    >
{{ translate('Reset to Default') }}
</div>
  </section>
</template>

<script>
import Calculator from 'calculation';
import { mapGetters, mapActions } from "vuex";

import {
  addCommas,
  checkMaxOrMinAmountAllProducts,
  checkMinIncomeAllProducts
} from 'numberFormat';

export default {
  props: [
    'amount',
    'tenure',
    'income',
    'isFastApproval',
    'isPayday',
    'isIslamic',
    'isGovernmentServant',
    'isLowestInterest',
    'bankPersonalLoan',
    'filterBanks',
    'islamicPage'
  ],
  data: function () {
    this.$store.commit('setIsAmountChanged', true);
    this.$store.commit('setIsTenureChanged', true);
    return {
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      filterMoreBank: false,
      placeholderAmount: this.amount,
      placeholderIncome: this.income,
      max: 11,
      addCommas,
      preferredBanks: [],
      nonPrefferedBanks: []
    };
  },
  created() {
    // Bank List will be located on the side filter
     // if(this.currency == "RM")
    this.bankList();
  },
  computed: {
    checkMaxOrMinAmount () {
     return checkMaxOrMinAmountAllProducts(this.bankPersonalLoan, this.amount);
    },
    checkMinIncome () {
      return checkMinIncomeAllProducts(this.bankPersonalLoan, this.income);
    },
    tenureFromProducts () {
      if (this.bankPersonalLoan.length > 0) {
        const max = this.bankPersonalLoan.reduce((acc, i) =>
          i.max_tenure > acc.max_tenure ? i : acc
        );
        return max.max_tenure;
      }
      return 0;
    }
  },
  watch: {
    amount () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setAmount', this.amount);
      //this.setAmount(this.amount);
    },
    tenure () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setTenure', this.tenure);
    },
    income () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setIncome', this.income);
      //this.setIncome(this.income);
    },
    isFastApproval () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setFastApproval', this.isFastApproval);
    },
    isPayday () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setIsPayday', this.isPayday);
    },
    isIslamic () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setIslamic', this.isIslamic);
    },
    isGovernmentServant () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setGovernmentServant', this.isGovernmentServant);
    },
    isLowestInterest () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setLowestInterest', this.isLowestInterest);
    },
    filterBanks () {
      this.$store.commit('setDefaultMode', false);
      this.$store.commit('setFilterBank', this.filterBanks);
    }
  },
  methods: {
   onBlurLoanAmount(){
    this.loanAmountVisibility = true;
   },

   onFocusLoanAmount(){
    this.loanAmountVisibility = false;
   },

   onBlurMonthlySalary(){
     this.monthlySalaryVisibility = true;
   },

   onFocusMonthlySalary(){
    this.monthlySalaryVisibility = false;
   },
 
   validateMoneyFormat(evt, key){
      evt = (evt) ? evt : window.event;
      let charCode = (evt.which) ? evt.which : evt.keyCode;
      
      let strAmount = this.getRelatedAmount(key);
      // if(this.currency === "RM"){
       // only allow number
       if(charCode < 48 || charCode > 57){
          evt.preventDefault();
          return false
       }
      //   if(this.numberAndOneDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }
      //   if(this.restrictTo2DecimalsWithDot(charCode, strAmount)){
      //     evt.preventDefault();
      //     return false
      //   }

     // }
      return true;
    },

    getRelatedAmount(key){
      if(key === 'amount')
        return this.amount !== null  ? this.amount.toString() : '0'; 
      if(key === 'monthly_salary'){
        return this.reformed_monthly_salary !== null ? this.income.toString() : '0'; 
       }
    },
    bankList() {
      this.bankPersonalLoan.forEach(bank => {
        let bankPL = bank.personalLoanBank.bank;
        let checkIndex = (this.preferredBanks.indexOf(bankPL.name) === -1) && (this.nonPrefferedBanks.indexOf(bankPL.name) === -1)
        let checkExistence = bankPL && checkIndex
        if (bank.promo && checkExistence) {
          this.preferredBanks.push(bankPL.name);
        } else if (!bank.promo && checkExistence) {
          this.nonPrefferedBanks.push(bankPL.name);
        }
      })
      this.preferredBanks.sort();
      this.nonPrefferedBanks.sort();
    },
    updateValue (event) {
      const value = event.target.value;
      if (String(value).length <= 11) {
        this.amount = value;
      }
      this.$forceUpdate();
    },
    updateIncome (event) {
      const value = event.target.value;
      if (String(value).length <= 9) {
        this.income = value;
      }
      this.$forceUpdate();
    },
    toastApply () {
      this.$toast.open({
        message: this.translate('Filter applied'),
        type: 'is-success'
      });

      this.$emit('closeParent');
    },
    toastClear () {
      this.$store.commit('setAmount', 30000);
      this.$store.commit('setTenure', 3);
      this.$store.commit('setIncome', 5000);
      this.$store.commit('setFastApproval', false);
      this.$store.commit('setIsPayday', false);
      this.$store.commit('setIslamic', false);
      this.$store.commit('setGovernmentServant', false);
      this.$store.commit('setLowestInterest', this.isLowestInterest);
      this.$store.commit('setFilterBank', []);
      this.$store.commit('setDefaultMode', true);

      this.$toast.open({
        message: this.translate("Reset to Default"),
        type: 'is-success'
      });

      this.$emit('closeParent');
    }
  }
};
</script>

<style lang="scss">
@import "filter";
</style>

