<template>
  <section id="sticky-top-bar">
    <!-- Listing Summary -->
    <div class="container">
      <div class="columns is-mobile is-vcentered is-marginless">
        <div class="column col-sidebar has-text-centered">
          <strong>{{ translate("Your Settings") }}</strong>
        </div>
        <div class="col-listing">
          <div class="columns is-mobile is-marginless">
            <div class="column is-2-desktop is-3-tablet">
              <span>{{ translate("Loan Amount") }}</span>
              RM {{ amount }}
            </div>
            <div class="column is-2-desktop is-3-tablet">
              <span>{{ translate("Loan Tenure") }}</span>
              {{ tenure }} {{ translate("years") }}
            </div>
            <div class="column is-2-desktop is-3-tablet">
              <span>{{ translate("Monthly Salary") }}</span>
              RM {{ income }}
            </div>
            <!-- <div class="column is-6-desktop is-hidden-mobile has-text-right">
              <a href="#"
                class="button rounded-white btn-compare"
                onClick="return false;"
                v-on:click="$emit($parent.showComparePanel = !$parent.showComparePanel)"
              >
                <i class="sprite compare white"></i>
                Compare
              </a>
            </div>-->
          </div>
        </div>
      </div>
    </div>

    <!-- Floating Filter Button -->
    <button
      class="is-pulled-right is-hidden-tablet btn-filter"
      @click="$parent.isFilterModalActive = true"
    >
      <i class="sprite filter" />
    </button>
  </section>
</template>

<script>
export default {
  components: {},
  data: function () {
    return {
      isFilterModalActive: true
    };
  },
  ready: function () {},
  computed: {
    amount () {
      return this.$store.state.amount;
    },
    tenure () {
      return this.$store.state.tenure;
    },
    income () {
      return this.$store.state.income;
    }
  },
  created () {},
  methods: {},
  validations: {}
};
</script>

<style lang="scss" scoped>
@import "../../../scss/my/sticky-top-bar";
@import "./filter";
</style>
