<template>
  <transition name="slide-fade-in">
    <div class="modal-drawer" :class="{active : isComponentModalActive}">
      <div class="modal-drawer__header">
        <span>
          <!-- Header Text -->
        </span>

        <div class="button btn-close-mobile rounded-white icon-only" @click="$parent.close()">
          <i class="sprite close white" />
        </div>
      </div>
      <div class="modal-drawer__body">
        <div class="product__image">
          <img v-if="loan.personalLoanBank.bank" :src="'/' + loan.personalLoanBank.logo" />
          <img v-else src />
        </div>
        <div class="product__name">{{ loan.title }}</div>
        <div
          data-subject="User"
          data-action="Click"
          data-region="Listing More Info"
          data-vertical="Personal Loan"
          data-description="Apply Button"
          :data-value="loan.title"
          class="button orange has-sprite-right is-fullwidth"
          @click="apply(loan)"
        >
          {{ translate('Apply Now') }}
          <i class="sprite angle white angle-right push-right" />
        </div>
      </div>
      <div class="modal-drawer__tabs">
        <b-tabs
          v-model="activeTab"
          data-subject="User"
          data-action="Click"
          data-region="Listing More Info"
          data-vertical="Personal Loan"
          data-description="More Info Tab"
          :data-value="loan.title"
          :href="'/'+ loan.path_alias"
        >
          <b-tab-item :label="translate('Features')">
            <!-- Hide keypoint if empty -->
            <div class="columns is-variable is-2 is-mobile product__info">
              <div class="column is-6 has-text-centered">
                <span
                  v-if="loan.is_islamic"
                  class="product__info--label font-lg"
                >{{ translate('Profit Rate') }}</span>
                <span v-else class="product__info--label font-lg">{{ translate('Interest Rate') }}</span>
                <span>{{ returnLowestToHighestInterestRate }}</span>
              </div>
              <div class="column is-6 has-text-centered">
                <span class="product__info--label font-lg">{{ translate(returnLoanOrFinancing) }}</span>
                <span>{{ loan.min_tenure }} {{ translate('years') }} ~ {{ loan.max_tenure }} {{ translate('years') }}</span>
              </div>
            </div>
            <hr class="dashed" />
            <ul class="product__info">
              <li>
                <span class="product__info--label">{{ translate('Financing amount (min to max)') }}</span>
                <span>RM {{ addCommas(loan.min_amount) }} ~ RM {{ addCommas(loan.max_amount) }}</span>
              </li>
              <li v-if="loan.approval_duration">
                <span class="product__info--label">{{ translate('Approval duration') }}</span>
                <span>{{ loan.approval_duration }}</span>
              </li>
              <li v-if="loan.debt_consolidation">
                <span class="product__info--label">{{ translate('Debt consolidation') }}</span>
                <span>{{ loan.debt_consolidation }}</span>
              </li>
              <!-- Insert additional dynamic fields here -->
            </ul>
            <hr v-if="loan.additional_product_features.length > 0" class="dashed" />
            <ul v-if="loan.additional_product_features.length > 0" class="product__info">
              <li v-for="addFeatures in loan.additional_product_features" :key="addFeatures">
                <span class="product__info--label">{{ translate(addFeatures.title) }}</span>
                {{ addFeatures.description }}
              </li>
            </ul>
          </b-tab-item>

          <b-tab-item :label="translate('Eligibility / Documents')">
            <!-- Hide keypoint if empty -->
            <ul class="product__info">
              <li v-if="loan.employment_eligibility">
                <span class="product__info--label">{{ translate('Employment eligibility') }}</span>
                {{ loan.employment_eligibility }}
              </li>
              <li v-if="loan.guarantor_collateral_requirement">
                <span
                  class="product__info--label"
                >{{ translate('Guarantor / Collateral requirement') }}</span>
                {{ loan.guarantor_collateral_requirement }}
              </li>
              <li v-if="age_requirement">
                <span class="product__info--label">{{ translate('Age requirement') }}</span>
                {{ age_requirement }}
              </li>
              <li v-if="loan.min_income">
                <span class="product__info--label">{{ translate('Minimum Salary') }}</span>
                RM {{ addCommas(loan.min_income) }} {{ translate('gross per month') }}
              </li>
              <li v-if="loan.linked_bank_account">
                <span
                  class="product__info--label"
                >{{ translate('Need to open linked bank account') }}?</span>
                {{ loan.linked_bank_account }}
              </li>
              <li v-if="loan.buy_takaful_product">
                <span class="product__info--label">{{ translate("Need to buy Takaful product?") }}</span>
                {{ loan.buy_takaful_product }}
              </li>
              <!-- Insert additional dynamic fields here -->
            </ul>
            <hr v-if="loan.additional_eligibility.length > 0" class="dashed" />
            <ul v-if="loan.additional_eligibility.length > 0" class="product__info">
              <li v-for="addFeatures in loan.additional_eligibility" :key="addFeatures">
                <span class="product__info--label">{{ translate('addFeatures.title') }}</span>
                {{ addFeatures.description }}
              </li>
            </ul>
            <hr v-if="loan.additional_document.length > 0" class="dashed" />
            <ul v-if="loan.additional_document.length > 0" class="product__info">
              <li v-for="addFeatures in loan.additional_document" :key="addFeatures">
                <span class="product__info--label">{{ translate(addFeatures.title) }}</span>
                {{ addFeatures.description }}
              </li>
            </ul>
          </b-tab-item>

          <b-tab-item :label="translate('Fees')">
            <!-- Hide keypoint if empty -->
            <ul class="product__info">
              <li v-if="loan.processing_feet">
                <span class="product__info--label">{{ translate('Processing fee') }}</span>
                {{ loan.processing_fee }}
              </li>
              <li v-if="loan.stamp_duty">
                <span class="product__info--label">{{ translate('Stamp duty') }}</span>
                {{ loan.stamp_duty }}
              </li>
              <li v-if="loan.disbursement">
                <span class="product__info--label">{{ translate('Disbursement &amp; misc. fee') }}</span>
                {{ loan.disbursement }}
              </li>
              <li v-if="loan.annual_fee">
                <span class="product__info--label">{{ translate('Annual fee') }}</span>
                {{ loan.annual_fee }}
              </li>
              <li v-if="loan.other_fee">
                <span class="product__info--label">{{ translate('Other fees') }}</span>
                {{ loan.other_fee }}
              </li>
              <li>
                <span class="product__info--label">{{ translate('Early settlement') }}</span>
                N/A
              </li>
              <li>
                <span class="product__info--label">{{ translate('Late payment charges') }}</span>
                {{ loan.early_settlement }}
              </li>
              <li v-if="loan.other_penalty">
                <span class="product__info--label">{{ translate('Other penalties') }}</span>
                {{ loan.other_penalty }}
              </li>
              <!-- Insert additional dynamic fields here -->
            </ul>
            <hr v-if="loan.additional_fees_charges.length > 0" class="dashed" />
            <ul v-if="loan.additional_fees_charges.length > 0" class="product__info">
              <li v-for="addFeatures in loan.additional_fees_charges" :key="addFeatures">
                <span class="product__info--label">{{ translate(addFeatures.title) }}</span>
                {{ addFeatures.description }}
              </li>
            </ul>
          </b-tab-item>
        </b-tabs>
      </div>
      <div class="modal-drawer__footer">
        <p>
          <a
            data-subject="User"
            data-action="Click"
            data-region="Listing More Info"
            data-vertical="Personal Loan"
            data-description="See more"
            :data-value="loan.title"
            :href="'/'+ loan.path_alias"
            class="see-more"
          >
            {{ translate('See more') }}
            <i class="sprite angle blue angle-right" />
          </a>
        </p>
        <!-- <a class="button blue"
        @click="$parent.close()">Compare this loan</a>-->
      </div>
    </div>
  </transition>
</template>

<script>
import { checkIfProductIsIslamic } from "helper.js";
import { addCommas, iRates } from "numberFormat";
import bus from "bus.js";

export default {
  components: {},
  data: function() {
    return {
      activeTab: 0,
      loan: this.$store.state.loan,
      addCommas
    };
  },
  computed: {
    returnLowestToHighestInterestRate() {
      return iRates(this.loan.personal_loan_rates);
    },
    returnLoanOrFinancing(islamic) {
      return checkIfProductIsIslamic(islamic) + " tenure";
    },
    age_requirement() {
      return `${this.loan.min_age} - ${this.loan.max_age}`;
    }
  },
  methods: {
    apply(Loan) {
      bus.$emit("apply", Loan);
    }
  }
};
</script>

<style lang="scss">
@import "../../../../scss/modal-drawer";
@import "../../../../scss/more-info";

// Hide default modal close button
button.modal-close.is-large {
  display: none;
}
</style>
