<template>
  <div class="apply-form">
    <form
      data-step="1"
      @submit.prevent="next"
    >
      <div>
        <h4>{{ translate('Basic Details') }}</h4>
        <h5>{{ translate('Just 3 more steps to complete your application') }}</h5>
        <div class="columns is-mobile" style="margin-bottom:0;">
          <div class="form-group column is-6">
            <label>{{ translate('ID Type') }}</label>
            <select
              id="apply-idtype"
              v-model.trim="identification_type"
              name="id_type"
              data-description="ID Type"
              class="form-control"
              data-parsley-id="0476"
            >
              <option
                value=""
                disabled
                selected
                hidden
              >
                {{ translate('Choose one') }}
              </option>
              <option value="IC">
                {{ translate('IC') }}
              </option>
              <option value="Passport">
                {{ translate('Passport') }}
              </option>
            </select>
            <div
              v-for="(rule, index) in $v.identification_type.$params"
              :key="index"
            >
              <span
                v-if="validate($v.identification_type,rule.type)"
                class="help is-danger"
              >
                {{ getErrotmessage('identification_type',rule.type) }}
              </span>
            </div>
          </div>
          <div class="form-group column is-6">
            <label>{{ translate('ID Number') }}</label>
            <input
              v-model.trim="identification_no"
              type="text"
              name="id_number"
              data-description="ID Number"
              :placeholder="translate('ID Number')"
              class="form-control"
              @input="$v.identification_no.$touch()"
            >
            <div
              v-for="(rule, index) in $v.identification_no.$params"
              :key="index"
            >
              <span
                v-if="validate($v.identification_no,rule.type)"
                class="help is-danger"
              >
                {{ getErrotmessage('identification_no',rule.type) }}
              </span>
            </div>
          </div>
        </div>
        <div class="columns is-mobile">
        <div class="form-group column is-12 selectBranch">
          <label>{{ translate('Where do you stay?') }}</label>
          <select
            v-model.trim="state"
            name="state"
            data-description="State"
            tabindex="-1"
            class="form-control"
          >
            <option
              value=""
              disabled
              selected
              hidden
            >
              {{ translate('Choose one') }}
            </option>
            <option
              v-for="(item, index) in easyrhb"
              :key="index"
              :value="item"
            >
              {{ item }}
            </option>
          </select>
          <div
            v-for="(rule, index) in $v.state.$params"
            :key="index"
          >
            <span
              v-if="validate($v.state,rule.type)"
              class="help is-danger"
            >
              {{ getErrotmessage('state',rule.type) }}
            </span>
          </div>
        </div>
        </div>
        <button
          type="submit"
          class="btn-next button blue is-fullwidth has-text-center"
          data-subject="User"
          data-action="Submit"
          :data-value="productTitle"
          :data-title="productTitle"
          data-step="1"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
        >
          {{ translate('Next') }}
        </button>
        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
      </div>
    </form>
  </div>
</template>
<script>
// import comboBox from '../../../controls/comboBox.vue';
import { submitToJapp } from "helper.js";
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { regex } from 'vuelidate/lib/validators/common';

export default {
  components: {},
  props: ['data', 'context'],
  data: function () {
    return {
      allow6Month: [],
      monthlyRepayment: 2222,
      interestRate: 11,
      currentSlide: 1,
      progressBarStep: 0,
      comboBox: false,
      applyNow: this.translate('Next'),
      identification_type: '',
      identification_no: null,
      applybtnfrom:this.$store.state.applyBtnFrom,
      state: "",
      easyrhb: [
        'Johor',
        'Kedah',
        'Kelantan',
        'Kuala Lumpur',
        'Melaka',
        'Negeri Sembilan',
        'Pahang',
        'Perak',
        'Perlis',
        'Pulau Pinang',
        'Putrajaya',
        'Sabah',
        'Sarawak',
        'Selangor',
        'Terengganu'
      ],
      BranchList: []
    };
  },
  computed: {},
  created () {
  },
  methods: {
    next: function () {
      let Loan = this.$store.state.selectedProductForApply;
      if (!this.$v.$invalid) {
        var data = {
          event: "nextStep",
          form_step: "2",
          submit_type: this.applybtnfrom,
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        this.$parent.progressBarStep = 1;
        this.$parent.jappData.identification_type = this.identification_type;
        this.$parent.jappData.identification_no = this.identification_no;
        this.$parent.jappData.state = this.state;
        this.$parent.jappData.purpose = this.purpose;
        IMDevPropBag.add("prequalify_current_step", 2);
        IMDevPropBag.add("prequalify_total_steps", 4);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {

        })
        this.$parent.next();
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        form_step: "0",
        submit_type: this.applybtnfrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.prev();
    },
    validate: function (field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function (field, type) {
      const erroMessagesObj = {
        identification_no: {
          maxLength: 'Your identification number should be less than 12 digits',
          minLength: 'Your identification number should be more than 5 digits',
          required: 'Your identification number is required'
        },
        identification_type: {
          required: 'Your identification type is required'
        },
        purpose: {},
        state: {
          required: 'Your state is required'
        }
      };

      return this.translate(erroMessagesObj[field][type]);
    }
    // onSubmit: function () {
    //   // console.log(typeof this.checkbox);
    //   if (!this.$v.$invalid) {
    //     // this.applyNowText = this.translate('Please Wait');
    //     // submitToJapp(this.data, this.jappFields, this.context.config.region).then(result => {
    //     //   // this.applyNowText = this.translate('Done');
    //     //   if (this.data.apply_link) {
    //     //     window.location.href = this.data.apply_link;
    //     //     this.$parent.close();
    //     //   } else {
    //     //     window.location.href = this.context.config.thankYouUrl;
    //     //   }
    //     // });
    //   }
    //   return this.$v.$touch();
    // }
  },
  validations: {
    identification_no: {
      maxLength: maxLength(12),
      minLength: minLength(5),
      required
    },
    identification_type: {
      required
    },
    state: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

</style>
