<template>
  <div>
    <div class="apply-form">
      <form data-step="3" @submit.prevent="submit">
        <div>
          <h4>{{ translate('Credit History') }}</h4>
          <h5>{{ translate('Final step to complete your application!') }}</h5>
          <div class="form-group">
            <!-- <label>{{ existing_credit_card }}</label> -->
             <label>{{ translate('Do you have a Credit History?') }}</label>
              <p
              class="msg-txt-lgtcolor"
                   >{{ translate('Any existing credit products with any banks over the last 12 months? (eg credit card/personal loan/car loan/home loan)') }}</p>
            <ul class="btns-radio btns-radio-switch">
              <li>
                <input
                  id="haveExistingCreditProduct"
                  v-model.trim="existing_credit_facilities"
                  type="radio"
                  name="existing_credit_facilities"
                  value="Yes"
                  tabindex="-1"
                  data-parsley-errors-container="#existingcreditproduct-error-container"
                  @input="$v.existing_credit_facilities.$touch()"
                />
                <label for="haveExistingCreditProduct">
                  <div class="tick" />
                  {{ translate('Yes') }}
                </label>
              </li>
              <li>
                <input
                  id="noExistingCreditProduct"
                  v-model.trim="existing_credit_facilities"
                  type="radio"
                  name="existing_credit_facilities"
                  value="No"
                  tabindex="-1"
                  data-parsley-multiple="existing_credit_facilities"
                  data-parsley-id="0014"
                  @input="$v.existing_credit_facilities.$touch()"
                />
                <label for="noExistingCreditProduct">
                  <div class="tick" />
                  {{ translate('No') }}
                </label>
              </li>
            </ul>
            <div id="existingcreditproduct-error-container">
              <div v-for="(rule,index) in $v.existing_credit_facilities.$params" :key="index">
                <span
                  v-if="validate($v.existing_credit_facilities,rule.type)"
                  :key="index"
                  class="help is-danger"
                >{{ getErrotmessage('existing_credit_facilities',rule.type) }}</span>
              </div>
            </div>
          </div>
          <div v-if="showHideQustion()" class="form-group selectBranch">
            <label>{{ translate('Please select your nearest Easy Outlet') }}</label>
            <select
              v-model.trim="branch_state"
              name="state"
              data-description="State"
              tabindex="-1"
              class="form-control"
              @change="stateListChange()"
              @input="$v.branch_state.$touch()"
            >
              <option value disabled selected hidden>{{ translate('State') }}</option>
              <option v-for="(item, index) in easyrhb" :key="index">{{ index }}</option>
            </select>
            <div v-for="(rule, index) in $v.branch_state.$params" :key="index">
              <span
                v-if="validate($v.branch_state,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('branch_state',rule.type) }}</span>
            </div>
            <select v-model.trim="branch" name="branch" tabindex="-1" class="form-control">
              <option value disabled selected hidden>{{ translate('Easy Outlet') }}</option>
              <option v-for="(item, index) in BranchList" :key="index">{{ item.easyName }}</option>
            </select>
            <div v-for="(rule,index) in $v.branch.$params" :key="index">
              <span
                v-if="validate($v.branch,rule.type)"
                :key="index"
                class="help is-danger"
              >{{ getErrotmessage('branch',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group a-center">
            <button
              v-if="show_preview_pdf"
              id="bank-ui-application"
              type="submit"
              tabindex="-1"
              data-subject="User"
              data-action="Submit"
              data-step="3"
              :data-value="productTitle"
              :data-title="productTitle"
              data-description="Pre-Qualify Apply Form"
              data-region="Product Apply Popup"
              data-vertical="Personal Loan"
              class="button blue is-fullwidth has-text-center"
              :disabled="isLoading"
            >{{ previewPdfButton }}</button>
            <button
              v-else
              id="prequalify-btn"
              :disabled="Submit != translate('Submit')"
              type="submit"
              tabindex="-1"
              data-subject="User"
              data-action="Submit"
              data-step="3"
              :data-value="productTitle"
              :data-title="productTitle"
              data-description="Pre-Qualify Apply Form"
              data-region="Product Apply Popup"
              data-vertical="Personal Loan"
              class="btn-apply button orange is-fullwidth has-text-center"
            >{{ Submit }}</button>
          </div>
          <button
            type="button"
            class="btn-next button no-style is-fullwidth has-text-center"
            @click="prev"
          >{{ translate('Back') }}</button>
        </div>
      </form>
    </div>
    <b-loading :is-full-page="isFullPage" :active.sync="isLoading" :can-cancel="true"></b-loading>
  </div>
</template>
<script>
// import comboBox from '../../../controls/comboBox.vue';
import { required } from "vuelidate/lib/validators";
import { creatArrayRange, submitToJapp } from "helper.js";
import axios from "axios";

export default {
  components: {},
  props: ["data", "context"],
  data: function() {
    return {
      url: this.$store.state.urlRedirect,
      productTitle: "",
      isFullPage: false,
      Submit: this.translate("Submit"),
      existing_credit_facilities: "",
      easyrhb: [],
      branch_state: "",
      applybtnfrom:this.$store.state.applyBtnFrom,
      BranchList: [],
      branch: "",
      pdf: null
    };
  },
  computed: {
    previewPdfButton: function() {
      if (this.isLoading) {
        return "Please Wait...";
      } else {
        return "Submit";
        // return "Preview Application Form";
      }
    },
    show_preview_pdf: function() {
      return this.$store.state.selectedProductForApply.apply_form_flow == "4";
     // return true;
    },
    isLoading: function() {
      return this.$store.state.isLoading;
    },
    listYears: function() {
      return creatArrayRange(2000, new Date().getFullYear()).reverse();
    },
    existing_credit_card() {
      let tenur = 6;
      let Loan = this.$store.state.selectedProductForApply;
      if (Loan.nid === "163" || Loan.nid === "164") {
        tenur = 6;
      } else tenur = Loan.nid === "1443" || Loan.nid === "1444" ? 24 : 12;

      return this.translate(
             `Do you have any existing credit products with any banks over the past ${tenur} months? (eg. credit card/personal loan/car loan/home loan)`
      );
    }
  },
  watch: {},
  created() {
    console.log("existing_credit_card", this.existing_credit_card);
  },
  methods: {
    showHideQustion: function() {
      let Loan = {};
      return Loan.nid === "54" || Loan.nid === "75";
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
        existing_credit_facilities: {
          required:
            "Please let us know if you have any existing credit facilities"
        }
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    submit: function() {
      if (!this.$v.$invalid) {
        if (this.show_preview_pdf) {
          this.$store.commit("setIsLoading", true);
        }

        IMDevPropBag.add("prequalify_current_step", 4);
        IMDevPropBag.add("prequalify_total_steps", 4);
        IMDevPropBag.add("prequalify_status", "complete");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "submitDetails",
          submit_type: this.applybtnfrom,
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          // track_id : userManager.data.trackId,
          event_lang: "en"
          // user_device :WURFL.form_factor,
          // referrer_source : userManager.utms.utmcsr,
          // referrer_medium : userManager.utms.utmcmd
        };
        dataLayer.push(data);
        this.Submit = this.translate("Submitting");
        this.$parent.jappData.existing_credit_facilities = this.existing_credit_facilities;
        this.$parent.jappData.branch_state = this.branch_state;
        this.$parent.jappData.Branch = this.branch;
        submitToJapp(this.$parent.jappData, this.$store.state.selectedProductForApply).then(result => {
          // this.Submit = this.translate('Submitted');
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 3;
          this.$parent.progressBarWidth = 99;
          this.$parent.next();
          // ('1', 'Show Apply & TQ Page'),
          // ('2', 'Show Apply & No TQ Page & STB'),
          // ('3', 'STB'),
          // if (Loan.apply_form_flow === "2") {
          //   window.location.href = Loan.apply_link;
          // } else {
          //   window.location.href = this.url + this.translate("/thank-you") + "?prequalify"
          // }
          
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "2",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.progressBarStep = 1;
      this.$parent.prev();
    },
    previewPDF: function(e) {
      e.preventDefault();
      console.log("clicked");
    }
  },
  validations: {
    existing_credit_facilities: {
      required
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
</style>
