<template>
  <div class="apply-form">
    <form
      data-step="2"
      @submit.prevent="next"
    >
      <div>
        <h4>{{ translate('Employment') }} </h4>
        <br>
        <div class="form-group">
          <label>{{ translate('Employment Status') }}</label>
          <ul class="btns-radio">
            <li>
              <input
                id="employmentEmployed"
                v-model="employment_status"
                type="radio"
                name="employment_status"
                value="Employed Salaried"
              >
              <label for="employmentEmployed">
                <div class="tick" />
                {{ translate('Employed (Salaried)') }}
              </label>
            </li>
            <li>
              <input
                id="employmentEmployedCommission"
                v-model="employment_status"
                type="radio"
                name="employment_status"
                value="Employed Commission earner"
              >
              <label for="employmentEmployedCommission">
                <div class="tick" />
                {{ translate('Employed (Commission earner)') }}
              </label>
            </li>
            <li>
              <input
                id="employmentSelfEmployed"
                v-model="employment_status"
                type="radio"
                name="employment_status"
                value="Self-employed"
              >
              <label for="employmentSelfEmployed">
                <div class="tick" />
                {{ translate('Self-employed') }}
              </label>
            </li>
            <li>
              <input
                id="employmentUnemployed"
                v-model="employment_status"
                type="radio"
                name="employment_status"
                value="Unemployed"
                tabindex="-1"
              >
              <label for="employmentUnemployed">
                <div class="tick" />
                {{ translate('Unemployed') }}
              </label>
            </li>
          </ul>
          <div
            v-for="(rule,index) in $v.employment_status.$params"
            :key="index"
          >
            <span
              v-if="validate($v.employment_status,rule.type)"
              class="help is-danger"
            >
              {{ getErrotmessage('employment_status',rule.type) }}
            </span>
          </div>
        </div>
        
        <div
          v-if="employment_status=='Employed Salaried' || employment_status=='Employed Commission earner' "
        >
        <div class="columns is-mobile bottom-none">
          <label class="column is-12"
            style="margin-bottom:0; padding-bottom:0; padding-left:0;">{{ translate('When did you join your current company?') }}</label>
        </div>
          <div class="columns is-mobile">
            <div class="form-group column is-6" style="padding-left:0;">
              <div class="input-group">
                <select
                  id="employedMonth"
                  v-model="month"
                  v-model.trim="employed_month"
                  name="employed-month"
                  data-description="Employment Date Joined Month"
                  tabindex="-1"
                  required=""
                  class="form-control chosen-select"
                >
                  <option
                    value=""
                    disabled
                    selected
                    hidden
                  >
                    {{ translate('Choose one') }}
                  </option>
                  <option value="1">
                    {{ translate('January') }}
                  </option>
                  <option value="2">
                    {{ translate('February') }}
                  </option>
                  <option value="3">
                    {{ translate('March') }}
                  </option>
                  <option value="4">
                    April
                  </option>
                  <option value="5">
                    {{ translate('May') }}
                  </option>
                  <option value="6">
                    {{ translate('June') }}
                  </option>
                  <option value="7">
                    {{ translate('July') }}
                  </option>
                  <option value="8">
                    {{ translate('August') }}
                  </option>
                  <option value="9">
                    {{ translate('September') }}
                  </option>
                  <option value="10">
                    {{ translate('October') }}
                  </option>
                  <option value="11">
                    November
                  </option>
                  <option value="12">
                    {{ translate('December') }}
                  </option>
                </select>
                <div id="parsley-id-5814" />
                <div class="input-group-addon">
                  {{ translate('month') }}
                </div>
              </div>
            </div>
            <div class="form-group column is-6" style="padding-left:0;">
              <div class="input-group">
                <select
                  id="employedYear"
                  v-model="year"
                  name="employed-year"
                  data-description="Employment Date Joined Year"
                  tabindex="-1"
                  class="form-control chosen-select"
                >
                  <option
                    value=""
                    disabled
                    selected
                    hidden
                  >
                    {{ translate('Choose one') }}
                  </option>
                  <option
                    v-for="(year,index) in listYears"
                    :key="index"
                  >
                    {{ year }}
                  </option>
                </select>
                <div id="parsley-id-0457" />
                <div class="input-group-addon">
                  {{ translate('year') }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          v-if="employment_status=='Employed Salaried' || employment_status=='Employed Commission earner' "
          class="form-group selectBranch"
        >
          <label>{{ translate('Employment Type') }}</label>
          <select
            v-model.trim="employment_type"
            name="state"
            data-description="employment_type"
            tabindex="-1"
            class="form-control"
            @input="$v.employment_type.$touch()"
          >
            <option
              value=""
              disabled
              selected
              hidden
            >
              {{ translate('Choose one') }}
            </option>
            <option
              v-for="(item, index) in employmentTypes"
              :key="index"
            >
              {{ translate(item) }}
            </option>
          </select>
          <div
            v-for="(rule, index) in $v.employment_type.$params"
            :key="index"
          >
            <span
              v-if="validate($v.employment_type,rule.type)"
              class="help is-danger"
            >
              {{ getErrotmessage('employment_type',rule.type) }}
            </span>
          </div>
        </div>
        <div
          v-if="employment_status=='Self-employed'"
          class="form-group self-employed"
        >
          <label>{{ translate('When did you start your current company?') }} </label>
          <div class="columns is-mobile is-multiline">
            <div class="column is-6">
              <div class="input-group">
                <select
                  id="selfEmployedMonth"
                  v-model="month"
                  name="self-employed-month"
                  data-description="Self Employment Month"
                  tabindex="-1"
                  class="form-control chosen-select"
                  data-parsley-id="1084"
                >
                  <option
                    value=""
                    disabled
                    selected
                  >
                    {{ translate('Choose one') }}
                  </option>
                  <option value="1">
                    {{ translate('January') }}
                  </option>
                  <option value="2">
                    {{ translate('February') }}
                  </option>
                  <option value="3">
                    {{ translate('March') }}
                  </option>
                  <option value="4">
                    April
                  </option>
                  <option value="5">
                    {{ translate('May') }}
                  </option>
                  <option value="6">
                    {{ translate('June') }}
                  </option>
                  <option value="7">
                    {{ translate('July') }}
                  </option>
                  <option value="8">
                    {{ translate('August') }}
                  </option>
                  <option value="9">
                    {{ translate('September') }}
                  </option>
                  <option value="10">
                    {{ translate('October') }}
                  </option>
                  <option value="11">
                    November
                  </option>
                  <option value="12">
                    {{ translate('December') }}
                  </option>
                </select>
                <div id="parsley-id-1084" />
                <div class="input-group-addon">
                  {{ translate('month') }}
                </div>
              </div>
            </div>
            <div class="column is-6">
              <div class="input-group">
                <select
                  id="selfEmployedYear"
                  v-model="year"
                  name="self-employed-year"
                  data-description="Self Employment Year"
                  tabindex="-1"
                  required=""
                  class="form-control chosen-select"
                >
                  <option
                    value=""
                    disabled
                    selected
                  >
                    {{ translate('Choose one') }}
                  </option>
                  <option
                    v-for="(year,index) in listYears"
                    :key="index"
                  >
                    {{ year }}
                  </option>
                </select>
                <div id="parsley-id-6659" />
                <div class="input-group-addon">
                  {{ translate('year') }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          type="button"
          data-role="none"
          class="btn-next button blue is-fullwidth has-text-center"
          data-subject="User"
          data-action="Submit"
          data-step="2"
          :data-value="productTitle"
          :data-title="productTitle"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          @click="next"
        >
          {{ translate('Next') }}
        </button>
        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >
          {{ translate('Back') }}
        </button>
      </div>
    </form>
  </div>
</template>
<script>
// import comboBox from '../../../controls/comboBox.vue';
import { required, minLength, maxLength, minValue, email, maxValue } from 'vuelidate/lib/validators';
import { regex } from 'vuelidate/lib/validators/common';
import { creatArrayRange, submitToJapp } from 'helper.js';

export default {
  components: {},
  props: ['data', 'context'],
  data: function () {
    return {
      productTitle: 'title',
      employment_status: null,
      joining_date: '',
      month: '',
      day: '01',
      year: '',
      applybtnfrom:this.$store.state.applyBtnFrom,
      employed_year: '',
      employed_month: '',
      employment_type: '',
      employmentTypes: [
        'Private Sector',
        'Government Sector',
        'Semi Government (GLC)'
      ]
    };
  },
  computed: {
    listYears: function () {
      return creatArrayRange(2000, new Date().getFullYear()).reverse();
    }
  },
  watch: {

  },
  created () {
  },
  methods: {
    validate: function (field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function (field, type) {
      const erroMessagesObj = {
        employment_status: {
          required: 'Your employment status is required'
        }
      };

      return this.translate(erroMessagesObj[field][type]);
    },
    next: function () {
      let Loan = this.$store.state.selectedProductForApply;
      if (!this.$v.$invalid) {
        var data = {
          event: "nextStep",
          form_step: "3",
          submit_type: this.applybtnfrom,
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        this.$parent.progressBarStep = 2;
        this.$parent.jappData.employment_status = this.employment_status;
        this.$parent.jappData.employment_type = this.employment_type;
        if (this.month === '' || this.year === '' || this.employment_status === 'Unemployed') {
          this.$parent.jappData.joining_date = this.joining_date;
        } else this.$parent.jappData.joining_date = this.day + '-' + this.month + '-' + this.year;
        IMDevPropBag.add("prequalify_current_step", 3);
        IMDevPropBag.add("prequalify_total_steps", 4);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {

        })
        this.$parent.next();
      }
      return this.$v.$touch();
    },
    prev: function () {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        form_step: "1",
        submit_type: this.applybtnfrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.progressBarStep = 0;
      this.$parent.prev();
    }
  },
  validations: {
    employment_status: {
      required
    },
    employment_type: {

    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
</style>
