<template>
  <transition name="slide-in">
    <div class="modal-basicform modal-drawer wide" :class="{active : true}">
      <div class="modal-drawer__header">
        <span>Product Apply Form</span>
        <div class="button btn-close-mobile rounded-white icon-only" @click="close()">
          <i class="sprite close white" />
        </div>
      </div>
      <div class="apply-product">
        <img v-if="Loan.personalLoanBank.bank" :src="'/' + Loan.personalLoanBank.logo" />
        <img v-else src />
        <h1 class="product-name">{{ Loan.title }}</h1>
      </div>
      <div class="modal-form__body">
        <form data-step="0" action novalidate @submit.prevent="onSubmit">
          <div class="apply-details">
            <div class="columns is-mobile apply-details--top-row">
              <div class="column is-6 apply-details-item static">
                <div class="form-group">
                  <label
                    v-if="['online-loan','business-loan'].indexOf(Loan.loan_type) >= 0"
                  >Monthly Interest rate</label>
                  <label v-else>Interest rate</label>

                  <span
                    v-if="['online-loan','business-loan'].indexOf(Loan.loan_type) >= 0"
                  >{{ productInterestRate ? (productInterestRate).toFixed(2) + '%' : '-' }}</span>
                  <span v-else>{{ productInterestRate ? (productInterestRate * 12).toFixed(2) + '%' : '-' }}</span>
                </div>
              </div>
              <div class="column is-6 apply-details-item static">
                <div class="form-group">
                  <label>Monthly Repayment</label>
                  <span>{{ monthlyRepayment ? Currency + addCommasnewph(monthlyRepayment) : '-' }}</span>
                </div>
              </div>
            </div>
            <div class="columns is-mobile apply-details--bottom-row">
              <div class="column is-6 apply-details-item">
                <div class="form-group">
                  <label>Loan Amount</label>

                  <span>
                    <input
                      v-if="loanAmountVisibility === false"
                      id="input-amount"
                      v-model.trim="loan_amount"
                      v-on:keypress="validateMoneyFormat(event, 'loan_amount')"
                      type="text"
                      data-action="Input"
                      data-subject="User"
                      data-description="Amount"
                      data-vertical="Personal Loan"
                      data-region="Product Apply Popup"
                      class="form-control"
                      @input="$v.loan_amount.$touch()"
                      @blur="onBlurLoanAmount"
                    />

                    <input
                      v-if="loanAmountVisibility === true"
                      id="txt-input-amount"
                      v-model.trim="reformed_loan_amount"
                      type="text"
                      data-action="Input"
                      data-subject="User"
                      data-description="Amount"
                      data-vertical="Personal Loan"
                      data-region="Product Apply Popup"
                      class="form-control"
                      @input="$v.loan_amount.$touch()"
                      @focus="onFocusLoanAmount"
                    />
                    <div v-for="(rule, index) in $v.loan_amount.$params" :key="index">
                      <span
                        v-if="validate($v.loan_amount,rule.type)"
                        class="help is-danger"
                      >{{ getErrotmessage('loan_amount',rule.type) }}</span>
                    </div>
                  </span>
                </div>
              </div>
              <div class="column is-6 apply-details-item">
                <div class="form-group">
                  <label>Tenure</label>
                  <select
                    id="input-year"
                    v-model.trim="loan_tenure"
                    data-action="Input"
                    data-subject="User"
                    data-description="Tenure"
                    data-vertical="Personal Loan"
                    data-region="Product Apply Popup"
                    class="form-control"
                    @input="$v.loan_tenure.$touch()"
                  >
                    <option
                      v-for="index in tenureFromProducts"
                      :value="index"
                      :key="index"
                    >{{ index }} {{ index <= 1 ? monthly ? 'month' : 'year' : monthly ? 'months' : 'years'}}</option>
                  </select>
                  <div v-for="(rule, index) in $v.loan_tenure.$params" :key="index">
                    <span
                      v-if="validate($v.loan_tenure,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('loan_tenure',rule.type) }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="apply-form">
            <ul
              data-imu-track="input,select"
              data-subject="User"
              data-action="Input"
              data-region="Product Apply Popup"
              data-vertical="Personal Loan"
            >
              <li>
                <h5>Please provide accurate details so that we can help you proceed with the application sooner.</h5>
                <div class="form-group">
                  <label>Full Name</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Name"
                    :data-value="name"
                    v-model.trim="name"
                    class="form-control"
                    placeholder="John Doe"
                    :class="{'form-control parsley-error': $v.name.$error, 'form-control': $v.name.$dirty && !$v.name.$invalid}"
                    @input="$v.name.$touch()"
                  />
                  <div v-for="(rule, index) in $v.name.$params" :key="index">
                    <span
                      v-if="validate($v.name,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('name',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Your Email</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Email"
                    :data-value="email_address"
                    v-model.trim="email_address"
                    type="email"
                    name="email_address"
                    placeholder="john@email.com"
                    class="form-control"
                    :class="{'form-control parsley-error': $v.email_address.$error, 'form-control': $v.email_address.$dirty && !$v.email_address.$invalid}"
                    @input="$v.email_address.$touch()"
                  />
                  <div v-for="(rule, index) in $v.email_address.$params" :key="index">
                    <span
                      v-if="validate($v.email_address,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('email_address',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Contact Number</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Contact Number"
                    :data-value="name"
                    v-model.trim="phone_number"
                    v-on:keypress="isNumber(event)"
                    type="tel"
                    placeholder="0123456789"
                    class="form-control"
                    :class="{'form-control parsley-error': $v.phone_number.$error,
                             'form-control': $v.phone_number.$dirty && !$v.phone_number.$invalid}"
                    @input="$v.phone_number.$touch()"
                  />
                  <div v-for="(rule, index) in $v.phone_number.$params" :key="index">
                    <span
                      v-if="validate($v.phone_number,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('phone_number',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="apply-salary" class="control-label">Monthly Income</label>
                  <div id="apply-salary-container">
                    <div class="input-group">
                      <div class="input-group-addon">₱</div>
                      <input
                        v-if="monthlySalaryVisibility === false"
                        data-subject="User"
                        data-action="Input"
                        data-region="Product Apply Popup"
                        data-vertical="Personal Loan"
                        data-description="Monthly Income"
                        :data-value="monthly_salary"
                        v-model.trim="monthly_salary"
                        v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
                        type="text"
                        class="form-control"
                        placeholder="30000"
                        :class="{'form-control parsley-error': $v.monthly_salary.$error, 'form-control': $v.monthly_salary.$dirty && !$v.monthly_salary.$invalid}"
                        @input="$v.monthly_salary.$touch()"
                        @blur="onBlurMonthlySalary"
                      />
                      <input
                        v-if="monthlySalaryVisibility === true"
                        data-subject="User"
                        data-action="Input"
                        data-region="Product Apply Popup"
                        data-vertical="Personal Loan"
                        data-description="Monthly Income"
                        :data-value="txt_monthly_salary"
                        v-model.trim="reformed_monthly_salary"
                        type="text"
                        class="form-control"
                        placeholder="30000"
                        :class="{'form-control parsley-error': $v.monthly_salary.$error, 'form-control': $v.monthly_salary.$dirty && !$v.monthly_salary.$invalid}"
                        @input="$v.monthly_salary.$touch()"
                        @focus="onFocusMonthlySalary"
                      />
                    </div>
                    <div v-for="(rule, index) in $v.monthly_salary.$params" :key="index">
                      <span
                        v-if="validate($v.monthly_salary,rule.type)"
                        class="help is-danger"
                      >{{ getErrotmessage('monthly_salary',rule.type) }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group" v-if="featureIndustryField">
                  <label>{{ translate('What Industry Do You Work In?') }}</label>
                  <select v-model.trim="industry" name="industry" class="form-control">
                    <option value disabled selected>{{ translate('Select Industry') }}</option>
                    <option v-for="option in industries" :value="option" :key="option">{{ option }}</option>
                  </select>
                  <div v-for="(rule, index) in $v.industry.$params" :key="index">
                    <span
                      v-if="validate($v.industry,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('industry',rule.type) }}</span>
                  </div>
                </div>
                <div v-if="industry === 'Others' && featureIndustryField">
                  <div class="form-group">
                    <label>{{ translate('Other Industry') }}</label>
                    <input
                      v-model.trim="otherIndustry"
                      class="form-control"
                      placeholder="Other Industry"
                      :class="{'form-control parsley-error': $v.otherIndustry.$error, 'form-control': $v.otherIndustry.$dirty && !$v.otherIndustry.$invalid }"
                      @input="$v.otherIndustry.$touch()"
                    />
                    <div v-for="(rule, index) in $v.otherIndustry.$params" :key="index">
                      <span
                        v-if="validate($v.otherIndustry,rule.type)"
                        class="help is-danger"
                      >{{ getErrotmessage('otherIndustry',rule.type) }}</span>
                    </div>
                  </div>
                </div>

                <div class="form-group a-center">
                  <label>Have an existing credit card?</label>
                  <ul class="btns-radio btns-radio-switch2 fouroptions">
                    <li v-for="(item, index) in credits" :key="index">
                      <input
                        :id="item.Description"
                        v-model="have_another_credit_card"
                        type="radio"
                        name="have_another_credit_card"
                        :value="item.Code"
                      />
                      <label :for="item.Description" :class="item.Class">{{ item.Description }}</label>
                    </li>
                  </ul>
                  <div v-for="(rule, index) in $v.have_another_credit_card.$params" :key="index">
                    <span
                      v-if="validate($v.have_another_credit_card,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('have_another_credit_card',rule.type) }}</span>
                  </div>
                </div>

                <div class="form-group" v-if="this.Loan.nid === '746'">
                  <label for="apply-salary" class="control-label">Location</label>
                  <div id="apply-salary-container">
                    <select
                      v-model.trim="location"
                      name="location"
                      data-description="Purpose"
                      tabindex="-1"
                      class="form-control"
                      @change="onChange($event)"
                    >
                      <option value disabled selected>{{ translate('Choose one') }}</option>
                      <option
                        v-for="(item) in locations"
                        :key="item.code"
                        :value="item.Description"
                      >{{ translate(item.Description) }}</option>
                    </select>

                    <div class="locationerror" style="display:none;">
                      <span class="help is-danger">Please select location</span>
                    </div>
                  </div>
                </div>

                <div class="form-group a-center">
                  <button
                    v-if="$parent.jappData"
                    id="get-it-now-btn"
                    type="submit"
                    data-subject="User"
                    data-action="Submit"
                    :data-value="productTitle"
                    :data-title="productTitle"
                    data-step="0"
                    data-description="Apply Form"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    class="button blue is-fullwidth has-text-center"
                    :disabled="applyNow != 'Next'"
                  >{{ applyNow }}</button>
                  <button
                    v-else
                    id="get-it-now-btn"
                    type="submit"
                    data-subject="User"
                    data-action="Submit"
                    :data-value="productTitle"
                    :data-title="productTitle"
                    data-step="0"
                    data-description="Apply Form"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    class="button orange is-fullwidth has-text-center"
                    :disabled="applyNowBasic != 'Submit'"
                  >{{ applyNowBasic }}</button>
                </div>
                <div class="checkbox font-xs a-center">
                  <label class="privacy-policy">
                    <input
                      data-subject="User"
                      data-action="Input"
                      data-region="Product Apply Popup"
                      data-vertical="Personal Loan"
                      data-description="Privacy Policy"
                      data-value="Privacy Policy"
                      v-model.trim="checkbox"
                      type="checkbox"
                      checked="checked"
                      name="allow_checked"
                      @input="$v.checkbox.$touch()"
                      style="width:80px;"
                    />
                    <span>
                      By providing or submitting my personal data, I agree to the
                      <a
                        href="/privacy-statement"
                        target="_blank"
                      >Privacy Policy</a>
                      and give consent to iMoney and, if necessary, its product/service providers and partners to collect, store, use, and process my personal data for the purposes of my inquiry, application, or transaction with iMoney.
                      <div v-for="(rule, index) in $v.checkbox.$params" :key="index">
                        <span
                          v-if="validate($v.checkbox,rule.type)"
                          class="help is-danger"
                        >{{ getErrotmessage('checkbox',rule.type) }}</span>
                      </div>
                    </span>
                  </label>
                </div>

                <div class="checkbox font-xs a-center">
                  <label class="privacy-policy">
                    <input
                      data-subject="User"
                      data-action="Input"
                      data-region="Product Apply Popup"
                      data-vertical="Personal Loan"
                      data-description="Privacy Consent"
                      data-value="Privacy Consent"
                      v-model.trim="checkbox2"
                      type="checkbox"
                      checked="checked"
                      name="allow_consent"
                      @input="$v.checkbox2.$touch()"
                    />
                    <span>
                      I also consent to receiving offers, promos, marketing, and other commercial communications.
                      <div v-for="(rule, index) in $v.checkbox2.$params" :key="index">
                        <span
                          v-if="validate($v.checkbox2,rule.type)"
                          class="help is-danger"
                        >{{ getErrotmessage('checkbox2',rule.type) }}</span>
                      </div>
                    </span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>

<script>
import {
  required,
  minLength,
  maxLength,
  minValue,
  email,
  maxValue,
} from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import { parsePhoneNumberFromString } from "libphonenumber-js";
import { submitToJapp, creatArrayRange, creatArrayRangePh } from "helper.js";
import Calculator from "../../../../../lib/ph/calculation";
import { addCommas, addCommasnewph } from "numberFormat";

export default {
  components: {},
  props: ["data", "context", "industries", "featureIndustryField"],
  data: function () {
    return {
      url: this.$store.state.urlRedirect,
      showurl: "",
      monthlyRepayment: 0,
      currentSlide: 0,
      productInterestRate: 0,
      comboBox: false,
      applyNowBasic: "Submit",
      applyNow: "Next",
      DisableApplyNow: true,
      name: null,
      Currency: "₱ ",
      Currency2: "PH",
      email_address: null,
      phone_number: null,
      monthly_salary: this.$store.state.income,
      monthly: null,
      have_another_credit_card: null,
      loan_amount: this.$store.state.amount,
      loan_tenure: this.$store.state.tenure,
      tenureFromProducts: [],
      checkbox: true,
      checkbox2: true,
      allow_checked: "",
      allow_consent: "",
      Loan: this.$store.state.selectedProductForApply,
      calculator: null,
      addCommas,
      addCommasnewph,
      applybtnfrom: this.$store.state.applyBtnFrom,
      reformed_loan_amount: this.$store.state.isAmountChanged
        ? this.$store.state.amount
        : this.$store.state.selectedProductForApply.min_amount,
      reformed_monthly_salary: null,
      loanAmountVisibility: true,
      monthlySalaryVisibility: false,
      credits: [
        {
          Description: "Yes",
          Code: "yes",
          Class: "yesboxapply",
        },
        {
          Description: "No",
          Code: "no",
          Class: "noboxapply",
        },
      ],
      location: "",
      locations: [
        { Description: "Manila", code: "Manila" },
        { Description: "Quezon City", code: "Quezon City" },
        { Description: "Caloocan", code: "Caloocan" },
        { Description: "Las Pinas", code: "Las Pinas" },
        { Description: "Marikina", code: "Marikina" },
        { Description: "Pasig", code: "Pasig" },
        { Description: "Paranaque", code: "Paranaque" },
        { Description: "Pasay", code: "Pasay" },
        { Description: "Malabon", code: "Malabon" },
        { Description: "Navotas", code: "Navotas" },
        { Description: "Makati", code: "Makati" },
        { Description: "Muntinlupa", code: "Muntinlupa" },
        { Description: "Taguig", code: "Taguig" },
        { Description: "Valenzuela", code: "Valenzuela" },
        { Description: "San Juan", code: "San Juan" },
        { Description: "Pateros", code: "Pateros" },
        { Description: "Laguna", code: "Laguna" },
        { Description: "Cavite", code: "Cavite" },
        { Description: "Rizal", code: "Rizal" },
        { Description: "Bulacan", code: "Bulacan" },
        { Description: "Pampanga", code: "Pampanga" },
        { Description: "Batangas", code: "Batangas" },
        { Description: "Tarlac", code: "Tarlac" },
        { Description: "Nueva Ecija", code: "Nueva Ecija" },
      ],
      industry: "",
      otherIndustry: "",
    };
  },
  computed: {
    productTitle: function () {
      return this.Loan.title;
    },
    listTenure: function () {
      if (["online-loan", "business-loan"].indexOf(this.Loan.loan_type) >= 0) {
        return creatArrayRange(
          parseInt(this.Loan.min_tenure),
          parseInt(this.Loan.max_tenure),
          this.Loan
        );
      } else {
        return creatArrayRangePh(
          parseInt(this.Loan.min_tenure),
          parseInt(this.Loan.max_tenure)
        );
      }
    },
  },
  watch: {
    loan_amount() {
      this.update();
    },
    loan_tenure() {
      this.update();
    },
    monthly_salary() {
      this.update();
    },
    checkbox: function (val) {
      if (!this.checkbox) {
        this.checkbox = null;
      }
    },
    checkbox2: function (val) {
      if (!this.checkbox2) {
        this.checkbox2 = null;
      }
    },
  },
  created() {
    const shurl = this.config.url;
    const range = this.$store.state.selectedProductForApply.max_tenure;
    const minrange = this.$store.state.selectedProductForApply.min_tenure;
    this.tenureFromProducts = this.tenureList();
    console.log(this.tenureFromProducts)
    this.tenureFromProducts.indexOf(this.loan_tenure) >= 0
      ? this.loan_tenure
      : (this.loan_tenure = null);

    this.tenureFromProducts.indexOf(this.loan_tenure);
    this.monthly = this.config.monthly;
    this.calculator = new Calculator();
    this.update();
    this.onBlurMonthlySalary();

    if (this.Currency2 === "PH")
      this.reformed_loan_amount = this.addCommas(this.loan_amount);
    this.updatePersonalLoan(this.calculator);
  },
  methods: {
    tenureList () {
      let loan = this.$store.state.selectedProductForApply;
      let array = [];
      let start = parseFloat(loan.min_tenure);
      let end = parseFloat(loan.max_tenure);
      if (["online-loan", "business-loan"].indexOf(loan.loan_type) >= 0) {
        for (var i = start; i <= end; i++) {
          if ([7, 8, 10, 11].indexOf(i) < 0) {
            array.push(i);
          }
        }
      } else {
        for (var i = start; i <= end; i++) {
          array.push(i);
          if (i + 0.5 <= end) {
            array.push(i + 0.5);
          }
        }
      }
      console.log(array);
      return array;
    },
    onBlurLoanAmount() {
      this.loanAmountVisibility = true;
      this.reformed_loan_amount = this.addCommas(this.loan_amount);
    },

    onFocusLoanAmount() {
      this.loanAmountVisibility = false;
    },

    onBlurMonthlySalary() {
      this.monthlySalaryVisibility = true;
      if (this.monthly_salary != null)
        this.reformed_monthly_salary = this.addCommas(this.monthly_salary);
    },

    onFocusMonthlySalary() {
      this.monthlySalaryVisibility = false;
    },

    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    validateMoneyFormat(evt, key) {
      evt = evt ? evt : window.event;
      let charCode = evt.which ? evt.which : evt.keyCode;

      let strAmount = this.getRelatedAmount(key);
      if (this.Currency2 === "PH") {
        if (charCode < 48 || charCode > 57) {
          evt.preventDefault();
          return false;
        }
      }
      // this.update();
      return true;
    },

    getRelatedAmount(key) {
      if (key === "loan_amount")
        return this.loan_amount !== null ? this.loan_amount.toString() : "0";
      if (key === "monthly_salary") {
        return this.monthly_salary !== null
          ? this.monthly_salary.toString()
          : "0";
      }
    },

    log(message) {
      console.log(message);
    },
    onChange(event) {
      $(".locationerror").hide();
    },
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    // only allow number and one dot
    numberAndOneDot(charCode, strAmount) {
      return (
        (charCode < 48 || charCode > 57) &&
        (charCode !== 46 || strAmount.indexOf(".") != -1)
      );
    },
    // restrict to 2 decimal places
    restrictTo2DecimalsWithDot(charCode, strAmount) {
      return (
        strAmount != null &&
        strAmount.indexOf(".") > -1 &&
        strAmount.split(".")[1].length > 1
      );
    },
    updatePersonalLoan(calculator) {
      let updatedLoan = calculator.filterRatesProduct(this.Loan);
      if (typeof updatedLoan === "undefined") {
        this.productInterestRate = "-";
        this.monthlyRepayment = "-";
      } else {
        this.productInterestRate = updatedLoan.productInterestRate;
        this.showurl = this.url.split("/");

        if (this.url === "") {
          this.monthlyRepayment = updatedLoan.monthlyRepayment;
        } else {
          this.monthlyRepayment = updatedLoan.monthlyRepayment;
          this.monthlyRepayment = this.monthlyRepayment;
        }
      }
    },
    update() {
      this.calculator.amount = parseInt(this.loan_amount);
      this.calculator.tenure = parseFloat(this.loan_tenure) || 0;
      this.calculator.income = parseInt(this.monthly_salary);

      this.updatePersonalLoan(this.calculator);
    },
    close() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "closeForm",
        submit_type: this.$store.state.applyBtnFrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        form_step: this.currentSlide,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en",
      };
      dataLayer.push(data);
      this.$parent.close();
    },
    validatePhoneNumber: function (number) {
      let PH = "+63";
      let phoneNumber;
      if (number[0] === "6") {
        phoneNumber = `+${number}`;
      } else if (!number.includes("+63")) {
        phoneNumber = `${PH} ${number}`;
      } else {
        phoneNumber = number;
      }
      let checkMYnumber = parsePhoneNumberFromString(phoneNumber, "PH");
      if (checkMYnumber.country === "PH") {
        number = `0${checkMYnumber.nationalNumber}`;
        return number;
      }
      return number;
    },
    validate: function (field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function (field, type) {
      let Loan = this.$store.state.selectedProductForApply;

      const erroMessagesObj = {
        name: {
          maxLength:
            "The name entered is too long. How about trying a shorter name?",
          minLength: "Please enter your name with at least 3 letters",
          regex: "Please enter your name in alphabet only",
          required: "Your name is required",
        },
        email_address: {
          email: "Please enter a valid email address (eg: iris@email.com)",
          required: "Your e-mail is required",
        },
        phone_number: {
          maxLength: "Your phone number should be less than 13 digits",
          minLength: "Please key in at least 9 digits",
          regex: "Please enter a valid phone number (eg: 0123456789)",
          required: "Your phone number is required",
        },
        monthly_salary: {
          required: "Your monthly salary is required",
          minValue: "Please enter a valid monthly salary",
          regex: "Your monthly salary must be a number (eg: 3000)",
        },
        loan_tenure: {
          required: "Your loan tenure is required",
        },
        checkbox: {
          required: "Please check this box if you want to proceed",
        },
        checkbox2: {
          required: "Please check this box if you want to proceed",
        },
        have_another_credit_card: {
          required: "Please check this box if you want to proceed",
        },
        loan_amount: {
          maxValue: `${this.translate(
            "The maximum loan amount is PH"
          )} ${this.addCommas(this.Loan.max_amount)}`,
          minValue: `${this.translate(
            "The minimum loan amount is PH"
          )} ${this.addCommas(this.Loan.min_amount)}`,
          regex: "Your loan amount must be a number (eg. 15000)",
          required: "Loan amount is required",
        },
        industry: {
          required: "Your industry is required",
        },
        otherIndustry: {
          minLength: "Please enter your other industry with at least 3 letters",
          regex: "Please enter your Other Industry in alphabet only",
          required: "Your other industry is required",
        },
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    onSubmit: function () {
      console.log(
        this.applybtnfrom,
        " *** Tacking Data Apply for submit_type in applyform *** ",
        this.$store.state.applyBtnFrom
      );
      if (!this.$v.$invalid) {
        var data = {
          event: "submitDetails",
          submit_type: this.applybtnfrom,
          product_id: this.Loan.nid,
          product_name: this.Loan.title,
          product_brand: this.Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_pl_rate: this.Loan.productInterestRate,
          event_lang: "en",
        };
      }
      dataLayer.push(data);

      let jappData = {
        name: this.name,
        email_address: this.email_address,
        phone_number: this.phone_number,
        monthly_salary: this.monthly_salary,
        loan_amount: this.loan_amount,
        loan_tenure: this.loan_tenure,
        allow_checked: this.checkbox,
        allow_consent: this.checkbox2,
        have_another_credit_card: this.have_another_credit_card,
        submit_type: this.applybtnfrom,
        company_industry: this.industry,
        company_industry_other: this.otherIndustry,
      };

      let Loan = this.$store.state.selectedProductForApply;
      console.log("!this.$v.$invalid", !this.$v.$invalid, jappData);
      if (!this.$v.$invalid) {
        this.applyNowBasic = "Please wait";
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(jappData, Loan).then((result) => {
          this.applyNowBasic = "Submitted";
          console.log("Loan.apply_link =>", Loan.apply_link);
          // IMDevPropBag.add('referrer_submission_id', result.data['$id']);
          if (Loan.apply_link === "") {
            window.location.href = "/personal-loan-b/thank-you";
          } else {
            window.location.href = Loan.apply_link;
          }
        });
      }
      return this.$v.$touch();
    },
  },
  validations: function () {
    let Loan = this.$store.state.selectedProductForApply;

    const rules = {
      name: {
        maxLength: maxLength(128),
        minLength: minLength(3),
        regex: regex("regex", /^[a-zA-Z\s]*$/),
        required,
      },
      email_address: {
        email,
        required,
      },
      phone_number: {
        maxLength: maxLength(13),
        minLength: minLength(9),
        regex: regex("regex", /^[0-9]*$/),
        required,
      },
      monthly_salary: {
        minValue: minValue(1000),
        required,
      },
      checkbox: {
        required,
      },
      checkbox2: {
        required,
      },
      have_another_credit_card: {
        required,
      },
      loan_tenure: {
        required,
      },
      loan_amount: {
        required,
        maxValue: maxValue(Loan.max_amount),
        minValue: minValue(Loan.min_amount),
      },
    };

    if (this.featureIndustryField && this.industry === "") {
      return {
        ...rules,
        industry: {
          required,
        },
      };
    }

    if (this.industry === "Others") {
      return {
        ...rules,
        industry: {
          required,
        },
        otherIndustry: {
          minLength: minLength(3),
          regex: regex("regex", /^[a-zA-Z\s]*$/),
          required,
        },
      };
    }
    return rules;
  },
};
</script>
<style lang="scss" scoped>
@import "./src/scss/ph/apply-form.scss";
@import "./src/scss/modal-drawer.scss";
</style>
