<template>
  <div class="">
    <form data-step="5" @submit.prevent="submit">
     
        
        <div class="columns is-mobile top-marg apply-form">
          <div class="form-group column is-12">
        <h4 style="text-align:center;" class="msg-txt-lgtcolor">{{ translate('As an iMoney user, you have been selected for') }}</h4>
        <h4 style="text-align:center;">{{ translate('Free AXA Personal Accident coverage of up to RM10,000 from AXA Affin') }}</h4>
          </div>
        </div>
       
        <div class="columns is-mobile">
          <div class="form-group column is-12">
            <span class="axacarimg"></span>
          </div>
        </div>
        
            <div class="apply-details">
        <div class="columns is-mobile left-space">
          <div class="form-group column is-12">
            <p class="cov-feature">{{ translate('Coverage features') }}</p>
            
            <ul class="axa-points">
              <li><strong>{{ translate('3 months ') }}</strong> {{ translate('coverage')}}</li>
              <li><strong>{{ translate('RM10,000  ') }}</strong> {{ translate('Accidental Death or Total Permanent Disability')}}</li>
              <li><strong>{{ translate('RM2,000 ') }}</strong> {{ translate('Death due to dengue')}}</li>
            </ul>
            
            <div class="bottom-txt">{{ translate('Your policy will be emailed to you') }}.</div>
            <div class="bottom-txt"><a :href="tngaxaUrl" target="_blank"> {{ translate('Terms and conditions apply') }}.</a></div>
          </div>
          
        </div>

        <div class="columns is-mobile">
        <div class="column is-12"><span class="axaimg"></span></div>
        </div>
        
            </div>
       
        <br />  
        
        <div class="form-group a-center" v-show="!selidtype">
          <div v-if="this.$parent.jappData.identification_type==='IC'">
            <button
            id="prequalify-btn"
            type="button"
            tabindex="-1"
            data-step="Alliance Bank CashFirst Personal Loan"
            data-vertical="Personal Loan"
            @click="regnumsubmit"
            :disabled="yeswithic != translate('Yes I want Free Coverage')"
            class="btn-apply button blue is-fullwidth has-text-center"
          >{{ yeswithic }}</button>
          </div>
          <div v-else>
           <button
            id="prequalify-btn"
            type="button"
            tabindex="-1"
            data-value="Submit"
            data-title="Submit"
            data-step="Alliance Bank CashFirst Personal Loan"
            data-description="Pre-Qualify Apply Form"
            data-region="Product Apply Popup"
            data-vertical="Personal Loan"
            v-on:click="selidtype = !selidtype"
            class="btn-apply button blue is-fullwidth has-text-center"
          >{{ translate('Yes I want Free Coverage') }}</button>
          </div>
       
</div>

        <div class="apply-form" v-show="selidtype">
            
            <div class="icNumber columns is-multiline is-mobile" v-if="idtype = 'IC'">
          <div class="column is-12">
            <label>{{ translate('Please provide your IC Number') }}</label>
          </div>
          <div class="form-group column is-5-tablet is-5-mobile">
              
             
            <input
              v-model.trim="identification_no_1"
              name="identification_no_1"
              type="tel"
              maxlength="6"
              v-on:keypress="isNumber(event)"
              data-description="ID Number 1"
              :placeholder="translate('891023')"
              class="form-control"
              @keyup='charCount()'
             @input="$v.identification_no_1.$touch()"
            />
            <div v-for="(rule, index) in $v.identification_no_1.$params" :key="index">
              <span
                v-if="validate($v.identification_no_1,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('identification_no_1',rule.type) }}</span>
            </div>

          </div>
          <div class="form-group column is-3-tablet is-3-mobile form-dash">
            <input
              v-model.trim="identification_no_2"
              name="identification_no_2"
              type="tel"
              maxlength="2"
              v-on:keypress="isNumber(event)"
              @keyup='charCount2()'
              data-description="ID Number 2"
              :placeholder="translate('56')"
              class="form-control"
              ref="phonenum"
              @input="$v.identification_no_2.$touch()"
            />
            <div v-for="(rule, index) in $v.identification_no_2.$params" :key="index">
              <span
                v-if="validate($v.identification_no_2,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('identification_no_2',rule.type) }}</span>
            </div>
          </div>
          <div class="form-group column is-4-tablet is-4-mobile form-dash">
            <input
              v-model.trim="identification_no_3"
              v-model="identification_no_3"
              name="identification_no_3"
              type="tel"
              maxlength="4"
              v-on:keypress="isNumber(event)"
              data-description="ID Number 3"
              :placeholder="translate('5310')"
              class="form-control"
              ref="phonenum2"
              @input="$v.identification_no_3.$touch()"
            />
            <div v-for="(rule, index) in $v.identification_no_3.$params" :key="index">
              <span
                v-if="validate($v.identification_no_3,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('identification_no_3',rule.type) }}</span>
            </div>
          </div>
        </div>
<br>
<button
          type="submit"
          class="btn-apply button orange is-fullwidth has-text-center"
          :disabled="redeemtxt != translate('Redeem FREE coverage and submit')"
         
        >{{ redeemtxt }}</button>

        </div>
        <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
          :disabled="prevtxt != translate('Skip this and complete submission')"
        >{{ prevtxt }}</button>
     
    </form>
  </div>
</template>
<script>
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { creatArrayRange, submitToJapp } from "helper.js";

export default {
  components: {},
  props: ["data", "context"],
  data: function() {
    return {
      url: this.$store.state.urlRedirect,
      idtype: this.$parent.jappData.identification_type,
      productTitle: "",
      Submit: this.translate("Yes, I want Free Coverage"),
      yeswithic: this.translate('Yes I want Free Coverage'),
      redeemtxt: this.translate('Redeem FREE coverage and submit'),
      prevtxt: this.translate('Skip this and complete submission'),
      identification_no_1:"",
      identification_no_2:"",
      identification_no_3:"",
      selidtype:false,
      axa_insurance_promo:'',
      tngaxaUrl:"https://www.imoney.my/"+this.translate("personal-accident-insurance/axa"),
      
    };
  },
  mounted() {
      console.log('id type ',this.$parent.jappData.identification_type);
  },
  computed: {
      
  },
  watch: {},
  created() {
    console.log(this.existing_credit_card);
  },
  methods: {

    charCount: function(){
    this.totalcharacter = this.identification_no_1.length;
         if(this.totalcharacter>=6){
          this.$refs.phonenum.focus();
        } 
    },
    charCount2: function(){
    this.totalcharacter2 = this.identification_no_2.length;
         if (this.totalcharacter2>=2) {
          this.$refs.phonenum2.focus();
        }
    },
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    
    submit: function() {
      if (!this.$v.$invalid) {
         console.log('comes to submit');
         const identification_no = this.identification_no_1 + this.identification_no_2 + this.identification_no_3;
         this.$parent.jappData.axa_insurance_promo = 'accept';
         this.redeemtxt = this.translate("Redeem FREE coverage and submit");
         this.$parent.jappData.identification_no = identification_no;
         this.$parent.jappData.identification_type = 'IC';
        this.$parent.progressBarStep = 4;
        IMDevPropBag.add("prequalify_current_step", 5);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "complete");
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "submitDetails",
          submit_type: "en_pl_listing",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);

        this.Submit = this.translate("Please wait");
        this.$parent.jappData.axa_insurance_promo = 'accept';
        
       // this.applyNow = this.translate("Please wait");
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
        
          this.Submit = this.translate("Submitted");
          
          if (Loan.apply_form_flow === "2") {
            window.location.href = Loan.apply_link;
          } else {
            window.location.href = this.url + this.translate("/thank-you") + "?prequalify";
          }
         
          
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      this.$parent.jappData.axa_insurance_promo = 'skip';
      this.prevtxt = this.translate("Skip this and complete submission");
      var data = {
        event: "prevStep",
        submit_type: "en_pl_listing",
        form_step: "3",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      
      submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
            if (Loan.apply_form_flow === "2") {
            window.location.href = Loan.apply_link;
          } else {
            window.location.href =
              this.url + this.translate("/thank-you") + "?prequalify";
          }
        });
      
    },

    regnumsubmit: function() {
      let Loan = this.$store.state.selectedProductForApply;
      this.$parent.jappData.axa_insurance_promo = 'accept';
      this.yeswithic = this.translate("Redeem FREE coverage and submit");
      var data = {
        event: "prevStep",
        submit_type: "en_pl_listing",
        form_step: "3",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      
      submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
            if (Loan.apply_form_flow === "2") {
            window.location.href = Loan.apply_link;
          } else {
            window.location.href =
              this.url + this.translate("/thank-you") + "?prequalify";
          }
        });
      
    },


    validate: function(field, type) {
      return !field[type] && field.$error;
    },
     
    getErrotmessage: function(field, type) {
      const erroMessagesObj = {
        identification_no_1: {
          required: "Please key in atleast 6 digits",
          maxLength: "You are exceeding more than 6 Digits",
          minLength: "Please key in atleast 6 digits"
        },
        identification_no_2: {
          required: "Please key in atleast 2 digits",
          maxLength: "You are exceeding more than 2 Digits",
          minLength: "Please key in atleast 2 digits"
        },
        identification_no_3: {
          required: "Please key in atleast 4 digits",
          maxLength: "You are exceeding more than 4 Digits",
          minLength: "Please key in atleast 4 digits"
        },
      };
      return this.translate(erroMessagesObj[field][type]);
    },
   },

    validations: {
    identification_no_1: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(6)
      },
      identification_no_2: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(2)
      },
      identification_no_3: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4)
      }
  }
  
};
</script>

<style lang="scss" scoped>
@import "./src/scss/ph/apply-form.scss";

.cov-feature{
  font-size: 15px;
  color: #222222;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 10px;
}
.bottom-txt {
    text-align: center;
    font-size: 12px;
}
.top-marg {
    margin-top:20px;
}
</style>
