<template>
  <transition name="fade">
    <div class="modal-compare" :class="{active : isCompareModalActive}">
      <!-- Modal Header -->
      <div class="modal-compare__header level">
        <span class="modal-title level-item">Compare Personal Loans</span>
        <button
          class="button rounded-blue has-sprite-right is-hidden-mobile btn-close-desktop"
          @click="$parent.close()"
        >
          Close
          <i class="sprite close blue"></i>
        </button>
        <button
          class="button rounded-white icon-only is-hidden-tablet btn-close-mobile"
          @click="$parent.close()"
        >
          <i class="sprite close white"></i>
        </button>
      </div>

      <!-- Modal Content -->
      <div class="container modal-compare__body">
        <div class="columns is-mobile compare-summary">
          <div class="column is-4">
            <span>Loan Amount</span>
            RM 30,000
          </div>
          <div class="column is-4">
            <span>Loan Tenure</span>
            5 years
          </div>
          <div class="column is-4">
            <span>Monthly Salary</span>
            RM 5,000
          </div>
        </div>
        <div class="columns is-mobile has-text-centered compare-keypoint">
          <div v-for="product in compareProducts" :key="product.productName" class="column is-4-tablet is-12-mobile">
            <div class="product__image level-item">
              <img :src="product.productImage" :alt="product.bankName">
            </div>
            <a href="#" class="product__name">{{ product.productName}}</a>
            <p class="font-xlg product__keypoint">{{ product.monthlyRepayment }}<span class="font-xsm">/month</span></p>
            <div class="columns is-mobile is-multiline product__points">
              <div class="column is-half has-text-right">
                <b>Interest Rate</b>
              </div>
              <div class="column is-half has-text-left">
                {{ product.interestRate }}
              </div>
              <div class="column is-half has-text-right">
                <b>Total Repayment</b>
              </div>
              <div class="column is-half has-text-left">
                {{ product.totalRepayment }}
              </div>
              <div class="column is-half has-text-right">
                <b>Total Interest Payable</b>
              </div>
              <div class="column is-half has-text-left">
                {{ product.totalInterestPayable }}
              </div>
            </div>
          </div>
        </div>
        <b-tabs v-model="activeTab">
          <b-tab-item label="Features">
            <div class="columns is-mobile">
              <div v-for="product in compareProducts" :key="product.productName" class="column is-4-tablet is-12-mobile product__info">
                <span class="product__info--label">Loan Tenure</span>
                <p>{{ product.loanTenure }}</p>
                <span class="product__info--label">Financing Amount (min to max)</span>
                <p>{{ product.financingAmount }}</p>
                <span class="product__info--label">Approval Duration</span>
                <p>{{ product.approvalDuration }}</p>
                <span class="product__info--label">Debt Consolidation</span>
                <p>{{ product.debtConsolidation }}</p>
              </div>
            </div>
          </b-tab-item>

          <b-tab-item label="Eligibility / Documents">
            <div class="columns is-mobile">
              <div v-for="product in compareProducts" :key="product.productName" class="column is-4-tablet is-12-mobile product__info">
                <span class="product__info--label">Employment Eligibility</span>
                <p>{{ product.employmentEligibility }}</p>
                <span class="product__info--label">Guarantor/Collateral Requirement</span>
                <p>{{ product.guarantorRequirement }}</p>
                <span class="product__info--label">Age Requirement</span>
                <p>{{ product.ageRequirement }}</p>
                <span class="product__info--label">Minimum Salary</span>
                <p>{{ product.minimumSalary }}</p>
                <span class="product__info--label">Need to open linked bank account?</span>
                <p>{{ product.openLinkedAcc }}</p>
                <span class="product__info--label">Need to buy Takaful product?</span>
                <p>{{ product.buyTakaful }}</p>
              </div>
            </div>
            <hr class="dashed">
            <div class="columns is-mobile">
              <div v-for="product in compareProducts" :key="product.productName" class="column is-4-tablet is-12-mobile product__info">
                <p class="product__info--subheader">Documents</p>
                <span class="product__info--label">Dynamic Field Label</span>
                <p>Dynamic field input here</p>
              </div>
            </div>
          </b-tab-item>

          <b-tab-item label="Fees">
            <div class="columns">
              <div v-for="product in compareProducts" :key="product.productName" class="column is-4-tablet is-12-mobile product__info">
                <span class="product__info--label">Processing Fee</span>
                <p>{{ product.processingFee }}</p>
                <span class="product__info--label">Stamp Duty</span>
                <p>{{ product.stampDuty }}</p>
                <span class="product__info--label">Disbursement &amp; Misc. Fee</span>
                <p>{{ product.disbursementFee }}</p>
                <span class="product__info--label">Annual Fee</span>
                <p>{{ product.annualFee }}</p>
                <span class="product__info--label">Other Fees</span>
                <p>{{ product.otherFees }}</p>
                <span class="product__info--label">Early Settlement</span>
                <p>{{ product.earlySettlement }}</p>
                <span class="product__info--label">Late Payment Charges</span>
                <p>{{ product.latePaymentCharges }}</p>
              </div>
            </div>
          </b-tab-item>
        </b-tabs>
      </div>
    </div>
  </transition>
</template>

<script>
// import xxx from '../xxx'
export default {
  components: {
    // xxx
  },
  data: function() {
    return {
      activeTab: 0,
      compareProducts: [
        {
          productName: "RHB Easy-Pinjaman Ekspres",
          productImage: "https://www.imoney.my/sites/default/files/untitled-1.png",
          bankName: "RHB",
          interestRate: "8.18% ~ 13.45%",
          loanTenure: "1 years ~ 7 years",
          monthlyRepayment: "RM 1,124",
          totalRepayment: "RM 40,494",
          totalInterestPayable: "RM 10,494",
          financingAmount: "RM 2,000 ~ RM 150,000",
          approvalDuration: "Within 24 hours",
          debtConsolidation: "No",
          employmentEligibility: "Employees of private sector organizations, and self-employed individuals",
          guarantorRequirement: "N/A",
          ageRequirement: "21 - 55",
          minimumSalary: "RM 1,500 gross per month",
          openLinkedAcc: "Yes",
          buyTakaful: "Customer is not required to buy Takaful for this EPE financing however, Personal Smart Shield (PSS) PA insurance is available",
          processingFee: "N/A",
          stampDuty: "0.5% of financing amount",
          disbursementFee: "N/A",
          annualFee: "N/A",
          otherFrees: "N/A",
          earlySettlement: "Penalty of RM200 for settlement within the first 6 months from the date of financing approval",
          latePaymentCharges: "1% from current outstanding amount"
        },
        {
          productName: "Alliance Bank CashFirst Personal Loan",
          productImage: "https://www.imoney.my/sites/default/files/alliance-bank-logo.jpg",
          bankName: "Alliance Bank",
          interestRate: "5.33% ~ 15.28%",
          loanTenure: "1 years ~ 7 years",
          monthlyRepayment: "RM 966",
          totalRepayment: "RM 34,797",
          totalInterestPayable: "RM 4,797",
          financingAmount: "RM 5,000 ~ RM 200,000",
          approvalDuration: "Up to 48 hours",
          debtConsolidation: "Yes",
          employmentEligibility: "Malaysian citizens and permanent residents working and residing in Malaysia. Malaysian citizens working in Singapore will be considered",
          guarantorRequirement: "N/A",
          ageRequirement: "21 - 60",
          minimumSalary: "RM 3,000 gross per month",
          openLinkedAcc: "No",
          buyTakaful: "No",
          processingFee: "N/A",
          stampDuty: "0.5% of financing amount",
          disbursementFee: "N/A",
          annualFee: "N/A",
          otherFees: "N/A",
          earlySettlement: "N/A",
          latePaymentCharges: "1% from current outstanding amount"
        }
      ]
    };
  },
  methods: {
  }
};
</script>

<style lang="scss">
@import "../../../scss/modal-compare";

// Hide default modal close button
button.modal-close.is-large {
  display: none;
}
</style>
