<template>
  <transition name="fade">
    <div class="modal-eligibility">
      <div class="modal-eligibility__header">
        <span class="modal-title">Personal Loan Eligibility Checker</span>

        <button
          class="btn-close btn-close-desktop button rounded-blue has-sprite-right is-hidden-mobile"
          @click="$parent.close()"
        >
          Close
          <i class="sprite close blue"></i>
        </button>
        <button
          class="btn-close button btn-close-mobile rounded-white icon-only is-hidden-tablet"
          @click="$parent.close()"
        >
          <i class="sprite close white"></i>
        </button>
      </div>

      <div class="modal-eligibility__body container">
        <div class="modal-eligibility__body--wrap columns">
          <!-- Image -->
          <div
            class="eligibility-image column is-4-desktop is-offset-1-desktop is-4-tablet is-offset-1-tablet"
          >
            <b-tabs v-model="activeTab">
              <b-tab-item label="What To Do">
                <div class="eligibility-image eligibility-image--01"></div>
              </b-tab-item>
              <b-tab-item label="Age">
                <div class="eligibility-image eligibility-image--02"></div>
              </b-tab-item>
              <b-tab-item label="Loan Amount">
                <div class="eligibility-image eligibility-image--03"></div>
              </b-tab-item>
              <b-tab-item label="Monthly Income">
                <div class="eligibility-image eligibility-image--04"></div>
              </b-tab-item>
              <b-tab-item label="Existing Loans">
                <div class="eligibility-image eligibility-image--05"></div>
              </b-tab-item>
              <b-tab-item label="Basic Form">
                <div class="eligibility-image eligibility-image--06"></div>
              </b-tab-item>
            </b-tabs>
          </div>
          <!-- Question -->
          <div class="column is-5-desktop is-6-tablet eligibility-questions">
            <div class="eligibility-questions--wrap">
              <span class="question-number">Question {{ activeTab + 1 }} of 6</span>

              <b-tabs v-model="activeTab">
                <b-tab-item label="What To Do">
                  <div class="question-container">
                    <span class="question-statement">What would you like to do?</span>
                    <div class="button-wrapper">
                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q1"
                        data-value="Pay off my credit card bills"
                        type="radio"
                        v-model="category"
                        name="loan_reason"
                        id="categories__radio--pay-off"
                        value="Pay off my credit card bills"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--pay-off"
                        @click="submitLoanReason()"
                      >
                        <i class="sprite-sc icon icon-sprite-allcard"></i> Pay off my credit card bills
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q1"
                        data-value="Compare and get a new personal loan"
                        type="radio"
                        v-model="category"
                        name="loan_reason"
                        id="categories__radio--compare"
                        value="Compare and get a new personal loan"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--compare"
                        @click="submitLoanReason()"
                      >
                        <i class="sprite-sc icon icon-sprite-compare"></i> Compare and get a new personal loan
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q1"
                        data-value="Refinance an existing loan"
                        type="radio"
                        v-model="category"
                        name="loan_reason"
                        id="categories__radio--refinance"
                        value="Refinance an existing loan"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--refinance"
                        @click="submitLoanReason()"
                      >
                        <i class="sprite-sc icon icon-sprite-refinance"></i> Refinance an existing loan
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q1"
                        data-value="Others"
                        type="radio"
                        v-model="category"
                        name="loan_reason"
                        id="categories__radio--others"
                        value="Others"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--others"
                        @click="submitLoanReason()"
                      >
                        <i class="sprite-sc icon icon-sprite-cashback"></i> Others
                      </label>
                    </div>
                    <button
                      class="button blue has-sprite-right is-fullwidth"
                      @click="submitLoanReason()"
                      v-if="activeTab === 0 && category"
                    >
                      <i class="sprite angle white angle-right push-right"></i>
                      Next question
                    </button>
                  </div>
                </b-tab-item>

                <b-tab-item label="Employment Status">
                  <div class="question-container">
                    <span class="question-statement">What is your employment status?</span>
                    <div class="button-wrapper">
                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q2"
                        data-value="Self-employed"
                        type="radio"
                        v-model="employment_status"
                        name="employment_status"
                        id="categories__radio--selfemployed"
                        value="Self-employed"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--selfemployed"
                        @click="submitEmploymentStatus()"
                      >
                        <i class="sprite-sc icon icon-sprite-selfemployed"></i> Self-employed
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q2"
                        data-value="Employee"
                        type="radio"
                        v-model="employment_status"
                        name="employment_status"
                        id="categories__radio--employee"
                        value="Employee"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--employee"
                        @click="submitEmploymentStatus()"
                      >
                        <i class="sprite-sc icon icon-sprite-employed-double"></i> Employee
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q2"
                        data-value="Unemployed"
                        type="radio"
                        v-model="employment_status"
                        name="employment_status"
                        id="categories__radio--unemployed"
                        value="Unemployed"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--unemployed"
                        @click="submitEmploymentStatus()"
                      >
                        <i class="sprite-sc icon icon-sprite-unemployed"></i> Unemployed
                      </label>

                      <input
                        data-subject="User"
                        data-action="Input"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Q2"
                        data-value="Government Employee"
                        type="radio"
                        v-model="employment_status"
                        name="employment_status"
                        id="categories__radio--gov"
                        value="Government Employee"
                        checked
                      />
                      <label
                        class="radio categories__item"
                        for="categories__radio--gov"
                        @click="submitEmploymentStatus()"
                      >
                        <i class="sprite-sc icon icon-sprite-employed"></i> Government Employee
                      </label>
                    </div>
                    <button
                      class="button blue has-sprite-right is-fullwidth"
                      @click="submitEmploymentStatus()"
                      v-if="activeTab === 1 && employment_status"
                    >
                      <i class="sprite angle white angle-right push-right"></i>
                      Next question
                    </button>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <a
                        data-step="Q2-Employment Status"
                        href="javascript:void(0)"
                        v-on:click="prevTab"
                        class="btn-nav btn-back"
                      >
                        <i class="sprite angle blue angle-left"></i>
                        Previous question
                      </a>
                    </div>
                  </div>
                </b-tab-item>

                <b-tab-item label="Loan Amount">
                  <div class="question-container">
                    <span class="question-statement">How much do you want to borrow?</span>
                    <div class="field has-addons">
                      <p class="control">
                        <a class="button is-static is-large">{{currency }}</a>
                      </p>
                      <p class="control is-expanded" id="loan_amount">
                        <input
                          data-subject="User"
                          data-action="Input"
                          data-region="Smart Search Tool"
                          data-vertical="Personal Loan"
                          data-description="Q3"
                          :data-value="loan_amount"
                          class="input is-large"
                          :class="{'is-danger': invalidLoanAmount}"
                          type="number"
                          v-model="loan_amount"
                          placeholder="1,000"
                          @keyup.enter="submitLoanAmount()"
                        />
                        <b-tooltip
                          :label="invalidLoanAmount"
                          position="is-bottom"
                          target="loan_amount"
                          v-if="invalidLoanAmount"
                          animated
                          always
                        ></b-tooltip>
                      </p>
                    </div>

                    <button
                      class="button blue has-sprite-right is-fullwidth"
                      @click="submitLoanAmount()"
                    >
                      <i class="sprite angle white angle-right push-right"></i>
                      Next question
                    </button>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <a
                        data-step="Q3-Loan Amount"
                        href="javascript:void(0)"
                        v-on:click="prevTab"
                        class="btn-nav btn-back"
                      >
                        <i class="sprite angle blue angle-left"></i>
                        Previous question
                      </a>
                    </div>
                  </div>
                </b-tab-item>

                <b-tab-item label="Monthly Income">
                  <div class="question-container">
                    <span class="question-statement">How much is your average monthly take-home pay?</span>
                    <div class="field has-addons">
                      <p class="control">
                        <a class="button is-static is-large">{{currency}}</a>
                      </p>
                      <p class="control is-expanded" id="monthly_salary">
                        <input
                          data-subject="User"
                          data-action="Input"
                          data-region="Smart Search Tool"
                          data-vertical="Personal Loan"
                          data-description="Q4"
                          :data-value="monthly_salary"
                          class="input is-large"
                          :class="{'is-danger': invalidIncome}"
                          type="number"
                          v-model="monthly_salary"
                          placeholder="1,000"
                          @keyup.enter="submitSalary()"
                        />
                        <b-tooltip
                          :label="invalidIncome"
                          position="is-bottom"
                          target="monthly_salary"
                          v-if="invalidIncome"
                          animated
                          always
                        ></b-tooltip>
                      </p>
                    </div>

                    <button
                      class="button blue has-sprite-right is-fullwidth"
                      @click="submitSalary()"
                    >
                      <i class="sprite angle white angle-right push-right"></i>
                      Next question
                    </button>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <a
                        data-step="Q4-Monthly Salary"
                        href="javascript:void(0)"
                        v-on:click="prevTab"
                        class="btn-nav btn-back"
                      >
                        <i class="sprite angle blue angle-left"></i>
                        Previous question
                      </a>
                    </div>
                  </div>
                </b-tab-item>

                <b-tab-item label="Existing Loans">
                  <div class="question-container">
                    <span
                      class="question-statement"
                    >How much do you pay for your commitments every month?</span>
                    <div class="button-wrapper">
                      <div class="columns is-marginless">
                        <div class="column column-label-only is-offset-3-tablet">
                          <span class="label-field">Rent / Home Loan</span>
                        </div>
                      </div>
                      <div class="columns is-fullwidth is-tcentered">
                        <div class="column is-3 is-hidden-mobile">
                          <i class="sprite-sc icon has-margin-auto icon-sprite-house"></i>
                        </div>
                        <div class="column is-9">
                          <div class="field has-addons">
                            <p class="control">
                              <a class="button is-static">RM</a>
                            </p>
                            <p class="control is-expanded" id="home_loan_commitment">
                              <input
                                id="commitment-home-loan"
                                data-subject="User"
                                data-action="Input"
                                data-region="Smart Search Tool"
                                data-vertical="Personal Loan"
                                data-description="Q5"
                                :data-value="home_loan_commitment"
                                class="input"
                                :class="{'is-danger': invalidHomeLoan}"
                                type="number"
                                v-model.trim="home_loan_commitment"
                                placeholder="1,000"
                                onfocus="if(this.value=='0')this.value='';"
                                onblur="if(this.value=='')this.value='0'"
                              />
                              <b-tooltip
                                :label="invalidHomeLoan"
                                position="is-bottom"
                                target="home_loan_commitment"
                                v-if="invalidHomeLoan"
                                animated
                                always
                              ></b-tooltip>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-marginless">
                        <div class="column column-label-only is-offset-3-tablet">
                          <span class="label-field">Transportation Fees / Car Loan</span>
                        </div>
                      </div>
                      <div class="columns is-fullwidth is-tcentered">
                        <div class="column is-3 is-hidden-mobile">
                          <i class="sprite-sc icon has-margin-auto icon-sprite-car"></i>
                        </div>
                        <div class="column is-9">
                          <div class="field has-addons">
                            <p class="control">
                              <a class="button is-static">RM</a>
                            </p>
                            <p class="control is-expanded" id="car_loan_commitment">
                              <input
                                data-subject="User"
                                data-action="Input"
                                data-region="Smart Search Tool"
                                data-vertical="Personal Loan"
                                data-description="Q5"
                                :data-value="car_loan_commitment"
                                class="input"
                                :class="{'is-danger': invalidCarLoan}"
                                type="number"
                                v-model="car_loan_commitment"
                                placeholder="1,000"
                                @keyup.enter="submitCarLoan()"
                                onfocus="if(this.value=='0')this.value='';"
                                onblur="if(this.value=='')this.value='0'"
                              />
                              <b-tooltip
                                :label="invalidCarLoan"
                                position="is-bottom"
                                target="car_loan_commitment"
                                v-if="invalidCarLoan"
                                animated
                                always
                              ></b-tooltip>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-marginless">
                        <div class="column column-label-only is-offset-3-tablet">
                          <span class="label-field">Education</span>
                        </div>
                      </div>
                      <div class="columns is-fullwidth is-tcentered">
                        <div class="column is-3 is-hidden-mobile">
                          <i class="sprite-sc icon has-margin-auto icon-sprite-hat"></i>
                        </div>
                        <div class="column is-9">
                          <div class="field has-addons">
                            <p class="control">
                              <a class="button is-static">RM</a>
                            </p>
                            <p class="control is-expanded" id="education_loan_commitment">
                              <input
                                data-subject="User"
                                data-action="Input"
                                data-region="Smart Search Tool"
                                data-vertical="Personal Loan"
                                data-description="Q5"
                                :data-value="education_loan_commitment"
                                class="input"
                                :class="{'is-danger': invalidEducationBill}"
                                type="number"
                                v-model="education_loan_commitment"
                                placeholder="1,000"
                                @keyup.enter="submitEducationBill()"
                                onfocus="if(this.value=='0')this.value='';"
                                onblur="if(this.value=='')this.value='0'"
                              />
                              <b-tooltip
                                :label="invalidEducationBill"
                                position="is-bottom"
                                target="education_loan_commitment"
                                v-if="invalidEducationBill"
                                animated
                                always
                              ></b-tooltip>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-marginless">
                        <div class="column column-label-only is-offset-3-tablet">
                          <span class="label-field">Credit Card</span>
                        </div>
                      </div>
                      <div class="columns is-fullwidth is-tcentered">
                        <div class="column is-3 is-hidden-mobile">
                          <i class="sprite-sc icon has-margin-auto icon-sprite-allcard"></i>
                        </div>
                        <div class="column is-9">
                          <div class="field has-addons">
                            <p class="control">
                              <a class="button is-static">RM</a>
                            </p>
                            <p class="control is-expanded" id="credit_card_commitment">
                              <input
                                data-subject="User"
                                data-action="Input"
                                data-region="Smart Search Tool"
                                data-vertical="Personal Loan"
                                data-description="Q5"
                                :data-value="credit_card_commitment"
                                class="input"
                                :class="{'is-danger': invalidCreditCardBill}"
                                type="number"
                                v-model="credit_card_commitment"
                                placeholder="1,000"
                                @keyup.enter="submitCreditCardBill()"
                                onfocus="if(this.value=='0')this.value='';"
                                onblur="if(this.value=='')this.value='0'"
                              />
                              <b-tooltip
                                :label="invalidCreditCardBill"
                                position="is-bottom"
                                target="credit_card_commitment"
                                v-if="invalidCreditCardBill"
                                animated
                                always
                              ></b-tooltip>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="columns is-marginless">
                        <div class="column column-label-only is-offset-3-tablet">
                          <span class="label-field">Other Personal Loans</span>
                        </div>
                      </div>
                      <div class="columns is-fullwidth is-tcentered">
                        <div class="column is-3 is-hidden-mobile">
                          <i class="sprite-sc icon has-margin-auto icon-sprite-refinance"></i>
                        </div>
                        <div class="column is-9">
                          <div class="field has-addons">
                            <p class="control">
                              <a class="button is-static">RM</a>
                            </p>
                            <p class="control is-expanded" id="personal_loan_commitment">
                              <input
                                data-subject="User"
                                data-action="Input"
                                data-region="Smart Search Tool"
                                data-vertical="Personal Loan"
                                data-description="Q5"
                                :data-value="personal_loan_commitment"
                                class="input"
                                :class="{'is-danger': invalidPersonalLoanBill}"
                                type="number"
                                v-model="personal_loan_commitment"
                                placeholder="1,000"
                                @keyup.enter="submitPersonalLoanBill()"
                                onfocus="if(this.value=='0')this.value='';"
                                onblur="if(this.value=='')this.value='0'"
                              />
                              <b-tooltip
                                :label="invalidPersonalLoanBill"
                                position="is-bottom"
                                target="personal_loan_commitment"
                                v-if="invalidPersonalLoanBill"
                                animated
                                always
                              ></b-tooltip>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="columns">
                        <div class="column">
                          <button
                            class="button blue has-sprite-right is-fullwidth"
                            @click="loansValid()"
                          >
                            <i class="sprite angle white angle-right push-right"></i>
                            Next question
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <a
                        data-step="Q5-Commitments"
                        href="javascript:void(0)"
                        v-on:click="prevTab"
                        class="btn-nav btn-back"
                      >
                        <i class="sprite angle blue angle-left"></i>
                        Previous question
                      </a>
                    </div>
                  </div>
                </b-tab-item>

                <b-tab-item label="Basic Form">
                  <div class="question-container">
                    <div class="basic-form--preface">
                      <span class="basic-form--preface-title">We’re almost there!</span>
                      <span
                        class="basic-form--preface-subtext"
                      >We just need some information from you so we can best assist you.</span>
                    </div>

                    <div class="apply-form question-container">
                      <div class="field columns is-multiline">
                        <div class="column is-12">
                          <b-field
                            label="Name"
                            :type="{ 'is-danger': invalidName }"
                            :message="invalidName || ''"
                          >
                            <b-input
                              data-subject="User"
                              data-action="Input"
                              data-region="Smart Search Tool"
                              data-vertical="Personal Loan"
                              data-description="Name"
                              :data-value="name"
                              v-model="name"
                              placeholder="Mohammad Johan bin Ismail"
                              type="text"
                              maxlength="30"
                            ></b-input>
                          </b-field>
                        </div>
                        <div class="column is-6">
                          <b-field
                            label="Email"
                            :type="{ 'is-danger': invalidEmail }"
                            :message="invalidEmail || ''"
                          >
                            <b-input
                              data-subject="User"
                              data-action="Input"
                              data-region="Smart Search Tool"
                              data-vertical="Personal Loan"
                              data-description="Email"
                              :data-value="email_address"
                              v-model="email_address"
                              placeholder="mohammad@email.com"
                              type="email"
                              maxlength="100"
                            ></b-input>
                          </b-field>
                        </div>
                        <div class="column is-6">
                          <b-field
                            label="Phone number"
                            :type="{ 'is-danger': invalidPhone }"
                            :message=" invalidPhone || ''"
                          >
                            <b-input
                              data-subject="User"
                              data-action="Input"
                              data-region="Smart Search Tool"
                              data-vertical="Personal Loan"
                              data-description="Contact Number"
                              :data-value="phone_number"
                              v-model="phone_number"
                              placeholder="0123456789"
                              type="number"
                              maxlength="13"
                              minlength="9"
                            ></b-input>
                          </b-field>
                        </div>
                      </div>

                      <!-- TODO: Scroll down to categories section -->
                      <button
                        id="button-submit-smart-search"
                        data-subject="User"
                        data-action="Submit"
                        data-region="Smart Search Tool"
                        data-vertical="Personal Loan"
                        data-description="Apply Form"
                        data-value="Filter personal loans"
                        class="button orange has-sprite-right is-fullwidth"
                        @click="filterapply"
                      >
                        <i class="sprite angle white angle-right push-right"></i>
                        Filter personal loans
                      </button>

                      <div class="checkbox-field field">
                        <b-checkbox
                          data-subject="User"
                          data-action="Submit"
                          data-region="Smart Search Tool"
                          data-vertical="Personal Loan"
                          data-description="Privacy Policy"
                          :data-value="consent"
                          id="consent"
                          v-model="consent"
                          size="is-small"
                          :value="true"
                        >
                          By ticking this box and submitting your information, you consent for us to process your personal information as per our
                          <a
                            href="/privacy-statement"
                            target="_blank"
                          >Privacy Policy</a> and to pass your personal information to the product providers.
                        </b-checkbox>
                        <span
                          v-if="!consent"
                          class="help is-danger"
                        >Please check this box if you want to proceed</span>
                      </div>
                    </div>
                  </div>
                  <div class="columns">
                    <div class="column">
                      <a
                        data-step="Apply Form"
                        href="javascript:void(0)"
                        v-on:click="prevTab"
                        class="btn-nav btn-back"
                      >
                        <i class="sprite angle blue angle-left"></i>
                        Previous question
                      </a>
                    </div>
                  </div>
                </b-tab-item>
              </b-tabs>
              <!--  <div class="button custom blue-solid has-text-center is-fullwidth" @click="nextTab" v-if="activeTab < 2 ">
                  Next question <i class="sprite angle white angle-right"></i>
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
// import xxx from '../xxx'
import { submitToJapp, creatArrayRange } from "helper.js";
import { mapGetters, mapActions } from "vuex";
export default {
  data: function() {
    return {
      activeTab: 0,
      category: null,
      employment_status: null,
      loan_amount: null,
      monthly_salary: null,

      home_loan_commitment: "0",
      car_loan_commitment: "0",
      education_loan_commitment: "0",
      credit_card_commitment: "0",
      personal_loan_commitment: "0",
      currency: null,
      name: null,
      email_address: null,
      phone_number: null,
      consent: true,

      invalidLoanAmount: null,
      invalidIncome: null,

      invalidHomeLoan: null,
      invalidCarLoan: null,
      invalidEducationBill: null,
      invalidCreditCardBill: null,
      invalidPersonalLoanBill: null,

      invalidName: false,
      invalidEmail: false,
      invalidPhone: false,
      invalidConsent: false,

      valid: true,
      loan: {}
    };
  },
  computed: {},
  created () {
    console.log(this.config.currency);
    this.currency = this.config.currency;
  },
  props: ["region"],
  watch: {
    // age() {
    //   this.setAge(this.age);
    // },
    // monthlyIncome() {
    //   this.setMonthlyIncome(this.monthly_salary);
    // },
    // ownCard() {
    //   this.setOwnCard(this.ownCard);
    // },
    // category() {
    //   this.setCategory(this.category);
    // }
  },
  methods: {
    ...mapActions([
      //"setMonthlyIncome",
      //"setCategory",

      "setAmount",
      "setIncome"

      //"setEmail",
      //"setName",
      //"setPhone"
    ]),
    validateLoans() {
      this.invalidHomeLoan = null;
      this.invalidCarLoan = null;
      this.invalidEducationBill = null;
      this.invalidCreditCardBill = null;
      this.invalidPersonalLoanBill = null;
      let invalid = false;

      this.invalidHomeLoan = false;
      if (!this.home_loan_commitment) {
        invalid = true;
        this.invalidHomeLoan = "Please enter your Home Loan commitment";
      } else if (this.home_loan_commitment < 0) {
        invalid = true;
        this.invalidHomeLoan = "Minimum value is RM0.";
      }

      this.invalidCarLoan = false;
      if (!this.car_loan_commitment) {
        invalid = true;
        this.invalidCarLoan = "Please enter your Car Loan commitment";
      } else if (this.car_loan_commitment < 0) {
        invalid = true;
        this.invalidCarLoan = "Minimum value is RM0.";
      }

      this.invalidEducationBill = false;
      if (!this.education_loan_commitment) {
        invalid = true;
        this.invalidEducationBill = "Please enter your Education commitment";
      } else if (this.education_loan_commitment < 0) {
        invalid = true;
        this.invalidEducationBill = "Minimum value is RM0.";
      }

      this.invalidCreditCardBill = false;
      if (!this.credit_card_commitment) {
        invalid = true;
        this.invalidCreditCardBill = "Please enter your Home Loan commitment";
      } else if (this.credit_card_commitment < 0) {
        invalid = true;
        this.invalidCreditCardBill = "Minimum value is RM0.";
      }

      this.invalidPersonalLoanBill = false;
      if (!this.personal_loan_commitment) {
        invalid = true;
        this.invalidPersonalLoanBill = "Please enter your Home Loan commitment";
      } else if (this.personal_loan_commitment < 0) {
        invalid = true;
        this.invalidPersonalLoanBill = "Minimum value is RM0.";
      }

      return !invalid;
    },
    validateForm() {
      var name_re = /^[a-zA-Z ]*$/;
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      this.invalidName = false;
      this.invalidPhone = false;
      this.invalidEmail = false;
      this.invalidConsent = false;
      let invalid = false;
      if (!this.name) {
        this.invalidName = "Please enter your name";
        invalid = true;
      } else if (this.name.length < 3) {
        invalid = true;
        this.invalidName = "Please enter your name with at least 3 letters";
      } else if (!name_re.test(this.name)) {
        invalid = true;
        this.invalidName = "Please enter your name in alphabet only";
      }
      if (!this.phone_number) {
        this.invalidPhone = "Please enter your phone number";
        invalid = true;
      } else if (isNaN(this.phone_number)) {
        invalid = true;
        this.invalidPhone = "Please enter your phone number in numeric only";
      } else if (this.phone_number.length < 9) {
        invalid = true;
        this.invalidPhone = "Your phone number should be more than 9 digits";
      } else if (this.phone_number.length > 13) {
        invalid = true;
        this.invalidPhone = "Your phone number should be less than 13 digits";
      }

      if (!this.email_address) {
        this.invalidEmail = "Please enter your email";
        invalid = true;
      } else if (!re.test(this.email_address)) {
        this.invalidEmail =
          "Please enter a valid email address (eg. kim@email.com)";
        invalid = true;
      }

      if (!this.consent) {
        invalid = true;
      }
      console.log("invalid", invalid);
      return !invalid;
    },
    filterapply() {
      if (this.validateForm()) {
        let Loan = { machine_name: "MY_PL_iMoney_Personal_Loan_Smart_Search" };
        //this.setMonthlyIncome(this.monthly_salary);
        //this.setCategory(this.category);

        this.setAmount(this.loan_amount);
        this.setIncome(this.monthly_salary);

        //this.setEmail(this.email_address);
        //this.setName(this.name);
        //this.setPhone(this.phone_number);

        let jappData = {
          name: this.name,
          REASON: this.category,
          employment_status: this.employment_status,
          loan_amount: this.loan_amount,
          monthly_salary: this.monthly_salary,
          home_loan_commitment: this.home_loan_commitment,
          car_loan_commitment: this.car_loan_commitment,
          education_loan_commitment: this.education_loan_commitment,
          credit_card_commitment: this.credit_card_commitment,
          personal_loan_commitment: this.personal_loan_commitment,
          email_address: this.email_address,
          phone_number: this.phone_number
        };
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("src", "SmartSearch-Normal");
        var data = {
          event: "plsubmitDetails",
          submit_type: "en_pl_smartsearch",
          product_name: "Smart Search Normal",
          product_category: "Personal Loan",
          event_lang: "en",
          name: this.name,
          REASON: this.category,
          employment_status: this.employment_status,
          loan_amount: this.loan_amount,
          monthly_salary: this.monthly_salary,
          home_loan_commitment: this.home_loan_commitment,
          car_loan_commitment: this.car_loan_commitment,
          education_loan_commitment: this.education_loan_commitment,
          credit_card_commitment: this.credit_card_commitment,
          personal_loan_commitment: this.personal_loan_commitment,
          email_address: this.email_address,
          phone_number: this.phone_number,
          form_step: "Apply Form"
        };
        dataLayer.push(data);
        submitToJapp(jappData, Loan).then(result => {
          console.log("Japp Connected");
          console.log(result);
          console.log(this.loan_amount);
          console.log(this.monthly_salary);
        });
        this.$toast.open({
          message: "Filter applied",
          type: "is-success"
        });

        this.$parent.close();
        $("html,body")
          .stop()
          .animate(
            {
              scrollTop: $("#content").offset().top
            },
            "slow",
            "swing"
          );
      }
    },
    prevTab: function(event) {
      this.activeTab = this.activeTab - 1;
      var dataStep = event.target.getAttribute("data-step");
      var data = {
        event: "prevStep",
        submit_type: "en_pl_smartsearch",
        form_step: dataStep,
        product_name: "Smart Search Normal",
        product_category: "Personal Loan",
        event_lang: "en"
      };
      dataLayer.push(data);
    },
    nextTab() {
      this.activeTab++;
    },
    submitLoanReason() {
      this.activeTab++;
      var data = {
        event: "nextStep",
        submit_type: "en_pl_smartsearch",
        form_step: "Q1-Loan Reason",
        product_name: "Smart Search Normal",
        product_category: "Personal Loan",
        event_lang: "en"
      };
      dataLayer.push(data);
    },
    submitEmploymentStatus() {
      this.activeTab++;
      var data = {
        event: "nextStep",
        submit_type: "en_pl_smartsearch",
        form_step: "Q2-Employment Status",
        product_name: "Smart Search Normal",
        product_category: "Personal Loan",
        event_lang: "en"
      };
      dataLayer.push(data);
    },
    submitLoanAmount() {
      this.invalidLoanAmount = false;
      if (!this.loan_amount) {
        this.invalidLoanAmount = "Please enter the amount you want to borrow";
      } else if (this.loan_amount < 300) {
        this.invalidLoanAmount = "Minimum loan amount is RM300.";
      } else {
        this.activeTab++;
        var data = {
          event: "nextStep",
          submit_type: "en_pl_smartsearch",
          form_step: "Q3-Loan Amount",
          product_name: "Smart Search Normal",
          product_category: "Personal Loan",
          event_lang: "en"
        };
        dataLayer.push(data);
      }
    },
    submitSalary() {
      this.invalidIncome = false;
      if (!this.monthly_salary) {
        this.invalidIncome = "Please enter your monthly income";
      } else if (this.monthly_salary < 1000) {
        this.invalidIncome = "Minimum income amount is RM1,000.";
      } else {
        this.activeTab++;
        var data = {
          event: "nextStep",
          submit_type: "en_pl_smartsearch",
          form_step: "Q4-Monthly Salary",
          product_name: "Smart Search Normal",
          product_category: "Personal Loan",
          event_lang: "en"
        };
        dataLayer.push(data);
      }
    },
    loansValid() {
      if (this.validateLoans()) {
        this.activeTab++;
        var data = {
          event: "nextStep",
          submit_type: "en_pl_smartsearch",
          form_step: "Q5-Commitments",
          product_name: "Smart Search Normal",
          product_category: "Personal Loan",
          event_lang: "en"
        };
        dataLayer.push(data);
      }
    }
  }
};
</script>

<style lang="scss">
@import "../../../scss/modal-eligibility-b";
</style>
