<template>
  <transition name="fade">
    <div id="modal-eligibility" class="modal-eligibility-a">
      <div class="modal-eligibility-a__header">
        <span class="modal-title">Personal Loan Eligibility Checker</span>

        <button
          class="button btn-close-desktop rounded-blue has-sprite-right is-hidden-mobile"
          @click="$parent.close()"
        >
          Close
          <i class="sprite close blue"></i>
        </button>
        <button
          class="button btn-close-mobile rounded-white icon-only is-hidden-tablet"
          @click="$parent.close()"
        >
          <i class="sprite close white"></i>
        </button>
      </div>
      <div v-if="onboarding === false" class="onboarding is-hidden-tablet">
        <span class="modal-subtitle has-text-centered">
          Iris is our experienced Personal Loan agent who can help you to filter the most suitable loans for you!
          <button
            @click="onboarding = true"
            class="button blue"
          >Got it</button>
        </span>
      </div>
      <ChatContainer
        :answers="answers"
        :submitAnswer="submitAnswer"
        :messages="messages"
        :updateChatLog="updateChatLog"
        :userMessages="userMessages"
        :updateUserMessages="updateUserMessages"
        :updateAnsweredRadio="updateAnsweredRadio"
        :answeredRadio="answeredRadio"
        :applyFilter="applyFilter"
        :onSubmit="onSubmit"
        :currentQuestion="currentQuestion"
        :loading="loading"
        :inputValidated="inputValidated"
        :radioValue="radioValue"
        :resultContainer="resultContainer"
        :isActive="isActive"
        :errMessage="errMessage"
      />
    </div>
  </transition>
</template>

<script>
import { parsePhoneNumberFromString } from "libphonenumber-js";
import { mapActions } from "vuex";
import { submitToJapp } from "helper.js";
import ChatContainer from "../chatbot/ChatContainer";
import quesObj from "../chatbot/questions.json";
export default {
  data() {
    return {
      answers: [],
      listQuestions: quesObj.questions,
      messages: [],
      userMessages: [],
      answeredRadio: [],
      formData: {},
      loading: false,
      inputValidated: false,
      radioValue: null,
      resultContainer: false,
      isActive: true,
      errMessage: "",
    };
  },
  components: {
    ChatContainer
  },
  methods: {
   ...mapActions([
      "setAmount",
      "setIncome"
    ]),
   validatePhoneNumber(number) {
      let MY = "+60";
      let phoneNumber;
      if (number[0] === "6") {
        phoneNumber = `+${number}`;
      } else if (!number.includes("+60")) {
        phoneNumber = `${MY} ${number}`;
      } else {
        phoneNumber = number;
      }
      let checkMYnumber = parsePhoneNumberFromString(phoneNumber, "MY");
      if (checkMYnumber.country === "MY") {
        number = `0${checkMYnumber.nationalNumber}`;
        return number;
      }
      return number;
    },
    submitAnswer(id, dataDescription) {
      this.answers.push(id);
      var data = {
        event: "nextStep",
        submit_type: "en_pl_smartsearch",
        form_step: dataDescription,
        product_name: "Smart Search Chatbot",
        product_category: "Personal Loan",
        event_lang: "en"
      };
      dataLayer.push(data);
      if (dataDescription == 'Q12-Phone Number'){
        let Loan = { machine_name: "MY_PL_iMoney_Personal_Loan_Smart_Search" };

        this.setAmount(this.formData.loan_amount);
        this.setIncome(this.formData.income);

        let jappData = {
          name: this.formData.name,
          REASON: this.formData.loan_category,
          employment_status: this.formData.employment_Status,
          loan_amount: this.formData.loan_amount,
          monthly_salary: this.formData.income,
          home_loan_commitment: this.formData.emi_home_loan,
          car_loan_commitment: this.formData.emi_car_loan,
          education_loan_commitment: this.formData.emi_education_loan,
          credit_card_commitment: this.formData.emi_credit_card_loan,
          personal_loan_commitment: this.formData.emi_personal_loan,
          email_address: this.formData.email,
          phone_number: this.formData.phone
        };
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("src", "SmartSearch-Chatbot");
        var data = {
            event: "plsubmitDetails",
            submit_type: "en_pl_smartsearch",
            product_name: "Smart Search Chatbot",
            product_category: "Personal Loan",
            event_lang: "en",
            name: this.formData.name,
            REASON: this.formData.loan_category,
            employment_status: this.formData.employment_Status,
            loan_amount: this.formData.loan_amount,
            monthly_salary: this.formData.income,
            home_loan_commitment: this.formData.emi_home_loan,
            car_loan_commitment: this.formData.emi_car_loan,
            education_loan_commitment: this.formData.emi_education_loan,
            credit_card_commitment: this.formData.emi_credit_card_loan,
            personal_loan_commitment: this.formData.emi_personal_loan,
            email_address: this.formData.email,
            phone_number: this.formData.phone,
            form_step: "apply form"
        };
        dataLayer.push(data);
        submitToJapp(jappData, Loan).then(result => {
          console.log("Japp Connected");
          console.log(result);
          console.log(this.formData.loan_amount);
          console.log(this.formData.income);
        });
      }
    },
    updateChatLog(data) {
      this.messages.push(data);
    },
    updateUserMessages(data) {
      this.userMessages.push(data);
      const key = data.fieldName.replace(/ /g,"_");
      if(key === 'phone') {
       this.formData[key] = this.validatePhoneNumber(data.value);
      }
      this.formData[key] = data.value;
    },
    updateAnsweredRadio(data) {
      this.answeredRadio.push(data);
    },
    applyFilter() {
        this.$toast.open({
          message: "Filter applied",
          type: "is-success"
        });

        this.$parent.close();
        $("html,body").stop().animate({
          scrollTop: $("#content").offset().top
        }, "slow","swing");
    },
    renderNextQuestion(quesIndex) {
      const nameValue = this.userMessages.find(item => item.fieldName === 'name');
      if(nameValue) {
         const newtitle = this.listQuestions[quesIndex].title.replace(
          "{{ name }}",
          nameValue.value
        );
        this.listQuestions[quesIndex].title = newtitle;
      }
      setTimeout(() => {
        $("#chatbot-content").animate({
          scrollTop: $("#chatbot-content").prop("scrollHeight")
        });
        this.loading = false;
        this.updateChatLog(this.listQuestions[quesIndex]);
      }, 1500);
      if (this.listQuestions[quesIndex].autoScrollNextQues) {
        const newAutoIndex = quesIndex + 1;
        return this.renderNextQuestion(newAutoIndex);
      }
      if (this.listQuestions[quesIndex].isLastQuestion !== undefined) {
        setTimeout(() => {
          $("#chatbot-content").animate({
            scrollTop: $("#chatbot-content").prop("scrollHeight")
          });
          this.loading = false;
          this.isActive = false;
          this.resultContainer = true;
          this.inputValidated = false;
        }, 1500);
        setTimeout(() => {
          $(".analyzing").fadeOut();
        }, 5000);
        setTimeout(() => {
          $(".results").fadeIn();
        }, 5500);
        return;
      }
      return this.listQuestions[quesIndex];
    }
  },
  computed: {
    currentQuestion() {
      this.loading = true;
      if (this.answers.length === 0) {
        return this.renderNextQuestion(0);
      } else {
        const id = this.answers.slice(-1)[0];
        let nextIndex =
          this.listQuestions.findIndex(item => item.id === id) + 1;
        if (this.listQuestions[nextIndex] !== undefined) {
          return this.renderNextQuestion(nextIndex);
        }
      }
    }
  }
};
</script>

<style lang="scss">
@import "../../../scss/modal-eligibility";
</style>
