<template>
  <div>
    <section id="pdf-top-bar" class="blue-bar is-hidden-mobile">
      <div class="columns is-mobile is-vcentered">
        <div class="column is-6-desktop">
          <span>Review application form details</span>
        </div>
        <div class="column is-6-desktop has-text-right">
          <button href="#" @click="close()" class="button no-style white is-inline-block">Cancel</button>
          <a  class="button medium orange" @click="redirectTQPage">
            <i class="sprite tick white"></i>
            All details are correct
          </a>
        </div>
      </div>
    </section>
    <button class="button btn-close-mobile rounded-white icon-only is-hidden-tablet" @click="close()">
      <i class="sprite close" />
    </button>
    <section id="pdf-bottom-bar" class="blue-bar is-hidden-tablet">
      <div class>
        <a class="button medium orange" @click="redirectTQPage">
          <i class="sprite tick white"></i>
          All details are correct
        </a>
      </div>
    </section>
    <section id="pdf-viewer">
      <!-- <object :data="pdf" type="application/pdf" width="100%" height="100%"> -->
      <!-- <iframe :src="pdf"></iframe> -->
      <!-- <p>
          Alternative text - include a link
          <a :href="pdf">to the PDF!</a>
      </p>-->
      <!-- </object> -->
      <!-- <embed :src="pdf" type="application/pdf" width="100%" height="100rem" /> -->
      <div id="example1"></div>
    </section>
  </div>
</template>

<script>
import PDFObject from "pdfobject.js";
import axios from "axios";
export default {
  props: ["pdf", "config"],
  components: {},
  data: function() {
    return {
      submission_id: "",
      campaign_id: "",
      href: ""
    };
  },
  created() {
   //   console.log("this.pdf", this.pdf, 'submission_id',);

    // this.href="/personal-loan/thank-you-bui?ld="+this.pdf.submission_id+"&cp="+this.pdf.campaign_id;
  },
  mounted() {
    PDFObject.embed(this.pdf.application_pdf, "#example1");
  },
  methods: {
    redirectTQPage: function() {
      let url = `/api/approve/${this.pdf.submission_id}`;
      axios
        .get(url)
        .then(function(response) {
          console.log('response',response);
          // return response;
        })
        .catch(function(error) {
          console.log(error);
          // return
        });
        this.href =
        "/personal-loan/thank-you-bui?ld=" +
        this.pdf.submission_id +
        "&cp=" +
        this.pdf.campaign_id;
        window.open(this.href, '_self');

    },
    close: function() {
      this.$store.commit("setShowPreview", false);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "../../../scss/modal-pdfpreview";

// Hide default modal close button
button.modal-close.is-large {
  display: none;
}
.pdfobject-container {
  height: 100rem;
  border: 1rem solid rgba(0, 0, 0, 0.1);
}
</style>
