<template>
  <div>
    <b-modal
      :active.sync="isBasicComponentActive"
      animation="fade"
      width="100%"
      scroll="clip"
      :can-cancel="false"
    >
      <apply-form
        :class="{active : isBasicComponentActive }"
        :featureIndustryField="featureIndustryField"
        :industries="industries"
      />
    </b-modal>
  </div>
</template>

<script>
import bus from "../../../../bus.js";
//import applyForm from './BF/applyForm';
import applyForm from "./BF/applyForm";

export default {
  props: ["context"],
  components: {
    applyForm
  },
  data: function() {
    return {
      isBasicComponentActive: false,
      featureIndustryField: this.context.featureToggleList.featureIndustryField,
      industries: this.context.industries
    };
  },
  ready: function() {},
  created() {
    bus.$on("apply", Loan => {
      this.$store.commit("selectedProductForApply", Loan);

      // Flow number 3 is send to bank
      if (Loan.apply_form_flow === "3") {
        window.location.href = Loan.apply_link;
      } else {
        // If flow is not send to bank directly then show the form
        // based on the category
        if (Loan.apply_form_category === "3") {
          this.isRHBComponentModalActive = true;
        } else if (Loan.apply_form_category === "2") {
          this.isPreQualifyComponentModalActive = true;
        } else {
          this.isBasicComponentActive = true;
        }
      }
    });
  },
  methods: {},
  validations: {}
};
</script>
