<!-- Facebook Open Graph -->
<% var siteName = siteName || meta['og:site_name'] || metaData.siteName || app.site_name  %>
<% var ogType =  ogType || meta['og:type'] || metaData.ogType || 'website' || ""  %>
<% var canonicalURL = canonicalURL || meta.canonical || metaData.cannonical_url || app.liveUrl + base + itemData.path_alias || "" %>
<% var ogTitle = ogTitle || metaData.og_title || pageTitle || "" %>
<% var ogDescription = ogDescription || metaData.og_description|| metaDescription || ""  %>
<% var ogImage = ogImage || meta['og_image'] || metaData.ogImage || '/v5/img/favicon-' + region + '.png' || "" %>
<% var fbAppId = fbAppId || metaData.fbAppId || "" %>
<% var gtagDefault =
      {
        'my': 'GTM-KTF5WP',
        'ms': 'GTM-KTF5WP',
        'id': 'GTM-KDTBQP',
        'hk': 'GTM-PPV55Q',
        'ph': 'GTM-MXPNVJ',
        'sg': 'GTM-T8P9JQ',
        'th': 'GTM-PDFSRR',
        'offer': 'GTM-5PJS65'
      }
    %>

 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=no">
 <meta name="description" content=<%- metaDescription %> />
 <meta name="keywords" content=<%- metaKeyword %> />
 <meta name="robots" content="index, follow" />
 <!-- Start Google Tag Manager -->
 <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script> -->
 <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
 <!-- <script src="https://www.imoney.my/v4/js/base.min.js"></script> -->
 <!-- <script src="https://apply.imoney.my/js/apply.js"></script> -->
 <script>var iAJSLoader = {
    scripts: [],
    stateTracker: [],
    curGroupIndex: 0,
    onCompleteCalled: false,
    onComplete: function () { console.log('iJSLoader Completed!') },
    onStateChange: function (groupIndex, group, path, callbackName) {
      this.stateTracker[groupIndex] = this.stateTracker[groupIndex] || {};
      this.stateTracker[groupIndex].total = group.length;
      var _success = false;
      return function () {
        if (!_success && (!this.readyState || (this.readyState == 'complete'))) {
          _success = true;
          iAJSLoader.stateTracker[groupIndex].loaded = iAJSLoader.stateTracker[groupIndex].loaded || 0;
          iAJSLoader.stateTracker[groupIndex].loaded++;
          if (iAJSLoader.stateTracker[groupIndex].loaded == iAJSLoader.stateTracker[groupIndex].total) {
            iAJSLoader[callbackName]();
          }
        }
      };
    },
    init: function (scripts) {
      this.scripts = scripts;
      this.loadNextGroup();
    },
    loadNextGroup: function () {
      if (!this.scripts.length) {
        if (this.onCompleteCalled) return;
        this.onCompleteCalled = true;
        return this.onComplete();
      }
      var group = this.scripts.shift();
      for (var si = 0; si < group.length; si++) {
        var path = group[si];
        var scriptElm = document.createElement('script');
        scriptElm.type = 'text/javascript';
        scriptElm.async = 'sync';
        scriptElm.src = path;
        scriptElm.onload = scriptElm.onreadystatechange = this.onStateChange(this.curGroupIndex, group, path, 'loadNextGroup');
        var headElm = document.head || document.getElementsByTagName('script')[0];
        headElm.appendChild(scriptElm);
      }
      this.curGroupIndex++;
    }
  };
  iAJSLoader.onComplete = function completed() {
    console.log('iJSLoader Completed!')
    /*$(function() {
    //Only Google Tag Manager is loaded last as it blocks all important JSs
    //Start Google Tag Manager
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{gTag|default('GTM-KTF5WP')}}');
    //End Google Tag Manager
    })*/
  };</script>
<!-- Start Google Tag Manager--><noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=<%-  gtagDefault[region] %>" height="0"
    width="0" style="display:none;visibility:hidden"></iframe></noscript>

 <script type='text/javascript'>
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function () {
   var gads = document.createElement('script');
   gads.async = true;
   gads.type = 'text/javascript';
   var useSSL = 'https:' == document.location.protocol;
   gads.src = (useSSL ? 'https:' : 'http:') +
    '//www.googletagservices.com/tag/js/gpt.js';
   var node = document.getElementsByTagName('script')[0];
   node.parentNode.insertBefore(gads, node);
  })();
  window.__PRELOADED_STATE__ = <%- JSON.stringify(data) %>;
  googletag.cmd.push(function () {
  //  googletag.defineSlot('/422122608/V4_970_90_Top_Leaderboard_D', [970, 90], 'div-gpt-ad-1447813095536-2').addService(
  //   googletag.pubads());
   googletag.defineSlot('/422122608/V4_728_90_Top_Leaderboard_D', [728, 90], 'div-gpt-ad-1447813095536-1').addService(
    googletag.pubads());
   googletag.defineSlot('/422122608/V4_320_50_Top_Leaderboard_M', [320, 50], 'div-gpt-ad-1447813095536-3').addService(
    googletag.pubads());
   googletag.defineSlot('/422122608/V4_728_90_Mid_Leaderboard_D', [728, 90], 'div-gpt-ad-1447813095536-0').addService(
    googletag.pubads());
   googletag.defineSlot('/422122608/V4_320_50_Mid_Leaderboard_M', [320, 50], 'div-gpt-ad-1447813095536-4').addService(
    googletag.pubads());
   googletag.defineSlot('/422122608/V4_240_600_Wide_Skyscraper', [
    [160, 600],
    [240, 600]
   ], 'div-gpt-ad-1476931098104-5').addService(googletag.pubads());
   googletag.pubads().enableSingleRequest();
   googletag.pubads().collapseEmptyDivs();
   googletag
    .pubads()
    .setTargeting("Path", ['<%- data.pageType %>'] )
    .setTargeting("Category", ['<%- data.pageType %>'])
    .setTargeting("Region", ['<%- region %>']);
   googletag.enableServices();
  });
 </script>

 <!--[if lte IE 9]>
      <script src="/v5/js/plugins/respond.min.js"></script>
    <![endif]-->


 <meta property="fb:app_id" content="<%- fbAppId %>" />
 <meta property="og:site_name" content="<%- siteName %>" />
 <meta property="og:type" content="<%- ogType %>" />
 <meta property="og:url" content="<%- canonicalURL %>" />
 <meta property="og:title" content="<%- ogTitle %>" />
 <meta property="og:description" content="<%- ogDescription %>" />
 <meta property="og:image" content="<%- ogImage %>" />
 <link rel="shortcut icon" href="<%- '/' + assetsPlaceHolder + '/img/favicon-' + region + '.png' %>" />
 <link rel="canonical" href="<%- canonicalURL %>" />
 <script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({
      'gtm.start': new Date().getTime(),
      event: 'gtm.js'
    });
    var f = d.getElementsByTagName(s)[0];
    var j = d.createElement(s);
    var dl = l != 'dataLayer' ? '&l=' + l : '';
    j.async = true;
    j.src =
      '//www.googletagmanager.com/gtm.js?id=' + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', '<%-  gtagDefault[region] %>');

    // $(document).ready(function () {
    //     dataLayer.push({
    //       'event': 'pl_angular_loaded'
    //     });
    //   });
      
 </script>
