<!DOCTYPE html>
<html class="no-js">
	<head>
		<title>
		<%- pageTitle %>
		</title>
	<%- include ./templates/base.html %>
	</head>
	<body class="<%- bodyClass %>" data-region="<%- region %>">
		<%- include ./templates/mb-navigation.html %>
		<div class="inner-wrap">
				<%- include('./templates/topbar.html') %>
				<%- include('./templates/navigation.html') %>
				<!-- <h1><%- message %></h1> -->
				<%- include ./templates/404.html %>
				<%- include ./templates/footer.html %>
		</div>
	</body>
</html>
