<!DOCTYPE html>
<html class="no-js">
 <head>
  <title>
   <%- pageTitle %>
  </title>
  <%- include ./templates/base.html %>
 </head>
 <body>
  <%- include ./templates/mb-navigation.html %>
  <div class="inner-wrap">
   <%- include('./templates/topbar.html') %> <%-
   include('./templates/navigation.html') %>
   <!-- <h1><%- message %></h1> -->

   <!-- begin thank-you-bui -->
   <section id="thankyou">
    <div class="thankyou__header">
     <div class="circle-container">
      <div class="envelope-container animate">
       <div class="envelope-wrap animate">
        <div class="letter-container"><div class="letter animate"></div></div>
        <div class="envelope-open animate"></div>
        <div class="envelope-close animate"></div>
        <div class="envelope-front"></div>
        <div class="envelope"></div>
       </div>
       <div class="tick-icon animate"></div>
      </div>
     </div>
     <h1>Thanks for applying a personal loan with us!</h1>
     <p class="thankyou__desc container">
      You have successfully submitted your application. If you have the
      documents below ready, you can <span>start uploading theme to speed up the process.</span>
     </p>
    </div>
    <div class="bui-thankyou container">
     <h4 class="is-hidden-mobile whats-next"><i></i>What's next?</h4>
     <div class="bui-thankyou__steps columns is-1 is-variable">

      <div class="column is-4">
        <div class="bui-box">

          <h3 class="has-text-centered-tablet is-hidden-mobile">Step 1</h3>
          <div class="illustration bui-download is-hidden-mobile"></div>

          <div class="step-header is-marginless columns is-mobile is-hidden-tablet">
            <div class="column is-8-mobile">
              <h3 class="has-text-centered-tablet">Step 1</h3>
              <h4 class="is-hidden-tablet">Download your application form</h4>
              <p class="is-hidden-tablet">
               We will need you to sign and upload the complete application form
               later together with your documents via our document upload portal.
              </p>
            </div>
            <div class="column is-4-mobile">
              <div class="illustration bui-download"></div>
            </div>
          </div>

          <h4 class="is-hidden-mobile">Download your application form</h4>
          <p class="is-hidden-mobile">
           We will need you to sign and upload the complete application form
           later together with your documents via our document upload portal.
          </p>
          <a
            href="<%- applicationpdf %>"
            target="_blank"
            class="btn-cta btn-download"
          >
            Download form <i class="sprite angle blue angle-right"></i>
          </a>
        </div>
      </div>

      <div class="column is-4">
        <div class="bui-box">

          <h3 class="has-text-centered-tablet is-hidden-mobile">Step 2</h3>
          <div class="illustration bui-upload is-hidden-mobile"></div>

          <div class="step-header is-marginless columns is-mobile is-hidden-tablet">
            <div class="column is-8-mobile">
              <h3 class="has-text-centered-tablet">Step 2</h3>
              <h4 class="is-hidden-tablet">Upload your documents</h4>
              <p class="is-hidden-tablet">You will need to upload these documents in order to proceed with your application:</p>
            </div>
            <div class="column is-4-mobile">
              <div class="illustration bui-upload"></div>
            </div>
          </div>
          
          <h4 class="is-hidden-mobile">Upload your documents</h4>
          <p class="is-hidden-mobile">You will need to upload these documents in order to proceed with your application:</p>
          <ul class="upload-document is-marginless columns is-multiline">

            <div class="column is-7-widescreen is-12-tablet is-paddingless">
           <% for(var i=0; i < 3; i++) { %>
           <li>
            <i class="sprite <%- documents[i].icon %>" aria-hidden="true"></i>
            <%- documents[i].name %>
           </li>
           <% } %>
            </div>

            <div class="column is-5-widescreen is-12-tablet is-paddingless">
           <% for(var i=3; i < documents.length; i++) { %>
           <li>
            <i class="sprite <%- documents[i].icon %>" aria-hidden="true"></i>
            <%- documents[i].name %>
           </li>
           <% } %>
            </div>

          </ul>
          <a
            href="<%- upload_link %>"
            target="_blank"
            class="btn-cta btn-upload"
          >
            Upload documents <i class="sprite angle blue angle-right"></i>
          </a>
        </div>
      </div>

      <div class="column is-4">
        <div class="bui-box no-documents has-text-centered-tablet">
          <h3>What if I <span>don't have</span> my documents with me now?</h3>
          <div class="illustration bui-email is-hidden-mobile"></div>
          <p>Don't worry, <strong>we've sent you a link via email</strong> for you to upload when
           you're ready!</p>
        </div>
      </div>

     </div>

    </div>
   </section>

   <!-- end thank-you-bui -->

   <%- include ./templates/footer.html %>
  </div>
 </body>
</html>
