<!DOCTYPE html>
<html class="no-js" lang="<%- app.lang %>">
	<head>
		<title>
		<%- pageTitle %>
		</title>
		<%- include ./templates/base.html %>
	</head>
	<body class="<%- bodyClass %>" data-region="<%- region %>">
		<%- include ./templates/mb-navigation.html %>
		<div class="inner-wrap personal-loan">
			<%- include('./templates/topbar.html') %>
			<%- include('./templates/navigation.html') %>
			<div id="app">
				<%- ComponentMarkup %>
			</div>
			<%- include ./templates/footer.html %>
		</div>
	</body>
</html>
