@import "../../node_modules/bulma/sass/utilities/_all";
@import "../imoney-assets/scss/_inc/_icon-base";
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

.goTop {
	background-color: white;
	position: fixed;
	padding: 5px 15px;
	display: block;
	right: 15px;
	bottom: 15px;
	opacity: 0;
	z-index: -1;
	box-shadow: 0px 2px 0px 0px rgba(67,76,85,0.25);
	i {
		margin-right: 15px;
		margin-bottom: 2px;
	}
	&:hover {
		opacity: 1;
		background-color: white;
	}
	&:hover:focus {
		i {
			background-position: 57px -20px;
		}
	}
}

.isVisible {
	opacity: .9;
	z-index: 4;
	@include transition(all .3s ease-in);
	@include mobile {
		opacity: 1;
	}
}