@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

// Calculator
section#calculator {
  background-color: white;
  box-shadow: 0 1px 0 0 $color-grey-10;
  padding: 30px;

  h4 {
    margin-bottom: 10px;
  }

  .field-group {
    margin-bottom: 20px;
  }
  .b-tooltip{
    display: block;
  }
}

.labelToCheck {
  color: #ffffff !important;
  background-color: #0b7bcb !important;
}
