@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';


section#category-filter {
	&:focus { outline: none; } //remove blue outline after scrolls
}

.category-filter {
	// Desktop category filter
	&__desktop {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 20px;
		margin-top: -70px;
		@include tablet-only {
			margin-bottom: 0px;
		}
		// Remove Buefy indentation of nested radios
		.radio+.radio {
			margin-left: 0px;
		}
		label {
			line-height: 16px;
			flex:1 1 115px;
			padding-top: 14px;
			height: 100px;
			width: 100px;
			background-color: #FFF;
			border: 1px solid $color-grey-10;
			border-right: none;
			box-shadow: 0 1px 0 0 $color-grey-10;
			text-align: center;
			color: $color-blue-cobolt;
			@include transition(background-color 0.05s);
			font-family: $font;
			&:last-of-type {
				border-right: 1px solid $color-grey-10 !important;
			}
			&:hover {
				background-color: #E4F1FA;
				border-right: #FFF;
				cursor: pointer;
			}
			@include tablet-only {
				flex:1 1 177px;
				margin-bottom: 0px;
				&:nth-child(8) {
					border-right: 1px solid $color-grey-10;
				}
				&:nth-child(n+9) {
					border-top: $color-grey-10;
				}
			}
		}
		// Hide radio button
		input[type="radio"] {
			display: none;
		}
		// Active category tab styling
		input[type="radio"]:checked+label {
			background-color: $color-blue-cobolt;
			color: #FFF;
			font-family: $font-semibold;
			@include desktop {
				border-top: 1px solid $color-blue-cobolt !important;
				&:first-of-type {
					border-left: 1px solid $color-blue-cobolt;
				}
				&:last-of-type {
					border-right: 1px solid $color-blue-cobolt !important;
				}
			}
			@include tablet-only {
				&:nth-child(-n+8) {
					border-top: 1px solid $color-blue-cobolt;
				}
				&:nth-child(-n+2) {
					border-left: 1px solid $color-blue-cobolt;
				}
				&:nth-child(8) {
					border-right: 1px solid $color-blue-cobolt;
				}
				&:nth-child(n+9) {
					border-top: $color-blue-cobolt;
				}
			}
		}
		@include tablet-only {
			padding: 20px;
		}
	}

	// Mobile category filter
	&__mobile {
		color: #FFF;
		font-size: 18px;
		padding: 20px;
		width: 100%;
		height: 55px;
		padding: 0px;
		background-color: $color-blue-cobolt;
		border-radius: 0% 0% 30% 30% / 0% 0% 10% 10%;
		margin-top: -1px;
		.select {
			display: flex;
				align-items: center;
				justify-content: center;
			select {
				display: inline-block;
				color: #FFF;
				font-family: $font-semibold;
				text-align: left;
					border-color: transparent;
					background-color: transparent;
					@include font-size(1.8);
					border-radius: 0px;
					border-bottom: 1px solid #FFF;
					padding: 0;
					padding-right: 20px;
					margin-left: 10px;
					@media (max-width: 375px) {
						@include font-size(1.6);
					}
			}
			option {
				text-align: left;
			}
		}
		
		.select span {
			display: inline;
				vertical-align: top;
				line-height: 33px;
				@include font-size(1.8);
				margin-left: 3px;
				&.pretext {
					@media (max-width: 525px) {
					display: none;
				}
				}
		}
		.select:not(.is-multiple):not(.is-loading):after {
			position: initial;
				margin-left: -10px;
				right: 0px;
				border-color: #FFF;
		}
	
		// Sticky category filter
		&.sticky {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 10;
			background: $gradient-blue;
			@include transition(.4 ease);
			@include transition-property(transform);
			@include transform(translate3d(0,-70px,0));
			&.slidein {
				@include transition(.4s ease);
				@include transform(translate3D(0,0,0));
			}
		}
	}
}
