//Stop Buefy tooltip component showing above modal
// .modal.is-active { 
//   position: fixed;
// }
.tooltip:not([data-label=""]).is-always:after, .tooltip:not([data-label=""]).is-always:before {
  z-index: 1 !important;
}
.field .navbar-link:after, .field .select:not(.is-multiple):not(.is-loading):after {
  z-index: 1 !important;
}

// Custom CTA
.button.custom {
  padding: 10px 30px;
  text-align: center;
  border-radius: 0px;
  border: none;
  transition: all 0.2s;
  color: #1D9FC9;
  @include font-size(1.4);

  // Button with sprite
  &.has-sprite {
    i { position: absolute; }
    &.sprite-right {
      i { right: 10px; }
    }
    &.sprite-left {
      i {
        left: 10px;
      }
    }
  }
  //Solid button
  &.blue {
    background-color: #1D9FC9;
    color: #FFF;
    padding: 10px 50px;
    &:hover {
      background-color: #1691b9;
    }
    &:active {
      background-color: #1691b9;
    }
  }

  // Outlined button
  &.outline {
    border: 1px solid #FFF;
    color: #FFF;
    background: rgba(255, 255, 255, 0);
    &:hover {
      color: #FFF;
      border-color: #FFF;
      background: rgba(255, 255, 255, 0.1); 
    }
    &.grey {
      border: 1px solid #CFD3D8;
      color: #9B9B9B;
      &:hover {
        background: rgba(0, 102, 133, 0.05);
        border: 1px solid #bdc3c9;
      }
    }
    &.blue {
      border: 1px solid #1D9FC9;
      color: #1D9FC9;
      border-radius: 30px;
      padding: 10px 50px;
      &:hover {
        background-color: #F5FCFF;
      }
      &:active {
        background-color: #e6f5fb;
      }
    }
    &.lightblue {
      border: 1px solid #BCE9FF;
      color: #1D9FC9;
      &:hover {
        background: #CDEFFF; 
        border: 1px solid #9fe0ff;
      }
    }
  }
  // Rounded button
  &.rounded {
    border-radius: 30px;
  }
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none !important;
  }
}
a:hover {
  text-decoration: none !important;
}

//Credit Card LP Sprite
.sprite {
  &.angle {
    content: "";
    display: inline-block;
    width: 14px;
    height: 8px;
    background: url('img/sprite_angle.png') 0 0;
    background-size: cover;
    &.angle-left {
      transform: rotate(90deg);
    }
    &.angle-right {
      transform: rotate(-90deg);
    }
    &.angle-top {
      transform: rotate(-180deg);
    }
    &.white {
      background-position: -14px 0px;
    }
    &.blue {
      background-position: -28px 0px;
    }
  }
  &.categories {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 50px;
    margin: 0 auto;
    margin-bottom: 5px;
    &.categories__sprite--ccard {
      background: url('img/sprite_category.png') -81px -100px;
      background-size: 400%;
    }
    &.categories__sprite--nocard {
      background: url('img/sprite_category.png') 0px -100px;
      background-size: 400%;
    }
    &.categories__sprite--all {
      background: url('img/sprite_category.png') 0 0;
      background-size: 400%;
    }
    &.categories__sprite--cashback {
      background: url('img/sprite_category.png') 240px 0;
      background-size: 400%;
    }
    &.categories__sprite--travel {
      background: url('img/sprite_category.png') 160px 0;
      background-size: 400%;
    }
    &.categories__sprite--rewards {
      background: url('img/sprite_category.png') 80px 0;
      background-size: 400%;
    }
    &.categories__sprite--shopping {
      background: url('img/sprite_category.png') 0 100px;
      background-size: 400%;
    }
    &.categories__sprite--dining {
      background: url('img/sprite_category.png') 240px 100px;
      background-size: 400%;
    }
    &.categories__sprite--gas {
      background: url('img/sprite_category.png') 160px 100px;
      background-size: 400%;
    }
    &.categories__sprite--entertainment {
      background: url('img/sprite_category.png') 80px 100px;
      background-size: 400%;
    }
  }
}

hr.dashed {
  border-top: 1px dashed #dfdfdf;
  height: 1px;
}

// Hide default modal close button
button.modal-close.is-large {
  display: none; 
}

// Shared classes
.nowrap {
  white-space: nowrap;
}

//override tooltip colours
.tooltip {
  &:before, &:after {
    @include mobile {
      left: 0% !important;
    }
  }
  &:before {
    border-bottom: 5px solid #E55900 !important;
    @include mobile {
      transform: translateX(75%) !important;
    }
  }
  &:after {
    background-color: #E55900 !important;
    @include font-size(1.2);
    @include mobile {
      transform: translateX(0%) !important;
    }
  }
}
.field.has-addons {
  input {
    z-index: 2 !important;
  }
}