@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

// Sticky compare panel
section#compare-panel {
	background: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 150px;
	padding: 20px;
	z-index: 10;
	box-shadow: rgba(0,0,0,.4) 0px 0px 8px;

	.compare-panel__item {
		height: 100%;
		padding: 10px;
		border: solid 1px $color-grey-25;
		border-radius: $radius;
		box-shadow: 0px 1px 0px $color-grey-10;
		& > div {
			min-height: 40px;
			img {
				max-width: 120px;
				max-height: 50px;
			}
		}
		&.empty {
			display: flex;
			align-items: center;
			justify-content: center;
			border: dashed 1px $color-grey-10;
			box-shadow: none;
			color: $color-grey-25;
			text-align: center;
			i {
				background-color: $color-grey-10;
				border-radius: 50%;
				padding: 4px 4px 0 4px;
			}
		}
	}

	&.slidein {
		opacity: 1;
		@include transform(translateY(0));
		@include transition(.4s ease);
	}

	&.slideout {
		opacity: 0;
		@include transform(translateY(150px));
		@include transition(.4s ease);
		@include mobile {
			@include transform(translateY(180px));
		}
	}

	@include desktop {
		padding: 20px 0;
	}

	@include tablet {
		.compare-panel__cta .button {
			width: 100%;
		}
	}

	@include mobile {
		height: 180px;
		padding: 15px 15px 10px 15px;
		.compare-panel__item {
			height: calc(100% - 50px);
			& > div {
				min-height: 30px;
				img {
					max-width: 60px;
					max-height: 30px;
				}
			}
			&.empty {
				i {
					padding: 4px 3px 0 3px;
				}
			}
		}
		.compare-panel__cta {
			flex-flow: row-reverse;
			justify-content: space-between;
			background-color: $color-blue-cobolt;
			width: calc(100% + 15px);
			padding: 5px;
			margin-left: -8px;
			border-bottom: solid 1px $color-blue-cobolt;
			.button.no-style {
				padding-left: 10px;
				color: white;
			}
			.button.blue {
				padding-right: 10px;
			}
		}
	}

	@media (max-width: 425px) {
		@include font-size(1.2);
	}
}

// .slide-enter-active, .slide-leave-active  {
// 	transition: all .4s ease-out;
// }
// .slide-enter, .slide-leave-to {
// 	@include transform(translateY(-200px));
// }
