@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';
.steps-indicator {
    margin-top: 30px;
    padding: 0 20px;
    position: relative;
    .b-tabs-track {
        display: block;
        content: '';
        width: 100%;
        height: 3px;
        background-color: $color-grey-10;
        margin-top: 30px;
        position: relative;
        z-index: -1;
        width: 70%;
        margin: 0 auto;
        &--active {
            display: block;
            content: '';
            width: 0%;
            height: 3px;
            position: relative;
            background-color: $color-blue-cobolt;
            @include transition(all 0.8s ease-out);
        }
    }
    .b-tabs {
        margin-top: -35px;
        pointer-events: none;
        cursor: not-allowed;
        .tabs {
            width: 70%;
            margin: 0 auto;
        }
        ul {
            border-bottom-color: inherit;
            border-bottom-style: inherit;
            border-bottom-width: inherit;
            padding: 20px 0px;
            display: flex;
            justify-content: space-between;
            counter-reset: section;
            margin-top: 12px;
        }
        li {
            flex: none;
            a {
                padding: 0;
                color: inherit;
                border-bottom: inherit;
                span.icon {
                    position: absolute;
                }
                span.icon i {
                    font-style: inherit;
                    border-radius: 50%;
                    background-color: white;
                    display: block;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid $color-grey-50;
                    position: absolute;
                    z-index: -1;
                    &:before {
                        counter-increment: section;
                        content: counter(section);
                        color: $color-grey-50;
                    }
                    &.is-tick {
                        background-color: $color-blue-cobolt;
                        border: 1px solid $color-blue-cobolt;
                        &:before {
                            content: "";
                            display: block;
                            position: relative;
                            width: 14px;
                            height: 11px;
                            background: url('img/sprite_icon-base-redesign.png') 51px -34px;
                            background-size: 80px 81px;
                        }
                    }
                    &.is-tick-alliance {
                        background-color: $color-blue-cobolt;
                        border: 1px solid $color-blue-cobolt;
                        &:before {
                            content: "";
                            display: block;
                            position: relative;
                            width: 14px;
                            height: 11px;
                            background: url('img/sprite_icon-base-redesign.png') 51px -34px;
                            background-size: 80px 81px;
                        }
                    }
                }
            }
            &.is-active {
                a {
                    color: inherit;
                    border-bottom: inherit;
                }
                span.icon i {
                    background-color: $color-blue-cobolt;
                    border: 1px solid $color-blue-cobolt;
                    &:before {
                        color: white;
                    }
                }
            }
        }
    }
}

.form-dash-allian {
    position: relative;
    &:before {
        content: "-";
        position: absolute;
        left: -1%;
        top: 18px; //6px
    }
  }

  .msg-txt-lgtcolor {
    color: rgba(67,76,85,0.5);
  }
  
.permanentbox {
    border-radius:3px 0 0 3px !important;
    border-right: none !important;
  }
  .officebox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important;
  }
  .salariedbox {
      border-radius: 3px 0 0 3px !important;
      border-right: none !important;
  }
  
  .commissionbox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important; 
  }
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 385px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .commissionbox {
      border-left:1px solid #d0d2d4 !important;
      
    }
}
  .contractbox {
      border-radius: 3px !important;
  }
  .malebox {
    border-radius: 3px 0 0 3px !important;
  }
  .femalebox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important; 
  }
  .malaybox {
    border-radius: 3px 0 0 3px !important;
    border-right: none !important;
  }
  .othersbox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important;  
  }
  .indianbox {
      border-left:none !important;
  }
  .bahasabox {
    border-radius: 3px 0 0 3px !important;
  }
  .englishbox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important; 
  }
  .yesbox {
    border-radius: 3px 0 0 3px !important;
  }
  .nobox {
    border-radius:0 3px 3px 0 !important;
    border-left:none !important; 
  }