.button {
  &.orange {
    background-color: $color-complement;
    &:hover {
      background-color: lighten( $color-complement, 5% );
    }
    &:active, &:focus {
      background-color: lighten( $color-complement, 10% );
    }
  }
  &.blue {
    background-color: $color-brand1;
    &:hover {
      background-color: lighten( $color-brand1, 5% );
    }
    &:active, &:focus {
      background-color: lighten( $color-brand1, 10% );
    }
  }
  &.rounded-white{
    &.icon-only{
      padding: 8px;
    }
  }
}

.sprite{
  &.filter{
    width: 18px;
    height: 20px;
    background: url(/v5-pl-en/img/sprite_icon-base-redesign.png) -1px 21px;
    background-size: 70px;
  }
  &.star{
    background: url(/v5-pl-en/img/icon-star.svg);
    background-size: contain;
    &.blue{
      background-position: 0;
    }
  }
}

section#faq {
  .faq__content{
    h2{
      color: $color-brand1;
      margin-bottom: 1rem;
    }
  }
}