@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

//Helpers
.is-tcentered{
  align-items: flex-start;
}
.has-margin-auto{
  margin: auto;
}
.column-label-only{
  padding-bottom: 0;
  padding-top: 0;
}

// apply form
.modal-eligibility {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  @include transition(right 0.25s ease-out);
  &.active { 
    right: 0; 
  }

  // Modal Header
  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: $color-grey-dark;
    font-family: $font-semibold;
    @include font-size(1.8);
    padding: 15px 65px; //15px 20px
    width: 100%;
    height: 65px;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    line-height: 2rem;
    @include mobile {
      color: white;
      background-image: $gradient-blue;
      border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    }
    .btn-close {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    // .btn-close-mobile {
    //   position: absolute;
    //   right: 15px;
    // }
    .modal-title{
      width: 200px;
      margin: auto;
      @include tablet {
        width: auto;
      }
    }
  }

  // Modal Body
  &__body {
    padding: 5px;
    display: flex;
    align-items: center;
    @include tablet {
      height: calc(100vh - 100px);
    }
    @include mobile {
      max-width: 450px;
      margin: 0 auto;
    }
    &--wrap { width: 100%; }
    &.container {
      margin: 0 auto;
      @include mobile {
        margin: 20px auto;
      }
    }

    //Left column
    .eligibility-image {
      //display: flex;
      align-items: center;
      display: block;
      width: 100%;
      max-width: 285px;
      height: 385px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      @include tablet {
        float: right;
      }
      @include mobile {
        padding: 0 20px;
        width: 100%;
        height: 180px;
        margin: 0 auto;
      }    
      &--placeholder {
        background-image: url('img/eligibility-checker-img.jpg');
      }
      &--01 {
        background-image: url('img/eligibility-tool/01.svg');
      }
      &--02 {
        background-image: url('img/eligibility-tool/02.svg');
      }
      &--03 {
        background-image: url('img/eligibility-tool/03.svg');
      }
      &--04 {
        background-image: url('img/eligibility-tool/04.svg');
      }
      &--05 {
        background-image: url('img/eligibility-tool/05.svg');
      }
      &--06 {
        background-image: url('img/eligibility-tool/06.svg');
      }
    }
    //Right column
    .eligibility-questions {
      display: flex;
      align-items: center;

      &--wrap { width: 100%; }

      .btn-nav {
        margin-top: 10px;
        margin-bottom: 30px;
        display: block;
        @include mobile {
          text-align: center;
        }
      }

      .question-number {
        color: $color-grey-50;
        margin-bottom: 10px;
        display: block;
        @include mobile { text-align: center; }
      }

      .question-container {
        display: block;
        @include mobile {
          text-align: center;
          margin: 0 auto;
        }
        .column{
          padding-bottom: 0;
          .sprite-sc{
            margin-top: -9px;
          }
        }
        .question-statement {
          color: $color-grey-dark;
          @include font-size(1.8);
          margin-bottom: 10px;
          display: block;
          @include mobile {
            @include font-size(1.6);
          }
        }
  
        .label, label {
          text-align: left;
          font-weight: normal;
        }
        .checkbox-field {
          margin-top: 10px;
        }
        .b-checkbox.checkbox.is-small {
          margin: 15px 0 3px;
          @include font-size(1.2);
          .control-label {
            font-family: $font;
            padding-left: 8px;
          }
        }
        .basic-form--preface {
          margin-bottom: 10px;
          &-title {
            color: #07456B;
            font-family: $font-semibold;
            display: block;
            @include font-size(1.9);
          }
          &-subtext {
            display: block;
            @include mobile {
              max-width: 330px;
              margin: 0 auto;
              width: 100%;
            }
          }
        }
        .help.is-danger {
          text-align: left;
          margin-bottom: 0px;
        }
        .control.is-clearfix:after { //override is-clearfix on last slide apply form
          clear: unset;
          content: unset;
          display: unset;
        }
      } //End .question-container 

    } //End eligibility-questions

    // Tabs styling
    .b-tabs {
      width: 100%;
      .tabs { display: none; }
      .tab-content {
        padding: 0px;
        .eligibility-image {
          @include tablet { margin-right: 20px; }
        }
      }
      &:not(:last-child) { margin-bottom: 0px; }
    }
    .input.is-large, .button.is-large {
      @include font-size(1.8);
    }
  } //modal body end

  .button-wrapper {
    width: calc(100% + 5px);
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.5px;
    margin-bottom: 7px;
    .radio+.radio { margin-left: 0px; } // Removing Buefy indentation of nested radios
    .columns{
      width: 100%;
    }
    label {
      flex-grow: 1;
      margin-right: 2.5px;
      margin-left: 2.5px;
      border-radius: 3px;
      line-height: 16px;
      padding: 20px 14px 0;
      height: 130px;
      width: calc(50% - 5px);
      background-color: white;
      border: 1px solid $color-bodybg;
      color: $color-blue-cobolt;
      text-align: center !important;
      font-family: $font;
      @include transition(background-color 0.05s);
      .icon{
        margin: 0 auto 15px;
      }
      &:hover {
        background-color: rgba(11,123,203,.1);
        border: 1px solid $color-blue-cobolt;
        cursor: pointer;
      }
    }
    input[type="radio"] { display: none; } // Hide radio button
    input[type="radio"]:checked+label { // Active category tab styling
      background-color: $color-blue-cobolt;
      color: white;
      font-family: $font-semibold;
    }
  }
} //Modal-eligibility

// Width and fix for added validation tooltip
.modal-eligibility__body .question-container {
  .b-tooltip, .basic-form .control, .field.has-addons {
    width: 100%;
  }
  .b-tooltip {
    margin-bottom: 15px;
    position: relative;
  }
}

.modal.is-active button { //overwrite
  display: flex;
  &.modal-close{
    display: none;
  }
}

.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

.apply-form.question-container {
  .field.columns {
    @include tablet {
      margin: 0 -5px;
    }
    .column {
      @include tablet {
        padding: 0 5px;
      }
    }
  }
}

//SPRITE
.sprite-sc{
  background-image:url('img/eligibility-tool/smart-search-icon-set.svg');
  background-repeat:no-repeat;
  display: block;
  width:81px;
  height:50px;
}
.icon-sprite-allcard{background-position:0 0}
.icon-sprite-cashback{background-position:0 -50px}
.icon-sprite-compare{background-position:0 -100px}
.icon-sprite-refinance{background-position:0 -151px}
.icon-sprite-employed-double{background-position:0 -201px}
.icon-sprite-employed{background-position:0 -251px}
.icon-sprite-selfemployed{background-position:0 -301px}
.icon-sprite-unemployed{background-position:0 -351px}
.icon-sprite-car{background-position:0 -401px}
.icon-sprite-hat{background-position:0 -451px}
.icon-sprite-house{background-position:0 -501px}