@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

// Compare modal
.modal-compare {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  @include transition(right 0.25s ease-out);
  &.active { right: 0; }

  // Modal Header
  &__header {
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    height: 65px;
    padding: 15px 20px;
    font-family: $font-semibold;
    @include font-size(1.8);
    @include mobile {
      background-image: $gradient-blue;
      padding-right: 50px;
      color: #FFF;
    }
    .btn-close-desktop {
      max-width: 124px;
    }
    .btn-close-mobile {
      position: absolute;
      top: 12px;
      right: 15px;
    }
  }

  // Modal Body
  &__body {
    // Comparison table
    .compare-summary {
      background-color: $color-blue-dark;
      padding: 5px 15px;
      color: white;

      span {
        display: block;
        font-family: $font-semibold;
        @include font-size(1.2);
      }
    }
    .compare-keypoint {
      & > .column {
        border-right: solid 1px $color-grey-25;
      }
    }
    .product {
      &__image {
        height: 60px;
        img {
          max-width: 170px;
          max-height: 60px;
        }
      }
      &__keypoint {
        margin: 5px 0 20px;
        font-family: $font-semibold;
        color: $color-blue-cobolt;
        span {
          font-family: $font;
          color: $color-grey-dark;
        }
      }
      &__points {
        & > .column { padding: 0 5px 5px 5px; }
      }
      &__info {
        color: $color-grey-50;
        &--subheader {
          font-family: $font-semibold;
          color: $color-blue-cobolt;
        }
        &--label {
          display: block;
          font-family: $font-semibold;
          color: $color-grey-dark;
        }
      }
    }
    @include mobile {
      .compare-summary {
        @include font-size(1.3);
        span {
          font-family: $font-bold;
          @include font-size(1.1);
        }
      }
    }
  }
}

.modal.is-active button { //overwrite
  display: block; 
}
