@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

// apply form
.modal-drawer {
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  @include transition(all 0.25s ease-out); //right 0.25s ease-out
  @include mobile {
    right: 0px;
    opacity: 0;
  }

  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    font-family: $font-semibold;
    @include font-size(1.8);
    text-align: center;
    padding: 15px 20px;
    width: 100%;
    height: 65px;
		background: linear-gradient(to right, #3F8DF2, $color-brand1);
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    .button.btn-close-mobile {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  &__body {
    padding: 5px;
  }

  &__footer {
    padding: 0 20px 20px 20px;
  }

  &.active {
    right: 0;
    @include mobile {
      opacity: 1;
    }
  }

  @media (min-width: 381px) {
    width: 380px; // width: 570px;
  }

  &.wide {
    @media (min-width: 481px) {
      width: 480px;
    }
    @media (min-width: 381px) and (max-width: 480px) {
      width: 100%;
    }
  }

  @include tablet {
    &__header {
      @include font-size(2.2);
      .btn-close-apply {
        top: 20px;
        left: 20px;
      }
    }
  }
}

.modal.is-active button {
  display: block; //overwrite
}

button.modal-close.is-large {
  display: none; // Hide default modal close button
}

// TRANSITION ANIMATION
// Slide-In
.slide-in-enter-active,
.slide-in-leave-active {
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}
.slide-in-enter {
    @include transform(translate3d(100%, 0, 0));
    position: absolute;
    width: 100%;
}
.slide-in-leave-to {
  @include transform(translate3d(-100%, 0, 0));
    position: absolute;
    width: 100%;
}

//Fade in on mobile, slide in on desktop
.slide-fade-in-enter-active,
.slide-fade-in-leave-active {
  @include tablet {
    transition: transform 0.25s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  }
  
  @include mobile {
    opacity: 0.5;
  }
}
.slide-fade-in-enter {
  @include tablet {
    @include transform(translate3d(100%, 0, 0));
    position: absolute;
    width: 100%;
  }
    @include mobile {
      opacity: 0.5;
  }
}
.slide-fade-in-leave-to {
  @include tablet {
    @include transform(translate3d(-100%, 0, 0));
    position: absolute;
    width: 100%;
  }
    @include mobile {
      opacity: 0.5;
  }
}
