@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

.modal-eligibility-a {
  position: fixed;
  background-color: white;
  @include mobile { background-color: #B5D7EF; }
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  overflow: auto;
  @include transition(right 0.25s ease-out);
  &.active { 
    right: 0; 
  }
  // Modal Header
  &__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    text-align: center;
    color: $color-grey-dark;
    font-family: $font-semibold;
    @include font-size(1.8);
    padding: 15px 65px; //15px 20px
    width: 100%;
    height: 65px;
    border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    line-height: 2rem;
    @include mobile {
      position: fixed;
      top: 0;
      color: white;
      background-image: $gradient-blue;
      border-radius: 0% 0% 50% 50% / 0% 0% 15% 15%;
    }
    .btn-close-desktop {
      position: absolute;
      right: 15px;
      top: 15px;
    }
    .btn-close-mobile {
      position: absolute;
      right: 15px;
    }
    .modal-title{
      width: 200px;
      margin: auto;
      @include tablet{
        width: auto;
      }
    }
  }

  // Modal Body
  &__body {
    padding: 5px;
    @include tablet { height: calc(100vh - 130px); }
    @include mobile { padding: 0px; }
    &--wrap {
      margin-top: 30px !important;
      width: 100%;
      @include mobile { margin-top: 0px !important; }
    }
    &.container {
      margin: 0 auto;
      @include mobile { margin: 70px 0 100px 0; }
      .modal-subtitle {
        @include font-size(1.8);
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
      }
    }

    //Left column
    .eligibility-image {
      position: relative;
      &--chatbot {
        display: block;
        width: 100%;
        height: 385px;
        background-image: url('img/img-chatbot.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
      .start-here {
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        background-image: url('img/start-here.png');
        background-size: cover;
        width: 194px;
        height: 72px;
      }
    }

    //Right column
    .eligibility-chatbot {
      @include mobile { padding: 0; }
      &--component {
        width: 100%;
        border-radius: 5px;
        display: block;
        @include tablet {
          background-color: rgba(11,123,203,.3);
          border: 1px solid rgba(11,123,203,.3);
        }
        &__header {
          color: #FFF;
          background-color: $color-blue-cobolt;
          padding: 10px;
          border-radius: 4px 4px 0 0;
          span { font-family: $font-semibold; }
        }
        &__body {
          padding: 0;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-end;
          align-content: flex-end;
          overflow: hidden;
          @include tablet {
            height: 380px;
            // padding: 15px 15px 60px 15px;
          }
          @include mobile {
            z-index: 0;
            bottom: 60px; //50px;
            width: 100%;
            position: fixed;
          }
          .component-content{
            display: flex;
            flex-direction: column;
            max-height: calc(100vh - 125px);
            overflow: auto;
            width: 100%;
            padding: 15px;
            @include tablet {
              max-height: 380px;
            }
          }
          .iris-wrap, .user-wrap {
            display: flex;
            .iris-avatar {
              display: inline-block;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-image: url('img/avatar_iris.png');
              background-repeat: no-repeat;
              background-size: cover;
              margin-right: 10px;
            }
          }
          .iris-wrap {
            .btns-radio {
              margin-left: 10px;
              @include tablet { margin-left: 60px; }
            }
          }
          .user-wrap {
            justify-content: flex-end;
          }
          .chat-wrap {
            display: block;
            width: 100%;
          }
          .chat-bubble {
            display: block;
            padding: 0 10px 10px 10px;
            margin-bottom: 0px; //15px
            position: relative;
            @include tablet { max-width: 300px; }
            span {
              background-color: #FFF;
              padding: 10px;
              display: block;
            }
            &--iris, &--typing {
              span { border-radius: 0px 5px 5px 5px; }
              &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 6px solid transparent;
                border-right: 6px solid #FFF;
                border-top: 6px solid #FFF;
                border-bottom: 6px solid transparent;
                left: -2px;
                top: 0px;
              }
            }
            &--iris {
              padding: 0 0 10px 10px;
              @include mobile { 
                min-width: 100%; 
              }
              span { 
                box-shadow: 0 2px 0 rgba(11,123,203,.1); 
              }
              strong {
                display: block;
                font-family: $font-bold;
                color: $color-blue-cobolt;
              }
            }
            &--typing {
              span {
                background-color: rgba(11,123,203,.2);
                color: #FFF;
                font-family: $font-bold;
              }
              &:before {
                border-left: 6px solid transparent;
                border-right: 6px solid rgba(11,123,203,.2);;
                border-top: 6px solid rgba(11,123,203,.2);;
                border-bottom: 6px solid transparent;
                top: 0px;
              }
              //Dot animation
              .one, .two, .three {
                display: inline;
                opacity: 0;
                -webkit-animation: dot 1.3s infinite;
                animation: dot 1.3s infinite;
              }
              .one {
                -webkit-animation-delay: 0.0s;
                animation-delay: 0.0s;
              }
              .two {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
              }
              .three {
                -webkit-animation-delay: 0.3s;
                animation-delay: 0.3s;
              }
              @-webkit-keyframes dot {
                    0% { opacity: 0; }
                   50% { opacity: 0; }
                  100% { opacity: 1; }
              }
              @keyframes dot {
                    0% { opacity: 0; }
                   50% { opacity: 0; }
                  100% { opacity: 1; }
              }
            }
            &--user {
              font-family: $font-semibold;
              text-align: right;
              span {
                background-color: rgba(11,123,203,.5);
                color: #FFF;
                border-radius: 5px 0px 5px 5px;
              }
              &:before {
                content: "";
                width: 0px;
                height: 0px;
                position: absolute;
                border-left: 6px solid rgba(11,123,203,.5);
                border-right: 6px solid transparent;
                border-top: 6px solid rgba(11,123,203,.5);
                border-bottom: 6px solid transparent;
                right: -2px;
                top: 0px;
              }
            }
            &.question {
              text-align: center;
              //padding: 0 0 10px !important;
              .user-wrap { 
                margin-bottom: 0px;
              }
              span {
                padding: 10px;
                border-radius: 0 3px 3px 3px;
              }
              .commitment {
                margin: 10px auto;
                display: block;
                width: 80px;
                height: 50px;
                background-size: 400px 50px;
                content: '';
                background-image: url('img/sprite_commitment.png');
                @include tablet{
                  margin: 10px;
                }
                &.commitment--home-loan { background-position: 0 0; }
                &.commitment--car { background-position: -80px 0; }
                &.commitment--education { background-position: -160px 0; }
                &.commitment--credit-card { background-position: -240px 0; }
                &.commitment--personal-loan { background-position: -320px 0; }
              }
            }
          }
        }
        &__input {
          display: flex;
          padding: 5px;
          background-color: #FFF;
          align-items: center;
          border-radius: 0 0 5px 5px;
          justify-content: flex-end;
          @include mobile {
            position: fixed;
            bottom: 0;
            width: 100%;
            min-height: 50px;
          }
          .currency {
            padding: 2px 5px 0;
            opacity: 0.7;
          }
          input {
            border: none;
            width: 100%;
            margin: 0 10px;
            @include font-size(1.8);
            height: 40px;
            &:focus { 
              box-shadow: none; 
            }
            @include tablet{
              height: auto;
              @include font-size(1.4);
            }
          }
        }
      }
    }
    .button {
      @include font-size(1.8);
      @include tablet{
        @include font-size(1.4);
      }
    }
  } //modal body end
  .btns-radio {
    min-width: 70%;
    list-style-position: inside;
    overflow: hidden;
    margin-bottom: 5px;
    @include tablet { max-width: 260px; }
    li {
      position: relative;
    }
    $input-btn-default: white; //white
    $input-btn-selected: $color-blue-cobolt; //cobolt blue
    input[type="checkbox"],
    input[type="radio"] {
      display: block;
      position: absolute;
      opacity: 0.011;
      z-index: 100;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    //Checked + hover
    input[type="checkbox"]:checked + label,
    input[type="radio"]:checked + label,
    input[type="checkbox"]:checked + label:hover,
    input[type="radio"]:checked + label:hover {
      background-color: $input-btn-selected;
      border: solid 1px $input-btn-selected;
      color: white;
      .tick {
        border: solid 1px white;
      }
      .tick:before {
        content: "";
        display: block;
        position: absolute;
        width: 16px;
        height: 11px;
        margin-top: 4px;
        top: 0;
        left: 0;
        background: url('img/sprite_icon-base-redesign.png') 82px -34px;
        background-size: 80px 81px;
      }
    }
    input[type="checkbox"] + label,
    input[type="radio"] + label {
      display: block;
      cursor: pointer;
      z-index: 90;
      display: flex;
      align-items: center;
      background-color: $input-btn-default;
      border: solid 1px $color-grey-25;
      border-radius: 3px;
      padding: 8px 12px;
      font-family: $font;
      @include font-size(1.4);
      color: $color-grey-dark;
      @include transition(all 200ms linear);
      &:hover { //Hover
        background-color: $color-blue-cobolt-10;
        border: solid 1px $input-btn-selected;
        .tick {
          border: solid 1px $input-btn-selected;
        }
      }
      .tick {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        background-color: #FFF;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-right: 8px;
        border: solid 1px $color-grey-25;
      }
    }
    input[type="checkbox"], input[type="radio"] {
      &:disabled{
        + label{
          opacity: 0.5;
          &:hover{
            background-color: $input-btn-default;
            border-color: $color-grey-25;
            cursor: default;
            .tick{
              border-color: $color-grey-25;
            }
          }
        }
      }
      &:checked{
        + label {
          opacity: 1;
          &:hover{
            cursor: default;
            background-color: $input-btn-selected;
            border-color: $input-btn-selected;
          }
        }
      }
    }
    &-switch li {
      width: 50%;
      display: inline-block;
      &:first-child label { border-radius: 3px 0 0 3px; margin-right: 1px; }
      &:last-child label { border-radius: 0 3px 3px 0; }
      float: left;
    }
  } //.btns-radio  
} //Modal-eligibility

.chat-validation {
  position: relative;
  margin: 0 auto 15px;
  @include mobile {
    position: fixed;
    bottom: 49px;
    width: 100%;
    margin: 0 auto;
  }
  &--bubble {
    text-align: center;
    padding: 3px;
    background-color: $color-red;
    color: #FFF !important;
    font-family: $font;
    @include tablet {
      margin: 3px;
      border-radius: 3px;
    }
    &:after {
      @include tablet {
        content: '';
        position: absolute;
        left: 50%;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        top: 0;
        border-bottom-color: $color-red;;
        border-top: 0;
        margin-left: -10px;
        margin-top: -10px;
      } 
    }
  }
}

#results-container {
  height: 150px;
  width: 100%;
}

.analyzing {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  .cogs {
    width: 75px;
    height: 75px;
    position: relative;
    display: block;
    background-image: url('img/analyzing_bg.png');
    background-size: cover;
    margin: 0 auto 5px;
    .magnifying-glass {
      display: block;
      width: 46px;
      height: 57px;
      background-image: url('img/analyzing_magnifying_glass.png');
      background-size: cover;
      position: absolute;
      top: 0;
      -webkit-animation: search 2s infinite;
       animation: search 2s infinite;
    }
    @-webkit-keyframes search {
          0% { top: 0; left: 10px; }
         30% { top: 15px; left: 35px; }
         60% { top: 20px; left: -5px; }
        100% { top: 0; left: 20px; }
    }
    @keyframes search {
          0% { top: 0; left: 10px; }
         30% { top: 15px; left: 35px; }
         60% { top: 20px; left: -5px; }
        100% { top: 0; left: 10px; }
    }
  }
}

.results {
  display: none;
  padding: 40px;
  text-align: center;
  button {
    margin: 5px auto;
  }
}

.onboarding {
  display: block;
  position: fixed;
  top: 55px;
  z-index: 20;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  span {
    display: block;
    background-color: #FFF;
    padding: 30px 20px 20px;
  }
  button { margin: 15px auto 0; }
}

.button.disabled {
  opacity: 0.7;
  background-color: $color-grey-50;
  cursor: default;
  &:hover, &:active, &:focus {
    background-color: $color-grey-50;
  }
}

#modal-eligibility {
  .columns {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

//Override close button appearing on modal
button.modal-close.is-large {
    display: none !important;
}

#button-submit-chatbot{
  &.has-sprite-right i{
    margin: 0;
    @include tablet{
      margin-left: 10px;
    }
  }
}