@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

.blue-bar {
	background: $color-blue-dark;
	position: fixed;
	width: 100%;
	height: 65px;
	padding: 12px 15px;
	z-index: 10;
	color: #FFF;
}
section#pdf-top-bar {
	top: 0;
	span {
		display: block;
		font-family: $font-semibold;
		@include font-size(1.8);
	}
}

section#pdf-bottom-bar {
	bottom: 0px;
	a { width: 100%; }
}

section#pdf-viewer {
	width: 100%;
    text-align: center;
    img { max-width: none; }
    iframe {
		height: calc(100vh - 65px);
		width: 100%;
		@include mobile {
			height: calc(100vh - 120px); //fix PDF clipping on mobile devices
		}
	}
	object {
		height: calc(100vh - 65px);
		width: 100%;
		@include mobile {
			height: calc(100vh - 120px); //fix PDF clipping on mobile devices
		}
	}
	embed {
		height: calc(100vh - 65px);
		width: 100%;
		@include mobile {
			height: calc(100vh - 120px); //fix PDF clipping on mobile devices
		}
	}
}

.modal-content {
	max-height: 100vh !important; //fix height clipping at the bottom
	@include mobile {
		max-width: 100%;
    	max-height: 100%;
    	height: 100vh;
	}
}

//Close button
.btn-close-mobile {
	position: absolute;
    right: 15px; //15px
    top: 15px;
    padding: 12px;
    background-color: #FFF;
    border: 1px solid $color-blue-cobolt;
    i { background-position: 100px -56px; }
}