@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

.modal-drawer {
	&__header { 
		// height: 100px; //override height
		text-align: center;
	}

	&__body {
		padding: 20px;
	}

	&__tabs {
		.tab-content {
			padding: 20px 20px 0 20px;
		}
		@media (max-width: 358px) {
			.tabs ul {
				padding: 0;
			}
		}
	}
	
	.product {
		&__image {
			text-align: center;
			img {
				max-width: 250px;
				max-height: 50px;
				margin-bottom: 15px;
			}
		}
		&__name {
			font-family: $font-semibold;
			@include font-size(1.6);
			text-align: center;
			margin-bottom: 20px;
		}
		&__info {
			color: $color-grey-50;
			li {
				margin-bottom: 15px;
			}
			&--subheader {
				font-family: $font-semibold;
				color: $color-blue-cobolt;
			}
			&--label {
				display: block;
				font-family: $font-semibold;
				color: $color-grey-dark;
				@media (max-width: 324px) {
					@include font-size(1.4);
				}
			}
		}
	}
}