@import '../../node_modules/bulma/sass/utilities/_all';
@import '../imoney-assets/scss/_inc/_icon-base';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';

.page-nav{
    width: 100%;
    background: rgba(#E9EDF4, 0.5);
    border-top: 1px solid #E9EDF4;
    box-sizing: border-box;
    @include desktop{
        border-top: 0;
        background: transparent;
    }
    .container{
        overflow: scroll;
        @include desktop{
            overflow: hidden;
        }
    }
}

#product-page{
    .page-nav{
        margin: -50px 0 50px;
        @include desktop{
            border-bottom: 1px solid rgba(#000, 0.1);
        }
    }
}

.page-menu{
    display: flex;
    li{
        a{
            display: flex;
            height: 43px;
            align-items: center;
            padding: 0 15px;
            border-bottom: 2px solid transparent;
            box-sizing: border-box;
            color: $color-brand1;
            transition: all 0.3s ease-in-out;
            white-space: nowrap;
            &:hover, &:focus{
                border-color: $color-brand1; //#2F4D84
            }
            &.active{
                font-family: $font-semibold;
                border-color: $color-brand1; //#2F4D84
            }
        }
    }
}