@import '../imoney-assets/scss/thankyou.scss';
@import '../imoney-assets/scss/_inc/_redesign-cheatsheet';
@import "../scss/global-vertical";

.thankyou__desc {
	margin: 0 auto;
	@include desktop { width: 70% !important; }
	span { font-weight: 600; }
}

//BUI Thank You section
.bui-thankyou {
  	margin-bottom: 50px !important;
  	color: rgba(67,76,85, 0.7);
  	@include tablet { padding: 0 20px; }
  	.whats-next {
  		@include font-size(2);
		display: inline-block;
	    padding: 5px 10px;
	    border-radius: 3px 3px 0 0;
	    background-color: $color-blue-cobolt;
	    color: #FFF;
	    position: relative;
	    z-index: -1;
	    margin-bottom: 0px;
	    i {
	    	width: 22px;
			height: 17px;
			display: inline-block;
			background: url('img/sprite_bank-ui.png') no-repeat -306px -59px;
			background-size: 328px;
			margin-right: 5px;
	    }
  	}
  	h3 {
  		font-family: $font-semibold;
  		@include font-size(2.0);
  		color: $color-grey-50;
  		line-height: 2.3rem;
  		@include mobile { margin-bottom: 5px; }
  	}
	h4 {
		@include font-size(1.6);
		color: $color-blue-cobolt;
		margin-bottom: 5px;
	}
	&__steps {
		@include mobile {
			background-color: #FFF;
			&:before {
				display: block;
				content: '';
				margin: 0 auto;
				width: 0;
				height: 0;
				border-left: 24px solid transparent;
				border-right: 24px solid transparent;
				border-top: 24px solid $color-bodybg;
			}
		}
	}
}

//White box container
.bui-box {
	background-color: #FFF;
	border-radius: 3px;
	padding: 20px;
	height: 100%;
	padding: 50px 20px;
	@include mobile { padding: 10px 20px; }
	h3 { @include mobile { width: 100%; } }
	strong {
		font-family: $font-semibold;
		color: $color-grey-dark;
	}
	&.no-documents {
		h3 { max-width: 324px; }
		@include tablet {
			background-image: linear-gradient(-50deg, $color-blue-cobolt 0%, $color-blue-light 100%);
			color: #FFF;
			display: flex;
		    align-items: center;
		    flex-wrap: wrap;
		    align-content: space-between;
			h3 {
				color: #FFF;
				font-family: $font;
				span { font-family: $font-bold; }
			}
			strong { color: #FFF; }
		}
		@include mobile {
			padding: 20px 20px 40px;
			strong { color: $color-grey-dark; font-family: $font-semibold; }
			h3 {
				font-family: $font;
				span { color: $color-blue-cobolt; font-family: $font-semibold; }
			}
		}
	}
	.step-header .column:first-child {
		display: flex;
	    flex-wrap: wrap;
	    align-content: center;
	}
}

//CTA
.btn-cta { margin-top: 20px; }

//Document list
ul.upload-document {
	margin-bottom: 20px !important;
	li { margin-bottom: 10px; }
}

//Sprites and images
.sprite-bui {
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('img/sprite_bank-ui.png') no-repeat 0px 0px;
	background-size: 328px;
	margin-bottom: -5px;
	opacity: 0.5;
	&.account-card-details { background-position: -306px -20px; }
	&.cash { background-position: -306px -40px; }
	&.file-document { background-position: -306px 0px; }
	// &.angle.blue { opacity: 1; }
}

.sprite-bui-custom {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: 328px;
	margin-bottom: -5px;
	opacity: 0.5;
	&.account-card-details { background-position: -306px -20px; }
	&.cash { background-position: -306px -40px; }
	&.file-document { background-position: -306px 0px; }
	// &.angle.blue { opacity: 1; }
}
.illustration {
	width: 100px;
	height: 100px;
	display: block;
	background: url('img/sprite_bank-ui.png') no-repeat 0px 0px;
	background-size: 328px;
	@include tablet { margin: 20px auto; }
	@include mobile {
		width: 70px;
		height: 70px;
		background-size: 228px;
	}
	&.bui-upload {
		background-position: 0px -101px;
		@include mobile { background-position: 0px -70px; }
	}
	&.bui-upload, &.bui-download { @include mobile { float: right; }}
	&.bui-email {
		width: 202px;
		height: 202px;
		background-position: -101px -1px;
		@include tablet-only {
			width: 180px;
			height: 180px;
			background-position: -90px -1px;
			background-size: 292px;
		}
	}
}

//BUI Redirect modal
.redirect-modal {
	width: 90%;
	max-width: 600px;
	height: 350px;
	background-color: #FFF;
	border-radius: 3px;
	border-bottom: 5px solid $color-blue-cobolt;
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 45px 20px 0;
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    overflow: hidden;
	p {
		@include font-size(1.8);
		width: 100%;
		max-width: 405px;
		margin: 0 auto;
	}
	&__countdown {
		text-align: center;
		color: $color-blue-cobolt;
		font-family: $font-semibold;
		@include font-size(3);
		width: 100%;
		i {
			width: 24px;
			height: 24px;
			background-position: -304px -77px;
			opacity: 1;
			margin-bottom: 0px;
		}
	}
	&__browser {
		width: 415px;
		height: 173px;
		display: block;
		background: url('img/img-browser.png') no-repeat 0px 0px;
		background-size: contain;
		background-position: bottom;
	}
}
//loading icon
.loading-dots {
  text-align: center;
  z-index: 5;
  color: $color-blue-cobolt;
  margin-top: 20px;
  @include mobile {
  	margin-top: 30px;
  }
  .dot {
    display: inline;
    position: relative;
    @include font-size(10);
    opacity: 0;
    animation: showHideDot 1.5s ease-in-out infinite;

    &.one { animation-delay: 0.2s; }
    &.two { animation-delay: 0.4s; }
    &.three { animation-delay: 0.6s; }
    &.four { animation-delay: 0.8s; }
  }
}
@keyframes showHideDot {
  0% { opacity: 0; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
.modal-background {
	pointer-events: none; //prevent closure of modal
}