<template>
  <transition name="slide-in">
    <div class="modal-basicform modal-drawer wide" :class="{active : true}">
      <div class="modal-drawer__header">
        <span>{{ translate("Product Apply Form") }}</span>
        <div class="button btn-close-mobile rounded-white icon-only" @click="close()">
          <i class="sprite close white" />
        </div>
      </div>
      <div class="apply-product">
        <img v-if="Loan.personalLoanBank.bank" :src="'/' + Loan.personalLoanBank.logo" />
        <img v-else src />
        <h1 class="product-name">{{ Loan.title }}</h1>
      </div>
      <div class="modal-form__body">
        <form data-step="0" action novalidate @submit.prevent="onSubmit">
          <div class="apply-details">
            <div class="columns is-mobile apply-details--top-row">
              <div class="column is-6 apply-details-item static">
                <div class="form-group">
                  <label v-if="this.Loan.is_islamic === false">{{ translate('Interest Rate') }}</label>
                  <label v-else>{{ translate('Profit Rate') }}</label>
                  <span>{{ productInterestRate ? productInterestRate + '%' : '-' }}</span>
                </div>
              </div>
              <div class="column is-6 apply-details-item static">
                <div class="form-group">
                  <label>{{ translate('Monthly Repayment') }}</label>
                  <span>{{ monthlyRepayment ? Currency + addCommas(monthlyRepayment) : '-' }}</span>
                </div>
              </div>
            </div>
            <div class="columns is-mobile apply-details--bottom-row">
              <div class="column is-6 apply-details-item">
                <div class="form-group">
                  <label v-if="this.Loan.is_islamic === false">{{ translate('Loan Amount') }}</label>
                  <label v-else>{{ translate('Financing Amount') }}</label>
                  <span>
                    <input
                      v-if="loanAmountVisibility === false"
                      id="input-amount"
                      v-model.trim="loan_amount"
                      v-on:keypress="validateMoneyFormat(event, 'loan_amount')"
                      type="text"
                      data-action="Input"
                      data-subject="User"
                      data-description="Amount"
                      data-vertical="Personal Loan"
                      data-region="Product Apply Popup"
                      class="form-control"
                      @input="$v.loan_amount.$touch()"
                      @blur="onBlurLoanAmount"
                    />

                    <input
                      v-if="loanAmountVisibility === true"
                      id="txt-input-amount"
                      v-model.trim="reformed_loan_amount"
                      type="text"
                      data-action="Input"
                      data-subject="User"
                      data-description="Amount"
                      data-vertical="Personal Loan"
                      data-region="Product Apply Popup"
                      class="form-control"
                      @input="$v.loan_amount.$touch()"
                      @focus="onFocusLoanAmount"
                    />
                    <div v-for="(rule, index) in $v.loan_amount.$params" :key="index">
                      <span
                        v-if="validate($v.loan_amount,rule.type)"
                        class="help is-danger"
                      >{{ getErrotmessage('loan_amount',rule.type) }}</span>
                    </div>
                  </span>
                </div>
              </div>
              <div class="column is-6 apply-details-item">
                <div class="form-group">
                  <label>{{ translate('Tenure') }}</label>
                  <select
                    id="input-year"
                    v-model.trim="loan_tenure"
                    data-action="Input"
                    data-subject="User"
                    data-description="Tenure"
                    data-vertical="Personal Loan"
                    data-region="Product Apply Popup"
                    class="form-control"
                    @input="$v.loan_tenure.$touch()"
                  >
                    <option
                      v-for="(tenure,index) in listTenure"
                      :key="index"
                      data-subject="User"
                      data-action="Input"
                      data-description="Tenure"
                      data-region="Product Apply Popup"
                      data-vertical="Personal Loan"
                    >{{ tenure }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="apply-form">
            <ul
              data-imu-track="input,select"
              data-subject="User"
              data-action="Input"
              data-region="Product Apply Popup"
              data-vertical="Personal Loan"
            >
              <li>
                <h5>{{ translate('Please provide your details to begin the application process') }}</h5>
                <div class="form-group">
                  <!-- <label v-if="showHideQustion">{{translate('Full Name as per NRIC')}}</label> -->
                  <label>{{ translate('Full Name') }}</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Name"
                    :data-value="name"
                    v-model.trim="name"
                    class="form-control"
                    placeholder="Mohammad Johan bin Ismail"
                    :class="{'form-control parsley-error': $v.name.$error, 'form-control': $v.name.$dirty && !$v.name.$invalid}"
                    @input="$v.name.$touch()"
                  />
                  <div v-for="(rule, index) in $v.name.$params" :key="index">
                    <span
                      v-if="validate($v.name,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('name',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ translate('Your Email') }}</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Email"
                    :data-value="email_address"
                    v-model.trim="email_address"
                    type="email"
                    name="email_address"
                    placeholder="mohammad@email.com"
                    class="form-control"
                    :class="{'form-control parsley-error': $v.email_address.$error, 'form-control': $v.email_address.$dirty && !$v.email_address.$invalid}"
                    @input="$v.email_address.$touch()"
                  />
                  <div v-for="(rule, index) in $v.email_address.$params" :key="index">
                    <span
                      v-if="validate($v.email_address,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('email_address',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>{{ translate('Contact Number') }}</label>
                  <input
                    data-subject="User"
                    data-action="Input"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    data-description="Contact Number"
                    :data-value="name"
                    v-model.trim="phone_number"
                    v-on:keypress="isNumber(event)"
                    type="tel"
                    placeholder="0123456789"
                    class="form-control"
                    :class="{'form-control parsley-error': $v.phone_number.$error,
                             'form-control': $v.phone_number.$dirty && !$v.phone_number.$invalid}"
                    @input="$v.phone_number.$touch()"
                  />
                  <div v-for="(rule, index) in $v.phone_number.$params" :key="index">
                    <span
                      v-if="validate($v.phone_number,rule.type)"
                      class="help is-danger"
                    >{{ getErrotmessage('phone_number',rule.type) }}</span>
                  </div>
                </div>
                <div class="form-group">
                  <label
                    for="apply-salary"
                    class="control-label"
                  >{{ translate('Monthly Basic Salary') }}</label>
                  <div id="apply-salary-container">
                    <div class="input-group">
                      <div class="input-group-addon">RM</div>
                      <input
                        v-if="monthlySalaryVisibility === false"
                        data-subject="User"
                        data-action="Input"
                        data-region="Product Apply Popup"
                        data-vertical="Personal Loan"
                        data-description="Monthly Income"
                        :data-value="monthly_salary"
                        v-model.trim="monthly_salary"
                        v-on:keypress="validateMoneyFormat(event, 'monthly_salary')"
                        type="text"
                        class="form-control"
                        placeholder="5000"
                        :class="{'form-control parsley-error': $v.monthly_salary.$error, 'form-control': $v.monthly_salary.$dirty && !$v.monthly_salary.$invalid}"
                        @input="$v.monthly_salary.$touch()"
                        @blur="onBlurMonthlySalary"
                      />
                      <input
                        v-if="monthlySalaryVisibility === true"
                        data-subject="User"
                        data-action="Input"
                        data-region="Product Apply Popup"
                        data-vertical="Personal Loan"
                        data-description="Monthly Income"
                        :data-value="txt_monthly_salary"
                        v-model.trim="reformed_monthly_salary"
                        type="text"
                        class="form-control"
                        placeholder="5000"
                        :class="{'form-control parsley-error': $v.monthly_salary.$error, 'form-control': $v.monthly_salary.$dirty && !$v.monthly_salary.$invalid}"
                        @input="$v.monthly_salary.$touch()"
                        @focus="onFocusMonthlySalary"
                      />
                    </div>
                    <div v-for="(rule, index) in $v.monthly_salary.$params" :key="index">
                      <span
                        v-if="validate($v.monthly_salary,rule.type)"
                        class="help is-danger"
                      >{{ getErrotmessage('monthly_salary',rule.type) }}</span>
                    </div>
                  </div>
                </div>
                <div class="form-group a-center">
                  <button
                    v-if="$parent.jappData"
                    id="get-it-now-btn"
                    type="submit"
                    data-subject="User"
                    data-action="Click"
                    :data-value="productTitle"
                    :data-title="productTitle"
                    data-step="0"
                    data-description="Apply Form"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    class="button blue is-fullwidth has-text-center"
                    :disabled="applyNow != translate('Next')"
                  >{{ applyNow }}</button>
                  <button
                    v-else
                    id="get-it-now-btn"
                    type="submit"
                    data-subject="User"
                    data-action="Click"
                    :data-value="productTitle"
                    :data-title="productTitle"
                    data-step="0"
                    data-description="Form"
                    data-region="Product Apply Popup"
                    data-vertical="Personal Loan"
                    class="button orange is-fullwidth has-text-center"
                    :disabled="applyNowBasic != translate('Submit')"
                  >{{ applyNowBasic }}</button>
                </div>
                <div class="checkbox font-xs a-center">
                  <label class="privacy-policy">
                    <input
                      data-subject="User"
                      data-action="Input"
                      data-region="Product Apply Popup"
                      data-vertical="Personal Loan"
                      data-description="Privacy Policy"
                      data-value="Privacy Policy"
                      v-model.trim="checkbox"
                      type="checkbox"
                      checked="checked"
                      name="allow_checked"
                      @input="$v.checkbox.$touch()"
                    />
                    <span>
                      {{ translate('By ticking this box and submitting your information, you consent for us to process your personal information as per our') }}
                      <a
                        href="/privacy-statement"
                        target="_blank"
                      >{{ translate('Privacy Policy') }}</a>
                      {{ translate('and to pass your personal information to the product providers') }}
                      <div v-for="(rule, index) in $v.checkbox.$params" :key="index">
                        <span
                          v-if="validate($v.checkbox,rule.type)"
                          class="help is-danger"
                        >{{ getErrotmessage('checkbox',rule.type) }}</span>
                      </div>
                    </span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </transition>
</template>

<script>
// import comboBox from '../../../controls/comboBox.vue';
import {
  required,
  minLength,
  maxLength,
  minValue,
  email,
  maxValue
} from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import { parsePhoneNumberFromString } from "libphonenumber-js";
import { submitToJapp, creatArrayRange } from "helper.js";
import Calculator from "calculation";
import { addCommas } from "numberFormat";

export default {
  components: {},
  props: ["data", "context"],
  data: function() {
    return {
      url: this.$store.state.urlRedirect,
      monthlyRepayment: 0,
      productInterestRate: 0,
      comboBox: false,
      applyNowBasic: this.translate("Submit"),
      applyNow: this.translate("Next"),
      DisableApplyNow: true,
      name: null,
      Currency: "RM",
      email_address: null,
      phone_number: null,
      monthly_salary: null,
      loan_amount: this.$store.state.isAmountChanged
        ? this.$store.state.amount
        : this.$store.state.selectedProductForApply.min_amount,
      loan_tenure: this.$store.state.isTenureChanged
        ? this.$store.state.tenure
        : this.$store.state.selectedProductForApply.min_tenure,
      checkbox: true,
      Loan: this.$store.state.selectedProductForApply,
      calculator: null,
      addCommas,
      reformed_loan_amount: this.$store.state.isAmountChanged
        ? this.$store.state.amount
        : this.$store.state.selectedProductForApply.min_amount,
      reformed_monthly_salary: null,
      loanAmountVisibility: true,
      monthlySalaryVisibility: true,
      applybtnfrom: this.$store.state.applyBtnFrom
    };
  },
  computed: {
    productTitle: function() {
      return this.Loan.title;
    },
    listTenure: function() {
      return creatArrayRange(
        parseInt(this.Loan.min_tenure),
        parseInt(this.Loan.max_tenure)
      );
    }
  },
  watch: {
    loan_amount() {
      this.update();
    },
    loan_tenure() {
      this.update();
    },
    monthly_salary() {
      this.update();
    },
    // name: function (val) {
    //   this.jappFields.name = val;
    // },
    // email: function (val) {
    //   this.jappFields.email_address = val;
    // },
    // phoneNumber: function (val) {
    //   this.jappFields.phone_number = val;
    // },
    // city: function (val) {
    //   this.jappFields.city = val;
    // },
    checkbox: function(val) {
      if (!this.checkbox) {
        this.checkbox = null;
      }
    }
  },
  created() {
    this.calculator = new Calculator(
      false,
      null,
      this.loan_amount,
      this.loan_tenure,
      5000
    );
    if (this.Currency === "RM")
      this.reformed_loan_amount = this.addCommas(this.loan_amount); // this.addCommas(parseFloat(this.loan_amount).toFixed(2))
    this.updatePersonalLoan(this.calculator);
  },
  methods: {
    onBlurLoanAmount() {
      this.loanAmountVisibility = true;
      this.reformed_loan_amount = this.addCommas(this.loan_amount); // this.addCommas(this.loan_amount != "" ? parseFloat( this.loan_amount).toFixed(2) : ''
    },

    onFocusLoanAmount() {
      this.loanAmountVisibility = false;
    },

    onBlurMonthlySalary() {
      this.monthlySalaryVisibility = true;
      if (this.monthly_salary != null)
        this.reformed_monthly_salary = this.addCommas(this.monthly_salary); // this.addCommas(this.monthly_salary != "" ? parseFloat( this.monthly_salary).toFixed(2) : '' )
    },

    onFocusMonthlySalary() {
      this.monthlySalaryVisibility = false;
    },

    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    validateMoneyFormat(evt, key) {
      evt = evt ? evt : window.event;
      let charCode = evt.which ? evt.which : evt.keyCode;

      let strAmount = this.getRelatedAmount(key);
      if (this.Currency === "RM") {
        if (charCode < 48 || charCode > 57) {
          evt.preventDefault();
          return false;
        }
        // if(this.numberAndOneDot(charCode, strAmount)){
        //   evt.preventDefault();
        //   return false
        // }
        // if(this.restrictTo2DecimalsWithDot(charCode, strAmount)){
        //   evt.preventDefault();
        //   return false
        // }
      }
      return true;
    },

    getRelatedAmount(key) {
      if (key === "loan_amount")
        return this.loan_amount !== null ? this.loan_amount.toString() : "0";
      if (key === "monthly_salary") {
        return this.monthly_salary !== null
          ? this.monthly_salary.toString()
          : "0";
      }
    },

    log(message) {
      console.log(message);
    },

    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    updatePersonalLoan(calculator) {
      let updatedLoan = calculator.filterRatesProduct(this.Loan);
      if (typeof updatedLoan === "undefined") {
        this.productInterestRate = "-";
        this.monthlyRepayment = "-";
      } else {
        this.productInterestRate = updatedLoan.productInterestRate;
        this.monthlyRepayment = updatedLoan.monthlyRepayment;
      }
    },
    update() {
      this.calculator.amount = parseInt(this.loan_amount);
      this.calculator.tenure = parseInt(this.loan_tenure);
      this.calculator.income = parseInt(this.monthly_salary);

      this.updatePersonalLoan(this.calculator);
    },
    close() {
      this.$parent.close();
    },
    validatePhoneNumber: function(number) {
      let MY = "+60";
      let phoneNumber;
      if (number[0] === "6") {
        phoneNumber = `+${number}`;
      } else if (!number.includes("+60")) {
        phoneNumber = `${MY} ${number}`;
      } else {
        phoneNumber = number;
      }
      let checkMYnumber = parsePhoneNumberFromString(phoneNumber, "MY");
      if (checkMYnumber.country === "MY") {
        number = `0${checkMYnumber.nationalNumber}`;
        return number;
      }
      return number;
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      let Loan = this.$store.state.selectedProductForApply;
      const erroMessagesObj = {
        name: {
          maxLength:
            "The name entered is too long How about trying a shorter name?",
          minLength: "Please enter your name with at least 3 letters",
          regex: "Please enter your valid name",
          required: "Your name is required"
        },
        email_address: {
          email: "Please enter a valid email address (eg: iris@email.com)",
          required: "Your e-mail is required"
        },
        phone_number: {
          maxLength: "Your phone number should be less than 13 digits",
          minLength: "Your phone number should be more than 9 digits",
          regex: "Please enter a valid phone number (eg: 0123456789)",
          required: "Your phone number is required"
        },
        monthly_salary: {
          required: "Your monthly salary is required",
          minValue: "Please enter a valid monthly salary",
          regex: "Your monthly salary must be a number (eg: 3000)"
        },
        checkbox: {
          required: "Please check this box if you want to proceed"
        },
        loan_amount: {
          maxValue: `${this.translate(
            "The maximum loan amount is RM"
          )} ${this.addCommas(this.Loan.max_amount)}`,
          minValue: `${this.translate(
            "The minimum loan amount is RM"
          )} ${this.addCommas(this.Loan.min_amount)}`,
          regex: "Your loan amount must be a number (eg. 15000)",
          required: "Loan amount is required"
        }
      };
      console.log(
        type,
        erroMessagesObj[field],
        this.translate(erroMessagesObj[field][type])
      );
      return this.translate(erroMessagesObj[field][type]);
    },
    onSubmit: function() {
      console.log(
        this.applybtnfrom,
        " *** Tacking Data Apply for submit_type in applyform *** ",
        this.$store.state.applyBtnFrom
      );
      if (!this.$v.$invalid) {
        var data = {
          event: "nextStep",
          form_step: "1",
          submit_type: this.applybtnfrom,
          product_id: this.Loan.nid,
          product_name: this.Loan.title,
          product_brand: this.Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: this.Loan.is_islamic
            ? "Islamic"
            : "Conventional",
          product_pl_rate: this.Loan.productInterestRate,
          event_lang: "en"
        };
      }
      dataLayer.push(data);
      // this.$parent.next();
      // console.log('jappData =>', this.$parent.jappData);
      let Loan = this.$store.state.selectedProductForApply;
      // console.log(Loan);
      if (!this.$v.$invalid && this.$parent.jappData) {
        this.$parent.jappData.name = this.name;
        this.$parent.jappData.email_address = this.email_address;
        this.$parent.jappData.phone_number = this.validatePhoneNumber(
          this.phone_number
        );
        this.$parent.jappData.monthly_salary = this.monthly_salary;
        this.$parent.jappData.loan_amount = this.loan_amount;
        this.$parent.jappData.loan_tenure = this.loan_tenure;
        this.$parent.jappData.checkbox = this.checkbox;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 1);
        IMDevPropBag.add("prequalify_total_steps", 4);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(this.$parent.jappData, Loan).then(result => {
          this.applyNow = this.translate("Next");
          IMDevPropBag.add("referrer_submission_id", result.data["$id"]);
          this.$parent.next();
        });
      } else if (!this.$v.$invalid) {
        let jappData = {
          name: this.name,
          email_address: this.email_address,
          phone_number: this.validatePhoneNumber(this.phone_number),
          monthly_salary: this.monthly_salary,
          loan_amount: this.loan_amount,
          loan_tenure: this.loan_tenure
        };
        this.applyNowBasic = this.translate("Please wait");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(jappData, Loan).then(result => {
          this.applyNowBasic = this.translate("Submitted");
          // IMDevPropBag.add('referrer_submission_id', result.data['$id']);
          // this.$parent.next();
          if (Loan.apply_form_flow === "1") {
            window.location.href = this.url + this.translate("/thank-you");
          } else {
            window.location.href = Loan.apply_link;
          }
        });
      }
      return this.$v.$touch();
    }
  },
  validations: function() {
    let Loan = this.$store.state.selectedProductForApply;
    return {
      name: {
        maxLength: maxLength(80),
        minLength: minLength(3),
        regex: regex("regex", /^\S((?!.*  ).*\S)?$/),
        required
      },
      email_address: {
        email,
        required
      },
      phone_number: {
        maxLength: maxLength(13),
        minLength: minLength(9),
        regex: regex("regex", /^[0-9]*$/),
        required
      },
      monthly_salary: {
        minValue: minValue(1000),
        required
      },
      checkbox: {
        required
      },
      loan_amount: {
        required,
        maxValue: maxValue(Loan.max_amount),
        minValue: minValue(Loan.min_amount)
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
@import "./src/scss/modal-drawer.scss";
</style>
