<template>
  <transition name="slide-in">
    <div
      class="modal-drawer wide"
      :class="{ active : isComponentModalActive }"
    >
      <div class="modal-drawer__header">
        <span v-if="component === 'axainsurance'">{{ translate("Redeem Free Coverage") }}</span>
        <span v-else>{{ translate("RHB Apply Form") }}</span>
        <button
          class="button btn-close-mobile rounded-white icon-only"
          @click="close()"
        >
          <i class="sprite close white" />
        </button>
      </div>
      <div class="steps-indicator" v-if="component != 'axainsurance'">
        <div class="b-tabs-track">
          <div
            class="b-tabs-track--active"
            :style="{ width: progressBarWidth + '%'}"
          />
        </div>
        <b-tabs
          v-model="progressBarStep"
        >
          <b-tab-item :icon="breadcrumbClass(1)" />
          <b-tab-item :icon="breadcrumbClass(2)" />
          <b-tab-item :icon="breadcrumbClass(3)" />
          <b-tab-item :icon="breadcrumbClass(4)" />
        </b-tabs>
      </div>

      <div class="modal-form__body">
        <keep-alive>
          <component :is="component" />
        </keep-alive>
      </div>
    </div>
  </transition>
</template>

<script>
import applyForm from './applyForm';
import RHBStepOne from './RHBStepOne.vue';
import RHBStepTwo from './RHBStepTwo.vue';
import RHBStepTree from './RHBStepTree.vue';
import RHBStepFour from './RHBStepFour.vue';
import axainsurance from '../BF/axaFreeInsurance';
// import basicForm from './BasicForm.vue';

export default {
  components: {
    applyForm,
    RHBStepOne,
    RHBStepTwo,
    RHBStepTree,
    RHBStepFour,
    axainsurance
  },
  data: function () {
    return {
      progressBar: -50,
      component: 'applyForm',
      currentSlide: 0,
      progressBarWidth: 0,
      defaultSlide: ['RHBStepOne', 'RHBStepTwo', 'RHBStepTree', 'RHBStepFour' , 'axainsurance'],
      jappData: {
        salutation: '',
        identification_no: '',
        joining_date: '',
        loan_purpose: '',
        is_government_servant: '',
        Branch: '',
        branch_state: '',
        race: '',
        gender: '',
        employment_type: '',
        date_of_birth: '',
        marital_status: '',
        education_level: '',
        dependent: null,
        occupation: '',
        company_name: '',
        office_address: '',
        office_address_1: '',
        office_address_2: '',
        office_postcode: '',
        office_city: '',
        office_state: '',
        office_phone_number: '',
        address: '',
        address_1: '',
        address_2: '',
        postcode: '',
        city: '',
        state: '',
        residential_status: '',
        residential_start_date: '',
        mailing_address_choice: '',
        mother_maiden_name: '',
        emergency_contact_name: '',
        emergency_contact_phone_number: '',
        emergency_relationship: '',
        statement_location: '',
        // Required by Japp
        permanent_address_1: '',
        permanent_address_2: '',
        permanent_address_3: '',
        permanent_city: '',
        home_postcode: '',
        home_state: '',
        employment_status: '',
        emergency_contact_mobile_number: '',
        employment_sector : '',
        name_on_card : ''
        }
    };
  },
  computed: {
    slide () {
    //   if (Loan.nid == '54' || Loan.nid == '75') return this.rhbSlide;
      return this.defaultSlide;
    },
    slideMultiplier () {
      return 100 / (this.slide.length - 1);
    },
    progressBarSize () {
    //   if (Loan.nid == '54' || Loan.nid == '75') return 34;
    //   else return 50;
      return 50;
    },
    skipEmployment () {
      return (
        this.jappData.employment_type &&
        this.jappData.employment_type === 'Unemployed'
      );
    }
  },
  created: function () {
    // this.triggerEvent(
    //   region.toUpperCase() + '-' + lang.toUpperCase() + '-PL-' + 'SQLOADED',
    //   {
    //     step: this.currentSlide,
    //     userInformation: {}
    //   }
    // );
  },
  methods: {
    close () {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "closeForm",
        submit_type: this.$store.state.applyBtnFrom,
        product_id: Loan.nid,
        product_name: Loan.title,
        form_step: this.currentSlide,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.close();
    },
    breadcrumbClass: function (breadcrumbNumber) {
      let returnClass = 'progress-step';
      if (breadcrumbNumber < this.currentSlide) {
        returnClass = 'progress-step is-tick';
      }
      return returnClass;
    },
    prev: function () {
      // if (this.currentSlide === 3 && this.skipEmployment) {
      //   this.currentSlide = this.currentSlide - 2;
      //   this.progressBar = (this.currentSlide - 1) * this.slideMultiplier;
      // } else {
      //   this.currentSlide > 1 ? this.currentSlide-- : this.currentSlide;
      //   this.progressBar = (this.currentSlide - 1) * this.slideMultiplier;
      // }
      this.currentSlide -= 1;
      this.progressBarStep -= 1;
      this.update();
     // this.update();
    },
    next: function () {
      // this.progressBarWidth += 50;
      this.currentSlide += 1;
      this.update();
    },
    update: function () {
     // this.component = this.defaultSlide[this.currentSlide - 1];
      if(this.defaultSlide[this.currentSlide - 1] == undefined){
       this.component = 'applyForm';
        } else {
       this.component = this.defaultSlide[this.currentSlide - 1];
     }
    }

  },
  validations: {}
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
@import "./src/scss/modal-drawer.scss";

</style>
