<template>
  <form data-step="4" @submit.prevent="submitFinal">
    <div class="apply-form">
      <h4>{{ translate('Step 4') }}</h4>
      <h5>{{ translate('Final step to complete your application!') }}</h5>
      <br />
      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label>{{ translate('Purpose of Loan?') }}</label>
          <select
            v-model.trim="loan_purpose"
            name="loan_purpose"
            data-description="Purpose"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.loan_purpose.$error}"
          >
            <option value disabled selected>{{ translate('Choose one') }}</option>
            <option
              v-for="(item, index) in purposeOfLoan"
              :key="index"
              :value="item.Code"
            >{{ translate(item.Description) }}</option>
          </select>
          <div v-for="(rule, index) in $v.loan_purpose.$params" :key="index">
            <span
              v-if="validate($v.loan_purpose,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('loan_purpose',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12 col-md-12">
          <label>{{ translate('Statement Location') }}</label>
          <select
            v-model.trim="statement_location"
            name="statement_location"
            data-description="statement_location"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.statement_location.$error}"
          >
            <option value="R">{{ translate('Home') }}</option>
            <option value="O">{{ translate('Office') }}</option>
          </select>
          <div v-for="(rule, index) in $v.loan_purpose.$params" :key="index">
            <span
              v-if="validate($v.statement_location,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('statement_location',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{ translate('Mother Maiden\'s Name') }}</label>
          <input
            v-model.trim="mother_maiden_name"
            type="text"
            name="mother_maiden_name"
            data-description="Mother Maiden Name"
            :placeholder="translate('Mother Maiden\'s Name')"
            class="form-control"
            :class="{'parsley-error': $v.mother_maiden_name.$error}"
            @input="$v.mother_maiden_name.$touch()"
          />
          <div v-for="(rule, index) in $v.mother_maiden_name.$params" :key="index">
            <span
              v-if="validate($v.mother_maiden_name,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('mother_maiden_name',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{ translate('Emergency Contact Name') }}</label>
          <input
            v-model.trim="emergency_contact_name"
            type="text"
            name="emergency_contact_name"
            data-description="Emergency Contact Name"
            :placeholder="translate('Emergency Contact Name')"
            class="form-control"
            :class="{'parsley-error': $v.emergency_contact_name.$error}"
            @input="$v.emergency_contact_name.$touch()"
          />
          <div v-for="(rule, index) in $v.emergency_contact_name.$params" :key="index">
            <span
              v-if="validate($v.emergency_contact_name,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('emergency_contact_name',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="form-group columns is-mobile is-multiline emergencyContactNumber">
        <div class="column is-12 paddingleft">
          <label>{{ translate('Emergency Contact Phone Number') }}</label>
        </div>
        <div class="column is-3 paddingleft">
          <input
            v-model="country_code"
            type="text"
            :placeholder="translate('019')"
            maxlength="3"
            class="form-control"
            :class="{'parsley-error': $v.country_code.$error}"
            @input="$v.country_code.$touch()"
          />
          <form-field-error-message
            :validation-obj="$v.country_code"
            validation-label="This"
            regex-error-msg=" only allows number"
          />
        </div>
        <div class="column is-9 form-dash">
          <input
            v-model.trim="phone_number"
            type="text"
            data-description="Emergency Contact Phone Number"
            placeholder="3456789"
            class="form-control"
            :class="{'parsley-error': $v.phone_number.$error}"
            maxlength="8"
            @input="$v.phone_number.$touch()"
          />
          <form-field-error-message
            :validation-obj="$v.phone_number"
            validation-label="This"
            regex-error-msg=" only allows number"
          />
          <!-- <div v-for="(rule, index) in $v.emergency_contact_phone_number.$params" v-bind:key="index">
              <span class="help is-danger" v-if="validate($v.emergency_contact_phone_number,rule.type)">
                  {{ getErrotmessage('emergency_contact_phone_number',rule.type)}}
              </span>
          </div>-->
        </div>
      </div>
      <div class="form-group">
        <label>{{ translate('Relationship with Emergency Contact') }}</label>

        <select
            v-model.trim="emergency_relationship"
            name="Emergency contact relationship"
            data-description="Emergency"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.emergency_relationship.$error}"
          >
            <option value disabled selected>{{ translate('Choose one') }}</option>
            <option
              v-for="(item, index) in relationships"
              :key="index"
              :value="item.Code"
            >{{ translate(item.Description) }}</option>
          </select>

        <div v-for="(rule, index) in $v.emergency_relationship.$params" :key="index">
          <span
            v-if="validate($v.emergency_relationship,rule.type)"
            class="help is-danger"
          >{{ getErrotmessage('emergency_relationship',rule.type) }}</span>
        </div>
      </div>

      <div class="form-group a-center" style="margin-top:20px;">
        <div class="col-md-12 col-xs-12">
          <button
            id="prequalify-btn"
            :disabled="Submit != translate('Submit')"
            type="submit"
            tabindex="-1"
            data-subject="User"
            data-action="Submit"
            data-description="Pre-Qualify Apply Form"
            data-region="Product Apply Popup"
            data-vertical="Personal Loan"
            class="btn-next button orange is-fullwidth has-text-center"
            :data-value="productTitle"
            data-step="4"
            :data-title="productTitle"
          >{{ Submit }}</button>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
           <button type="button" v-on:click="prev" class="btn-next button no-style is-fullwidth has-text-center" style="display: block;">{{translate('Back')}}</button> 
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { submitToJapp, getProductData } from "helper.js";
import FormFieldErrorMessage from "./FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
import facilityPurpose from "./facilityPurpose.json";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    return {
      productTitle: "",
      Submit: this.translate("Submit"),
      relationships: [
        {
          Code: "07",
          Description: "Father"
        },
        {
          Code: "08",
          Description: "Mother"
        },
        {
          Code: "09",
          Description: "Brother"
        },
        {
          Code: "10",
          Description: "Sister"
        },
        {
          Code: "11",
          Description: "Spouse"
        },
        {
          Code: "12",
          Description: "Son"
        },
        {
          Code: "13",
          Description: "Daughter"
        },
        {
          Code: "14",
          Description: "Uncle"
        },
        {
          Code: "15",
          Description: "Aunt"
        }
      ],
      purposeOfLoan: facilityPurpose,
      loan_purpose: "",
      country_code: "",
      mother_maiden_name: "",
      emergency_contact_name: "",
      emergency_contact_phone_number: "",
      applybtnfrom:this.$store.state.applyBtnFrom,
      emergency_relationship: "",
      statement_location: "R",
      phone_number: "",
      url: this.$store.state.urlRedirect
    };
  },
  computed: {
    isEmployed: function() {
      return this.$parent.jappData.employment_type != "Unemployed";
    }
  },
  methods: {
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "3",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 3;
      this.$parent.progressBarWidth -= 30;
      this.$parent.prev();
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      let erroMessagesObj = {
        country_code: {
          required,
          minLength: minLength(2),
          maxLength: maxLength(4),
          regex: regex("regex", /^[0-9]+$/)
        },
        phone_number: {
          required,
          minLength: minLength(7),
          maxLength: maxLength(8),
          regex: regex("regex", /^[0-9]+$/)
        },
        emergency_contact_name: {
          maxLength:
            "The name entered is too long. How about trying a shorter name?",
          minLength: "Please enter the name with at least 3 letters",
          required: "Your emergency contact name is required"
        },
        emergency_relationship: {
          required: "Please select your relationship with emergency contact"
        },
        loan_purpose: {
          required: "Please select your loan purpose"
        },
        mother_maiden_name: {
          maxLength:
            "The name entered is too long. How about trying a shorter name?",
          minLength: "Please enter the name with at least 3 letters",
          required: "Your mother's maiden name is required"
        },
        statement_location: {
          required: "Please select your statement location"
        }
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    submitFinal: function() {
      this.emergency_contact_phone_number =
        this.country_code && this.phone_number
          ? this.country_code + this.phone_number
          : "";
 
      if (!this.$v.$invalid) {
        let loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "submitDetails",
          submit_type: this.applybtnfrom,
          product_id: loan.nid,
          product_name: loan.title,
          product_brand: loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: loan.productInterestRate,
          // track_id : userManager.data.trackId,
          event_lang: "en"
          // user_device :WURFL.form_factor,
          // referrer_source : userManager.utms.utmcsr,
          // referrer_medium : userManager.utms.utmcmd
        };
        dataLayer.push(data);
        this.$parent.progressBarStep = 4;
        IMDevPropBag.add("prequalify_current_step", 5);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "complete");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        this.Submit = this.translate("Please Wait");
        this.$parent.jappData.loan_purpose = this.loan_purpose;
        this.$parent.jappData.mother_maiden_name = this.mother_maiden_name;
        this.$parent.jappData.emergency_contact_name = this.emergency_contact_name;
        this.$parent.jappData.emergency_contact_phone_number = this.emergency_contact_phone_number;
        this.$parent.jappData.emergency_relationship = this.emergency_relationship;
        this.$parent.jappData.statement_location = this.statement_location;

        if (this.statement_location === "1" || !this.isEmployed) {
          this.$parent.jappData.permanent_address_1 = this.$parent.jappData.address;
          this.$parent.jappData.permanent_address_2 = this.$parent.jappData.address_1;
          this.$parent.jappData.permanent_address_3 = this.$parent.jappData.address_2;
          this.$parent.jappData.permanent_city = this.$parent.jappData.city;
          this.$parent.jappData.state = this.$parent.jappData.home_state;
          this.$parent.jappData.postcode = this.$parent.jappData.home_postcode;
        } else {
          this.$parent.jappData.permanent_address_1 = this.$parent.jappData.office_address;
          this.$parent.jappData.permanent_address_2 = this.$parent.jappData.office_address_1;
          this.$parent.jappData.permanent_address_3 = this.$parent.jappData.office_address_2;
          this.$parent.jappData.permanent_city = this.$parent.jappData.office_city;
          this.$parent.jappData.state = this.$parent.jappData.office_state;
          this.$parent.jappData.postcode = this.$parent.jappData.office_postcode;
        }

        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          // this.Submit = this.translate("Submitted");
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 3;
          this.$parent.progressBarWidth = 99;
          this.$parent.next();
          // Check if flow ID - > 2 is STB
          // if (loan.apply_form_flow === "2") {
          //   window.location.href = loan.apply_link;
          // } else {
          //   window.location.href =
          //     this.url + this.translate("/thank-you") + "?prequalify";
          // }
        });
      }
      return this.$v.$touch();
    }
  },
  validations: function() {
    return {
      country_code: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(4),
        regex: regex("regex", /^[0-9]+$/)
      },
      phone_number: {
        required,
        minLength: minLength(7),
        maxLength: maxLength(8),
        regex: regex("regex", /^[0-9]+$/)
      },
      emergency_contact_name: {
        minLength: minLength(3),
        maxLength: maxLength(30),
        required
      },
      emergency_relationship: {
        required
      },
      loan_purpose: {
        required
      },
      mother_maiden_name: {
        minLength: minLength(3),
        maxLength: maxLength(30)
      },
      statement_location: {
        required
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

.emergencyContactNumber {
  margin-top: 10px;
  .column {
    padding: 0 7px;
  }
  .form-dash:before {
    left: -1%;
  }
}
</style>
