<template>
  <form data-step="2" @submit.prevent="next">
    <div class="apply-form">
      <h4>{{ translate('Employment') }}</h4>
      <h5>{{ translate('2 More Steps to Complete') }}</h5>

      <div class="row" v-if="disableOccupation">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{ translate('Occupation') }}</label>
          <select
            v-model.trim="occupation"
            name="occupation"
            data-description="Purpose"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.occupation.$error}"
          >
            <option value disabled selected>{{ translate('Choose one') }}</option>
            <option
              v-for="(item) in occupations"
              :key="item.Code"
              :value="item.Code"
            >{{ translate(item.Description) }}</option>
          </select>

          <div v-for="(rule,index) in $v.occupation.$params" :key="index">
            <span
              v-if="validate($v.occupation,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('occupation',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row" v-if="showEmploymentSector()">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{ translate('Employment Sector') }}</label>
          <select
           v-model.trim="employment_sector"
            class="form-control"
            name="employment_sector"
            :class="{'parsley-error': $v.employment_sector.$error}"
          >
            <option value disabled selected>{{ translate('Choose one') }}</option>
            <option
              v-for="(item) in employmentSectors"
              :key="item.Code"
              :value="item.Code"
            >{{ translate(item.Description) }}</option>
          </select>
          <div v-for="(rule,index) in $v.employment_sector.$params" :key="index">
            <span
              v-if="validate($v.employment_sector,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('employment_sector',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>Name on card</label>
          <input
            v-model.trim="name_on_card"
            type="text"
            name="name_on_card"
            data-description="name on card"
            placeholder="Name on Card"
            class="form-control"
            :class="{'parsley-error': $v.name_on_card.$error}"
            @input="$v.name_on_card.$touch()"
          />
          <div v-for="(rule, index) in $v.name_on_card.$params" :key="index">
            <span
              v-if="validate($v.name_on_card,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('name_on_card',rule.type) }}</span>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{ translate(lblCompanyName) }}</label>
          <input
            v-model.trim="company_name"
            type="text"
            name="company_name"
            data-description="Company Name"
            :placeholder="translate(lblCompanyName)"
            class="form-control"
            :class="{'parsley-error': $v.company_name.$error}"
            @input="$v.company_name.$touch()"
          />
          <div v-for="(rule, index) in $v.company_name.$params" :key="index">
            <span
              v-if="validate($v.company_name,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('company_name',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>{{ translate(lblJoiningDate) }}</label>
        <div class="columns is-mobile">
          <div class="column is-6 paddingleft">
            <div class="input-group">
              <select
                id="month"
                v-model="month"
                v-model.trim="month"
                name="month"
                data-description="Employment Date Joined Month"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.month.$error}"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option value="1">{{ translate('January') }}</option>
                <option value="2">{{ translate('February') }}</option>
                <option value="3">{{ translate('March') }}</option>
                <option value="4">April</option>
                <option value="5">{{ translate('May') }}</option>
                <option value="6">{{ translate('June') }}</option>
                <option value="7">{{ translate('July') }}</option>
                <option value="8">{{ translate('August') }}</option>
                <option value="9">{{ translate('September') }}</option>
                <option value="10">{{ translate('October') }}</option>
                <option value="11">November</option>
                <option value="12">{{ translate('December') }}</option>
              </select>
              <div id="parsley-id-5814" />
              <div class="input-group-addon">{{ translate('month') }}</div>
            </div>
            <form-field-error-message :validation-obj="$v.month" validation-label="This" />
          </div>
          <div class="column is-6">
            <div class="input-group">
              <select
                id="year"
                v-model="year"
                name="year"
                data-description="Employment Date Joined Year"
                tabindex="-1"
                :class="{'parsley-error': $v.month.$error}"
                class="form-control chosen-select"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option v-for="(year,index) in listYears" :key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-0457" />
              <div class="input-group-addon">{{ translate('year') }}</div>
            </div>
            <form-field-error-message :validation-obj="$v.year" validation-label="This" />
            <div v-for="(rule, index) in $v.joining_date.$params" :key="index">
              <span
                v-if="validate($v.joining_date,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('joining_date',rule.type) }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="officeAddress form-group columns is-mobile is-multiline">
        <div class="column is-12 paddingleft">
          <label>{{ translate('Office Address') }}</label>
          <input
            v-model.trim="office_address"
            type="text"
            data-description="Office Address 1"
            :placeholder="translate('Office Address line 1')"
            class="form-control"
            :class="{'parsley-error': $v.office_address.$error}"
            @input="$v.office_address.$touch()"
          />
          <div v-for="(rule, index) in $v.office_address.$params" :key="index">
            <span
              v-if="validate($v.office_address,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('office_address',rule.type) }}</span>
          </div>
        </div>
        <div class="column is-12 paddingleft">
          <input
            v-model.trim="office_address_1"
            type="text"
            data-description="Office Address 2"
            :placeholder="translate('Office Address line 2')"
            class="form-control"
            :class="{'parsley-error': $v.office_address_1.$error}"
            @input="$v.office_address_1.$touch()"
          />
        </div>
        <div class="column is-12 paddingleft">
          <input
            v-model.trim="office_address_2"
            type="text"
            data-description="Office Address 3"
            :placeholder="translate('Office Address line 3')"
            class="form-control"
            :class="{'parsley-error': $v.office_address_2.$error}"
            @input="$v.office_address_2.$touch()"
          />
          <div v-for="(rule, index) in $v.office_address_2.$params" :key="index">
            <span
              v-if="validate($v.office_address_2,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('office_address_2',rule.type) }}</span>
          </div>
        </div>
        <div class="column is-4 paddingleft">
          <input
            v-model.trim="office_postcode"
            type="number"
            data-description="office_postcode"
            :placeholder="translate('Office Postcode')"
            class="form-control"
            :class="{'parsley-error': $v.office_postcode.$error}"
            @input="$v.office_postcode.$touch()"
          />
          <div v-for="(rule, index) in $v.office_postcode.$params" :key="index">
            <span
              v-if="validate($v.office_postcode,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('office_postcode',rule.type) }}</span>
          </div>
        </div>
        <div class="column is-4">
          <input
            v-model.trim="office_city"
            type="text"
            data-description="office_city"
            :placeholder="translate('Office City')"
            :class="{'parsley-error': $v.office_city.$error}"
            class="form-control"
            @input="$v.office_city.$touch()"
          />
          <div v-for="(rule, index) in $v.office_city.$params" :key="index">
            <span
              v-if="validate($v.office_city,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('office_city',rule.type) }}</span>
          </div>
        </div>
        <div class="column is-4">
          <select
            v-model.trim="office_state"
            data-description="Office State"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.office_state.$error}"
          >
            <option value disabled selected>{{ translate('State') }}</option>
            <option v-for="(item, index) in easyrhb" 
            :key="index" 
            :value=item.Code>{{ toTitleCase(item.Description) }}</option>
          </select>
          <div v-for="(rule, index) in $v.office_state.$params" :key="index">
            <span
              v-if="validate($v.office_state,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('office_state',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="officeNumber form-group columns is-mobile is-multiline">
        <div class="column is-12 col-xs-12 paddingleft">
          <label>{{ translate('Office Number') }}</label>
        </div>
        <div class="column is-3 col-xs-3 paddingleft">
          <input
            v-model="country_code"
            type="text"
            :placeholder="translate('603')"
            maxlength="3"
            class="form-control"
            :class="{'parsley-error': $v.country_code.$error}"
            @input="$v.country_code.$touch()"
          />
          <form-field-error-message
            :validation-obj="$v.country_code"
            validation-label="This"
            regex-error-msg=" is not valid"
          />
        </div>
        <div class="column is-9 form-dash">
          <input
            v-model.trim="phone_number"
            type="text"
            data-description="phone_number"
            maxlength="8"
            placeholder="62345678"
            class="form-control"
            :class="{'parsley-error': $v.phone_number.$error}"
            @input="$v.phone_number.$touch()"
          />
          <form-field-error-message
            :validation-obj="$v.phone_number"
            validation-label="This"
            regex-error-msg=" only allows number"
          />
        </div>
      </div>

      <div style="margin-top:20px;">
        <button
          type="button"
          class="btn-next button blue is-fullwidth has-text-center"
          data-step="2"
          data-subject="User"
          data-action="Submit"
          :data-value="productTitle"
          :data-title="productTitle"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
          @click="next"
        >{{ applyNow }}</button>
         <button type="button" v-on:click="prev" class="btn-next button no-style is-fullwidth has-text-center" style="display: block;">{{translate('Back')}}</button>
      </div>
    </div>
  </form>
</template>

<script>
import {
  creatArrayRange,
  submitToJapp,
  sortObjAscending,
  getProductData,
  toTitleCase
} from "helper.js";
import easyRhbJson from "./easyrhb.json";
import stateRhbJson from "./stateslist.json";
import FormFieldErrorMessage from "./FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex, withParams } from "vuelidate/lib/validators/common";
import occupations from "./occupations.json";
import employmentSectors from "./employmentSectors.json";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    const listOfStates = Object.assign(stateRhbJson);
    return {
      url: this.$store.state.urlRedirect,
      productTitle: "",
      applyNow: this.translate("Next"),
      company_name: "",
      office_address: "",
      office_address_1: "",
      office_address_2: "",
      office_postcode: "",
      easyrhb: sortObjAscending(listOfStates),
      office_city: "",
      phone_number: "",
      office_phone_number: "",
      occupation_other: "",
      country_code: "",
      office_state: "",
      month: "",
      day: "01",
      year: "",
      occupation: "",
      occupations: occupations,
      employmentSectors: employmentSectors,
      employment_sector: "",
      name_on_card: "",
      disableOccupation: false,
      applybtnfrom:this.$store.state.applyBtnFrom
    };
  },
  computed: {
    listYears: function() {
      return creatArrayRange(2000, new Date().getFullYear()).reverse();
    },
    joining_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    },
    lblCompanyName: function() {
      return this.$parent.jappData.employment_type === "Self-employed"
        ? "Company Name"
        : "Employer Name";
    },
    lblJoiningDate: function() {
      return this.$parent.jappData.employment_type === "Self-employed"
        ? "When did you start your current company?"
        : "When did you join your current company?";
    }
  },
  methods: {
    toTitleCase,
    showEmploymentSector: function() {
      return ["01", "02", "07", "08", "09", "10"].indexOf(
        this.$parent.jappData.employment_type
      ) >= 0
        ? true
        : false;
    },
    defaultOccupation: function() {
      if (this.$parent.jappData.employment_type == "03") {
        this.occupation = "050";
      } else if (this.$parent.jappData.employment_type == "06") {
        this.occupation = "104";
      } else if (this.$parent.jappData.employment_type == "05") {
        this.occupation = "087";
      } else if (this.$parent.jappData.employment_type == "04") {
        this.occupation = "080";
      }else {
        this.disableOccupation = true
      }
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      let erroMessagesObj = {
        company_name: {
          maxLength:
            "The company name entered is too long. How about trying a shorter name?",
          minLength: "Please enter your company name with at least 3 letters",
          required: "Your company name is required"
        },
        joining_date: {
          required: "This value should not be blank."
        },
        occupation: {
          required: "Please select your occupation"
        },
        employment_sector: {
          required: "Please select your Employment Sector"
        },
        office_address: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        office_address_1: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short"
        },
        office_address_2: {
          maxLength: "The address entered is too long",
          minLength: ""
        },
        office_city: {
          maxLength: "Please enter a valid city name",
          minLength: "Please enter your city with at least 3 letters",
          required: "Your city is required",
          regex: "City should be in alphabet only",
        },
        office_phone_number: {
          required: "Your office phone number is required"
        },
        office_postcode: {
          maxLength: "The postcode entered is too long",
          minLength: "The postcode entered is short",
          required: "Your postcode is required",
          regex: "Your postcode is not valid"
        },
        office_state: {
          required: "Please select your state"
        },
        name_on_card: {
          required: "Name on card is required",
           maxLength: "value you entered is too long",
           regex: "Please enter your valid name",
        },
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    next: function() {
      this.office_phone_number =
        this.country_code && this.phone_number
          ? this.country_code + this.phone_number
          : "";
      if (!this.$v.$invalid) {
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          submit_type: this.applybtnfrom,
          form_step: "3",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        this.$parent.jappData.company_name = this.company_name;
        this.$parent.jappData.joining_date = this.joining_date;
        this.$parent.jappData.name_on_card = this.name_on_card;
        this.$parent.jappData.office_address_1 = this.office_address_1;
        this.$parent.jappData.office_address_2 = this.office_address_2;
        this.$parent.jappData.office_address = this.office_address;
        this.$parent.jappData.office_postcode = this.office_postcode;
        this.$parent.jappData.office_city = this.office_city;
        this.$parent.jappData.office_state = this.office_state;
        this.$parent.jappData.office_phone_number = this.office_phone_number;
        this.$parent.jappData.employment_sector = this.employment_sector;
        this.$parent.jappData.occupation = this.occupation;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 3);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          this.$parent.progressBarStep = 2;
          this.$parent.progressBarWidth = 65;
          this.applyNow = this.translate("Next");
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "1",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 1;
      this.$parent.progressBarWidth -= 33;
      this.$parent.prev();
    }
  },
  created: function () {
    this.defaultOccupation();
    this.showEmploymentSector();
  },
  validations: function() {
    let validationObj = {
      country_code: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(4),
        regex: regex("regex", /^(6?0[3-9])$/)
      },
      phone_number: {
        required,
        minLength: minLength(7),
        maxLength: maxLength(8),
        regex: regex("regex", /^[0-9]+$/)
      },
      month: {
        required
      },
      year: {
        required
      },
      company_name: {
        required,
        // fix
        maxLength: maxLength(30),
        minLength: minLength(3)
      },
      joining_date: {
        required
      },
      occupation: {
        required
      },
      employment_sector: {
        required
      },
      office_address: {
        required,
        maxLength: maxLength(20),
        minLength: minLength(2)
      },
      office_address_1: {
        maxLength: maxLength(30),
        minLength: minLength(3)
      },
      office_address_2: {
        maxLength: maxLength(30),
        minLength: minLength(0)
      },
      office_city: {
        required,
        maxLength: maxLength(20),
        regex: regex("regex", /^[a-zA-Z\s]*$/),
      },
      office_phone_number: {
        required
      },
      office_postcode: {
        regex: withParams({ type: "regex" }, value => {
          return /(^\d)\1{4}$/.test(value) ? false : true;
        }),
        required,
        maxLength: maxLength(5),
        minLength: minLength(5)
      },
      office_state: {
        required
      },
      name_on_card: {
        required,
        maxLength: maxLength(19),
        regex: regex("regex", /^[a-zA-Z\s]*$/)
      }
    };
    if (this.showEmploymentSector()) {
      return validationObj;
    } else {
      validationObj["employment_sector"] = {};
      return validationObj;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

.officeNumber {
  margin-top: 5px;
  .column {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
.form-dash::before {
  left: -1%;
}
</style>
