<template>
  <div class="apply-form">
    <form data-step="1" @submit.prevent="next">
      <div>
        <h4>{{ translate('Basic Information') }}</h4>
        <h5>{{ translate('3 More Steps to Complete') }}</h5>
        <div class="row selectBranch">
          <div class="form-group col-xs-12">
            <label>{{ translate('Please select your nearest Easy Outlet') }}</label>
            <select
              v-model.trim="branch_state"
              name="branch_state"
              data-description="Branch State"
              tabindex="-1"
              @change="stateListChange()"
              class="form-control"
              :class="{'parsley-error': $v.branch_state.$error}"
            >
              <option value disabled selected>{{ translate('State') }}</option>
              <option
                v-for="(item, index) in easyrhb"
                :key="index"
                :value="item"
              >{{ toTitleCase(item.Description) }}</option>
            </select>
            <div v-for="(rule, index) in $v.branch_state.$params" :key="index">
              <span
                v-if="validate($v.branch_state,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('branch_state',rule.type) }}</span>
            </div>
            <select
              v-model.trim="Branch"
              name="Branch"
              tabindex="-1"
              class="form-control"
              :class="{'parsley-error': $v.Branch.$error}"
            >
              <option value disabled selected>{{ translate('Easy Outlet') }}</option>
              <option
                v-for="(item, index) in BranchList"
                :key="index"
                :value="item.Branch"
              >{{ item.Branch }}</option>
            </select>
            <div v-for="(rule, index) in $v.Branch.$params" :key="`branch${index}`">
              <span
                v-if="validate($v.Branch,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('Branch',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="form-group employed">
          <label>{{ translate('Race') }}</label>
          <ul class="btns-radio btns-radio-switch2 fiveoptions">
            <li v-for="(item, index) in races" :key="index">
              <input
                :id="item.value"
                v-model="race"
                type="radio"
                name="race"
                :value="item.code"
                tabindex="-1"
              />
              <label :for="item.value">{{ translate(item.value) }}</label>
            </li>
          </ul>
          <div v-for="(rule, index) in $v.race.$params" :key="index">
            <span
              v-if="validate($v.race,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('race',rule.type) }}</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12 col-xs-12">
            <label>{{ translate('Marital Status') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in martialStatuses" :key="index">
                <input
                  :id="item.value"
                  v-model="marital_status"
                  type="radio"
                  :value="item.code"
                  name="marital_status"
                  @change="updateMaritalStatus"
                />
                <label :for="item.value">{{ translate(item.value) }}</label>
              </li>
            </ul>
            <div v-for="(rule,index) in $v.marital_status.$params" :key="index">
              <span
                v-if="validate($v.marital_status,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('marital_status',rule.type) }}</span>
            </div>
          </div>
        </div>
        <div
          v-if="marital_status === 'Married' || marital_status === 'Divorced' || marital_status === 'Widowed'"
          class="row"
        >
          <div class="form-group col-md-12 col-xs-12">
            <label>{{ translate('Number of Dependent') }}</label>
            <select
              v-model.trim="dependent"
              name="dependent"
              data-description="Dependent"
              tabindex="-1"
              class="form-control"
            >
              <option value disabled selected>{{ translate('Choose one') }}</option>
              <option
                v-for="(item, index) in no_of_dependents"
                :key="index+1"
                :value="index"
              >{{ index }}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 col-xs-12">
            <label>{{ translate('Education Level') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions edu-level">
              <li v-for="(item, index) in educationlevels" :key="index">
                <input
                  :id="item.value"
                  v-model="education_level"
                  type="radio"
                  :value="item.code"
                  name="education_level"
                />
                <label :for="item.value">{{ translate(item.value) }}</label>
              </li>
            </ul>
            <div v-for="(rule,index) in $v.education_level.$params" :key="index">
              <span
                v-if="validate($v.education_level,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('education_level',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 col-xs-12">
            <label>{{ translate('Employment Type') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in employmentTypes" :key="index">
                <input
                  :id="item.Description"
                  v-model="employment_type"
                  type="radio"
                  :value="item.Code"
                />
                <label :for="item.Description">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule,index) in $v.employment_type.$params" :key="index">
              <span
                v-if="validate($v.employment_type,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('employment_type',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-md-12 col-xs-12">
            <label>{{ translate('income Type') }}</label>
            <ul class="btns-radio btns-radio-switch2 fouroptions">
              <li v-for="(item, index) in employmentStatuses" :key="index">
                <input
                  :id="item.Description"
                  v-model="employment_status"
                  type="radio"
                  :value="item.Code"
                />
                <label :for="item.Description">{{ translate(item.Description) }}</label>
              </li>
            </ul>
            <div v-for="(rule,index) in $v.employment_status.$params" :key="index">
              <span
                v-if="validate($v.employment_status,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('employment_status',rule.type) }}</span>
            </div>
          </div>
        </div>

        <div class="icNumber columns is-multiline is-mobile">
          <div class="column is-12 paddingleft">
            <label>{{ translate('IC Number') }}</label>
          </div>
          <div class="form-group column is-5-tablet is-5-mobile paddingleft">
            <input
              v-model="identification_no_1"
              type="text"
              maxlength="6"
              :class="{'parsley-error': $v.identification_no_1.$error}"
              data-description="ID Number 1"
              :placeholder="translate('891023')"
              class="form-control"
              @input="$v.identification_no_1.$touch()"
            />
            <form-field-error-message
              :validation-obj="$v.identification_no_1"
              validation-label="This"
              regex-error-msg=" only allows number"
            />
          </div>
          <div class="form-group column is-3-tablet is-3-mobile form-dash">
            <input
              v-model="identification_no_2"
              type="text"
              maxlength="2"
              :class="{'parsley-error': $v.identification_no_2.$error}"
              data-description="ID Number 2"
              :placeholder="translate('56')"
              class="form-control"
              @input="$v.identification_no_2.$touch()"
            />
            <form-field-error-message
              :validation-obj="$v.identification_no_2"
              validation-label="This"
              regex-error-msg=" only allows number"
            />
          </div>
          <div class="form-group column is-4-tablet is-4-mobile form-dash">
            <input
              v-model="identification_no_3"
              type="text"
              maxlength="4"
              :class="{'parsley-error': $v.identification_no_3.$error}"
              data-description="ID Number 3"
              :placeholder="translate('5310')"
              class="form-control"
              @input="$v.identification_no_3.$touch()"
            />
            <form-field-error-message
              :validation-obj="$v.identification_no_3"
              validation-label="This"
              regex-error-msg=" only allows number"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-12 col-xs-12">
            <button
              type="submit"
              class="btn-next button blue is-fullwidth has-text-center"
              style="display: block;"
              data-step="1"
              data-subject="User"
              data-action="Submit"
              :data-value="productTitle"
              :data-title="productTitle"
              data-description="Pre-Qualify Apply Form"
              data-vertical="Personal Loan"
              :disabled="applyNow != translate('Next')"
            >{{ applyNow }}</button>
            <button
          type="button"
          class="btn-next button no-style is-fullwidth has-text-center"
          @click="prev"
        >{{ translate('Back') }}</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import { submitToJapp, toTitleCase } from "helper.js";
import easyRhbJson from "./easyrhb.json";
import stateRhbJson from "./stateslist.json";
import newEasyRhb from "./newEasyRhb.json";

import FormFieldErrorMessage from "./FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex } from "vuelidate/lib/validators/common";
export default {
  components: {
    FormFieldErrorMessage
  }, 
  data() {
    return {
      productTitle: "",
      applyNow: this.translate("Next"),
      marital_status: "",
      education_level: "",
      employment_type: "01",
      currentSlide: 1,
      employment_status: "",
      identification_no_1: "",
      identification_no_2: "",
      identification_no_3: "",
      easyrhb: stateRhbJson,
      applybtnfrom:this.$store.state.applyBtnFrom,
      branch_state: "",
      BranchList: [],
      Branch: "",
      dependent: "",
      no_of_dependents: 8,
      race: "",
      educationlevels: [
        {
          code: "01",
          value: "Primary"
        },
        {
          code: "02",
          value: "Secondary/High school"
        },
        {
          code: "03",
          value: "College graduate-certificate/Diploma holder"
        },
        {
          code: "04",
          value: "University Degree/Associate Degree"
        },
        {
          code: "05",
          value: "Master Degree"
        },
        {
          code: "06",
          value: "Doctorate"
        }
      ],
      races: [
        { code: "01", value: "Malaysian - Chinese" },
        { code: "02", value: "Malaysian - Bumiputra - Malay" },
        { code: "03", value: "Malaysian - Bumiputra - Non Malay" },
        { code: "04", value: "Malaysian - Indian" },
        { code: "05", value: "Malaysian - Other Race" },

      ],
      // martialStatuses: ["Single", "Married", "Divorced", "Widowed"],
      martialStatuses: [
        {
          code: "D",
          value: "Divorced"
        },
        {
          code: "M",
          value: "Married"
        },
        {
          code: "E",
          value: "Separated"
        },
        {
          code: "S",
          value: "Single"
        },
        {
          code: "W",
          value: "Widowed"
        }
      ],
      employmentStatuses: [
        {
          Code: "CON",
          Description: "Contract"
        },
        {
          Code: "FRL",
          Description: "Freelance"
        },
        {
          Code: "OTH",
          Description: "Others"
        },
        {
          Code: "PER",
          Description: "Permanent"
        },
        {
          Code: "PRT",
          Description: "Part Time"
        },
        {
          Code: "TMP",
          Description: "Temporary"
        },
        {
          Code: "UPROB",
          Description: "Under Probation"
        }
      ],

        
      // martialStatuses: ["Single", "Married", "Divorced", "Widowed"],
      martialStatuses: [
        {
          code: "D",
          value: "Divorced"
        },
        {
          code: "M",
          value: "Married"
        },
        {
          code: "E",
          value: "Separated"
        },
        {
          code: "S",
          value: "Single"
        },
        {
          code: "W",
          value: "Widowed"
        }
      ],
      employmentStatuses: [
        {
          Code: "CON",
          Description: "Contract"
        },
        {
          Code: "FRL",
          Description: "Freelance"
        },
        {
          Code: "OTH",
          Description: "Others"
        },
        {
          Code: "PER",
          Description: "Permanent"
        },
        {
          Code: "PRT",
          Description: "Part Time"
        },
        {
          Code: "TMP",
          Description: "Temporary"
        },
        {
          Code: "UPROB",
          Description: "Under Probation"
        }
      ],

      employmentTypes: [
        {
          Code: "01",
          Description: "Private Employee"
        },
        {
          Code: "02",
          Description: "Employer"
        },
        {
          Code: "03",
          Description: "Housewife"
        },
        {
          Code: "04",
          Description: "Retired"
        },
        {
          Code: "05",
          Description: "Student"
        },
        {
          Code: "06",
          Description: "Unemployed"
        },
        {
          Code: "07",
          Description: "Self-employed/Own Account Worker"
        },
        {
          Code: "08",
          Description: "Government Employee"
        },
        {
          Code: "09",
          Description: "Reporting Entity Employee"
        },
        {
          Code: "10",
          Description: "Unpaid Family Worker"
        }
      ]
    };
  },
  computed: {
    identification_no: function() {
      return (
        this.identification_no_1 +
        this.identification_no_2 +
        this.identification_no_3
      );
    },
    gender: function() {
      if (this.identification_no_3.substr(3)) {
        return this.identification_no_3.substr(3) % 2 ? "M" : "F";
      }
      return "";
    },
    salutation: function() {
      // 063 for Mrs
      // 062 for MR
      if (this.identification_no_3.substr(3)) {
        return this.identification_no_3.substr(3) % 2 ? "062" : "158";
      }
      return "";
    },
    date_of_birth: function() {
      if (
        this.identification_no_1.substr(0, 2) &&
        this.identification_no_1.substr(0, 2) &&
        this.identification_no_1.substr(4, 2)
      ) {
        var year = this.identification_no_1.substr(0, 2);
        year =
          year > 30 ? parseInt(year, 10) + 1900 : parseInt(year, 10) + 2000;
        var month = this.identification_no_1.substr(2, 2);
        var day = this.identification_no_1.substr(4, 2);
        return year + "-" + month + "-" + day;
      }
      return "";
    },
    checkBranchStateNo: function() {
      let branchState = easyRhbJson[this.branch_state].key;
      // let branchState = parseInt(this.branch_state);
      if (branchState >= 0 && branchState < 10) {
        return `0${branchState}`;
      } else {
        return branchState;
      }
    }
  },
  methods: {
    toTitleCase,
    checkIfNumber(label) {
      if (label) {
      } else {
      }
    },
    stateListChange: function() {
      this.Branch = "";
      let Description = this.branch_state.Description;
      let branchesRelateToState = newEasyRhb.filter(function(value) {
        return (value.State).toUpperCase() === Description;
      });
      this.BranchList = branchesRelateToState
    },
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    next: function() {
      if (!this.$v.$invalid) {
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          form_step: "2",
          submit_type: this.applybtnfrom,
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        this.$parent.jappData.date_of_birth = this.date_of_birth;
        this.$parent.jappData.race = this.race;
        this.$parent.jappData.gender = this.gender;
        this.$parent.jappData.salutation = this.salutation;
        this.$parent.jappData.identification_no = this.identification_no;
        this.$parent.jappData.marital_status = this.marital_status;
        this.$parent.jappData.dependent = this.dependent.toString() || "0"; // make sure it is string type
        this.$parent.jappData.education_level = this.education_level;
        this.$parent.jappData.employment_type = this.employment_type;
        this.$parent.jappData.employment_status = this.employment_status;
        this.$parent.jappData.identification_type = "MK";

        // this.$parent.jappData.branch_state = this.checkBranchStateNo;
        this.$parent.jappData.branch_state = this.branch_state.Code;
        this.$parent.jappData.Branch = this.Branch;
        this.applyNow = this.translate("Please wait");
        IMDevPropBag.add("prequalify_current_step", 2);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("Version", "V5");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);

        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 1;
          this.$parent.progressBarWidth = 30;
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "0",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.currentSlide -= 1;
      this.$parent.progressBarStep = 1;
      this.$parent.progressBarWidth -= 0;
      this.$parent.prev();
    },
    updateMaritalStatus() {
      if (this.marital_status === "Single") this.dependent = 0;
    },
    getErrotmessage: function(field, type) {
      let erroMessagesObj = {
        Branch: {
          required: "Please select your preferred branch"
        },
        branch_state: {
          required: "Please select your state"
        },
        education_level: {
          required: "Please select your education level"
        },
        employment_type: {
          required: "Please select your employment type"
        },
        employment_status: {
          required: "Please select your income Type"
        },
        identification_no_1: {
          required,
          minLength: minLength(6),
          maxLength: maxLength(6)
        },
        identification_no_2: {
          required,
          minLength: minLength(2),
          maxLength: maxLength(2)
        },
        identification_no_3: {
          required,
          minLength: minLength(4),
          maxLength: maxLength(4),
          regex: regex("regex", /^[0-9]+$/)
        },
        marital_status: {
          required: "Please select your marital status"
        },
        race: {
          required: "Please select your race"
        },
        salutation: {
          required
        }
      };
      return this.translate(erroMessagesObj[field][type]);
    }
  },
  validations: function() {
    let addOnValidations = {
      Branch: {
        required
      },
      branch_state: {
        required
      },
      education_level: {
        required
      },
      employment_type: {
        required
      },
      employment_status: {
        required
      },
      identification_no_1: {
        required,
        minLength: minLength(6),
        maxLength: maxLength(6),
        regex: regex("regex", /^[0-9]+$/)
      },
      identification_no_2: {
        required,
        minLength: minLength(2),
        maxLength: maxLength(2),
        regex: regex("regex", /^[0-9]+$/)
      },
      identification_no_3: {
        required,
        minLength: minLength(4),
        maxLength: maxLength(4),
        regex: regex("regex", /^[0-9]+$/)
      },
      marital_status: {
        required
      },
      race: {
        required
      },
      salutation: {
        required
      }
    };
    return addOnValidations;
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";

.selectBranch select:last-of-type {
  margin-top: 10px;
}

.icNumber {
  margin-top: 5px;
  .column {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
</style>
