<template>
  <form data-step="3" @submit.prevent="next">
    <div class="apply-form">
      <h4>{{ translate('Personal Information') }}</h4>
      <h5>{{ translate('1 More Step to Complete') }}</h5>

      <div class="row">
        <div class="form-group col-xs-12">
          <label>{{ translate('Home Address') }}</label>
          <input
            v-model.trim="address"
            type="text"
            data-description="Address 1"
            :placeholder="translate('Home Address line 1')"
            class="form-control"
            :class="{'parsley-error': $v.address.$error}"
            @input="$v.address.$touch()"
          />
          <div v-for="(rule, index) in $v.address.$params" :key="index">
            <span
              v-if="validate($v.address,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('address',rule.type) }}</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <input
            v-model.trim="address_1"
            type="text"
            data-description="Address 2"
            :placeholder="translate('Home Address line 2')"
            class="form-control"
            :class="{'parsley-error': $v.address_1.$error}"
            @input="$v.address_1.$touch()"
          />
          
        </div>
        <div class="form-group col-xs-12">
          <input
            v-model.trim="address_2"
            type="text"
            data-description="Address 3"
            :placeholder="translate('Home Address line 3')"
            class="form-control"
            :class="{'parsley-error': $v.address_2.$error}"
            @input="$v.address_2.$touch()"
          />
          <div v-for="(rule, index) in $v.address_2.$params" :key="index">
            <span
              v-if="validate($v.address_2,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('address_2',rule.type) }}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            v-model.trim="home_postcode"
            type="number"
            data-description="Postcode"
            :placeholder="translate('Postcode')"
            class="form-control"
            :class="{'parsley-error': $v.home_postcode.$error}"
            @input="$v.home_postcode.$touch()"
          />
          <div v-for="(rule, index) in $v.home_postcode.$params" :key="index">
            <span
              v-if="validate($v.home_postcode,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('home_postcode',rule.type) }}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <input
            v-model.trim="city"
            type="text"
            data-description="city"
            :placeholder="translate('City')"
            class="form-control"
            :class="{'parsley-error': $v.city.$error}"
            @input="$v.city.$touch()"
          />
          <div v-for="(rule, index) in $v.city.$params" :key="index">
            <span
              v-if="validate($v.city,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('city',rule.type) }}</span>
          </div>
        </div>
        <div class="form-group col-xs-4">
          <select
            v-model.trim="home_state"
            data-description="Office State"
            tabindex="-1"
            class="form-control"
            :class="{'parsley-error': $v.home_state.$error}"
            @input="$v.home_state.$touch()"
          >
            <option value disabled selected>{{ translate('State') }}</option>
            <option v-for="(item, index) in easyrhb" 
            :key="index"
            :value="item.Code">{{ toTitleCase(item.Description) }}</option>
          </select>
          <div v-for="(rule, index) in $v.home_state.$params" :key="index">
            <span
              v-if="validate($v.home_state,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('home_state',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-12 col-xs-12">
          <label>{{ translate('Resident Status') }}</label>
          <ul class="btns-radio btns-radio-switch2 fouroptions">
            <li v-for="(item, index) in residentStatuses" :key="index">
              <input
                :id="item.Description"
                v-model="residential_status"
                type="radio"
                name="residential_status"
                :value="item.Code"
              />
              <label :for="item.Description">{{ translate(item.Description) }}</label>
            </li>
          </ul>
          <div v-for="(rule, index) in $v.residential_status.$params" :key="index">
            <span
              v-if="validate($v.residential_status,rule.type)"
              class="help is-danger"
            >{{ getErrotmessage('residential_status',rule.type) }}</span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div>
          <label>{{ translate('When did you move in to your current residence?') }}</label>
        </div>
        <div class="columns is-mobile is-multiline">
          <div class="column is-6 paddingleft">
            <div class="input-group">
              <select
                id="month"
                v-model="month"
                v-model.trim="month"
                name="month"
                data-description="Employment Date Joined Month"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.month.$error}"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option value="1">{{ translate('January') }}</option>
                <option value="2">{{ translate('February') }}</option>
                <option value="3">{{ translate('March') }}</option>
                <option value="4">April</option>
                <option value="5">{{ translate('May') }}</option>
                <option value="6">{{ translate('June') }}</option>
                <option value="7">{{ translate('July') }}</option>
                <option value="8">{{ translate('August') }}</option>
                <option value="9">{{ translate('September') }}</option>
                <option value="10">{{ translate('October') }}</option>
                <option value="11">November</option>
                <option value="12">{{ translate('December') }}</option>
              </select>
              <div id="parsley-id-5814" />
              <div class="input-group-addon">{{ translate('month') }}</div>
            </div>
            <form-field-error-message :validation-obj="$v.month" validation-label="This" />
          </div>
          <div class="column is-6">
            <div class="input-group">
              <select
                id="residentYear"
                v-model="year"
                name="year"
                data-description="Employment Date Joined Year"
                tabindex="-1"
                class="form-control chosen-select"
                :class="{'parsley-error': $v.year.$error}"
              >
                <option value disabled selected>{{ translate('Choose one') }}</option>
                <option v-for="(year,index) in listYears" :key="index">{{ year }}</option>
              </select>
              <div id="parsley-id-0457" />
              <div class="input-group-addon">{{ translate('year') }}</div>
            </div>
            <form-field-error-message :validation-obj="$v.year" validation-label="This" />
            <div v-for="(rule, index) in $v.residential_start_date.$params" :key="index">
              <span
                v-if="validate($v.residential_start_date,rule.type)"
                class="help is-danger"
              >{{ getErrotmessage('residential_start_date',rule.type) }}</span>
            </div>
          </div>
        </div>
      </div>

      <div style="margin-top:20px;">
        <button
          type="button"
          class="btn-next button blue is-fullwidth has-text-center"
          style="display: block;"
          data-step="3"
          data-subject="User"
          data-action="Submit"
          :data-value="productTitle"
          :data-title="productTitle"
          data-description="Pre-Qualify Apply Form"
          data-vertical="Personal Loan"
          :disabled="applyNow != translate('Next')"
          @click="next"
        >{{ applyNow }}</button>
         <button type="button" v-on:click="prev" class="btn-next button no-style is-fullwidth has-text-center" style="display: block;">{{translate('Back')}}</button>
      </div>
    </div>
  </form>
</template>

<script>
import { creatArrayRange, submitToJapp, sortObjAscending,toTitleCase } from "helper.js";
import easyRhbJson from "./easyrhb.json";
import stateRhbJson from "./stateslist.json";
import FormFieldErrorMessage from "./FormFieldErrorMessage.vue";
import { required, minLength, maxLength } from "vuelidate/lib/validators";
import { regex, withParams } from "vuelidate/lib/validators/common";

export default {
  components: {
    FormFieldErrorMessage
  },
  data() {
    const extraState = {
      Kelantan: "",
      Labuan: "",
      Putrajaya: "",
      Perlis: ""
    };
    const listOfStates = Object.assign(stateRhbJson);
    return {
      productTitle: "",
      applyNow: this.translate("Next"),
      is_government_servant: "",
      joining_date: "",
      residential_status: "",
      applybtnfrom:this.$store.state.applyBtnFrom,
      easyrhb: sortObjAscending(listOfStates),
      residentStatuses: [
        {
          Code: "PL0001",
          Description: "Own Property"
        },
        {
          Code: "PL0002",
          Description: "Mortgaged"
        },
        {
          Code: "PL0003",
          Description: "Employers"
        },
        {
          Code: "PL0004",
          Description: "Rented"
        },
        {
          Code: "PL0005",
          Description: "Parents"
        }
      ],
      address: "",
      address_1: "",
      address_2: "",
      home_state: "",
      month: "",
      day: "01",
      city: "",
      year: "",
      home_postcode: ""
    };
  },
  computed: {
    listYears: function() {
      return creatArrayRange(2000, new Date().getFullYear()).reverse();
    },
    residential_start_date: function() {
      let month = parseInt(this.month);
      if (month > 0 && month < 10) {
        return this.year + "-" + "0" + this.month + "-" + this.day;
      } else {
        return this.year + "-" + this.month + "-" + this.day;
      }
    }
  },
  methods: {
    toTitleCase,
    validate: function(field, type) {
      return !field[type] && field.$error;
    },
    getErrotmessage: function(field, type) {
      let erroMessagesObj = {
        address: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        address_1: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short"
         
        },
        address_2: {
          maxLength: "The address entered is too long",
          minLength: "The address entered is too short",
          required: "Please enter your address"
        },
        city: {
          maxLength: "Please enter a valid city name",
          minLength: "Please enter your city with at least 3 letters",
          required: "Your city is required",
          regex: "City should be in alphabet only",
        },
        home_postcode: {
          regex: "Your postcode is not valid",
          maxLength: "Please enter a valid postcode",
          minLength: "Please enter a valid postcode",
          required: "Your postcode is required",
        },
        home_state: {
          required: "Please select your state"
        },
        residential_start_date: {
          required: "Your residential start date is required"
        },
        residential_status: {
          required: "Please select your residential status"
        },
        month: {
          required: "This is required"
        },
        year: {
          required: "This is required"
        }
      };
      return this.translate(erroMessagesObj[field][type]);
    },
    next: function() {
      if (!this.$v.$invalid) {
        let Loan = this.$store.state.selectedProductForApply;
        var data = {
          event: "nextStep",
          submit_type: this.applybtnfrom,
          form_step: "4",
          product_id: Loan.nid,
          product_name: Loan.title,
          product_brand: Loan.personalLoanBank.bank.name,
          product_category: "Personal Loan",
          product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
          product_pl_rate: Loan.productInterestRate,
          event_lang: "en"
        };
        dataLayer.push(data);
        this.applyNow = this.translate("Please wait");
        this.$parent.jappData.address = this.address;
        this.$parent.jappData.address_1 = this.address_1;
        this.$parent.jappData.address_2 = this.address_2;
        this.$parent.jappData.home_postcode = this.home_postcode;
        this.$parent.jappData.city = this.city;
        this.$parent.jappData.home_state = this.home_state;
        this.$parent.jappData.residential_status = this.residential_status;
        this.$parent.jappData.residential_start_date = this.residential_start_date;
        this.$parent.jappData.mailing_address_choice = "Yes";
        IMDevPropBag.add("prequalify_current_step", 4);
        IMDevPropBag.add("prequalify_total_steps", 5);
        IMDevPropBag.add("prequalify_status", "incomplete");
        IMDevPropBag.add("prequalify", "true");
        IMDevPropBag.add("SRCREGION", this.applybtnfrom);
        submitToJapp(
          this.$parent.jappData,
          this.$store.state.selectedProductForApply
        ).then(result => {
          this.applyNow = this.translate("Next");
          this.$parent.progressBarStep = 3;
          this.$parent.progressBarWidth = 100;
          this.$parent.next();
        });
      }
      return this.$v.$touch();
    },
    prev: function() {
      let Loan = this.$store.state.selectedProductForApply;
      var data = {
        event: "prevStep",
        submit_type: this.applybtnfrom,
        form_step: "2",
        product_id: Loan.nid,
        product_name: Loan.title,
        product_brand: Loan.personalLoanBank.bank.name,
        product_category: "Personal Loan",
        product_sub_category: Loan.is_islamic ? "Islamic" : "Conventional",
        product_pl_rate: Loan.productInterestRate,
        event_lang: "en"
      };
      dataLayer.push(data);
      this.$parent.progressBarStep = 2;
      this.$parent.progressBarWidth -= 35;
      this.$parent.prev();
    }
  },
  validations: function() {
    return {
      address: {
        minLength: minLength(2),
        maxLength: maxLength(30),
        required
      },
      address_1: {
        minLength: minLength(3),
        maxLength: maxLength(30)
       
      },
      address_2: {
        minLength: minLength(3),
        maxLength: maxLength(30),
      },
      city: {
        maxLength: maxLength(20),
        regex: regex("regex", /^[a-zA-Z\s]*$/),
        required
      },
      home_postcode: {
        regex: withParams(
          { type: "regex" },
          value => {
            return /(^\d)\1{4}$/.test(value) ? false : true;
          }
        ),
        minLength: minLength(5),
        maxLength: maxLength(5),
        required
      },
      home_state: {
        required
      },
      residential_start_date: {
        required
      },
      residential_status: {
        required
      },
      month: {
        required
      },
      year: {
        required
      }
    };
  }
};
</script>

<style lang="scss" scoped>
@import "./src/scss/my/apply-form.scss";
</style>
