
<template>
  <!-- <form action novalidate @submit.prevent="onSubmit" autocomplete="off"> --->
  <div>
    <div class="modal-eligibility-a__body container">
      <span
        class="modal-subtitle has-text-centered is-hidden-mobile"
      >Iris is our experienced Personal Loan agent who can help you to filter the most suitable loans for you!</span>
      <div class="modal-eligibility-a__body--wrap columns">
        <!-- Hero Image -->
        <div
          class="eligibility-image column is-4-desktop is-offset-1-desktop is-4-tablet is-offset-1-tablet is-hidden-mobile"
        >
          <div class="eligibility-image--chatbot"></div>
          <div v-if="answers.length === 0" class="start-here"></div>
        </div>
        <!-- Section: SmartSearch Box -->
        <div id="eligibility-chatbot" class="column is-5-desktop is-6-tablet eligibility-chatbot">
          <div class="eligibility-chatbot--component">
            <!-- Section: Chat header bar -->
            <div class="eligibility-chatbot--component__header is-hidden-mobile">
              <span>Iris</span> from iMoney
            </div>
            <!-- Section: Chat window -->
            <div id="desktopmsg" class="eligibility-chatbot--component__body">
              <div id="chatbot-content" class="component-content">
                <ChatBubble
                  :conversations="messages"
                  :loading="loading"
                  :inputValidated="inputValidated"
                  :handleRadio="handleRadio"
                  :resultContainer="resultContainer"
                  :answeredRadio="answeredRadio"
                  :applyFilter="applyFilter"
                />
              </div>
            </div>
            <!-- ========================== -->
            <Input
              v-show="isActive && currentQuestion.type != 'Radio'"
              :question="currentQuestion"
              :submitAnswer="submitAnswer"
              :updateChatLog="updateChatLog"
              :updateUserMessages="updateUserMessages"
              :inputValidated="inputValidated"
              :radioValue="radioValue"
              :handleBtnDisable="handleBtnDisable"
              :isActive="isActive"
              :setValidationErr="setValidationErr"
              :loading="loading"
              :updateAnsweredRadio="updateAnsweredRadio"
            />
          </div>
          <!-- Validation message -->
          <div v-if="errMessage && !loading" class="chat-validation">
            <span class="chat-validation--bubble help is-danger">{{ errMessage }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </form> --->
</template>

<script>
import Input from "./Input";
import ChatBubble from "./ChatBubble";
export default {
  props: [
    "answers",
    "submitAnswer",
    "messages",
    "updateChatLog",
    "userMessages",
    "updateUserMessages",
    "updateAnsweredRadio",
    "answeredRadio",
    "applyFilter",
    "onSubmit",
    "loading",
    "currentQuestion",
    "inputValidated",
    "resultContainer",
    "isActive",
    "errMessage"
  ],
  components: {
    Input,
    ChatBubble
  },
  methods: {
    handleBtnDisable(val) {
      this.inputValidated = val;
    },
    handleRadio(disable, value) {
      this.handleBtnDisable(disable);
      this.radioValue = value;
      const item = {
        id: this.currentQuestion.id,
        fieldName: this.currentQuestion.inputName,
        dataDescription: this.currentQuestion.dataDescription,
        title: value,
        value: value,
        responder: "user"
      };
      this.updateUserMessages(item);
      this.updateAnsweredRadio(this.currentQuestion.inputName, this.currentQuestion.dataDescription);
      this.submitAnswer(this.currentQuestion.id, this.currentQuestion.dataDescription);
      this.radioValue = "";
    },
    setValidationErr(msg) {
      this.errMessage = msg;
    }
  }
};
</script>
