<template>
  <div>
    <div v-for="message in conversations" :key="message.id">
      <div class="chat-wrap">
        <div :class="`${message.responder}-wrap`">
          <div v-if="message.responder == 'iris'" class="iris-avatar is-hidden-mobile"></div>
          <div
            :class="`chat-bubble chat-bubble--${message.responder} ${message.renderType == 'html' ? 'question' : ''}`"
          >
            <span>
              <strong v-if="message.responder != 'user'" class="is-hidden-tablet">Iris from iMoney</strong>
              <div v-html="message.title"></div>
            </span>
          </div>
        </div>
      </div>
      <!-- User radio buttons -->
      <div class="chat-wrap" v-if="message.type == 'Radio'">
        <div :class="`${message.responder}-wrap`" :id="message.inputName">
          <ul class="btns-radio">
            <li v-for="(item, index) in message.options" :key="index">
              <input
                data-subject="User"
                data-action="Input"
                data-region="Smart Search Chatbot"
                data-vertical="Personal Loan"
                :data-description="item.dataDescription"
                :data-value="item.dataValue"
                :id="item.code"
                type="radio"
                :name="item.name"
                :value="item.value"
                tabindex="-1"
                v-on:change="updateValue($event.target.value)"
              />
              <label :for="item.code">
                <div class="tick" />
                {{item.value}}
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div v-if="resultContainer" id="results-container">
      <div class="analyzing">
        <div class="cogs">
          <div class="magnifying-glass"></div>
        </div>
        <span>Analyzing data...</span>
      </div>

      <div v-if="resultContainer" class="results">
        <span>Your personalised results are ready!</span>
        <button
          id="button-apply-form-chatbot"
          data-subject="User"
          data-action="Apply Form"
          data-region="Smart Search Chatbot"
          data-vertical="Personal Loan"
          data-description="Apply Form"
          data-value="Filter personal loans"
          class="button blue"
          @click="applyFilter"
        >
          View my results
        </button>
      </div>
    </div>
    <div class="chat-wrap" v-if="loading">
      <div class="iris-wrap">
        <div class="chat-bubble chat-bubble--typing">
          <span>
            <div class="one">.</div>
            <div class="two">.</div>
            <div class="three">.</div>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["conversations", "loading", "inputValidated", "handleRadio", "resultContainer", "answeredRadio", "applyFilter"],
  data() {
    return {
      radioDisabled: false
    };
  },
  methods: {
    updateValue(value) {
      this.handleRadio(true, value);
    }
  },
  updated(){
    if(this.answeredRadio.length) {
      this.answeredRadio.forEach(element => {
        let elems = document.getElementById(`${element}`).getElementsByTagName('input');
        for(let i = 0; i < elems.length; i++) {
          elems[i].disabled = true;
        }
      });
    }
  }
};
</script>