<template>
  <div class="eligibility-chatbot--component__input">
    <div class="currency" v-if="(question.inputType == 'number' && question.inputName != 'phone')">RM</div>
    <input
      data-subject="User"
      data-action="Input"
      data-region="Smart Search Chatbot"
      data-vertical="Personal Loan"
      :data-description="question.dataDescription"
      :data-value="question.dataValue"
      v-model="chatInput"
      :type="question.inputType != undefined ? question.inputType : 'text'"
      :placeholder="question.placeholder"
      :required="question.required"
      v-on:input="updateValue($event.target.value)"
      v-on:keyup.enter="onKeyPress"
      :disabled="question.type == 'Radio'"
      ref="userChatInput"
    />
    <!-- Send button -->
    <button
      id="button-submit-chatbot"
      data-subject="User"
      data-action="Submit"
      data-region="Smart Search Chatbot"
      data-vertical="Personal Loan"
      data-value="Filter personal loans"
      type="submit"
      @click="onSend"
      class="button blue has-sprite-right"
      v-bind:class="{ disabled: !inputValidated }"
      :disabled="!inputValidated"
    >
      <span class="is-hidden-mobile">Send</span>
      <i class="sprite white angle angle-right"></i>
    </button>
  </div>
</template>

<script>
export default {
  props: [
    "isActive",
    "question",
    "submitAnswer",
    "updateChatLog",
    "updateUserMessages",
    "inputValidated",
    "radioValue",
    "handleBtnDisable",
    "setValidationErr",
    "loading",
    "updateAnsweredRadio"
  ],
  data() {
    return {
      validateRegex: [
        { name: 'email', value : /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/ },
        { name: 'name', value : /^[A-Z a-z]+$/ },
        { name: 'number', value: /^[1-9]\d*$/i },
        { name: 'phone', value: /^[0-9]\d*$/i },
      ]
    }
  },
  mounted() {
    this.$refs.userChatInput.focus();
  },
  updated() {
    this.$refs.userChatInput.focus();
    if (this.question.required && this.question.type === 'Radio') {
      const updVal = this.chatInput !== undefined && this.question.type !== 'Radio' ? this.chatInput : '';
      this.validateResponse(updVal);
    }
  },
  methods: {
    validateResponse(val) {
     let regex;
     if (this.question.required) {
      const { validation } = this.question;
       for (let [key, objVal] of Object.entries(validation)) {
        if(key === 'default') {
         if(val === objVal.value) {
           this.setValidationErr(objVal.message);
           return false;
         }
        }
        if(key === 'minLength') {
         if(val.length < objVal.value) {
          this.setValidationErr(objVal.message);
          return false;
         }
        }
        if(key === 'regex') {
         regex = this.validateRegex.find(item => item.name === objVal.value).value;
         if(!regex.test(val)) {
          this.setValidationErr(objVal.message);
          return false;
         }
        }
        if(key === 'maxLenght') {
         if(val.length > objVal.value) {
           this.setValidationErr(objVal.message);
           return false;
         }
        }
        if(key === 'minValue') {
         if(val <= objVal.value) {
           this.setValidationErr(objVal.message);
           return false;
         }
        }
       }
       this.setValidationErr('');
       return true;
     } else {
      regex = /^[0-9]\d*$/i;
      if(!regex.test(val)) {
       this.setValidationErr('Special Characters are not allowed');
       return false;
      }
      this.setValidationErr('');
      return true;
     }
    },
    updateValue(value) {
     this.validateResponse(value)
        ? this.handleBtnDisable(true)
        : this.handleBtnDisable(false);
    },
    onKeyPress() {
      this.inputValidated && this.onSend();
    },
    onSend() {
      let item;
      let chatDisplay;
      let ansValue;
       this.setValidationErr('');
        $("#chatbot-content").animate({
          scrollTop: $("#chatbot-content").prop("scrollHeight")
        });
        chatDisplay =
          this.question.inputName !== "phone" &&
          this.question.inputType === "number"
            ? `RM ${this.chatInput}`
            : this.question.type === "Radio"
            ? this.radioValue
            : this.chatInput;

        ansValue =
          this.question.type === "Radio" ? this.radioValue : this.chatInput;
        item = {
          id: this.question.id,
          fieldName: this.question.inputName,
          dataDescription: this.question.dataDescription,
          title: chatDisplay,
          value: ansValue,
          responder: "user"
        };
        this.updateUserMessages(item);
        this.updateChatLog(item);
        this.submitAnswer(this.question.id, this.question.dataDescription);
        this.handleBtnDisable(false);
        this.chatInput = "";
    }
  }
};
</script>
